<div class="container-search">
	<div class="container-center">
		<div class="row">
		    <form class="search-form">
		        <input id="searchTerm" type="text" placeholder="Search Projects" value="{{ searchTerm }}">
		        <button id="search">
			        <i class="fa fa-search" aria-hidden="true"></i>
			    </button>
		    </form>
				<!--This button normally leads to add new project, but will be used for the share-form html and js-->
		    <button class="button-primary button-main-action click-to-open button-wide" data-modal="modal-new-map" id="add-project">New Project</button>
		</div>
	</div>
</div>


<div class="container-projects">
	<div class = "container-center" id="gallery-main">
    	<!--project data inserted here -->
    </div>
</div>