{% extends "twitter/page.html" %}
{% block page_title %}My Prints{% endblock %}
{% block style_links %}
    <link href="/site_media/scripts/jquery-autocomplete/jquery.autocomplete.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/site_media/css/account.css" type="text/css" media="all" rel="stylesheet" />
{% endblock %}
{% block script_links %}
    <!-- script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script -->
    <script type="text/javascript" src="/site_media/scripts/jquery-autocomplete/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="/site_media/scripts/site/account/myPrints.js"></script>
    <script type="text/javascript" src="/site_media/twitter/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/site_media/twitter/js/bootstrap-tabs.js"></script>
{% endblock %}
{% block extra_styles %}
	body {
		padding-top: 60px;
	}
	label {
		width: 150px;
	}
	form .input {
	  margin-left: 160px;
	}
    table.zebra-striped {
        width:800px;
    }
    .thumb { margin: 0px; }
    .tabs{ display: inline; }
    td.add-on {
        padding: 0px;
        border: none;
        margin: 0px;
        width: 100%;
        height: 100%;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
    .sprite { margin-left: -15px; }
{% endblock %}
{% block extra_scripts %}
    var o = new localground.myPrints();
{% endblock %}
{% block pageload_scripts %}
    var opts = {
        has_processed_images: false,
        userEmail: '{{ user.email }}'
    };
    {% if has_processed_images %}
        opts.has_processed_images = true;
    {% endif %}
    o.initialize(opts);
    $('#map_groups, #shareDialog').modal({backdrop: true, closeOnEscape: true});
    $('.tabs').tabs();

    $('input:checkbox').click(function () {
        if ($(this).attr('checked')) {
            $(this).parents('td').addClass('green_selected')
        } else {
            //alert('removing');
            $(this).parents('td').removeClass('green_selected')
        }
    })
{% endblock %}

{% block left_pane %}
	{% include "includes/menus/left_pane_account.html" %}
{% endblock %}

{% block main_content %}

<form method="post" action="/account/profile/prints/batch-update/">
    {% csrf_token %}
    <input type="hidden" name="page" value="{{page}}" />
    <input type="hidden" id="username" name="username" value="{{username}}" />
    
    <div class="row" style="margin-bottom:0px;width:800px;height:40px;">
        <ul class="tabs" style="margin-bottom: 10px">
            <li class="dropdown" data-dropdown="dropdown" style="width:100px;">
              <a href="#" class="dropdown-toggle">Options</a>
              <ul class="dropdown-menu">
                <li><a href="#">Add to Map Group</a></li>
                <li><a href="#">Change Permissions</a></li>
                <li><a href="#">Delete</a></li>
                <li class="divider"></li>
                <li style="width:230px;">
                    <input id="has_processed_images" name="has_processed_images" type="checkbox" />
                    Show Prints With Submissions</a>
                </li>
              </ul>
            </li>
            {% if user.is_superuser %}
            <li class="dropdown" data-dropdown="dropdown" style="width:100px;">
                <a href="#" class="dropdown-toggle">Users</a>
                <ul class="dropdown-menu">
                    <li><a href="/account/profile/prints/?username=all">
                        {% if username == 'all' %}
                            <div class="sprite ui-icon-check"></div>
                        {% endif %}
                        Everyone's Prints</a></li>
                    {% for u in users %}
                    <li><a href="/account/profile/prints/?username={{u.user__username}}">
                        {% if u.user__username == username %}
                            <div class="sprite ui-icon-check"></div>
                        {% endif %}
                        {{u.user__username}}</a></li>
                    {% endfor%}
                </ul>
            </li>
            {% else %}
            <li style="width:100px;">
                &nbsp;
            </li>
            {% endif %}
            <li style="width:600px;">
                <button id="saveChanges" class="btn primary" style="float:right;margin-top:5px;">Save Changes</button>
            </li>
        </ul>
        <!-- button id="saveChanges" class="btn primary">Save Changes</button -->
        {% if is_paginated %}
            {% load paginator %}
            <div style="float:right;margin: 0px 0px 5px 0px">
                {% paginator 3 %}
            </div>
        {% endif %}
    </div>
    
    
    <table class="zebra-striped" cellspacing="0">
		<thead>
			<tr>
				<th scope="col" class="column-cb" >
					<input class="checkall" type="checkbox" name="checkall"/>
				</th>
				<th scope="col">ID</th>
				<th scope="col">Thumbnail</th>
				<th scope="col">Information</th>
				<th scope="col">Title Text</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th scope="col" class="column-cb" >
                    <input class="checkall" type="checkbox" name="checkall" />
                </th>
				<th scope="col">ID</th>
				<th scope="col">Thumbnail</th>
				<th scope="col">Information</th>
				<th scope="col">Title Text</th>
			</tr>
		</tfoot>            
		<tbody>
            {% for print in prints.object_list %}
                <tr> <!-- class="{% cycle '' 'alternate' as rowcolors %}" -->
                    <td>
                        <input class="checkone" id="cb_{{print.pk_print}}" name="doaction[]" type="checkbox" value="2" />
                    </td>
                    <td scope="row">
                        {{print.pk_print}}<br /><br />
                        
                        {% if print.can_edit %}
                            <div class="sprite ui-icon-check" style="margin-left:5px;"></div>Editor<br />
                        {% endif %}
                        {% if print.can_manage %}
                            <div class="sprite ui-icon-check" style="margin-left:5px;"></div>Manager<br />
                        {% endif %}
                    </td>
                    <td>
                        <img style="max-width: 150px;" class="thumb" src="http://localground.org/{{print.thumbnail}}" />
                    </td>
                        <td>
                            <ul class="print_details" style="margin-bottom:0px">
                                <li>Last updated by
                                    <span>{% if print.owner %} {{ print.owner}} {% else %} anonymous {% endif %}</span>
                                </li>
                                <li>Last updated on  <span>{{print.time_stamp}}</span></li>
                                <li>Number of maps processed: <span>{{print.num_scans}}</span></li>
                            </ul>
                            <div class="row-actions">
                                <span>
                                    <a href="/viewer/?printID={{print.pk_print}}" title="View in Map">View</a> |
                                </span>
                                <span>
                                    <a href="javascript:void(0);" class="share" title="Share" id="share_{{print.pk_print}}">Share</a> |
                                </span>
                                <span>
                                    <a href="/static/prints/{{print.pk_print}}/Print_{{print.pk_print}}.pdf" title="Print Again">Re-Print</a>
                                </span>
                                <span>
                                    | <a class="map_group" id="mg_{{print.pk_print}}" title="add to group" href="javascript:void(0);">Group</a>
                                </span>
                                {% if print.num_scans == 0 %}
                                <span>
                                    | <a class="delete" id="delete_{{print.pk_print}}" title="delete this print" href="javascript:void(0);">Delete</a>
                                </span>
                                {% endif %}
                            </div>
            
                        </td>
                        <td class="alt_title_desc column-alt_title_desc">
                            <textarea name="print_title_{{print.pk_print}}" style="width:95%; margin-top: 2px;" rows="3">{{ print.map_title }}</textarea>
                        </td>
                </tr>
            {% endfor %}
        </tbody>
	</table>
</form>
    
{% if is_paginated %}
<div style="margin-top:10px;width:800px;height:50px;">
<div style="float:right;">
    {% paginator 3 %}
</div>
</div>
{% endif %}

    <div id="deleteConfirm" style="display: none;">
        <div style="float:left;display:block;height:100px;">
            Are you sure you want to delete print #<span id="printID"></span>?
            <br />
            <div style="margin-left: auto;margin-right: auto; width: 150px;margin-top:15px;">
                <button id="deleteConfirmButton" class="grayButton rounded" onclick="o.deletePrint();">yes</button>
                <button id="deleteConfirmCancel" class="grayButton rounded" onclick="alert('implement me!');">no</button>
            </div>
        </div>
    </div>
    
    
    <!-- Share Dialog -->
    <div id="shareDialog" class="modal hide fade">
        
        <div id="sharing_page1">
            <div class="modal-header"> 
                <a href="#" class="close">&times;</a> 
                <h3>Who Has Access</h3> 
            </div> 
            <div class="modal-body" style="height:310px;overflow-y: auto; overflow-x: hidden;">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <span class="ui-widget-button icon1" style="display:none;float:left;margin-right:10px;">
                                    <span class="ui-icon ui-icon-locked"> </span>
                                </span>
                                <span class="ui-widget-button icon2" style="display:none;float:left;margin-right:10px;">
                                    <span class="ui-icon ui-icon-link"> </span>
                                </span>
                                <span class="ui-widget-button icon3" style="display:none;float:left;margin-right:10px;">
                                    <span class="ui-icon ui-icon-unlocked"> </span>
                                </span>
                                <span id="viewPrivs"></span>
                            </td>
                            <td><a href="javascript:o.changePermissions('next');">change...</a></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td id="print_owner"></td>
                            <td>Owner</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class='row_add_new'>
                            <td>
                                <textarea id="new_users" style="width:200px" rows="2"></textarea>
                                <br />
                                Add email addresses above (comma-separated):
                            </td>
                            <td>
                                <select id="user_authority">
                                {% for a in user_authorities %}
                                    <option value="{{a.id}}">{{a.name}}</option>
                                {% endfor %}
                                </select>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer"> 
                <button class="btn primary" onclick="o.addUsersToPrint();">update settings</button> 
                <button class="btn secondary"onclick="$('#shareDialog').modal('hide');">close</button> 
            </div>
        </div><!-- end page 1 -->
        <!-- page 2 -->
        <div id="sharing_page2" style="display: none;">
            <div class="modal-header"> 
                <a href="#" class="close">&times;</a> 
                <h3>Share Settings</h3> 
            </div> 
            <div class="modal-body">
                <select id="global_share" class="xlarge">
                    {% for a in object_authorities %}
                        <option value="{{a.id}}">{{a.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer"> 
                <button class="btn primary" onclick="o.changePermissions('confirm');">change</button> 
                <button class="btn secondary"onclick="o.changePermissions('back');">cancel</button> 
            </div>
        </div><!-- end page 2 -->
        
        <!-- page 3 -->
        <div id="sharing_page3" style="display: none;">
            <div class="modal-header"> 
                <a href="#" class="close">&times;</a> 
                <h3>Send Invitation Email</h3> 
            </div> 
            <div class="modal-body" style="height:360px;overflow: hidden;">
                <div id="unregistered" style="display:none;"></div>
                <button id="email_confirm" class="grayButton rounded" onclick="o.changePermissions('back');">OK</button>
                <div id="email_form">
                    <table class="tbl" style="width: 100%;margin-top:10px;">
                        <tbody>
                            <tr>
                                <th style="text-align:left;">Send To:</th>
                                <td><input class="bigTextArea" id="recipients" type="text" /></td>
                            </tr>
                            <tr>
                                <th style="text-align:left;">Subject:</th>
                                <td><input type="text" class="bigTextArea" id="subject" value="Invitation to register" /></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <textarea id="body" style="width:100%" rows="10"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--end modal body -->
            <div class="modal-footer"> 
                <button class="btn primary" onclick="o.sendInvitation();">invite</button> 
                <button class="btn secondary"onclick="o.changePermissions('back');">cancel</button> 
            </div>
        </div><!-- end page3 -->
    </div>
    
    <!-- map groups -->
    <div id="map_groups" class="modal hide fade"> 
        <div class="modal-header"> 
            <a href="#" class="close">&times;</a> 
            <h3>Add Print to Groups</h3> 
        </div> 
        <div class="modal-body">
            
            <ul class="tabs" data-tabs="tabs">
                <li class="active"><a href="#add_to_group">Add to Group</a></li>
                <li><a href="#make_new">Make New Group</a></li>
            </ul>
            <div id="my-tab-content" class="tab-content">
                <div id="add_to_group" class="active" style="height:310px;overflow-y: auto; overflow-x: hidden;">
                    <div id="msg_group"></div>
                    <table id="group_table">
                    {% for g in map_groups%}
                        <tr>
                            <td class="add-on">
                                <input style="margin: 12px 10px 12px 10px" name="group" type="checkbox" value="{{g.id}}" />
                            </td>
                            <td>{{g.name}}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <div id="make_new" style="height:310px;overflow-y: auto; overflow-x: hidden;">
                    12345
                </div>
            </div>
        </div> 
        <div class="modal-footer"> 
            <button class="btn primary" onclick="o.addToGroups();">save</button>
            <button class="btn secondary" onclick="$('#map_groups').modal('hide');">cancel</button>
        </div> 
    </div> 

{% endblock %}