<!-- svg viewBox="{{ icon.viewBox }}" width="{{ width }}" height="{{ height }}">
    <path fill="{{ icon.fillColor }}" stroke-linejoin="round" stroke-linecap="round" paint-order="stroke"
          stroke-width="{{ strokeWeight }}" stroke="{{ icon.strokeColor }}" d="{{ icon.path }}"></path>
</svg -->
<div class="symbol-entry-header legend-symbol_expanded">

    <span class="legend-symbol_svg">{{{symbolSvg}}}</span>
    <!-- If there is more than one unique item inside the group, give a title
        Otherwise If there's only 1 symbol, then don't show this section
    -->
    {{#compare count 1 operator=">"}}
        <p>{{ title }}</p>
    {{/compare}}
    <i class="fa fa-eye legend-show_symbol"></i>
</div>

{{#unless layerIsIndividual}}
<ul class="presentation-records_wrapper">
    {{#each records}}
    <a href="{{url}}">
        <li class="presentation-record_item">
            <span class="legend-record_icon">
                {{#if this.recordSvg}} 
                    {{{this.recordSvg}}} 
                {{else}}
                    <i class="fa fa-question-circle"></i>
                {{/if}}
            </span>
            <span>{{this.displayText}}</span>
        </li>
    </a>
    {{/each}}
</ul>
{{/unless}}