<!-- svg viewBox="{{ icon.viewBox }}" width="{{ width }}" height="{{ height }}">
    <path fill="{{ icon.fillColor }}" stroke-linejoin="round" stroke-linecap="round" paint-order="stroke"
          stroke-width="{{ strokeWeight }}" stroke="{{ icon.strokeColor }}" d="{{ icon.path }}"></path>
</svg -->
{{#if layerIsIndividual}}
    <a href="{{records.0.url}}">
        <div class="symbol-entry-header legend-symbol_collapsed legend-symbol_ind {{#ifequal records.0.itemId activeItemId}} selectedRecord {{/ifequal}} ">

            <span class="legend-symbol_svg">{{{records.0.recordSvg}}}</span>
            <span>{{ title }}</span>
            <i class="fa fa-eye legend-show_symbol"></i>
        </div>
    </a>

{{else}}
    <div class="symbol-entry-header {{#if collapsed}}legend-symbol_collapsed {{else}} legend-symbol_expanded{{/if}}">

        <span class="legend-symbol_svg">{{{symbolSvg}}}</span>
        <div>
            <span>{{ title }}</span>
            <span class="count">({{count}})</span>
        </div>
        <i class="fa fa-eye legend-show_symbol"></i>
    </div>

    <ul class="presentation-records_wrapper" {{#if collapsed}}style="display: none" {{else}} style="display: block"{{/if}}>
        {{#each records}}
        <a href="{{this.url}}">
            <li class="presentation-record_item {{#ifequal this.itemId ../activeItemId}} selectedRecord {{/ifequal}}">
                <span class="legend-record_icon">
                    {{#if this.recordSvg}} 
                        {{{this.recordSvg}}} 
                    {{else}}
                        <i class="fa fa-question-circle"></i>
                    {{/if}}
                </span>
                <span>{{this.displayText}}</span>
            </li>
        </a>
        {{/each}}
    </ul>
{{/if}}