{% if projects|length > 0 %}
{% block projects_menus %}
    <li class="dropdown" data-dropdown="dropdown" style="width:100px;">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-dark icon-filter"></i> Filter
    </a>
    <ul id="filter-menu" class="dropdown-menu" style="max-height: 300px;">
        <li class="clearfix">
            <div style="margin-left: 10px;">Filter project</div>
        </li>
        <li class="divider"></li>
        {% for ff in filter_fields %}
            <li class="clearfix">
            <label>{{ ff.title }}:</label>
            <div class="input">
                {% if ff.id == 'project_id' %}
                    <select id="{{ ff.id }}" data-operator="{{ ff.operator }}">
                        <option value="">-- All --</option>
                        {% for p in projects %}
                            <option value="{{p.id}}"
                                {% if p.id == ff.value_original %}selected{% endif %}>
                                {{ p.name }}
                            </option>
                        {% endfor%}
                    </select>
                {% else %}
                    <input id="{{ff.id}}" type="text" value="{{ ff.value_original }}"
                            data-operator="{{ ff.operator }}"
                        {%if ff.data_type == 'tag' %}class="tags"{% endif %}
                        {%if ff.data_type == 'date' %}class="date-picker"{% endif %}/>
                {% endif %}
            </div>
        </li>
        {% endfor %}
        
        <li>
            <textarea name="query" id="sql">{{sql}}</textarea>   
        </li>
        <li class="divider"></li>  
        <li class="clearfix">
            <div class="input" style="width:300px;">
                <button id="make-query" type="button" class="btn">Generate SQL</button>
                <button id="do-query" type="button" class="btn primary">Do Query</button>
            </div>
        </li>
    </ul>
</li>
{% endblock %}
{% endif %}
<script type="text/javascript">
    $('#filter-menu input, #filter-menu label, #filter-menu select, #filter-menu button, #filter-menu textarea')
        .click(function(e) { e.stopPropagation(); });
    $(".tags").autocomplete("/tagging_autocomplete/list/json", { multiple: true });
    $('.date-picker').datepicker({ dateFormat: 'mm/dd/yy' });
    //alert($('.hasDatepicker').get(0));
    
    
            
    
      
</script>