{% if user.is_superuser or is_impersonation %}
<li class="dropdown" data-dropdown="dropdown" style="width:130px;">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Impersonate</a>
    <ul class="dropdown-menu" style="width:180px">
        <li><a href="{{url}}?alias=all">
            {% if username == 'all' %}
                <div class="sprite ui-icon-check"></div>
            {% endif %}
            Everyone</a></li>
        {% for u in users %}
            <li>
                <a href="{{url}}?__impersonate={{u.id}}">
                {% if u.username == username %}
                    <div class="sprite ui-icon-check"></div>
                {% endif %}
                {{u.username}}</a>
            </li>
        {% endfor%}
    </ul>
</li>
{% endif %}