<div>
    <p class="map-item_name">{{name}}</p>
    <p class="map-description" title="{{caption}}">{{caption}}</p>
</div>

<div class="project_map-item_right-wrapper">
    <div class="text-wrapper">
        <div class="map-item_right-top">
            <div class="access-button"><span>{{accessLevel}}</span></div>
            <span class="map-owner">by: {{owner}}</span>
            <span class="map-date">Jan 4, 2018</span> 
        </div>
        <div class="map-item_right-bottom">
            <p class="datasets-list" title="{{datasetList}}">Datasets: 
                {{#each datasetList}}
                    <span class="map_dataset-item" data-alias="{{this.alias}}">{{this.name}}</span>

                {{/each}}
            </p>
        </div>
    </div>
    <i class="fa fa-ellipsis-v"></i>
</div>
