<div class="left-wrapper">
    <section class="style-section" id="map_dropdown_region"></section>
    
    <section class="style-section" id="layers_region"></section>
    
    <section class="style-section" id="map_skin_region"></section>
    
    <section class="style-section" id="global_style_region"></section>
</div>
<div class="save-options save-options-left">
    <button id="map-delete" class="button-tertiary button-warning delete-model">Delete</button>
    <button class="button-primary pull-right map-save">Save Map</button>
</div>
<div class="show-hide hide"></div>

