{% extends "profile/data_list.html" %}
{% block page_title %}
	My {{ group_object.model_name_plural|capfirst  }}
{% endblock %}
{% block script_links %}
	{{ block.super }}
    <script type="text/javascript" src="/site_media/scripts/thirdparty/jquery-autocomplete/jquery.autocomplete.js"></script>
	<script type="text/javascript" src="/site_media/scripts/site/account/profile.js"></script>
    <script type="text/javascript" src="/site_media/scripts/site/account/groups.js"></script>
{% endblock %}
{% block extra_styles %}
	{{block.super}}
	.key { font-weight: bold; }
{% endblock %}
{% block extra_scripts %}
    var o = new localground.groups();
{% endblock %}
{% block pageload_scripts %}
	var opts = {
        username: '{{user.username}}',
		updateURL: '{% autoescape off %}{{raw_url}}{% endautoescape %}',
		pageURL: '{% autoescape off %}{{url}}{% endautoescape %}?page={{page}}',
		rawURL: '{% autoescape off %}{{url}}{% endautoescape %}',
		deleteURL: '/profile/{{object_type}}/delete/',
		addURL: '/profile/{{object_type}}/create/embed/',
		objectName: '{{ group_object.model_name|capfirst }}',
		objectType: '{{object_type}}'
	};
	{% if username %}
		opts.alias = '{{username}}';
	{% endif %}
    o.initialize(opts);
{% endblock %}

{% block controls_menus %}
	<li class="dropdown" data-dropdown="dropdown" style="width:100px;">
		<a href="#" class="dropdown-toggle">Options</a>
		<ul class="dropdown-menu">
			<li><a href="#">Share</a></li>
			<li><a id="delete_objects" href="#">Delete</a></li>
			<li><a id="add_object" href="#">Create New</a></li>
		</ul>
	</li>
{% endblock %}
{% block projects_menus %}<!-- no projects -->{% endblock %}
{% block row_header %}
	<tr>
		<th scope="col" class="column-cb" >
			<input class="checkall" type="checkbox" name="checkall"/>
		</th>
		<th scope="col" colspan="2">{{ group_object.model_name|capfirst }} Info</th>
	</tr>
{% endblock %}

{% block rows %}
	{% for o in objects.object_list %}
		<tr>
			<td>
				<input class="checkone" id="cb_{{o.id}}" name="id" type="checkbox" value="{{o.id}}" />
			</td>
			<td>
				<div class="clearfix">
					<label>ID:</label>
					<div class="input" style="padding-top: 6px;font-weight:bold;">{{o.id}}</div>
				</div>
				<div class="clearfix">
					<label>Name:</label>
					<div class="input">
						<input type="text" name="name_{{o.id}}" id="name_{{o.id}}"
						   value="{{ o.name|default_if_none:"" }}" style="width:250px" />
					</div>
				</div>
				<div class="clearfix">
					<label>Description:</label>
					<div class="input">
						<textarea name="description_{{o.id}}"
							style="width:250px; margin-top: 2px;" rows="3">{{ o.description|default_if_none:"" }}</textarea>
					</div>
				</div>
				<div class="clearfix">
					<div class="input">
						<a href="#" class="share">Share</a>
					</div>
				</div>
				
				
			</td>
			
			<td>
				Owner: <span>{% if o.owner %} {{ o.owner}} {% else %} anonymous {% endif %}</span><br>
				Last Updated: <span>{{o.time_stamp|date:"n/j/Y P" }}</span>.		
				<ul class="print_details" style="margin-bottom:0px">
					<li>
						Map Images:
						<a href="/profile/map-image/?{{ group_object.model_name }}_id={{o.id}}">{{o.processed_maps_count}}</a>
					</li>
					<li>
						Photos:
						<a href="/profile/photo/?{{ group_object.model_name }}_id={{o.id}}">{{o.photo_count}}</a>
					</li>
					<li>
						Audio:
						<a href="/profile/audio/?{{ group_object.model_name }}_id={{o.id}}">{{o.audio_count}}</a>
					</li>
					<li>Markers: {{o.marker_count}}</li>
					
					{% comment %}Remove after debugging: very inefficient! {% endcomment %}
					<li><strong>Shared with:</strong> {{ o.users.all|join:", " }}</li>
					<li><a href="/maps/{{group_object.model_name_plural}}/{{o.slug}}/{% if o.access_key %}{{ o.access_key }}/{% endif %}"
					   target="_blank">View Map</a></li>
				</ul>
			</td>
		</tr>
	{% endfor %}
{% endblock %}

{% block no_objects %}
	<div class="hero-unit" style="margin-top:0px !important;">
		<p>You have not created any {{ group_object.model_name_plural }}</p>
		<button class="btn primary" onclick="o.addObject();return false;">Create {{ group_object.model_name|capfirst }}</button>
	</div>
{% endblock %}
