{% extends "twitter/page.html" %}
{% block style_links %}
	{% for form in forms %} {{ form.media.css }} {% endfor %}
{% endblock %}
{% block script_links %}
    <script type="text/javascript" src="/site_media/twitter/js/bootstrap-tabs.js"></script>
	{% for form in forms %} {{ form.media.js }} {% endfor %}
{% endblock %}
{% block extra_styles %}
	{{ block.super }}
	.tab-content {
		/*clear: none;
		margin-left: 10px;
		min-height: 400px;*/
		padding: 0px;
	}
	.tbl_multiselect {
		margin-bottom: 2px !important;
		width: 218px;
	}
	.tbl_multiselect td, td.checkbox_selected {
		padding: 2px 5px 2px 5px !important;
	}
	.tbl_multiselect td > label {
		padding: 0px !important;
	}
{% endblock %}

{% block pageload_scripts %}
	//$('.tabs').tabs();
	//load_default_location();
	//google.maps.event.trigger(map_default_location, 'resize');
{% endblock %}

{% block page_title %}Account Settings{% endblock %}
{% block left_pane %}
	{% include "includes/menus/left_pane_account.html" %}
{% endblock %}

{% block main_content %}

<div class="row">
	<div class="span16" style="min-height:500px;">	
		<ul class="tabs" data-tabs="tabs">
			{% for form in forms %}
				<li {% if forloop.counter == page_num %}class="active"{% endif %}>
					<a href="#panel_{{forloop.counter}}">{{form.title}}</a>
				</li>
			{% endfor %}
		</ul>
		
		<div id="my-tab-content" class="tab-content clearfix">
			{% for form in forms %}
				<div id="panel_{{forloop.counter}}" {% if forloop.counter == page_num %}class="active"{% endif %}>
					{% if successfully_updated and forloop.counter == page_num %}
					<div class="alert-message success">
						<!-- a href="#" class="close">×</a -->
						<p><strong>Updated:</strong> Your information was successfully updated.</p>
					</div>
						
					{% endif %}
					<form method="post" action="{% if action %}{{action}}{% else %}.{% endif %}">
						{% csrf_token %}
						{% include "includes/forms/generic_form_renderer.html" %}
						<input type="hidden" name="page" value="{{forloop.counter}}" />
						<div class="clearfix">
							<label>&nbsp;</label>
							<div class="input">
								<input type="submit" value="Save"  class="btn primary" />
							</div>
						</div>
					</form>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
	