<div>
        <i class="fa fa-usd" aria-hidden="true"></i>
 
        <i class="fa fa-usd" aria-hidden="true"></i>

        <i class="fa fa-usd" aria-hidden="true"></i>
  
        <i class="fa fa-usd" aria-hidden="true"></i>

        <i class="fa fa-usd" aria-hidden="true"></i>
 
        <i class="fa fa-usd" aria-hidden="true"></i>

        <i class="fa fa-usd" aria-hidden="true"></i>

        <i class="fa fa-usd" aria-hidden="true"></i>

        <i class="fa fa-usd" aria-hidden="true"></i>

</div>