<div id="save-confirmation" class="modal fade">
    <div class="confirmation-modal-dialog modal-dialog">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <%= content %>
            </div>
            <!--dialog buttons -->
            <div class="modal-footer">
                <button id="confirm" type="button" class="btn btn-success" data-dismiss="modal">Do it!</button>
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>