<div id="print-modal" class="modal fade" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close dismiss-modal close-2x" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Print Map</h4>
        </div>
        <div id="print-modal-body" class="modal-body">
            <div id="print-container"></div>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>
</div>

