<div id="share-modal" class="modal fade" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close dismiss-modal" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Save Snapshot</h4>
        </div>
        <div class="modal-body">
            <div id="snapshot-contents">
                <div id="snapshot-list-container" class="list-group"></div>
                <div id="snapshot-name">
                    <input id="save-snapshot-name" class="snapshot-caption"
                           type="text" placeholder="Type a name for your snapshot here">
                </div>
                <div id="snapshot-caption">
                    <textarea rows="10" cols="80" id="save-snapshot-caption" class="snapshot-caption"
                              type="text" placeholder="Give your snapshot a caption!"></textarea>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default dismiss-modal" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary load disabled">Load</button>
            <button type="button" class="btn btn-success save">Save</button>
        </div>
    </div>
</div>
</div>