<div id="upload-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="upload-modal-body" class="modal-body">
                <iframe id="upload-iframe" src="<%= urlRoot %><%= url %>"frameBorder="0" ></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info dismiss-modal" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>