{% extends "map/editor.html" %}
{% block style_links %}
    {{ block.super }}
	<link href="/static/css/ebays/styles.css" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block script_links %}
    {{ block.super }}
    <script type="text/javascript" src="/static/scripts/ebays/ebaysMixins.js"></script>
    <script type="text/javascript" src="/static/scripts/ebays/ebaysEditor.js"></script>
    <script type="text/javascript" src="/static/scripts/ebays/d3.v2.min.js"></script>
    <script type="text/javascript" src="/static/scripts/ebays/geographic.js"></script>
    <script type="text/javascript" src="/static/scripts/ebays/charting.js"></script>
{% endblock %}
{% block pageload_scripts %}
    driver = new localground.ebays(); 
    driver.initialize(opts);
{% endblock %}

{% block legend %}
	{% include "ebays/includes/legend.html" %}
{% endblock %}

{% block other_layout_elements %}
	{% include "ebays/includes/chart.html" %}
{% endblock %}
