{% extends "map/editor.html" %}

{% block style_links %}
	{{ block.super }}
{% endblock %}
{% block script_links %}
    {{ block.super }}
    <script type="text/javascript" src="/static/scripts/ebays/ebaysEditor.js"></script>
    <script type="text/javascript" src="/static/scripts/ebays/d3.v2.min.js"></script>
    <script type="text/javascript" src="/static/scripts/ebays/geographic.js"></script>
    <script type="text/javascript" src="/static/scripts/ebays/charting.js"></script>
{% endblock %}
{% block pageload_scripts %}
    driver = new localground.ebays(); 
    driver.initialize(opts);
{% endblock %}
{% block extra_styles %}
    {{ block.super }}
    
    #chart_opener {
		position: absolute;
		border-top: solid 1px #444;
		border-right: solid 1px #444;
		width: 45px;
		height: 30px;
		cursor: pointer;
		background-color: #eee;
		box-shadow: -1px -1px 2px rgba(0,0,0,.3);
		-moz-box-shadow: -1px -1px 2px rgba(0,0,0,.3);
		-webkit-box-shadow: -1px -1px 2px rgba(0,0,0,.3);
	}
	#chart_opener > div {
		padding: 8px 0px 0px 15px;
	}
    
    #chart_panel {
		box-shadow: -1px 0px 3px rgba(0,0,0,.3);
		-moz-box-shadow: -1px 0px 3px rgba(0,0,0,.3);
		-webkit-box-shadow: -1px 0px 3px rgba(0,0,0,.3);
		border-top: solid 1px #444;
		background-color: #eee;
        display: none;
        width: 100%;
        height: 240px;
        left: 0px;
        position: absolute;
	}
    
    
    .rules line, .rules path {
        shape-rendering: crispEdges;
        stroke: #000;
    }
      
    .rules .tick { }
    .rules .minor {
        stroke: #BBB;
    }
    .rules .domain {
        fill: none;
    }
    .grid .tick {
        stroke: #CCC;
    }
    
    #chart_holder {
        width: 1200px;
        /*border: solid 1px #000;*/
        display:inline-block;
        min-height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .chart_container {
        width: 1000px;
        height: 70px;
        border: solid 1px #666;
        display:inline-block;
        margin-bottom: 5px;
        background-color: #FFF;
    }
    
    #info_panel {
        width: 180px;
        height: 400px;
        border: solid 1px #666;
        display:inline-block;
        vertical-align: top;
    }
    #info_panel table, #info_panel td, #info_panel th { border: none !important }
    
    .summary {
        width: 150px;
        height: 70px;
        border: solid 1px #666;
        display:inline-block;
        vertical-align: top;
        margin-left: 4px;
        background-color: #FFF;
        font-size: 10px;
        line-height: 13px !important;
    }
    .summary h3 {
        font-size: 12px;
        line-height: 18px !important;
        margin-top: 3px;
        margin-left: 20px;
    }
    .summary span {
        display: inline-block;
        width: 50px;
        text-align: right;
        font-weight: bold;
        margin-right: 5px;
    }
    .summary div {
        display: inline-block;
        width: 80px;
        text-align: left;
    }
    
    svg { font: 10px sans-serif; }

    .brush .extent {
      stroke: #fff;
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }
    
    .chart rect {
        /*stroke: steelblue;
        fill: steelblue;*/
        shape-rendering: crispEdges;
    }
    .chart rect.rect-highlight {
        stroke: #ED5AFF;
        fill: #ED5AFF;
    }
    .selecting rect {
        fill-opacity: .4;
    }
    .selecting rect.selected {
        stroke: #ED5AFF;
        fill: #ED5AFF;
    }
    
    path.area {
        fill: steelblue;
    }
      
    .axis text {
        font: 10px sans-serif;
    }
      
    .axis path, .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    #tooltip {
        width: 190px;
        background-color: #EEE;
        padding: 5px 10px 5px 10px;
        border: solid 2px #444;
        position: absolute;
        z-index: 1000000;
        display: none;
    }
    #tooltip span {
        display: inline-block;
        width: 50px;
        text-align: right;
        font-weight: bold;
        margin-right: 5px;
    }
	.legend-class img {
		vertical-align: bottom;
	}
{% endblock %}

{% block legend %}
	<h4>Particulate Matter Concentrations</h4>
	<div class="legend-class">
		<div class="clearfix">
			<img src="/static/images/ebays/green.png"> <strong>Good:</strong> <em>less than 50 &microg/m&sup3;</em>
		</div>
		<div class="clearfix">
			<img src="/static/images/ebays/yellow.png"> <strong>Moderate:</strong> <em>between 50 and 99 &microg/m&sup3;</em>
		</div>
		<div class="clearfix">
			<img src="/static/images/ebays/orange.png"> <strong>Unhealthy for Some:</strong> <em>between 100 and 150 &micro/L&sup3; </em>
		</div>
		<div class="clearfix">
			<img src="/static/images/ebays/red.png"> <strong>Unhealthy:</strong> <em>between 150 and 199 &micro/L&sup3;</em>
		</div>
		<div class="clearfix">
			<img src="/static/images/ebays/purple.png"> <strong>Very Unhealthy:</strong> <em>between 200 and 300 &micro/L&sup3;</em>
		</div>
		<div class="clearfix">
			<img src="/static/images/ebays/maroon.png"> <strong> Hazardous:</strong> <em>more than 300 &micro/L&sup3;</em> 
		</div>
		<div class="inset-block" style="margin-top:10px;">
			For more information on the ratings, visit <a href="http://www.airnow.gov/index.cfm?action=aqibasics.aqi" target="_blank">http://www.airnow.gov</a>
		</div>
	</div>
{% endblock %}

{% block other_layout_elements %}
	<div id="chart_panel">
		<div style="padding:10px;" id="chart_holder"></div>
	</div>
	<div id="chart_opener">
		<div>
			<div class="sprite ui-icon-top-triangle"></div>   
		</div>
	</div>
	<div id="tooltip"></div>
{% endblock %}
