{% extends "twitter/base.html" %}
{% block extra_styles %}
	body {
		padding-top: 60px;
	}
{% endblock %}
{% block top_menu %}
	{% include "includes/menus/top_nav.html" %}
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="sidebar">
			{% block left_pane %}{% endblock %}	
		</div>
		<div class="content" style="border-left: solid 1px #ccc;">
			<div class="page-header">
				<h1>{% block page_title %}{% endblock %}</h1>
			</div>
			{% block main_content %}{% endblock %}
			{% block footer %}
			<footer>
				<p>&copy; Local Ground 2012</p>
			</footer>
			{% endblock %}
		</div><!-- end content -->
	</div><!-- end container-fluid -->
{% endblock %}