@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,500,600,800|Amatic+SC');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

html, body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
body {
    padding-top: 60px;
}
body, p {
   font-family: "Open Sans", sans-serif;
   line-height: 1.6em;
   font-size: 1.0em;
}
header {
    z-index: 1000;
    position: fixed;
    background-color: white;
    width: 100vw;
    top: 0;
    height: 60px;
    display: grid;
    // grid-template-columns: 200px auto 200px;
    // grid-template-areas:
    //     "left middle right";
    // grid-template-columns: auto 200px;
    grid-template-columns: 7fr 10fr;
    grid-template-areas:
        "left right";
    // padding-left: 30px;
    // padding-right: 30px;

    > * {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heading {
        grid-area: left;
        padding-left: 20px;
        justify-content: flex-start;
        h1 {
            margin: 0px;
            grid-area: left;
            font: 2.5em "Amatic SC", cursive;
            margin-top: 5px;
            margin-bottom: 10px;
            padding: 0px 10px;
            border-radius: 10px;
            cursor: pointer;
        }
        h1:hover {
            background: #EEE;
        }
    }
    
}

.mobile {
    display: none;
}
.header-right {
    grid-area: right;
    display: grid;
    grid-template-columns: calc(100% - 150px) 150px;
    // border: solid 1px #000;
}
.menu {
    justify-content: flex-end;
}
.search {
    // grid-area: middle;

    margin-right: 30px;
    > div {
        width: 100%;
        // min-width: 330px;
        display: flex;
        align-items: center;
    }
} 

.menu-item {
    font-size: 1.1rem;
    
    color: #CCC;
    margin-left: 10px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;

    &.active i {
        background: #7B8CDE;
        color: white;
        padding: 6px;
        border-radius: 5px;
    }
}


table {
    border-collapse: collapse;
    width: 100%;

    th {
        font-weight: 600;
        text-align: right;
        padding-right: 10px;
    }
    td, th {
        border: dotted 1px #CCC;
        padding: 3px;
        font-size: 0.9em;
    }
}


.tag {
    background: #F0F0F0;
    border-radius: 5px;
    padding: 3px 6px;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-right: 6px;
    margin-top: 6px;
    display: inline-block;
}

/**********/
/* Search */
/**********/


.hide {
    display: none;
}
.less {
    display: none;
}
.no-matches {
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    height: calc(100vh - 200px);
    align-items: center;
    justify-content: center;
}