.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
   font: 2em "Amatic SC", cursive;
   color: #777;
   margin-bottom: 0.5em;
   /* display: inline; */
}
.card .snippet {
    display: none;
}
.card {
    margin-bottom: 30px;
}
.card .add-button {
   display: none;
}
.card:hover {
   cursor: pointer;
}
.card:hover .add-button {
   float: right;
   font: 3em "Amatic SC", cursive;
   color: #777;
   text-decoration: none;
   border: solid 1px #777;
   line-height: 25px;
   width: 30px;
   height: 30px;
   margin-right: -5px;
   text-align: center;
   border-radius: 20px;
   display: block;
}
.card .metadata {
   display: none;
}

.no-carousel {
    img {
        width: 100%;
        margin-bottom: 20px;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.carousel {
    margin-bottom: 20px;
    // margin-top: -3em;
    width: 100%;
    height: 310px;
    overflow: hidden;
    position: relative;
    
    .fa {
        position: relative;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7) !important;
        top: 150px;
        font-size: 3em;
        color: white;
        height: 0px;
        margin-left: 10px;
        z-index: 20;
        &.next {
            float: right;
            margin-right: 10px;
        }
    }
    .slide {
        width: 100%;
        height: 100%;
        padding: 0px;
        left: 100%;
        position: absolute;
        display: inline-block;
        z-index: 5;
        background: white;
        img {
            max-width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            display: block
        }
        &.active {
            left: 0%;
            transition: 0.45s ease;
            z-index: 10;
        }
        &.left {
            left: -100%;
            transition: 0.45s ease;
            z-index: 5;
        }
        &.right {
            left: 100%;
            transition: 0.45s ease;
            z-index: 5;
        }
        &.hide-left {
            left: -100%;
        }
        &.hide-right {
            left: 100%;
        }
    }
}

.lat-lng {
    font-size: 0.85em;
    margin-top: 5px;
}

.card > div {
   border: solid 1px #ccc;
   padding: 20px;
   margin: 10px;
   border-radius: 10px;
   margin-top: 0px;
}

.card-header-minimized {
    img {
        height: 60px;
        float: left;
        margin-right: 8px;
    }
    h2 {
        height: 60px;
        line-height: 60px;
        padding: 0px 40px 0px 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
    }
}