.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
   font: 2em "Amatic SC", cursive;
   color: #777;
   margin-bottom: 0.5em;
   /* display: inline; */
}
.card {
    margin-bottom: 30px;

    > div {
        border: solid 1px #ccc;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        margin-top: 0px;
    }

    .snippet {
        display: none;
    }
    .add-button {
        display: none;
    }
    &:hover {
        cursor: pointer;

        .add-button {
            float: right;
            font: 3em "Amatic SC", cursive;
            color: #777;
            text-decoration: none;
            border: solid 1px #777;
            line-height: 25px;
            width: 30px;
            height: 30px;
            margin-right: -5px;
            text-align: center;
            border-radius: 20px;
            display: block;
        }
    }
    .metadata {
        display: none;
    }
    .properties {
        width: 100%;
        td:first-child {
            width: 120px;
            text-align: right;
            padding-right: 5px;
        }
        td {
            strong {
                font-weight: 600;
            }
        }
    }
}


.card-header-minimized {
    img {
        height: 70px;
        float: left;
    }
    h2 {
        margin: 0;
        height: 70px;
        line-height: 70px;
        span {
            display: inherit;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 40px;
            padding-left: 10px;
            overflow: hidden;
        }
    }

    .more {
        bottom: 24px;
        background: white;
        position: absolute;
        right: 7px;
        text-decoration: none;
        color: #444;
        font-size: 1.5rem;
    }
    .more:hover {
        color: #7B8CDE;
    }
}