
.carousel {

    width: 100%;
    overflow: hidden;
    position: relative;
    border: solid 1px #EEE;
    >section {
        height: 390px;
    }
    .fa {
        position: relative;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7) !important;
        top: 155px;
        font-size: 3em;
        color: white;
        height: 0px;
        margin-left: 10px;
        z-index: 20;
        &.next {
            float: right;
            margin-right: 10px;
        }
    }
    .slide {
        width: 100%;
        // height: 100%;
        padding: 0px;
        position: absolute;
        display: inline-block;
        background: white;
        img, iframe {
            // max-width: 100%;
            height: 360px;
            margin-left: auto;
            margin-right: auto;
            display: block
        }
        iframe {
            width: 100%;
        }
        &.active {
            left: 0%;
            transition: 0.45s ease;
        }
        &.left {
            left: -150%;
            transition: 0.45s ease;
        }
        &.right {
            left: 150%;
            transition: 0.45s ease;
        }
        &.hide-left {
            left: -150%;
        }
        &.hide-right {
            left: 150%;
        }
        &.current {
            left: 0%;
        }
        .caption {
            text-align: center;
            line-height: 0.3em;
        }
    }
}

.thumbnails {
    margin-bottom: 20px;
    display: inline-block;
    display: flex;
    justify-content: center;
    img {
        width: 45px;
        margin: 2px 2px 0px 0px;
    }
    .fa, .far, .fas {
        color: #AAA;
        margin: 15px 5px 0px 0px;
    }
}

.no-carousel {
    img {
        width: 100%;
        margin-bottom: 20px;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}