.legend {
    width: 250px;
    background: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border-radius: 6px;
    border: solid 2px rgba(0, 0, 0, 0.1);
    // transition-property: all;
    // transition-duration: 0.4s;

    section {
        margin-top: 10px;
        min-height: 100px;
        // max-height: calc(100vh - 145px); 
        max-height: vh(100, 145px);
        overflow-y: auto;
    }
    .layer-header {
        display: grid;
        grid-template-columns: 20px 20px auto;
        align-items: center;
        .collapse {
            justify-self: center;
            font-size: 1.2em;
            cursor: pointer;
        }
    }
   
    .layer-title {
        font-weight: 500;
        font-size: 1.1em;
        cursor: pointer;
    }

    .symbol-container {
        padding-top: 5px;
    }

    .symbol-entry {
        margin-bottom: 10px;

        &.hidden {
            opacity: 0.4;
        }
        
        .symbol-header {
            // padding-left: 25px;
            display: grid;
            grid-template-columns: 35px 25px auto 20px;
            grid-template-areas:
                ". symbol label eye";
            line-height: 25px;
            height: 25px;
    
            .symbol {
                grid-area: symbol;
                display: flex;
                justify-content: flex-end;
                svg {
                    vertical-align: middle;
                    // transform: scale(0.6);
                    // max-height: 28px;
                    // width: auto;
                    max-height: 25px;
                    width: 25px;
                }
            }
            .title {
                padding-left: 3px;
                grid-area: label;
                display: flex;
                align-items: center;
                font-weight: 500;
            }

            .show-hide {
                grid-area: eye;
                .fa-eye, .fa-eye-slash {
                    line-height: 25px;
                    color: #999;
                    cursor: pointer;
                }
                .fa-eye {
                    display: none;
                }
            }
    
            &:hover {
                background: #F0F0F0;
                .fa-eye {
                    display: block;
                }
            }
        }
        .symbol-items {
            margin-top: 4px;
        }

        .symbol-item {
            padding-left: 63px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 22px;
            color: #666;
            cursor: pointer;

            &:hover {
                background: #F0F0F0;
                color: #666;
            }

            &.selected {
                background: #7B8CDE;
                color: #FFF;
            }
        }

        &.minimized {
            margin-bottom: 0px;
            .symbol-item {
                display: none;
            }
            .symbol-header {
                span {
                    font-weight: normal;
                }
            }
        }

    }

    &.minimized {
        min-height: 0px;
        max-height: 40px;
        overflow: hidden;
        // cursor: pointer !important;
    }

    h2 {
        margin: 0px;
        cursor: grab !important;
        font-family: "Open Sans", sans-serif;
        color: #222;
        font-size: 1.3em;
        line-height: 27px;
        font-weight: 600;
    }
    .toggle-legend {
        float: right;
        padding-right: 3px;
        font-size: 1rem;
        line-height: 30px;
    }
}