@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css');

body {
    height: 100vh;
    // overflow: hidden;
}

main { 
    height: calc(100vh - 60px); 
    display: grid;
}
#mapid {
    height: 100%;
}
#card-holder {
    display: none;
    transition-property: top, bottom;
    transition-duration: .3s, .3s;
}
main.with-card #card-holder {
    grid-area: left;
    display: block;
    overflow-y: auto;
}
main.with-card #card-holder .card > div {
    border: none;
}
main.with-card #mapid {
    grid-area: main;
}
main.with-card { 
    grid-template-columns: 7fr 10fr;
    grid-template-areas: 
        "left main";
}

main.with-card #card-holder.fullscreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10000;
    overflow-y: auto;
    background: white;
    padding-top: 30px;
}
main.with-card #card-holder.fullscreen .mobile {
    display: none;
}
main.with-card #card-holder.fullscreen .less {
    display: block;
    position: fixed;
    right: -1px;
    top: -1px;
    background: white;
    height: 40px;
    width: 40px;
    line-height: 35px;
    text-align: center;
    border: solid 1px #CCC;
    text-decoration: none;
    color: #444;
    font-weight: 600;
}
main.with-card #card-holder.fullscreen .less:hover {
    background: #F0F0F0;
}

.popup-section {
    min-width: 200px;
    max-width: 300px;
    // min-height: 46px;
    img {
        max-height: 52px;
        float: left;
        margin-right: 8px;
    }
    h3, p {
        margin: 0px;
    }
    p {
        font-size: 1.1em;
        overflow: hidden;
    }

    .fade {
        position: relative;
        height: 54px; /* exactly three lines */
    }
    .fade:after {
        content: "...";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 0.85em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      }
}
