/* @media (max-width: 1100px) {
    .grid {
       grid-template-columns: 1fr 1fr 1fr;
    }
} */

@media (max-width: 1000px) {
    .grid {
       grid-template-columns: 1fr 1fr;
    }
    header {
        grid-template-columns: 200px auto 170px;
    }
    .search > div {
        width: 80%;
    }
    main.with-card { 
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .card > div {
        border: none;
        margin: 0px;
        padding: 10px;
    } 

    .grid {
        grid-template-columns: 1fr;
    }
    h2 {
        margin-top: 0;
    }
    .grid {
        margin-left: 0px;
        margin-right: 0px;
    }

    header h1 {
        font: 2em "Amatic SC", cursive;
        justify-content: left;
        text-align: left;
        margin: 0px;
        padding: 0px;
    }
    header {
        padding: 10px;
        height: 110px;
        /* border-bottom: solid 1px #CCC; */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "left right"
            "middle middle";
    }
    body {
        padding-top: 110px;
    }
    .search > div {
        width: 100%;
        padding-top: 5px;
    }

    main {
        margin-left: 10px;
        margin-right: 10px;
    }
    th {
        position: sticky;
        top: 109px;
        background: white;
        border-bottom: solid 1px #CCC !important;
    }

    main.map, main.with-card {
        margin-left: 0px;
        margin-right: 0px;
    }
    main.with-card { 
        grid-template-columns: auto;
        grid-template-rows:  auto 100px;
        grid-template-areas:
            "main"
            "left";
    }
    main.with-card #card-holder {
        top: calc(100vh - 100px);
    }
    main.with-card .card {
        overflow: hidden;
    }
    main.with-card .card > .desktop {
        display: none;
    }
    main.with-card .fullscreen .card > .desktop {
        display: block;
    }
    main.with-card .fullscreen .card > div .mobile {
        display: none;
    }
    main.with-card .card > .mobile {
        display: block;
    }
    main.with-card .card > .mobile h2 {
        text-align: center;
        height: 40px;
        padding: 0px 40px 0px 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    main.with-card #card-holder {
        overflow-y: hidden;
    }
    /* main.with-card .card .snippet {
        padding: 0px 10px 0px 10px;
        display: block;
    } */
}