<div class="plus-container" style="position:relative;float:right;">
    <a class="add-layer"><i class="fa fa-plus add" aria-hidden="true"></i></a>
    <div class="dropdown-menu" id="new-layer-options">        
        <h5>Data Source</h5>
        <a href="#" data-value="photos">Photos</a>
        <a href="#" data-value="audio">Audio</a>
        <a href="#" data-value="markers">Marker</a>
        <a href="#" data-value="form_1">Flowers & Birds</a>
        <a href="#" data-value="form_5">Public Art</a>
    </div>
</div>

<h5>Layers</h5>
<div id="layers"></div>