
<div class="bordered-section end-section">
    <div class="style-section-header-wrapper">
        <i class="fa {{#if isShowing}} hide-panel fa-caret-down{{else}} show-panel fa-caret-right {{/if}}"></i>
        <h4>Panel Styles</h4>
    </div>
    
    
    
    <div id="type" style="{{#if isShowing}}display: block; {{else}} display:none; {{/if}}">

    <!--Choose the type category to style -->
        <select id="text-type" class="style-wide-select" name="title-list" style="width:100%; margin: 20px 0px 10px;">
            <option value="title" {{#ifequal activeKey "title"}} SELECTED {{/ifequal}}>Title</option>
            <option value="subtitle" {{#ifequal activeKey "subtitle"}} SELECTED {{/ifequal}}>Subtitle</option>
            <option value="paragraph" {{#ifequal activeKey "paragraph"}} SELECTED {{/ifequal}}>Paragraph</option>
            <option value="tags" {{#ifequal activeKey "tags"}} SELECTED {{/ifequal}}>Tag</option>
        </select>
        <table class="type-table">
            <tbody>
                <tr>
                    <td>Font:</td>
                    <td>
                        <select id="font" class="style-wide-select">
                            <option value="lato" {{#ifequal currentType.font "lato"}} SELECTED {{/ifequal}}>Lato</option>
                            <option value="bebas" {{#ifequal currentType.font "bebas"}} SELECTED {{/ifequal}}>Bebas</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Font weight:</td>
                    <td>
                        <select id="fw" class="style-wide-select">
                            <option value="regular" {{#ifequal currentType.fw "regular"}} SELECTED {{/ifequal}}>Regular</option>
                            <option value="bold" {{#ifequal currentType.fw "bold"}} SELECTED {{/ifequal}}>Bold</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Color:</td>
                    <td>

                        <i id="color-picker" class="fa fa-circle marker-icon jscolor" style="padding:0; color: #{{currentType.color}} " aria-hidden="true">
                    </i></td>
                </tr>
                <tr>
                    <td>Size:</td>
                    <td><input id="font-size" type="number" value="{{currentType.size}}">px</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--
<br>
<br>
<pre>{{json}}</pre>
-->