
<div class="bordered-section end-section">
    <div class="style-section-header-wrapper">
        <i class="fa {{#if isShowing}} hide-panel fa-caret-down{{else}} show-panel fa-caret-right {{/if}}"></i>
        <h4>Panel Styles</h4>
    </div>
    
    
    
    <div id="type" style="{{#if isShowing}}display: block; {{else}} display:none; {{/if}}">
    <div class="legend-prompt-wrapper">
        <p class="legend-prompt">Show Legend on Presentation Map:</p>
        <input class="legend-checkbox" type="checkbox" {{#if displayLegend}}checked{{/if}}></input>
    </div>
    <!--Choose the type category to style -->
        <select id="text-type" class="style-wide-select" name="title-list" style="width:100%; margin: 20px 0px 10px;">
            <option value="title" {{#ifequal activeKey "title"}} SELECTED {{/ifequal}}>Header</option>
         <!--   <option value="subtitle" {{#ifequal activeKey "subtitle"}} SELECTED {{/ifequal}}>Subtitle</option> -->
            <option value="paragraph" {{#ifequal activeKey "paragraph"}} SELECTED {{/ifequal}}>Main Panel</option>
         <!--   <option value="tags" {{#ifequal activeKey "tags"}} SELECTED {{/ifequal}}>Tag</option> -->
        </select>
        <table class="type-table">
            <tbody>
                <tr>
                    <td>Font:</td>
                    <td>
                        <div id="font" class="font-dropdown-display" style="background-color: #{{currentType.backgroundColor}}">
                            <div class="font-display" style="font-family: {{currentType.font}}; color: #{{currentType.color}}; background-color: #{{currentType.backgroundColor}}; font-weight: {{currentType.fw}}" >{{currentType.font}}</div>
                        </div>
                        <div id="font-div" class="font-options">
                            <div class="font-wrapper">
                                <div value="lato" style = "font-family: lato" >Lato</div>
                                <div value="open sans" style = "font-family: open sans" >Open Sans</div>
                                <div value="slabo" style = "font-family: slabo" >Slabo</div>
                                <div value="Pt Serif" style = "font-family: Pt Serif" >Pt Serif</div>
                                <div value="Lemonada" style = "font-family: Lemonada" >Lemonada</div>
                                <div value="Comfortaa" style = "font-family: Comfortaa" >Comfortaa</div>
                                <div value="Amatic SC" style = "font-family: Amatic SC" >Amatic SC</div>
                                <div value="Pacifico" style = "font-family: Pacifico" >Pacifico</div>
                                <div value="Permanent Marker" style = "font-family: Permanent Marker" >Permanent Marker</div>
                            </div>
                            <div class="arrow-wrapper">
                                <i class="fa fa-angle-down font-arrow" aria-hidden="true"></i>
                            </div>
                        </div>
                    </td>

                    <!--
                    <td>
                        <select id="font" class="style-wide-select">
                            <option value="lato" font-family="lato" {{#ifequal currentType.font "lato"}} SELECTED {{/ifequal}}>Lato</option>
                            <option value="bebas" font-family="bebas" {{#ifequal currentType.font "bebas"}} SELECTED {{/ifequal}}>Bebas</option>
                        </select>
                    </td>
                    -->
                </tr>
                <tr>
                    <td>Font color:</td>
                    <td>
                        <i id="font-color-picker" class="fa fa-circle marker-icon jscolor" style="color: #{{currentType.color}} " aria-hidden="true">
                    </i></td>
                </tr>
                <tr>
                    <td>Background color:</td>
                    <td>
                        <i id="background-color-picker" class="fa fa-circle marker-icon jscolor" style="color: #{{currentType.backgroundColor}} " aria-hidden="true">
                    </i></td>
                </tr>
                <tr>
                    <td>Font weight:</td>
                    <td>
                        <select id="fw" class="style-wide-select">
                            <option value="regular" {{#ifequal currentType.fw "regular"}} SELECTED {{/ifequal}}>Regular</option>
                            <option value="bold" {{#ifequal currentType.fw "bold"}} SELECTED {{/ifequal}}>Bold</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Size:</td>
                    <td><input id="font-size" type="number" value="{{currentType.size}}">px</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>