<div class="style-section-header-wrapper">
    <div class="plus-container" style="position:relative;float:right;">
        <a class="add-map"><i class="fa fa-plus add" aria-hidden="true"></i></a>
    </div>
    <h4>Map</h4>
</div>

{{#if noItems}}
    <p class="map-none-message">Click the plus sign to create a new map</p>
{{else}}
<select class="style-wide-select" id="map-select">
    {{#each items}}
    <option class="map-select-option" value="{{ this.id }}">{{ this.name }}</option>
    {{/each}}
</select>

{{/if}}