<div class="style-section-header-wrapper">
    <div class="plus-container" style="position:relative;float:right;">
        <a class="add-map"><i class="fa fa-plus add" aria-hidden="true"></i></a>
    </div>
    <h4>Map</h4>
</div>

{{#if noItems}}
    <p class="map-none-message">Click the plus sign to create a new map</p>
{{else}}
<div class="selected-map">
    <div class="map-item" data-value="{{ map.id }}">
        <p class="map-select-option" value="{{ map.id }}">{{ map.name }}</p>
        <p class="map-edit">edit</p>
    </div>
</div>

<div class="style-wide-select" id="map-select">
    {{#each items}}
    <div class="map-item" data-value="{{ this.id }}">
        <p class="map-select-option" value="{{ this.id }}">{{ this.name }}</p>
        <p class="map-edit">edit</p>
    </div>
    {{/each}}
</div>

{{/if}}