<div class="style-section-header">
    <i class="fa {{#if isShowing}} hide-panel fa-caret-down{{else}} show-panel fa-caret-right {{/if}}"></i>
    <div class="plus-container" style="position:relative;float:right;">
        <a class="add-map"><i class="fa fa-plus add" aria-hidden="true"></i></a>
    </div>
    <h4>Map</h4>
</div>
<select id="map-select" style="{{#if isShowing}}display: block; {{else}} display:none; {{/if}}">
{{#each items}}
    <option value="{{ this.id }}">{{ this.name }}</option>
{{/each}}
</select>

{{#if noItems}}
    <p>informational message about what to do</p>
{{/if}}
