<div class="form-group {% if field.errors %}has-error{% endif %}">
    {% if field.label %}
        <label class="col-sm-2 control-label {% if style.hide_label %}sr-only{% endif %}">
            {{ field.label }}
        </label>
    {% endif %}
    
    <div class="col-sm-10">
        <span class="btn info fileinput-button">
            <i class="fa fa-upload"></i>
            <span>Navigate to file...</span>
            <input type="file" name="{{ field.name }}">
        </span>
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        {% endif %}
        
        {% if field.help_text %}
            <span class="help-block">{{ field.help_text }}</span>
        {% endif %}
    </div>
</div>