{% extends base_template %}

{% block style_links %}
    <link rel="stylesheet" href="/static/backbone/css/lg.css" />
    <link rel="stylesheet" href="/static/backbone/css/upload.css" />
{% endblock %}
{% block jquery_version %}
	<script src="{{ JQUERY_PATH }}"></script>
{% endblock %}	
{% block script_links %}
    <script src="{{ JQUERY_UI_PATH }}"></script>
    <script src="/static/backbone/js/external/jquery.fileupload.js" type="text/javascript" ></script>
    
    <!-- for thumbnailing -->
    <script src="/static/backbone/js/external/load-image.min.js" type="text/javascript" ></script>
    <script src="/static/backbone/js/external/canvas-to-blob.min.js" type="text/javascript" ></script>
    <script src="/static/backbone/js/external/jquery.fileupload-ip.js" type="text/javascript" ></script>
    <script src="/static/backbone/js/api/views/upload.js" type="text/javascript"></script>

{% endblock %}

{% block extra_styles %}
    {{block.super}}

    {% if not embed %}
        h1 { margin:20px 0px 20px 0px; }
    {% else %}
        h1 { margin:0px 0px 20px 0px; }
    {% endif %}

{% endblock %}

{% block pageload_scripts %}
    var o = new Uploader({
        mediaType: "{{selected_media_type.0}}",
        acceptFileTypes: '{{selected_media_type.2}}',
        imageTypes: '{{ image_types }}',
        audioTypes: '{{ audio_types }}',
        isIframe: {{embed|lower}}
    });
{% endblock %}

{% block content %}
    {% block main_content %}
    <div class="container">
        <div class="row" {% if embed %}style="display: none;"{% endif %}>
            <h1>
                <span class="btn btn-default fileinput-button">
                    +
                    <input id="fileupload" type="file" name="media_file" multiple>
                </span>
                Upload <span style="color:#ccc">{{ selected_media_type.1}}</span>
            </h1>
        </div>
        <div class="row">
            <!-- Media Type -->
            <ul class="nav nav-pills">
                {% for media_type in media_types %}
                    <li {% if selected_media_type.0 == media_type.0 %}class="active"{% endif %}>
                         <a href="{{media_type.3}}{% if embed %}embed/{% endif %}">{{media_type.1}}</a>
                    </li>
                {% endfor %}
            </ul>
            
            <!-- Project Picker -->
            <div class="sel-project pull-right">
                <i class="fa fa-folder-open fa-4x"></i>
                <div class="active-project">
                    Media will be filed under:
                    <select id="project" class="form-control">
                        {% for p in projects %}
                            <option value="{{p.id}}" {% if p.id == selected_project.id %} SELECTED {% endif %}>{{p.name}}</option>
                        {% endfor%}
                    </select>
                </div>
                    
            </div>
            
        </div>
        
        <!-- Messages -->
        <div class="row">
            {% include "includes/messages.html" %}
        </div>
        
        <!-- Upload Zone -->
        <div class="row">
            <div id="dropzone" style="min-height:250px;">
                <div id="nothing-here">
                    {% if selected_media_type.0 == "default" %}
                        <i class="fa fa-camera fa-4x"></i>
                        <i class="fa fa-headphones fa-4x"></i>
                    {% else %}
                        <i class="fa fa-map fa-4x"></i>
                    {% endif %}
                    <br />
                    Drag your <strong>{{selected_media_type.1|lower}}</strong> files here<br />
                    {% if not embed %}
                        or browse to them using the <span class="plus">+</span> button above.
                    {% endif %}
                </div>
            </div>
            <div class="acceptable">
                This form accepts the following file types:
                <strong>{{selected_media_type.2}}</strong>
            </div>
        </div>
	
    </div>
    {% csrf_token %}
    {% endblock %}
{% endblock %}