<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Local Ground Style Guide</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main-new.css">
    </head>
    <body class="light-gray">
        <div class="style-guide">
            <header>
                <nav class="toolbar-main">
                    <a class="logotype" href="/">Local Ground Style Guide</a>
                </nav>
            </header>
            <aside>
                {% include "style-guide/menu.html" %}
            </aside>
            <main>
                {% block main %}{% endblock %}
            </main>
        </div>
    </body>
</html>
