<div class='side-menu'>
    <a href="/style-guide/banners/" {% ifequal page_name 'banners' %}class="active"{% endifequal %}>Banners & Headers</a>
    <a href="/style-guide/buttons/" {% ifequal page_name 'buttons' %}class="active"{% endifequal %}>Buttons</a>
    <a href="/style-guide/cards/" {% ifequal page_name 'cards' %}class="active"{% endifequal %}>Cards</a>
    <a href="/style-guide/collections/" {% ifequal page_name 'collections' %}class="active"{% endifequal %}>Collections</a>
    <a href="/style-guide/forms/" {% ifequal page_name 'forms' %}class="active"{% endifequal %}>Forms</a>
    <a href="/style-guide/modals/" {% ifequal page_name 'modals' %}class="active"{% endifequal %}>Modals</a>
    <a href="/style-guide/toolbars/" {% ifequal page_name 'toolbars' %}class="active"{% endifequal %}>Menus & Navigation</a>
    <a href="/style-guide/tooltips/" {% ifequal page_name 'tooltips' %}class="active"{% endifequal %}>Tooltips</a>
</div>
