{% extends "style-guide/base.html" %}
{% block title %}Modals{% endblock %}
{% block main %}

    <div class="container">
        <h2>Simple Modal: widgets/_modals.scss</h2>
        <button class="show button-secondary">Show Modal</button>
        <div id="modal-demo">
            <div class="modal">
                <div class="content">
                    <header>
                        <span class="close">×</span>
                        <h1>Modal Title</h1>
                    </header>
                    <div class="body">
                        <div>Your content here</div>
                    </div>
                    <footer>
                        <button class="button button-secondary">Cancel</button>
                        <button class="button button-primary">Action</button>
                    </footer>
                </div>
            </div>
        </div>

        <pre class="prettyprint linenums" source-element="#modal-demo"></pre>
    </div>

    <script>
        document.querySelector('.show').onclick = () => {
            document.querySelector('.modal').style.display = 'block'
        }
        document.querySelectorAll('.close, .button').forEach(elem => {
            elem.onclick = () => {
                document.querySelector('.modal').style.display = 'none'
            }
        })
    </script>
{% endblock %}
