{% extends "style-guide/base.html" %}
{% block title %}Toolbars{% endblock %}
{% block main %}

    <!-- 1. Main Toolbar -->
    <div class="container">
        <h2>Main Toolbar: widgets/_toolbars.scss</h2>
        <div id="main-toolbar-demo">
            <nav class="toolbar-main">
                <a class="logotype" href="/">Local Ground</a>
                <ul class="right-nav">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </nav>
        </div>

        <h3>Code Sample</h3>
        <pre class="prettyprint linenums" source-element="#main-toolbar-demo">dasdas</pre>
    </div>

    <!-- 2. Dropdown Menu -->
    <div class="container">
        <h2>Dropdown Menu: widgets/_toolbars.scss</h2>
        <div id='dropdown-menu-demo'>
            <a class="toggle-button">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                Menu Label
            </a>
            <div class="dropdown-menu hide">
                <ul>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>

        <h3>Code Sample</h3>
        <pre class="prettyprint linenums" source-element="#dropdown-menu-demo"></pre>
    </div>



    <!-- scripts -->
    <script>
        const enableDropdown = () => {
            document.querySelector('.toggle-button').onclick = () => {
                document.querySelector('.dropdown-menu').classList.toggle('hide')
            }
        }
        prettify()
        enableDropdown()
    </script>
{% endblock %}
