{% extends "style-guide/base.html" %}
{% block title %}Tooltips{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/external/tooltips/popper.js"></script>
    <script type="text/javascript" src="/static/external/tooltips/tooltip.js"></script>
{% endblock %}

{% block main %}
<div class="container">
    <h2>Simple Modal: widgets/_popovers.scss</h2>
    <div id="tooltip-demo">
        <button id="show-popover-1" class="show button-secondary">Show Tooltip</button>
        <script>
        new Tooltip(document.getElementById('show-popover-1'), {
            placement: 'top',
            title: 'Top'
        })
        new Tooltip(document.getElementById('show-popover-1'), {
            placement: 'right',
            title: 'Right'
        })
        new Tooltip(document.getElementById('show-popover-1'), {
            placement: 'left',
            title: 'Left'
        })
        new Tooltip(document.getElementById('show-popover-1'), {
            placement: 'bottom',
            title: 'Bottom'
        })
        /*
         * See documentation: https://popper.js.org/tooltip-examples.html
         */
        </script>
    </div>

    <pre class="prettyprint linenums" source-element="#tooltip-demo"></pre>
</div>
{% endblock %}
