<div class="panel-container">
	<div class="pane-header">
		<h3>Data &amp; Media</h3>
		<div class="btn-group btn-toolbar pull-right">
			<button id="projects" data-toggle="dropdown" class="btn">
				<i class="fa fa-folder-open"></i>
			</button>
			<div id="projectsMenu" class="dropdown-menu right"></div>
			<button id="upload" data-main="upload" class="btn">
				<i class="fa fa-download"></i>
			</button>
			<button id="filter" class="btn">
				<i class="fa fa-filter"></i>
			</button>
			<button id="mode_toggle" class="btn">
				<i class="fa fa-edit"></i>
			</button>
		</div>
	</div>
	<div class="pane-body">
		<!-- i class="fa fa-spin fa-gear" style="margin-left:180px;font-size: 40px;"></i -->
	</div>
</div>