<div class="item data-item<% if (!isVisible) { %> hidden <% } %>" id="audio_<%= id %>">
	<input class="cb-data" type="checkbox" value="<%= id %>"
		<% if(!geometry) { %>
			style="visibility:hidden;"
		<% } %>
		<% if(isShowingOnMap) { %>checked<% } %>
	>
	<i class="fa fa-2x fa-volume-up"></i>
	<div><a href="#" title="<%= name %>"><%= name || 'Untitled' %></a></div>
    <i class="fa fa-trash-o pull-right"></i>
    <div class="audio-controls btn-group pull-right">
        <button type="button" class="btn btn-xs play-audio">
          <span class="fa fa-play"></span>
        </button>
        <button type="button" class="btn btn-xs stop-audio">
          <span class="fa fa-stop"></span>
        </button>
    </div>
    <div class="edit-mode-extras" style="clear:both;">
        <i class="fa fa-volume-up fa-4x item-icon" draggable="false"></i>
        <p style="color: #999;"><%= caption %></p>
        <div style="clear:both;"></div>
    </div>
</div>