<div class="panel-container">
    <div class="pane-header">
        <h3>Data &amp; Media</h3>

        <div class="btn-group btn-toolbar pull-right sidebar-opts">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn">
                    <i class="fa fa-folder-open"></i>
                </button>
                <div id="projects-menu" class="dropdown-menu right"></div>
            </div>
            <button id="download" data-main="upload" class="btn">
                <i class="fa fa-download"></i>
            </button>
            <button id="upload" data-main="upload" class="btn">
                <i class="fa fa-upload"></i>
            </button>
            <button id="print" data-main="print" class="btn">
                <i class="fa fa-print"></i>
            </button>
            <!-- div class="btn-group">
                <button data-toggle="dropdown" class="btn">
                    <i class="fa fa-filter"></i>
                </button>
                <div id="data-filter" class="data-filter dropdown-menu right"></div>
            </div -->
            <button id="mode_toggle" class="btn">
                <i class="fa fa-edit"></i>
            </button>
            <button id="share-data" class="btn">
                <i class="fa fa-share"></i>
            </button>
        </div>
    </div>
    <div class="pane-body">
        <div id="project-tags"></div>
        <div id="item-list-manager"></div>
    </div>
    <div id="share-modal-wrapper"></div>
    <div id="upload-modal-wrapper"></div>
    <div id="print-modal-wrapper"></div>
</div>