<form class="form-horizontal filter-container">
    <div class="form-group">
        <label class="col-sm-4 control-label" for="filter_owner">Owned By:</label>
        <div class="col-sm-8">
            <span data-editor="">
                <input id="filter_owner" class="form-control" name="filter_owner" type="text">
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="filter_name">Name:</label>
        <div class="col-sm-8">
            <span data-editor="">
                <input id="filter_name" class="form-control" name="filter_name" type="text">
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="filter_tags">Tags:</label>
        <div class="col-sm-8">
            <span data-editor="">
                <input id="filter_tags" class="form-control" name="filter_tags" type="text">
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="filter_caption">Caption:</label>
        <div class="col-sm-8">
            <span data-editor="">
                <input id="filter_caption" class="form-control" name="filter_caption" type="text">
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4"></label>
        <div class="col-sm-8">
            <button id="apply_filter" type="button" class="btn btn-primary">Apply</button>
            <button id="clear_filter" type="button" class="btn">Clear</button>
        </div>
    </div>
</form>