<div class="panel-container">
	<div class="pane-header">
		<h3>Layers & Symbols</h3>
		<div class="btn-group btn-toolbar pull-right sidebar-opts">
            <button data-toggle="dropdown" class="btn" id="add-layer">
				<i class="fa fa-plus"></i>
			</button>
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn">
                    <i class="fa fa-bars"></i>
                </button>
                <div id="layers-menu" class="dropdown-menu right"></div>
            </div>
			<div class="btn-group">
				<button data-toggle="dropdown" class="btn">
					<i class="fa fa-filter"></i>
				</button>
				<div id="data-filter" class="data-filter dropdown-menu right"></div>
			</div>
			<button id="upload" data-main="upload" class="btn">
				<i class="fa fa-code"></i>
			</button>
		</div>
	</div>
	<div class="pane-body">
		<div id="layer-manager"></div>
	</div>
</div>