<div id="layer-editor1">
    <div class="form-group">
        <label class="col-sm-4 control-label">Rule</label>
        <i class="fa fa-edit" style="margin-left: -20px;"></i>
        <div class="col">
            <textarea readonly="" id="rule" class="form-control">from photos, audio, grocery_table</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Fill</label>
        <div class="col">
            <input id="marker_color" type="text" class="form-control color" value="428BCA" style="width: 100px; color: rgb(0, 0, 0); background-image: none; background-color: rgb(66, 139, 202);" autocomplete="off">
            <input type="number" id="marker_width" class="form-control" value="20" style="width: 50px;">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Outline</label>
        <div class="col">
            <input id="stroke_color" type="text" class="form-control color" value="EEEEEE" style="width: 100px; color: rgb(0, 0, 0); background-image: none; background-color: rgb(238, 238, 238);" autocomplete="off">
            <input type="number" id="stroke_width" class="form-control" value="2" style="width: 50px;">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Title</label>
        <div class="col">
            <input id="symbol_display_name" type="text" class="form-control" value="Untitled Layer">
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" id="save_symbol" style="margin-bottom: 10px;">Add</button>
        <button class="btn" id="marker_cancel" style="margin-bottom: 10px;">Cancel</button>
    </div>
</div>