<div class="panel-container">
	<div class="pane-header">
		<h3>Legends & Symbols</h3>
		<div class="btn-group btn-toolbar pull-right sidebar-opts">
			<button data-toggle="dropdown" class="btn">
				<i class="fa fa-plus"></i>
			</button>
			<button id="upload" data-main="upload" class="btn">
				<i class="fa fa-code"></i>
			</button>
		</div>
	</div>
	<div class="pane-body">
		text text text text text text text text text text text text
		text text text text text text text text text text text text
		text text text text text text text text text text text text
		text text text text text text text text text text text text
		text text text text text text text text text text text text 
	</div>
</div>