<div class="panel-container">
	<div class="pane-header">
		<h3>Legends & Symbols</h3>
		<div class="btn-group btn-toolbar pull-right sidebar-opts">
			<button data-toggle="dropdown" class="btn">
				<i class="fa fa-plus"></i>
			</button>
			<button id="upload" data-main="upload" class="btn">
				<i class="fa fa-code"></i>
			</button>
		</div>
	</div>
	<div class="pane-body">
		<!--
		worm count, moisture, percolation time, pitfall count,
		and notes on soil composition
		-->
		
		<!-- Worms -->
		<div class="collection-header">
			<input class="check-all" type="checkbox">
			<h4>Worms</h4>
			<i class="fa fa-search fa-lg pull-right zoom-to-extent" title="zoom to extent"></i>
		</div>
		<div class="item legend-item">
			<i class="fa fa-map-marker item-icon" draggable="false" style="color: #7075FF"></i>
			<div>
				Places with at least 1 worm
				<span style="color: #999;">4 sites</span>
			</div>
		</div>
		<div class="item legend-item">
			<i class="fa fa-map-marker item-icon" draggable="false" style="color: #F011D9"></i>
			<div>
				Places with no worms
				<span style="color: #999;">6 sites</span>
			</div>
		</div>
		
		<!-- Percolation Time -->
		<div class="collection-header">
			<input class="check-all" type="checkbox">
			<h4>Percolation Time</h4>
			<i class="fa fa-search fa-lg pull-right zoom-to-extent" title="zoom to extent"></i>
		</div>
		<div class="item legend-item">
			<i class="fa fa-map-marker item-icon" draggable="false" style="color: #a2e6ef"></i>
			<div>
				Places with a fast percolation time
				<span style="color: #999;">4 sites</span>
			</div>
		</div>
		<div class="item legend-item">
			<i class="fa fa-map-marker item-icon" draggable="false" style="color: #19b8ca"></i>
			<div>
				Places with a medium percolation time
				<span style="color: #999;">4 sites</span>
			</div>
		</div>
		<div class="item legend-item">
			<i class="fa fa-map-marker item-icon" draggable="false" style="color: #0e727e"></i>
			<div>
				Places with a slow percolation time
				<span style="color: #999;">2 sites</span>
			</div>
		</div>
		
		<!-- Moisture -->
		<div class="collection-header">
			<input class="check-all" type="checkbox">
			<h4>Soil Moisture</h4>
			<i class="fa fa-search fa-lg pull-right zoom-to-extent" title="zoom to extent"></i>
		</div>
		<div class="item legend-item">
			<i class="fa fa-map-marker item-icon" draggable="false" style="color: #428BCA"></i>
			<div>
				Places with moist soil
				<span style="color: #999;">5 sites</span>
			</div>
		</div>
		<div class="item legend-item">
			<i class="fa fa-map-marker item-icon" draggable="false" style="color: #b7f081"></i>
			<div>
				Places with dry soil
				<span style="color: #999;">5 sites</span>
			</div>
		</div>
		
		<!-- Pitfall Count -->
		<div class="collection-header">
			<input class="check-all" type="checkbox">
			<h4>Pitfall Count</h4>
			<i class="fa fa-search fa-lg pull-right zoom-to-extent" title="zoom to extent"></i>
		</div>
		<div class="item legend-item">
			<i class="fa fa-map-marker item-icon" draggable="false" style="color: #5cee1e"></i>
			<div>
				Places with less than 10 invertebrates
				<span style="color: #999;">5 sites</span>
			</div>
		</div>
		<div class="item legend-item">
			<i class="fa fa-map-marker item-icon" draggable="false" style="color: #3b9914"></i>
			<div>
				Places with more than 10 invertebrates
				<span style="color: #999;">5 sites</span>
			</div>
		</div>
	</div>
</div>