<div class="item data-item<% if (!isVisible) { %> hidden <% } %>" id="markers_<%= id %>">
	<input class="cb-data" type="checkbox" value="<%= id %>"
		<% if(!geometry) { %>
			style="visibility:hidden;"
		<% } %>
		<% if(isShowingOnMap) { %> checked <% } %>
	>
	<% if(geometryType =="Point") { %>
		<!-- Marker Symbol -->
		<i class="fa fa-map-marker item-icon" draggable="false" style="color: #<%= color %>"></i>
	<% } %>
	
	<% if(geometryType =="LineString") { %>
	<!-- Polyline Symbol -->
	<svg height="25" width="25">
		<polyline points="0, 25 8, 10 16, 15 24, 0"
			style="fill:none;stroke:#<%= color %>;stroke-width:3" />
	</svg>
	<% } %>
	
	<% if(geometryType =="Polygon") { %>
	<!-- Polygon Symbol -->
	<svg height="25" width="25">
		<polygon points="3,3 10,22 20,17 22,5 15,10, 3,3"
				 style="fill:none;stroke:#<%= color %>;stroke-width:3" />
	</svg>
	<% } %>

	<div>
		<a href="#" title="<%= name %>"><%= name || 'Untitled' %></a>
		<% if(descriptiveText.length > 0) { %>
			<span><%= descriptiveText %></span>
		<% } %>
	</div>
	<i class="fa fa-trash-o pull-right"></i>
</div>