<div class="item data-item <% if (!isVisible) { %> hidden <% } %>" id="photos_<%= id %>">
	<input class="cb-data" type="checkbox" value="<%= id %>"
		<% if(!geometry) { %>
			style="visibility:hidden;"
		<% } %>
		<% if(isShowingOnMap) { %>checked<% } %>
	>
	<img class="photos thumbsmall" draggable="false" src="<%= path_marker_sm %>" title="<%= name %>" />
	<div>
		<a href="#" title="<%= name %>"><%= name || 'Untitled' %></a>
		<br />
		<span style="color: #CCC;"><%= attribution %></span>
	</div>
    <i class="fa fa-trash-o pull-right"></i>
    <div class="edit-mode-extras" style="clear:both;">
        <img class="item-icon" src="<%= path_small %>" title="<%= name %>" />
        <p style="color: #999;"><%= caption %></p>
        <div style="clear:both;"></div>
    </div>
</div>