<!-- Left Side Panel: Print Options -->
<div class="print-layout-left"></div>

<!-- Right Side Panel: Generate Print -->
<div class="print-layout-right"></div>

<div class="load-message" style="display: none;">
    <span>Generating Print...</span>
    <br>
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
</div>

<div class="confirmation-message" style="display: none;">
    <a class="link-pdf" href="#">
    <div class="download-message1">
        <i class="fa fa-download fa-5x"></i>
        <br>
        Print Generated.. Click to download.
    </div>
    </a>
</div>
