<div class="loading" style="display: none">Loading</div>
<div>
    <div class="inline-form">
        <label>Title:</label>
        <div class="container-input">
        </div>
        <input type="text" id="print-title" placeholder="Insert title">
    </div>

    <div class="inline-form">
        <label>Instructions:</label>
        <div class="container-input">
            <textarea id="print-instructions"
            rows="4" cols="50" placeholder="Type instructions here"> </textarea>
        </div>
    </div>

    <div class="inline-form">
        <label>Layout</label>
        <div class="container-input">
            <form action>
                <input class="option-layout" type="radio" name="print_layout" id="portrait" value="Portrait" checked> Portrait
                <input class="option-layout" type="radio" name="print_layout" id="landscape" value="Landscape"> Landscape
            </form>
        </div>

    </div>

    <div class="inline-form">
        <label>Collect Data?</label>
        <div class="container-input">
            <form action>
                <input class="option-data" type="radio" name="data_collect" id="choose_yes" value="Yes" checked> Yes
                <input class="option-data" type="radio" name="data_collect" id="choose_no" value="No"> No
            </form>
        </div>
    </div>








</div>
<div class="print-links">
    <a class="link-pdf" href="{{pdf}}">
        <img class="link-thumb" src="{{thumb}}">
    </a>
</div>
