<!-- Left Side Panel: Print Options -->
<div class="print-layout-left">
    Left Side - Print Options


    <form>
        <label>Layout</label><br>
        <input type="radio" name="print_layout" id="portrait" value="Portrait"> Portrait<br>
        <input type="radio" name="print_layout" id="landscape" value="Landscape"> Landscape<br>
    </form>
    <br>

    <form>
        <label>Collect Data?</label><br>
        <input type="radio" name="data_collect" id="choose_yes" value="Yes"> Yes<br>
        <input type="radio" name="data_collect" id="choose_no" value="No"> No<br>
    </form>
    <br>


    <form>
        <label>Include Table</label><br>
        <input type="radio" name="include_table" id="page_same" value="Same Page"> Same Page<br>
        <input type="radio" name="include_table" id="page_next" value="Next Page"> Next Page<br>
    </form>
    <br>

</div>

<!-- Right Side Panel: Generate Print -->
<div class="print-layout-right">

</div>
