<div class="project-detail">
    <a href="index.html"><i class="fa fa-arrow-left back-to-profile"></i></a>
    <div>
        {{#if name }}
        <h2>
            {{ name }}
        </h2>
        {{/if}}
    </div>
    <nav>
        <div class="selected">
            <a>Data</a>
        </div>
        <div>
            <a href="map-left-panel.html">Style</a>
        </div>
    </nav>
</div>
<div class="buttons">
     <button class="button-secondary">
        Print
    </button>
    <button class="button-secondary">
        Preview
    </button>
    <button class="button-primary button-main-action">
        Share
    </button>
</div>