<div class="project-detail">
    <div class="title">
            
        <a href="index.html"><i class="fa fa-arrow-left back-to-profile"></i></a>
        <h2 class="map-title">{{ name }}</h2>
    </div>
    <nav>
        <div>
            <a href="#" class="sites">Sites</a>
        </div>
        <div class="selected">
            <a href="#" class="media">Media</a>
        </div>
        <div>
            <a href="map-left-panel.html">Style</a>
        </div>
    </nav>
</div>
<div class="buttons">
     <button class="button-secondary">
        Print
    </button>
    <button class="button-secondary">
        Preview
    </button>
    <button class="button-primary button-main-action">
        Share
    </button>
</div>