<input id="searchTerm" type="text" value="murals">
<button id="toolbar-search">Search</button>

<div id="menu">
    <button id="toolbar-photos">Show Photos</button>
    <button id="toolbar-audio">Show Audio</button>
    <select name="media-type" id="media-type">
        <option value="all-data">Media</option>
        <option value="img-table" style="padding-left:16px;">All Media</option>
        <option value="photos" style="padding-left:16px;">Photos</option>
        <option value="audio" style="padding-left:16px;">Audio</option>
         <option value="public-art-table">Sites</option>
        <option value="public-art" style="padding-left:16px;">Public Art</option>
        <option value="map-images">Map Images</option>
    </select>
</div>