<ul id="filter-menu" class="dropdown-menu {% if allowed_methods %}pull-right{% endif %}" style="max-height: 300px;">
    <li class="clearfix">
        <div style="margin-left: 10px;">Filter {{ object_name_plural|capfirst }}</div>
    </li>
    <li class="divider"></li>
    {% for ff in filter_fields %}
        <li class="clearfix">
        <label>{{ ff.title }}:</label>
        <div class="input">
            {% if ff.col_name == 'project_id' or ff.col_name == 'project' and projects %}
                <select id="{{ ff.col_name }}" name="{{ff.col_name}}" data-operator="{{ ff.operator }}">
                    <option value="">-- All --</option>
                    {% for p in projects %}
                        <option value="{{p.id}}"
                            {% if p.id|slugify == ff.value %}selected{% endif %}>
                            {{ p.name }}
                        </option>
                    {% endfor%}
                </select>
            {% else %}
                <input id="{{ff.col_name}}" name="{{ff.col_name}}" type="text" data-operator="{{ ff.operator }}"
                    {%if ff.data_type == 'date' %}value="{{ ff.value|date:"m/d/Y" }}"
                    {% else %}
                       value="{{ ff.value|default_if_none:"" }}"
                    {% endif %}
                    {% comment %} {%if ff.data_type == 'tag' %}class="tags"{% endif %} {% endcomment %}
                    {%if ff.data_type == 'date' %}class="date-picker"{% endif %}/>
            {% endif %}
        </div>
    </li>
    {% endfor %}
    
    <li>
        <textarea name="query" id="sql">{{ sql|default_if_none:"" }}</textarea>   
    </li>
    <li class="divider"></li>  
    <li class="clearfix">
        <div class="input" style="width:300px;">
            <button id="make-query" type="button" class="btn">Generate SQL</button>
            <button id="do-query" type="button" class="btn primary">Do Query</button>
        </div>
    </li>
</ul>

<script type="text/javascript">
    $('#filter-menu input, #filter-menu label, #filter-menu select, #filter-menu button, #filter-menu textarea')
        .click(function(e) { e.stopPropagation(); });
    //$(".tags").autocomplete("/tagging_autocomplete/list/json", { multiple: true });
    $('.date-picker').datepicker({ dateFormat: 'mm/dd/yy' });
</script>