<!-- Filters -->
{% if filters_on %}
<div class="prettyprint alert alert-muted" style="padding-right: 18px;">
    <strong>Filters:</strong>
    {% for ff in filter_fields %}
        {% if ff.value %}
        <div class="filter info">{{ff.title|lower}}: 
            {%if ff.data_type == 'date' %}
                {{ ff.value|date:"m/d/Y" }}
            {% else %}
                {{ ff.value }}
            {% endif %}
            <a class="remove-filter" id="remove_{{ff.col_name}}" href="#"
                    data-target="{{ff.col_name}}" title="remove filter">×</a>
        </div>
        {% endif %}
    {% endfor %}
    <a style="float:right;cursor:pointer" id="remove-filters"
                    href="#" title="remove all filters">remove all</a>
</div>
{% endif %}