<h4>Particulate Matter Concentrations</h4>
<div class="legend-class">
	<div class="clearfix">
		<img src="/static/images/ebays/green.png"> <strong>Good:</strong> <em>less than 50 &microg/m&sup3;</em>
	</div>
	<div class="clearfix">
		<img src="/static/images/ebays/yellow.png"> <strong>Moderate:</strong> <em>between 50 and 99 &microg/m&sup3;</em>
	</div>
	<div class="clearfix">
		<img src="/static/images/ebays/orange.png"> <strong>Unhealthy for Some:</strong> <em>between 100 and 150 &micro/m&sup3; </em>
	</div>
	<div class="clearfix">
		<img src="/static/images/ebays/red.png"> <strong>Unhealthy:</strong> <em>between 150 and 199 &micro/m&sup3;</em>
	</div>
	<div class="clearfix">
		<img src="/static/images/ebays/purple.png"> <strong>Very Unhealthy:</strong> <em>between 200 and 300 &micro/m&sup3;</em>
	</div>
	<div class="clearfix">
		<img src="/static/images/ebays/maroon.png"> <strong> Hazardous:</strong> <em>more than 300 &micro/m&sup3;</em> 
	</div>
	<div class="inset-block" style="margin-top:10px;">
		For more information on the ratings, visit <a href="//www.airnow.gov/index.cfm?action=aqibasics.aqi" target="_blank">//www.airnow.gov</a>
	</div>
</div>