<div id="tab-view">
    <a href="#/{{screenType}}/photos" data-value="photos" class="tab {{#ifequal dataType "photos"}}tab-selected{{/ifequal}}">Photos</a>
    <a href="#/{{screenType}}/audio" data-value="audio" class="tab {{#ifequal dataType "audio"}}tab-selected{{/ifequal}}">Audio</a>
    <a href="#/{{screenType}}/videos" data-value="videos" class="tab {{#ifequal dataType "videos"}}tab-selected{{/ifequal}}">Videos</a>
    {{#each forms}}
    <a href="#/{{../screenType}}/{{this.instance_type}}" data-value="{{ this.instance_type }}" class="tab {{#ifequal ../dataType this.instance_type}}tab-selected{{/ifequal}}">{{ this.name }}</a>
    {{/each}}
</div>

<!--Inside the tab view, should only of small sized div elements with class "data-group"
or something appropriately named to load data gropups
-->
