{% extends base_template %}
{% block style_links %}
	{{ form.media.css }} 
{% endblock %}
{% block script_links %}
    {{ form.media.js }}
    <script type="text/javascript" src="/static/bootstrap2.2.2/js/bootstrap-tabs.js"></script>
{% endblock %}
{% block content %}
    <h1>Marker Info</h1>
    <ul class="tabs" data-tabs="tabs">
        <li class="active">
            <a data-toggle="tab" href="#data">General</a>
        </li>
        <li>
            <a data-toggle="tab" href="#photo">Photos</a>
        </li>
        <li>
            <a data-toggle="tab" href="#audio">Audio</a>
        </li>
        <li>
            <a data-toggle="tab" href="#video">Video</a>
        </li>
    </ul>
    <div id="tab_content" class="tab-content clearfix">
        <div id="data" class="tab_panel active">
            <div id="panel_data">
                Panel #1    
            </div>
        </div>
        <div id="photo" class="tab_panel">
            <div id="panel_legend">
                Panel #2
            </div>
        </div>
        <div id="audio" class="tab_panel">
            <div id="panel_download">
                Panel #3
            </div>
        </div>
        <div id="video" class="tab_panel">
            <div id="panel_download">
                Panel #3
            </div>
        </div>
    </div>
{% endblock %}