{% extends base_template %}

{% block style_links %}
    <link rel="stylesheet" href="/static/scripts/thirdparty/adjustable_table/table.css" type="text/css" media="screen" />
{% endblock %}

{% block script_links %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false&v=3.9"></script>
    <script type="text/javascript" src="/static/scripts/map/resources/mapTypes.js"></script>
	<script type="text/javascript" src="/static/scripts/thirdparty/jquery.formset.js"></script>
    <script type="text/javascript" src="/static/scripts/map/basemap.js"></script>
    <script type="text/javascript" src="/static/scripts/map/print.js"></script>
    <script type="text/javascript" src="/static/scripts/thirdparty/adjustable_table/table.js"></script>
		
{% endblock %}

{% block extra_scripts %}
    {{block.super}}
    var o = new localground.print();
    var opts = {
        center: new google.maps.LatLng({{center_lat}}, {{center_lng}}),
        zoom: {{zoom}},
        serverURL: '{{serverURL}}', 
        overlays: {% autoescape off %}{{ overlays }}{% endautoescape %},
        mapimages: {% autoescape off %}{{ mapimages }}{% endautoescape %},
        forms: {% autoescape off %}{{ forms }}{% endautoescape %},
        isPrint: true,
        initialMapLayerID: {{basemap_id | default:"1"}},
        initial_overlays: {% autoescape off %}{{ layer_ids }}{% endautoescape %},
        layouts: {% autoescape off %}{{ layouts }}{% endautoescape %},
        selectedLayoutID: {{ selectedLayout_id }},
        numProjects: {{projects|length}},
	prefix: '{{ prefix }}'
    };
    {% if form.id %}
        opts.form = {{form.id }};
    {% endif %}
    {% if selected_project %}
        opts.selectedProjectID = {{selected_project.id}}; 
    {% endif %}
{% endblock %}
{% block pageload_scripts %}    
   {% if not pdf %}
        o.initialize(opts);
    {% endif %}
{% endblock %}
{% block extra_styles %}

{% if not pdf %}
html, body {
    margin: 0px !important;
    background-color: #999 !important;
	overflow-x: hidden !important;
}
{% endif %}
form { 
    background-color: #999 !important;
}
.mapFrame {
    border: 1px solid #666;
    padding: 40px 40px 60px 40px;
    background-color: #fff !important;
    float:left;
    margin: 5px 0px 20px 2px;
}
#the_form { margin: 0px !important; }
.name { width: 150px; }
select { width: 180px !important; }
.clearfix {
    margin: 3px !important;
}
.first_cell {
    color:#999;
    vertical-align:middle;
}
.paper_form {
    margin: 3px !important;
    /*width: auto !important;*/
    border: 4px solid #000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#map_canvas {
    border: solid 4px #000;
    width: {{width}}px;
    height: {{height}}px;
}
#qrcode {
    border: 4px solid #000;
}
#mapTitle {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.options {
    width: 140px;
    height: 68px;
    float:left;
    padding: 2px 0px 5px 5px;
    margin-left: 5px;
}
.options div {
    margin: 2px;
    font-weight: bold;
}
.more {
    width: 190px !important;
    border-left: solid 1px #ccc;
}
.layout_panel {
    margin: 0px 0px 0px 0px !important;
    background-color: #eee;
    border-bottom: solid 1px #666;
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 100;
	{% if not embed %}
		margin-top: 40px !important;	
	{% endif %}
}
.layout_control {
    vertical-align: middle !important;
}
.blank {
    float:left;
    width:225px;
    margin:5px 0px 0px 10px;
    border-bottom: solid 1px #000;
}
.hidden-form {
	margin: 10px !important;
	background-color: #fff;
	clear: both;
	padding: 10px;
}
.hidden-form span {
	display: inline-block;
	width: 85px;
}
#tbl {
	margin-top: 10px !important;
	width: 200px !important;
}
#tbl span { display: inline !important; }
#tbl input { width: 30px !important; }
#tbl td { padding: 3px !important; }
{% if embed %}
	body {
		padding-top: 0px !important;
	}
{% endif %}

{% endblock %}

{% block main_content %}
{% if not pdf %}
    <form id="the_form" method="post" action="." {% if embed %}class="embed"{% endif %}>
        {% csrf_token %}
        <div class="clearfix layout_panel">
            <div class="options">
                <div>Choose a layout:</div>
                <input type="radio" name="orientation" id="portrait" value="portrait"
                       class="layout_control"> Portrait<br>
                <input type="radio" name="orientation" id="landscape" value="landscape"
                       class="layout_control"> Landscape<br>
            </div>
            <div class="options more">
                <div>Will you be collecting data?</div>
                <input type="radio" name="print_type" id="map_form" value="map_form"
                       class="layout_control"> Yes<br>
                <input type="radio" name="print_type" id="map_report" value="map_report"
                       class="layout_control"> No<br>
            </div>
            <!-- div id="layout_options"></div -->
            <div class="options more" id="form_options">
                <div>Include a table?</div>
                <span id="span_same_page" style="float:left; margin-right: 15px;">
                    <input id="short_form" name="short_form"
                       type="checkbox" class="layout_control"/> Same page
                </span>
                <input id="long_form" name="long_form"
                       type="checkbox" class="layout_control"/> Next page  <br />
                <select id="form" name="form_id"></select>
                <input name="form_name" id="form_name" type="text" value="Enter table name..."
                       style="display:none;width:140px;" onFocus="if(this.value == 'Enter table name...') {this.value = '';}"
                       onBlur="if (this.value == '') {this.value = 'Enter table name...';}"/>
                <a href="#" id="cancel_add_new_form"
                   style="display:none;float:right;margin-top:6px;">&times;</a>
            </div>
            <div class="options more"  id="project_options">
                <div>Choose a project:</div>
                <select id="project_id" name="project_id" style="margin:2px 0px 15px 0px;">
                    <option value="-1">-- Select a project --</option>
                    {% for p in projects %}
                        <option value="{{p.id}}" {% if p.id == selected_project.id %}selected="true"{% endif %}>{{p.name}}</option>
                    {% endfor%}
                    <option value="add">-- Create new project --</option>
                    <input name="project_name" id="project_name" type="text" value="Enter new project name..."
                       style="display:none;width:160px;" onFocus="if(this.value == 'Enter new project name...') {this.value = '';}"
                       onBlur="if (this.value == '') {this.value = 'Enter new project name...';}"/>
                    <a href="#" id="cancel_add_new_project"
                        style="display:none;float:right;margin-top:6px;">cancel</a>
                </select>
            </div>
            {% if not embed %}
                <div class="options more">
                    <input id="submit" type="submit" value="Generate Map PDF" class="btn primary"
                           style="margin:15px 0px 15px 0px;" />
                </div>
            {% else %}
                <input id="submit" type="submit" style="display:none;" />
            {% endif %}
        </div>
        
        <div class="clearfix" style="padding-top:90px;">
        
            <!--message-->
            <div class="clearfix" id="no_save_warning" style="display:none;">
                <div class="alert-message warning" style="margin-bottom:0px;min-height:25px;">
                    <h4 style="float:left;margin-right:10px;line-height:22px !important;">Info:</h4>
                    Prints that are not used for data entry will not be saved to your profile.
                    This selection is meant to be used for creating quick maps for
                    presentations and reports.
                </div>
            </div>
    
            <!--map page-->
            <div id="mapFrame" class="shadow mapFrame">
                
                <div class="clearfix" id="header">
                    
                    <div style="float:right;">
                        <label>Name:</label><div class="blank">&nbsp;</div><br><br>
                        <!-- label>Date:</label><div class="blank">&nbsp;</div -->
                        <label>Colors Used:</label>
                        <div style="float:right;border:solid 0px #000;padding:4px;">
                            <div>
                                <img src="/static/images/circle.png" style="width:20px;" />
                                <img src="/static/images/circle.png" style="width:20px;" />
                                <img src="/static/images/circle.png" style="width:20px;" />
                                <img src="/static/images/circle.png" style="width:20px;" />
                                <img src="/static/images/circle.png" style="width:20px;" />
                                <img src="/static/images/circle.png" style="width:20px;" />
                                <img src="/static/images/circle.png" style="width:20px;" />
                                <img src="/static/images/circle.png" style="width:20px;" />
                                <img src="/static/images/circle.png" style="width:20px;" />
                                <img src="/static/images/circle.png" style="width:20px;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> 
                    <h4 id="mapTitle" onclick="o.setTitle();">{{map_title|default_if_none:"Click to enter a map title..."}}</h4>
                    <input id="txtMapTitle" name="map_title" class="title" type="text" value="{{map_title|default_if_none:""}}"
                           style="display:none;" />
                </div>
                <div class="clearfix">
                    <!-- img id="map" src="{{map_image_path}}" / -->
                    <div class="map" id="map_canvas"></div>
                </div>
                <div id="holder1" class="holder">
                    <table class="paper_form" id="paper_form_short" style="display:none;"></table>
                </div>
                <div class="clearfix" id="footer">
                    <div class="instructions" id="instructions" onclick="o.setInstructions();"
                         style="height:82px;margin-right: 5px;float:left;">{{instructions|default_if_none:"Click to enter instructions..."}}</div>
                    <textarea name="instructions" id="txtInstructions" class="instructions" style="height:72px;display:none;">{{instructions|default_if_none:""}}</textarea>
                    <img src="//chart.apis.google.com/chart?cht=qr&amp;chld=Q|0&amp;chl=lg&amp;chs=75x75" id="qrcode">
                </div>
            </div>
            
            {% comment %}Second Page{% endcomment%}
            <div class="shadow mapFrame" id="second_page" style="display:none;">
                <div class="clearfix">
                    <div style="float:right;">
                        <label>Name:</label><div class="blank">&nbsp;</div><br><br>
                    </div>
                </div>
                <div class="clearfix"> 
                    <h4 id="mapTitle_slave" onclick="o.setTitle();" style="width: 726px;"></h4>
                </div>
                <div class="clearfix">
                    <div id="holder2" class="holder">
                        <table class="paper_form" id="paper_form"></table>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="instructions" id="instructions_slave" style="float:left;width:654px;">&nbsp;</div>
                    <img src="//chart.apis.google.com/chart?cht=qr&amp;chld=Q|0&amp;chl=lg&amp;chs=75x75" id="qrcode">
                </div>
            </div>
            
            <div class="clearfix hidden-form" style="display:block;position:absolute;left:2500px;">
                <span>width:</span><input name="width" value="{{ width }}" /><br>
                <span>height:</span><input name="height" value="{{ height }}" /><br>
                <span>zoom:</span><input id="zoom" name="zoom" value="{{ zoom }}" /><br>
                <span>center_lat:</span><input id="center_lng" name="center_lng" value="{{ center_lng }}" /><br>
                <span>center_lng:</span><input id="center_lat" name="center_lat" value="{{ center_lat }}" /><br>
                <span>layer_ids:</span><input name="layer_ids" value="{{ layer_id_string|default_if_none:"" }}" /><br>
                <span>mapimage_ids:</span><input name="mapimage_ids" value="{{ mapimage_id_string|default_if_none:"" }}" /><br>
                <span>map_provider:</span><input type="text" name="map_provider" value="{{ basemap_id }}" /><br>
                <span>generate_pdf:</span><input type="text" name="generate_pdf" value="on" /><br>
                <span>layout:</span><input type="text" name="layout" id="layout" value="{{selectedLayout}}" /><br>
                <span>project_id:</span><input type="text" name="project_id" id="project_id" value="{{selected_project.id}}" />
            
				<table id="tbl">
					<tr>
						<td>Field</td>
						<td>Width</td>
						<td>Ordering</td>
						<td>ID</td>
					</tr>
					{% for form in formset.forms %}
						<tr id="{{ form.prefix }}-row">
							<td {% if form.field.errors or form.non_field_errors %}class="error"{% endif %}>
								{{ form.field }}
								<span>{{ form.instance.field.name }}</span>
								{{ form.field.errors }}
							</td>
							<td {% if form.width.errors or form.non_field_errors %}class="error"{% endif %}>
								{{ form.width }}
								{{ form.width.errors }}
							</td>
							<td {% if form.ordering.errors or form.non_field_errors %}class="error"{% endif %}>
								{{ form.ordering }}
								{{ form.ordering.errors }}
							</td>
							<td>
								{% if form.instance.pk %}
									{{ form.id }}
									{{ form.DELETE }}
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</table>
				{{ formset.management_form }}
			
			</div>
        </div>
        
        <ul id="column_options" style="width: 200px;" class="dropdown-menu"></ul>
    </form>
{% else %}
    <div class="clearfix">
        <div class="alert-message block-message success" style="min-height:25px">
            <h4 style="float:left;margin-right:10px;line-height:22px !important;">Success:</h4>
            Your map print has been successfully generated
        </div>
        <div style="width:400px;margin-left:auto;margin-right:auto;">
            <a href="{{pdf}}" target="_blank">Download Print</a>
            <br>
            <a href="{{pdf}}" target="_blank"><img src="{{map}}" class="thumb" /></a>
        </div>
    </div>
{% endif %}

{% endblock %}
