{% extends "base/base.html" %}
{% block page_title %}My Prints{% endblock %}
{% block style_links %}
    <link href="/static/css/audio.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/css/map.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/scripts/thirdparty/jquery-autocomplete/jquery.autocomplete.css" type="text/css" media="all" rel="stylesheet" />
{% endblock %}
{% block script_links %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3.11&libraries=drawing"></script>
    <!-- enable photo dragging -->
    <script src="{{ JQUERY_UI_PATH }}"></script>
    <script type="text/javascript" src="/static/scripts/thirdparty/infobubble.js"></script>
    <script type="text/javascript" src="/static/scripts/helpers/mapTypes.js"></script>
	<script type="text/javascript" src="/static/scripts/site/player.js"></script>
    
    <!-- overlay & manager libraries -->
    <script type="text/javascript" src="/static/scripts/map/overlays/overlay.js"></script> 
    <script type="text/javascript" src="/static/scripts/map/overlays/point.js"></script> 
    <script type="text/javascript" src="/static/scripts/map/overlays/photo.js"></script> 
    <script type="text/javascript" src="/static/scripts/map/overlays/audio.js"></script> 
    <script type="text/javascript" src="/static/scripts/map/overlays/record.js"></script> 
    <script type="text/javascript" src="/static/scripts/map/overlays/scan.js"></script> 
    <script type="text/javascript" src="/static/scripts/map/overlays/marker.js"></script> 
    <script type="text/javascript" src="/static/scripts/map/managers/manager.js"></script>
    <script type="text/javascript" src="/static/scripts/map/managers/photoManager.js"></script> 
    <script type="text/javascript" src="/static/scripts/map/managers/audioManager.js"></script> 
    <script type="text/javascript" src="/static/scripts/map/managers/tableManager.js"></script> 
    <script type="text/javascript" src="/static/scripts/map/managers/scanManager.js"></script> 
    <script type="text/javascript" src="/static/scripts/map/managers/markerManager.js"></script>
    <script type="text/javascript" src="/static/scripts/map/slideshow.js" ></script>
    
    <script type="text/javascript" src="/static/scripts/map/basemap.js"></script>
    <script type="text/javascript" src="/static/scripts/map/viewer.js"></script>
    <script type="text/javascript" src="/static/scripts/map/editor.js"></script>
{% endblock %}
{% block extra_styles %}{% endblock %}
{% block extra_scripts %}
    var isAdmin = false;
    {% if user.is_superuser %}
        isAdmin = true;
    {% endif %}
    var opts = {
        isAdmin: isAdmin,
        username: '{{user.username}}',
        serverURL: '{{serverURL}}', 
        overlays: {% autoescape off %}{{ overlays }}{% endautoescape %},
        showOutlines: false,
        cloudmadeKey: '{{CLOUDMADE_KEY}}'
    };
    {% if markerID %}
        opts.markerID = {{markerID}};
    {% endif %}
    //opts.markerID = 294;
    {% if markers %}
       opts.markers = {% autoescape off %}{{ markers }}{% endautoescape %};
    {% endif %}
    {% if projects %}
        opts.projects = {% autoescape off %}{{ projects }}{% endautoescape %};
    {% endif %}
    {% if groups %}
        opts.groups = {% autoescape off %}{{ groups }}{% endautoescape %};
    {% endif %}
    {% if lat %}
        opts.center = new google.maps.LatLng({{lat}}, {{lng}});
        opts.zoom = {{ zoom }};
    {% endif %}   
    var driver = null;  
{% endblock %}
{% block pageload_scripts %}
    driver = new localground.editor(); 
    driver.initialize(opts);
{% endblock %}
{% block top_menu %}
	{% include "includes/menus/top_nav_map.html" %}
{% endblock %}
{% block content %}
    
    
    <!-- main content -->
    <div class="map" id="map_canvas"></div>
    <div id="map_panel">
        <div style="padding:10px;">
            
			<!-- alert, error, and success messages -->
			<div class="row">
				{% include "includes/messages.html" %}
			</div>
            <ul class="tabs" data-tabs="tabs">
				<li class="active">
					<a data-toggle="tab" href="#data">Data & Media</a>
				</li>
                <li>
					<a data-toggle="tab" href="#legend">Legend</a>
				</li>
                
                <li>
					<a data-toggle="tab" href="#download">Download</a>
				</li>
            </ul>
            <div id="tab_content" class="tab-content clearfix">
				<div id="data" class="tab_panel active">
                    <div class="inset-block">
                        <button id="mode_toggle" style="display:none;float:right; margin: 0px 5px 0px 5px;"
                                class="btn">Edit</button>
                        <span id="editor-message">
                        {% if num_projects > 0 or ebays %}
                            Use the top menus to add your data on the map
                        {% else %}
                            You have not defined any projects.  In order to create
                            your first project, you can either (1) print a map by clicking the
                            print button (above), or (2) create a new one
                            <a href="/profile/projects/">here</a>.
                        {% endif %}
                        </span>
                    </div>
                    <div id="panel_data"></div>
                </div>
                <div id="legend" class="tab_panel">
                    <div id="panel_legend"></div>
                </div>
                <div id="download" class="tab_panel">Download
                    <div id="panel_download"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="opener">
        <div>
            <div class="sprite ui-icon-right-triangle"></div>        
        </div>
    </div>
    {% block other_layout_elements %}
    
    {% endblock %}
    <div id="my-modal" class="modal hide">
		<div class="modal-header">
		  <a href="#" class="close">&times;</a>
		  <h3 id="dialogTitle">Image Preview</h3>
		</div>
		<div class="modal-body" id="dialogBody"
			 style="padding:0px !important;text-align:center;overflow-y:auto;overflow-x:hidden;">
			
		</div>
		<div class="modal-footer">
			<button class="btn" onclick="driver.hideDialog()">Close</button>
			<button id="do_print" class="btn primary" onclick="driver.generatePrint()">Generate Print</button>
		</div>
	</div>
    
    <!-- slideshow modal -->
    <div id="slide-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body"></div>
    </div>
	{% csrf_token %}
    
{% endblock %}