{% extends "base/base.html" %}
{% block page_title %}My Prints{% endblock %}
{% block style_links %}
    <link href="/static/css/audio.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/scripts/thirdparty/jquery-autocomplete/jquery.autocomplete.css" type="text/css" media="all" rel="stylesheet" />
{% endblock %}
{% block script_links %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3.9&libraries=drawing"></script>
    <!-- enable photo dragging -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.8/jquery-ui.min.js"></script>
    <!-- script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script -->
    <script type="text/javascript" src="/static/scripts/thirdparty/twitter/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/static/scripts/thirdparty/twitter/bootstrap-tabs.js"></script>
    <script type="text/javascript" src="/static/scripts/thirdparty/infobubble.js"></script>
    <script type="text/javascript" src="/static/scripts/helpers/mapTypes.js"></script>
	<script type="text/javascript" src="/static/scripts/site/player.js"></script>
    
    <!-- overlay & manager libraries -->
   <script type="text/javascript" src="/static/scripts/map/overlays/overlay.js"></script> 
   <script type="text/javascript" src="/static/scripts/map/overlays/point.js"></script> 
   <script type="text/javascript" src="/static/scripts/map/overlays/photo.js"></script> 
   <script type="text/javascript" src="/static/scripts/map/overlays/audio.js"></script> 
   <script type="text/javascript" src="/static/scripts/map/overlays/note.js"></script> 
   <script type="text/javascript" src="/static/scripts/map/overlays/paper.js"></script> 
   <script type="text/javascript" src="/static/scripts/map/overlays/marker.js"></script> 
   <script type="text/javascript" src="/static/scripts/map/managers/manager.js"></script>
   <script type="text/javascript" src="/static/scripts/map/managers/photoManager.js"></script> 
   <script type="text/javascript" src="/static/scripts/map/managers/audioManager.js"></script> 
   <script type="text/javascript" src="/static/scripts/map/managers/tableManager.js"></script> 
   <script type="text/javascript" src="/static/scripts/map/managers/paperManager.js"></script> 
   <script type="text/javascript" src="/static/scripts/map/managers/markerManager.js"></script> 
    
    <script type="text/javascript" src="/static/scripts/map/basemap.js"></script>
    <script type="text/javascript" src="/static/scripts/map/viewer.js"></script>
{% endblock %}
{% block extra_styles %}
    html, body {
      margin: 0;
      padding: 0;
      height:100%;
      overflow:hidden;
    }
    h4, h5 {
        line-height: 30px !important;
    }
    input[type=checkbox] {
        /*vertical-align: bottom !important;*/
        margin: 0px 6px 0px 3px;
    }
    .zoom-magnifying-glass {
        margin: 10px 10px 0px 5px;
        width: 12px;
        cursor:pointer;
    }
    .white-links > input {
      margin: 5px 0px 0px 5px;
    }
    .white-links > li {
      padding: 3px;
    }
 
	#map_panel, #map_canvas {
		position: absolute;
		top: 40px;
	}
	#opener {
		position: absolute;
		top: 40px;
		border-left: solid 1px #444;
		border-bottom: solid 1px #444;
		width: 30px;
		height:45px;
		cursor: pointer;
		background-color: #fff;
		box-shadow: -1px 1px 2px rgba(0,0,0,.3);
		-moz-box-shadow: -1px 1px 2px rgba(0,0,0,.3);
		-webkit-box-shadow: -1px 1px 2px rgba(0,0,0,.3);
        display: none;
	}
	#opener > div {
		padding: 14px 5px 0px 5px;
	}
	#map_panel {
		box-shadow: -1px 0px 3px rgba(0,0,0,.3);
		-moz-box-shadow: -1px 0px 3px rgba(0,0,0,.3);
		-webkit-box-shadow: -1px 0px 3px rgba(0,0,0,.3);
		border-left: solid 1px #444;
		background-color: #fff;
        display: none;
	}
    
    .show-hide {
        cursor: pointer;
    }
    .toggle-header { overflow: hidden; }
    .overlayPanel {
        margin-left: 12px;
        display: none;
        /*margin-bottom: 10px;*/
    }
    .overlayPanel > div {
        border-bottom: solid #eee 1px;
    }
    /*.overlayPanel img, .overlayPanel input {
        float: left;
        display: block;
    }
    #panel_marker span { margin-left: 30px;}
    */
    .close {
        margin-right: 10px !important;
        margin-top: 2px;
    }
    #panel_marker .close {
        margin-top: 10px;
    }
    /*#panel_photo .close, #panel_audio .close {
        margin-top: -25px;
    }*/
    
    .activated {
        cursor: pointer;
        border-color: #77BC3E;
    }
    
    .activated:hover {
        border-color: #0069d6;
        -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
        -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
        box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    }
    #projectListContainer {
        overflow-x: hidden;
    }
    #projectList li, #mediaList li {
        display: block;
        float: none;
    }
    .unhide { margin-right: 5px; display: none; }
    /* important for Google Map controls; overrides boostrap.css */
    .gmnoprint label {
        width: auto !important;
        float: none !important;
    }
    
    /* special audio styles: */
    .top-player.playercontroller {
        border: solid 2px #000;
        display:inline-block;
        margin:8px 0px 0px 20px;
    }
    .top-player.playercontroller > .counter {
        margin-left: 186px;
        margin-top: -20px;
        float: none !important;
        color: #CCC !important;
    }
    .top-player.playercontroller > .counter span.elapsed {
        color: #A7CBF9 !important;
    }
{% endblock %}
{% block extra_scripts %}
    var isAdmin = false;
    {% if user.is_superuser %}
        isAdmin = true;
    {% endif %}
    var opts = {
        isAdmin: isAdmin,
        username: '{{user.username}}',
        serverURL: '{{serverURL}}', 
        overlays: {% autoescape off %}{{ overlays }}{% endautoescape %},
        showOutlines: false,
        initialMapLayerID: 12,
        minimizeRightPanel: true,
        cloudmadeKey: '{{cloudmadeKey}}'
    };
    {% if markerID %}
        opts.markerID = {{markerID}};
    {% endif %}
    //opts.markerID = 294;
    {% if markers %}
       opts.markers = {% autoescape off %}{{ markers }}{% endautoescape %};
    {% endif %}
    {% if projects %}
        opts.projects = {% autoescape off %}{{ projects }}{% endautoescape %};
    {% endif %}
    {% if groups %}
        opts.groups = {% autoescape off %}{{ groups }}{% endautoescape %};
    {% endif %}
    {% if lat %}
        opts.center = new google.maps.LatLng({{lat}}, {{lng}});
        opts.zoom = {{ zoom }};
    {% endif %}
    {% if basemap_id %}
        opts.initialMapLayerID = {{basemap_id}};
    {% endif %}
    {% if project_id %}
        opts.initProjectID = {{ project_id }};
        {% if access_key %}
            opts.accessKey = '{{ access_key }}';
        {% endif %}
    {% endif %}
    {% if view_id %}
        opts.initViewID = {{ view_id }};
        {% if access_key %}
            opts.accessKey = '{{ access_key }}';
        {% endif %}
    {% endif %}
   
    var driver = null;  
{% endblock %}
{% block pageload_scripts %}
    driver = new localground.viewer(); 
    driver.initialize(opts);
{% endblock %}
{% block top_menu %}
	{% include "includes/menus/top_nav_map.html" %}
    {% block projects %}<!--hide-->{% endblock %}
{% endblock %}
{% block content %}
    
    
    <!-- main content -->
    <div class="map" id="map_canvas"></div>
    <div id="map_panel">
        <div style="padding:10px;">
            <!-- h4>Load Your Data Here!</h4 -->
            <ul class="tabs" data-tabs="tabs">
				<li class="active">
					<a href="#data">Data & Media</a>
				</li>
                <li>
					<a href="#legend">Legend</a>
				</li>
                
                <li>
					<a href="#download">Download</a>
				</li>
            </ul>
            <div id="tab_content" class="tab-content clearfix">
				<div id="data" class="tab_panel active">
                    <div id="panel_data"></div>
                </div>
                <div id="legend" class="tab_panel">
                    <div id="panel_legend"></div>
                </div>
                <div id="download" class="tab_panel">Download
                    <div id="panel_download"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="opener">
        <div>
            <div class="sprite ui-icon-right-triangle"></div>        
        </div>
    </div>
    {% block other_layout_elements %}
    
    {% endblock %}
    
{% endblock %}