{% extends "profile/data_list.html" %}
{% block page_title %}
	<img class="header-icon" src="/static/images/headphones_large.png" />
	Manage <span style="color:#ccc">Audio</span>
{% endblock %}

{% block style_links %}
	{{ block.super }}
    <link href="/static/css/audio.css" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block script_links %}
	{{ block.super }}
	<script type="text/javascript" src="/static/scripts/site/player.js"></script>
    <script type="text/javascript" src="/static/scripts/site/account/audio.js"></script>
{% endblock %}

{% block pageload_scripts %}
	o = new localground.audio();
	o.initialize(opts);
{% endblock %}

{% block hidden_form_fields %}
	{{ block.super }}
{% endblock %}

{% block controls_menus %}
	<li class="dropdown" data-dropdown="dropdown" style="width:100px;">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options</a>
		<ul class="dropdown-menu" style="width:200px;">
			<li><a id="delete_objects" href="#">Delete</a></li>
			<li><a id="move_project" href="#">Move to another project</a></li>
		</ul>
	</li>
{% endblock %}

{% block row_header %}
	<tr>
		<th scope="col" class="column-cb" >
			<input class="checkall" type="checkbox" name="checkall"/>
		</th>
		<th scope="col">File</th>
		<th scope="col">Name</th>
		<th scope="col">Map Info</th>
	</tr>
{% endblock %}

{% block rows %}
	{% for form in formset.forms %}
		<tr>
			<td class="column-cb">
				<input class="checkone" id="cb_{{form.instance.id}}" name="id" type="checkbox" value="{{form.instance.id}}" />
			</td>
			<td>
				<div class="playercontroller">
					<div class="button play"><a>PLAY</a></div>
					<div class="button pause"><a>PAUSE</a></div>
					<div class="button stop"><a>STOP</a></div>
					<div class="timeline"><a href="#slider" class="playerslider">SLIDER</a></div>
					<div class="counter">
						<span class="elapsed">00:00</span>|<span class="duration">00:00</span>
					</div>
				</div>
				<input type="hidden" value="{{form.instance.absolute_virtual_path}}" />				
				
			</td>
			<td>
				{% include "includes/forms/generic_form_renderer.html" %}	
			</td>
			<td>
				<div class="thin">
					<label>ID:</label><div class="input blue">{{ form.instance.id }}</div>
				</div>
				<div class="thin">
					<label>Last Updated:</label>
					<div class="input blue">
						on {{form.instance.time_stamp|date:"n/j/Y P" }}<br />
						by {{ form.instance.last_updated_by}}
					</div>
				</div>
				<div class="thin">
					<label>Project:</label><div class="input blue">{{ form.instance.project.name }}</div>
				</div>
				<div class="thin">
					<label>File Name:</label><div class="input blue">{{ form.instance.file_name_orig }}</div>
				</div>
				{% if form.instance.source_mapimage %}
					<div class="thin">
						<label>Map Image:</label><div class="input blue">{{ form.instance.source_mapimage.name }}</div>
					</div>
				{% endif %}
				{% if form.instance.source_marker %}
					<div class="thin">
						<label>Marker:</label><div class="input blue">{{ form.instance.source_marker.get_name }}</div>
					</div>
				{% endif %}
				<div class="thin">
					<label>Coordinates:</label><div class="input blue">{{ form.instance.display_coords }}</div>
				</div>
			</td>
		</tr>
	{% endfor %}

{% endblock %}
