{% extends "profile/data_list.html" %}
{% load unslugify %}
{% block page_title %}
	<img class="header-icon" src="/static/images/clipboard_large.png" />
	Manage <span style="color:#ccc">{{ object_name_plural|unslugify|title }}</span>
{% endblock %}

{% block script_links %}
	{{ block.super }}
    <script type="text/javascript" src="/static/scripts/site/account/profile.js"></script>
    <script type="text/javascript" src="/static/scripts/site/account/mapimages.js"></script>
{% endblock %}
{% block extra_styles %}
	{{block.super}}
	#the_table select { width: 200px !important; }
{% endblock %}

{% block pageload_scripts %}
	o = new localground.mapimages();
    o.initialize(opts);
{% endblock %}

{% block hidden_form_fields %}
	{{ block.super }}
{% endblock %}

{% block controls_menus %}
	<li class="dropdown" data-dropdown="dropdown" style="width:100px;">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options</a>
		<ul class="dropdown-menu">
			<li><a id="delete_objects" href="#">Delete</a></li>
			<li><a id="add_object" href="#">Upload</a></li>
			<li><a id="move_project" href="#">Move to another project</a></li>
			<li><a id="reprocess" href="#">Re-Process</a></li>
		</ul>
	</li>
{% endblock %}

{% block row_header %}
	<tr>
		<th scope="col" class="column-cb" >
			<input class="checkall" type="checkbox" name="checkall"/>
		</th>
		<th scope="col">Image</th>
		<th scope="col">Name</th>
		<th scope="col">Map Info</th>
	</tr>
{% endblock %}

{% block rows %}
	{% for form in formset.forms %}
		<tr>
			<td>
				<input class="checkone" id="cb_{{form.instance.id}}" name="id" type="checkbox" value="{{form.instance.id}}" />
			</td>
			<td>
				{% if form.instance.file_name_thumb %}
					<img class="thumb" style="max-width: 200px; max-height: 200px;"
						 src="{{form.instance.thumb}}" />
					<input type="hidden" value="{{form.instance.thumb}}">
				{% else %}
					&nbsp;
				{% endif %}	
				
			</td>
			<td>
				{% include "includes/forms/generic_form_renderer.html" %}	
			</td>
			<td>
				Last updated by
				<span>{{ form.instance.last_updated_by}}</span>
				on <span>{{form.instance.time_stamp|date:"n/j/Y P" }}</span>.		
				<ul style="margin-bottom:0px">
					<li>Id: <span>{{ form.instance.id }}</span></li>
					<li>uuid: <span>{{ form.instance.uuid }}</span></li>
					<li>Owned by: <span>{{ form.instance.owner }}</span></li>
					<li>Project: <span>{{ form.instance.project.name }}</span></li>
					<li>Status: <span>{{form.instance.status.name}}</span></li>
					<li>Print: <span>{{form.instance.source_print.name}} </span></li>
				</ul>
			</td>
		</tr>
	{% endfor %}
{% endblock %}

{% block no_objects %}
	{{ block.super }}
{% endblock %}