.header-icon { vertical-align:text-bottom; }
.filter {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.filter > a {
    display: inline-block;
    margin-left: 3px;
    cursor:pointer;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    vertical-align: text-bottom;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 10px;
    padding-left: 2px;
}

.filter > a:hover {
    text-decoration: none;
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: #333;
    background-color: #fff;
}
#filter-menu {
    width: 480px;
    max-width: 600px;
    margin-top:1px;
    border-top: solid 1px #ddd;
    overflow-y: auto;
}
#filter-menu .clearfix {
    width: 220px;
    display: inline-block;
    margin: 2px 0px 2px 0px !important;
}
#filter-menu label { width: 75px; }
#filter-menu .input { margin-left: 80px; }
#filter-menu input, #filter-menu select {
    height: 20px;
    font-size: 12px;
    line-height: 14px;
    padding: 1px;
    width: 120px;
}
#filter-menu select {
    padding: 2px;
    width: 124px;
    height: 24px !important;
}
#filter-menu textarea {
    width: 338px;
    margin-left: 80px;
    height: 70px;
}
