ul.main-menu {
  margin-top: 80px;
}

.top-level-obj-ul {
  display: none;
}

.top-level-obj-ul:target {
  display: block;
}

.top-level-obj-li {
  height: 2em;
  margin-top: 8px;
}

.top-level-obj-li.active-group {

}

.top-level-obj-li.active-item {

}

.top-level-obj-li i {
  display: none;
  margin-left: 1.5em;
  opacity: 0.75;
}

.top-level-obj-li:hover i {
  display: inline-block;
}

.top-level-obj-li.test {
  /*background-color: orange;*/
}
