ul.main-menu {
  margin-top: 80px;
}

.bs-docs-sidenav > li > a.floating-gear {
  border: 0px solid #E5E5E5;
  display: inline;
  margin: 0px;
  padding: 0px;
}

.bs-docs-sidenav .icon-cog {
    float: right;
    margin-right: 75px;
    margin-top: -23px;
    opacity: 0.75;
    display: none;
}

.bs-docs-sidenav> li:hover .icon-cog {
  display: inline;
}

.top-level-obj-ul {
  display: none;
}

.top-level-obj-ul:target {
  display: block;
}

.top-level-obj-li {
  height: 2em;
  margin-top: 8px;
}

.top-level-obj-li i {
  display: none;
  margin-left: 1.5em;
  opacity: 0.75;
}

.top-level-obj-li:hover i {
  display: inline-block;
}

.top-level-obj-li.test {
  /*background-color: orange;*/
}
