@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans:300,400,600,800,300italic,400italic|Source+Code+Pro|Montserrat:400,700|Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Slabo:300,400,700|PT+Serif:300,400,700|Lemonada:300,400,700);
@import url(https://fonts.googleapis.com/css?family=consolas|Comfortaa:300,400,700|Amatic+SC:300,400,700|Pacifico:300,400,700|Permanent+Marker:300,400,700);
.style-main-panel {
  height: calc(100% - 61px);
  top: 41px;
  display: flex;
  position: absolute;
  width: 100%;
}

.style-guide {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 350px 50px;
}

.style-guide header, .style-guide aside, .style-guide main, .style-guide footer {
  padding: 10px;
}

.style-guide header {
  grid-column: span 12;
}

.style-guide aside {
  grid-column: span 3;
}

.style-guide main {
  grid-column: span 8;
}

.style-guide .container {
  border: solid 1px #CCC;
  margin-top: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.style-guide .container textarea.code {
  font-family: consolas;
  margin-top: 20px;
  font-size: 1em;
  padding: 10px;
  width: calc(100% - 22px);
}

html, body {
  height: 100%;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

html, div, body, h1, h2, h3, h4, h5, h6, p, button, table, input, span, a, select, ul, form, textarea {
  font-family: "Open Sans",Arial,sans-serif;
  font-weight: 400;
  color: #3d3d3d;
}

.breadcrumb {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 transparent, 0 2px 4px -1px transparent;
  z-index: 2;
  position: absolute;
  width: 100%;
}

.breadcrumb-container {
  display: inline-flex;
  padding: 10px 30px;
  height: 20px;
}

.breadcrumb-level-container {
  display: inline-flex;
  position: relative;
}

.breadcrumb-level-container .fa-angle-right {
  padding: 0px 15px;
  line-height: 22px;
}

.breadcrumb-level-container .fa-angle-down {
  line-height: 22px;
  padding: 0px 8px;
  font-weight: 600;
}

.breadcrumb-hover {
  height: 28px;
  border-radius: 3px;
  padding: 0px 5px;
}

.breadcrumb-hover:hover {
  background: #f3f3f3;
}

.breadcrumb-text, .breadcrumb-text_current {
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
}

.breadcrumb-text_current {
  font-weight: 600;
}

.bread-crumb_maplist {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 36px;
  top: 27px;
  z-index: 500;
  background: white;
  padding: 10px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.selected-map {
  padding: 10px;
  border-bottom: solid 1px #ebebeb;
  font-size: 12px;
  background: #FFF;
  font-weight: 600;
  color: #666;
}

.selected-map-name {
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  width: 75%;
}

.map-preview {
  padding: 2px 11px;
}

.selected-map-item {
  padding: 0;
}

.selected-map-item p {
  display: inline-block;
  cursor: pointer;
}

.list-item {
  border-bottom: 1px solid #ebebeb;
  font-size: 12px;
  list-style: none;
  background-color: #f7f7f7;
}

.list-item:hover {
  background: #EEE;
  color: #444;
}

.list-item a {
  text-decoration: none;
  padding: 6px 32px;
  display: inline-block;
  width: 100%;
}

.list-item p {
  display: inline-block;
  margin-top: 3px;
  vertical-align: middle;
}

.layer-datasource {
  font-size: 11px;
  margin-left: 20px;
}

.layer-style-by {
  font-size: 11px;
  margin-left: 20px;
}

.sort-by {
  width: 100%;
  font-size: 12px;
  padding: 8px 20px;
  /* margin: 10px 0px; */
  display: inline-block;
  background-color: #f7f7f7;
  font-weight: 600;
  border-bottom: 1px solid #ebebeb;
}

.style-by-menu {
  position: absolute;
  background: white;
  left: 50px;
}

.banner-username {
  background-image: url(/static/assets/background-13.png);
  background-size: 100%;
  padding-top: 50px;
}

.banner-username h1 {
  font-weight: 300;
  padding: 0px 0px 44px;
  font-size: 40px;
  letter-spacing: 2px;
  display: block;
  max-width: 80%;
  margin: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}

.top-wrapper {
  width: 100vw;
  height: 80px;
}

/*# sourceMappingURL=main-new.css.map */