@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans:300,400,600,800,300italic,400italic|Source+Code+Pro|Montserrat:400,700|Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Slabo:300,400,700|PT+Serif:300,400,700|Lemonada:300,400,700);
@import url(https://fonts.googleapis.com/css?family=consolas|Comfortaa:300,400,700|Amatic+SC:300,400,700|Pacifico:300,400,700|Permanent+Marker:300,400,700);
/***********************************/
/* General font styles (tag-level) */
/***********************************/
html, body {
  height: 100%;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
}

html, div, body, h1, h2, h3, h4, h5, h6, p, button, table, input, span, a, select, ul, form, textarea {
  font-family: "Open Sans",Arial,sans-serif;
  font-weight: 400;
  color: #3d3d3d;
}

button, a {
  font-size: 12px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/***********************/
/* Custom font classes */
/***********************/
a.logotype {
  padding: 14px 20px 10px 0;
  font-family: "Amatic SC";
  letter-spacing: .1em;
  font-size: 24px;
  display: inline-block;
  text-transform: uppercase;
}

.selection-border-highlight {
  color: white;
  background: #297CBB;
}

.dropdown-hover {
  color: white;
  background: #7b9be1;
}

.off-white {
  background: #fbfcfe;
}

.light-gray {
  background: #f5f5f5;
}

.primary-color {
  color: white;
  background: #4e70d4;
}

.secondary-color {
  color: white;
  background: #008580;
}

.action-color {
  color: white;
  background: #008580;
}

.dark-red {
  color: white;
  background: #d73729;
}

.light-red {
  background: #fae5e3;
}

.title-color {
  color: white;
  background: #354c79;
}

.title-color-hover {
  color: white;
  background: rgba(53, 76, 121, 0.9);
}

html, div, body, h1, h2, h3, h4, h5, h6, p, button, table, input, span, a, select, form {
  padding: 0;
  margin: 0;
  font-family: "Open Sans",Arial,sans-serif;
  color: #3d3d3d;
}

a {
  text-decoration: none;
}

table {
  font-size: 12px;
}

ul {
  font-size: 12px;
  padding-left: 0;
}

.disabled {
  opacity: 0.4;
}

document, body {
  overflow: hidden;
}

div::-webkit-scrollbar, section::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #EEE;
  border-left: solid 1px #CCC;
  border-right: solid 1px #CCC;
}

div::-webkit-scrollbar-thumb, section::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #CCC;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
}

.map-title {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 transparent, 0 2px 4px -1px transparent;
  display: block;
  background: #354c79;
}

.map-title h2 {
  padding: 15px 10px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  width: 260px;
}

.map-title h2 .fa {
  display: none;
}

.map-title:hover {
  background: rgba(53, 76, 121, 0.9);
}

.map-title:hover .fa {
  display: block;
}

.add-layer {
  padding: 10px;
  display: block;
  border-bottom: 1px solid #e4e5eb;
  font-size: 0.8em;
}

.add-layer:hover {
  background: #f5f5f5;
}

.left-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 194px);
}

.style-main-panel {
  height: calc(100% - 43px);
  top: 43px;
  display: flex;
  position: absolute;
  width: 100%;
  border-top: 1px solid #dcdcdc;
}

.print-layout-left {
  width: 450px;
}

.print-layout-right {
  width: 485px;
}

.print-layout-left, .print-layout-right {
  display: inline-block;
  margin: 5px;
  height: 400px;
  vertical-align: top;
}

.print-links {
  text-align: center;
}

#print_map {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.style-guide {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 300px aside, main;
  grid-template-rows-padding: 10px;
}

.style-guide header {
  grid-column: span 12;
}

.style-guide aside {
  grid-column: span 3;
}

.style-guide aside > .menu {
  width: 75%;
  margin-top: 50px;
}

.style-guide main {
  grid-column: span 8;
}

.style-guide .container:first-of-type {
  margin-top: 50px;
}

.style-guide .container {
  border: solid 1px #EEE;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

.style-guide .container textarea.code {
  font-family: consolas;
  margin-top: 20px;
  font-size: 1em;
  padding: 10px;
  width: calc(100% - 22px);
}

.style-guide .container h2, .style-guide .container h3 {
  display: block;
  line-height: 30px;
  font-weight: 300;
}

.style-guide .container h2 {
  border-bottom: solid 1px #EEE;
  padding-bottom: 10px;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.style-guide .container h3 {
  font-size: 1.1em;
  margin-top: 30px;
  margin-bottom: 5px;
}

.style-guide .container p {
  font-size: 0.9em;
}

.style-guide .prettyprint {
  margin-top: 30px;
  border: solid 1px #EEE;
  padding: 10px;
  background: #fbfcfe;
  border: solid 1px #EEE !important;
}

.style-guide .prettyprint li {
  font-size: 0.9em;
}

.style-guide .prettyprint span {
  font-family: monospace;
  font-size: 1.2em;
}

.style-guide .swatch {
  width: 258px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
  display: inline-block;
  border-radius: 5px;
  border: solid 1px #CCC;
  margin: 5px 2px;
  vertical-align: top;
}

.clear {
  clear: both;
}

.show {
  display: block;
}

.selected-map {
  padding: 10px;
  border-bottom: solid 1px #ebebeb;
  font-size: 12px;
  background: #FFF;
  font-weight: 600;
  color: #666;
}

.selected-map-name {
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  width: 75%;
}

.map-preview {
  padding: 2px 11px;
}

.selected-map-item {
  padding: 0;
}

.selected-map-item p {
  display: inline-block;
  cursor: pointer;
}

.layer-container {
  background: white;
}

.layer-container .fa {
  color: #999;
}

.layer-container .symbols {
  border-bottom: 1px solid #e8e8e8;
  margin: 5px 0px 0px 0px;
}

.layer-container .symbols .symbol-level-svg {
  display: none;
}

.layer-container .symbols.minimize .symbol,
.layer-container .symbols.minimize .symbol-item {
  display: none;
}

.layer-container .symbols.minimize .sort-by,
.layer-container .symbols.minimize .count {
  font-weight: normal;
}

.layer-container .symbols.minimize .symbol-level-svg {
  display: inline-block;
}

.layer-container .symbols.minimize .symbol-header {
  line-height: 22px;
}

.layer-container .symbols.minimize .symbol-header .symbol-edit,
.layer-container .symbols.minimize .symbol-header .symbol-display {
  padding-top: 3px;
}

.layer-container .layer-header {
  background: #f7f7f7;
  padding: 10px 0px 7px 0px;
  border-bottom: 1px solid #e8e8e8;
}

.layer-container .layer-header .layer-column {
  padding: 0px 0px 0px 10px;
}

.layer-container .layer-header .add-record-container {
  float: right;
  cursor: pointer;
  height: 20px;
}

.layer-container .layer-header .left-geometry-button {
  float: right;
  padding: 4px 4px 1px 4px;
  border: 1px solid #dadada;
  border-radius: 4px;
}

.layer-container .layer-header .left-geometry-button:hover {
  background: #f1f1f1;
}

.layer-container .layer-header .add-record {
  margin-top: 5px;
  margin-right: 5px;
}

.layer-container .layer-header #select-point, .layer-container .layer-header #select-polygon,
.layer-container .layer-header #select-polyline {
  display: block;
  margin: 0px 0px;
  padding: 3px 2px;
  line-height: 26px;
  font-size: 12px;
  border-top: 1px solid #e4e5eb;
}

.layer-container .layer-header #select-point:hover, .layer-container .layer-header #select-polygon:hover,
.layer-container .layer-header #select-polyline:hover {
  background-color: #EEE;
}

.layer-container .layer-header .add-polygon_svg, .layer-container .layer-header .add-polyline_svg {
  margin-right: 5px;
}

.layer-container .layer-header .layer-name {
  cursor: pointer;
  font-weight: 600;
  display: inline;
  font-size: 13px;
  margin-left: 4px;
}

.layer-container .layer-header .collapse {
  color: #777;
}

.layer-container .layer-header .collapse .symbol-item {
  display: none;
}

.layer-container .layer-header .open-layer-menu {
  float: right;
  padding: 2px 8px 2px 6px;
  cursor: pointer;
}

.layer-container .layer-header .layer-menu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.layer-container .no-symbols-found {
  padding: 0px;
  background: #fff3cd;
}

.layer-container .no-symbols-found > div {
  margin: 30px 10px;
  text-align: center;
  color: #856404;
}

.layer-container .layer-metadata {
  margin: 5px 0px 0px 8px;
  font-size: 11px;
}

.layer-container .layer-metadata td {
  line-height: 10px;
  padding-right: 5px;
}

.layer-container .layer-metadata td .collapse {
  display: inline-block;
  width: 10px;
}

.layer-container .layer-metadata a {
  color: #4691e8;
  font-weight: 600;
  font-size: 11px;
}

.layer-container .layer-metadata a:hover {
  text-decoration: underline;
}

.layer-container .layer-metadata .fa {
  font-size: 1.6em;
}

.hide-layer .lc-2,
.hide-layer .lc-3,
.hide-layer .no-symbols-found,
.hide-layer .add-record-container,
.hide-layer .layer-details {
  display: none;
}

.sort-by {
  font-size: 12px;
  font-weight: 600;
  max-width: 158px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

.count {
  font-size: 12px;
  color: #949393;
  font-weight: 600;
  margin-left: 4px;
}

.symbol-wrapper {
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.symbol-header {
  background: white;
  padding: 0px 7px 0px 29px;
  line-height: 28px;
}

.symbol-edit, .symbol-display, .symbol-edit-individual {
  padding-top: 6px;
  padding-right: 6px;
  float: right;
  font-size: 16px;
}

.symbol-edit, .symbol-edit-individual {
  display: none;
}

.symbol-display.fa-eye {
  display: none;
}

.symbol-display.fa-eye-slash {
  display: inline;
}

.symbol-header:hover .symbol-edit,
.symbol-header:hover .symbol-display,
.symbol-header:hover .symbol-edit-individual,
.symbol-item:hover .symbol-edit,
.symbol-item:hover .symbol-display,
.symbol-item:hover .symbol-edit-individual,
.ind-symbol:hover .symbol-edit,
.ind-symbol:hover .symbol-display,
.ind-symbol:hover .symbol-edit-individual {
  display: inline;
  cursor: pointer;
}

.symbol-header:hover .symbol-edit-individual,
.symbol-item:hover .symbol-edit-individual,
.ind-symbol:hover .symbol-edit-individual {
  margin: 5px 10px 0px 0px;
}

.half-opac .fa-eye,
.half-opac .fa-eye-slash,
.half-opac .sort-by,
.half-opac .symbol-item p,
.half-opac svg {
  opacity: 0.5;
}

.ind-symbol {
  box-sizing: border-box;
  padding: 0px 32px;
}

.ind-symbol svg {
  vertical-align: middle;
}

.ind-symbol .symbol-edit-individual {
  width: auto;
  font-size: 16px;
  padding: 0;
  padding-top: 0px;
}

.ind-symbol_text {
  font-size: 12px;
  padding: 4px 0px;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

.symbol-header svg {
  vertical-align: middle;
}

.symbol {
  padding-bottom: 7px;
  background: white;
}

.symbol .highlight {
  background: #7b9be1;
  color: #fff;
}

.symbol .highlight p {
  color: #fff;
}

.symbol .highlight svg g {
  stroke: #fff;
}

.symbol .highlight:hover {
  background: #EEE;
  color: #444;
}

.symbol .highlight:hover p {
  color: #444;
}

.symbol .highlight:hover svg g {
  stroke: #999;
}

.symbol.individual {
  border-bottom: 0px solid transparent;
  padding-bottom: 0px;
}

.symbol-wrapper.symbol-highlight {
  border: 3px solid #8bb8ed;
}

.symbol-wrapper.symbol-highlight .symbol-header {
  padding: 0px 7px 0px 26px;
}

.symbol-wrapper.symbol-highlight .symbol-item a,
.symbol-wrapper.symbol-highlight .symbol-item > div {
  padding: 2px 0px 2px 31px;
}

i.fa.fa.fa-question-circle {
  font-size: 19px;
  color: #CCC;
  vertical-align: bottom;
  padding: 0px 5px 0px 2px;
}

.symbol-item {
  font-size: 12px;
  list-style: none;
  background-color: white;
  height: inherit;
}

.symbol-item a:hover {
  background: #EEE;
  color: #444;
}

.symbol-item a, .symbol-item > div {
  text-decoration: none;
  padding: 2px 0px 2px 34px;
  display: inline-block;
  width: 100%;
}

.symbol-item .reg-symbol_text {
  margin-top: 3px;
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

.symbol-item svg {
  vertical-align: middle;
}

.style-by-menu {
  position: absolute;
  left: 50px;
  z-index: 501;
}

.style-by-menu_close {
  top: 3;
  right: 3;
  position: absolute;
  cursor: pointer;
}

.symbol-menu {
  z-index: 501;
  position: absolute;
  background: white;
}

.marker-style {
  padding: 0px 10px 5px 10px;
  font-size: 12px;
}

.marker-style .form-inline .row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-style .form-inline .row .msv-label {
  flex: 0 0 85px;
}

.marker-style .form-inline .row .stroke-color {
  height: 25px;
  flex: 0 0 25px;
  border-radius: 5px;
  border: 2px solid rgba(35, 35, 35, 0.15);
}

.palette-container {
  flex: 3;
}

.visual-edit {
  padding: 12px;
  background-color: white;
  border: 1px solid #d4d6db;
  position: relative;
  border-radius: 3px;
}

.msv-header {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

.palette-wrapper {
  width: 200px;
  flex: 1;
  width: 200px;
  position: absolute;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #e4e5eb;
  z-index: 100;
  box-shadow: 2px 2px 2px 1px rgba(53, 76, 122, 0.06);
  display: none;
  top: 1px;
}

#bucket {
  width: 40px;
}

.example-markers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.example-marker-wrapper {
  padding: 2px;
}

.style-options {
  margin-top: 18px;
}

.marker-style-extra {
  display: none;
}

.style-menu {
  font-size: 12px;
  text-align: left;
  padding: 0px 15px;
}

.symbol-title-input {
  width: 100%;
  padding: 4px 6px;
  border-radius: 2px;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  border: solid 1px #ebecf2;
}

.symbol-info {
  font-size: 10px;
  margin-left: 4px;
}

.style-menu_row {
  padding: 6px 0px;
}

.style-menu_block {
  height: 20px;
  width: 50px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  padding: 0;
  margin: 0;
}

.style_attr:first-child .style-menu_block {
  border: 1px solid #d8d8d8;
}

.style_attr:last-child .style-menu_block {
  border: 1px solid #d8d8d8;
}

.style-menu_block input {
  height: 100%;
  width: 100%;
  text-align: center;
  border: none;
}

.style-menu_inner-row {
  display: inline-flex;
}

.style-menu_shape-inner-row {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.style-menu_input-descr {
  text-align: center;
}

.style-menu_shape {
  color: #dbdbdb;
}

.style-menu_shape-wrapper {
  border: 2px solid white;
  padding: 2px;
  border-radius: 3px;
  width: 30px;
  text-align: center;
}

.style-menu_shape-wrapper.selected-shape {
  border: 2px solid #dbdbdb;
}

.style-menu_shape-wrapper:hover {
  border: 2px solid #8bb8ed;
}

/********** for dragging/dropping pins on map ********************/
#follower {
  position: absolute;
  display: none;
}

#add-geometry, #add-rectangle, #delete-geometry {
  display: block;
  text-align: center;
  margin: 30px auto;
  min-width: 180px;
  width: auto;
}

#add-geometry:focus, #add-rectangle:focus, #delete-geometry:focus {
  outline: none;
}

.geometry-list-wrapper {
  text-align: left;
  margin-top: 6px;
}

.geometry-list-wrapper > div {
  display: block;
  margin: 0px 0px;
  padding: 3px 6px;
  font-size: 12px;
  cursor: pointer;
}

.geometry-list-wrapper > div svg {
  vertical-align: middle;
}

.geometry-list-wrapper > div:hover {
  background-color: #7b9be1;
  color: white;
}

.geometry-list-wrapper > div:hover span {
  color: white;
}

.geometry-list-wrapper > div:hover svg, .geometry-list-wrapper > div:hover circle, .geometry-list-wrapper > div:hover g {
  fill: #fff;
  stroke: #fff;
}

.dropdown-svg:hover {
  fill: #ffffff;
  stroke: #ffffff;
}

#drop-marker-message {
  margin-top: -20px;
  margin-bottom: 20px;
  text-align: center;
}

.latlong {
  display: inline;
}

.latlong-container {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 30px;
}

.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.75);
}

.fullScreen .carouselbox {
  position: initial;
}

.fullScreen .circle-buttons {
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.fullScreen .next, .fullScreen .prev {
  height: 100vh;
  top: 0;
  transform: translateY(48%);
}

.fullScreen .photo {
  height: 100%;
  width: 100%;
  max-width: 85vw;
  max-height: 80vh;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fullScreen .carousel-caption {
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.close-fullscreen {
  display: none;
  position: absolute;
  color: #eee;
  z-index: 3;
  margin: 15px;
  right: 0;
}

.show-slide {
  color: #999;
}

.share-settings {
  font-size: 12px;
}

.link-embed_header {
  height: 26px;
  padding-bottom: 4px;
}

.link-embed_container {
  height: 135px;
}

.label-wrapper {
  display: inline-block;
  padding: 6px 7px;
}

.radio-wrapper {
  padding-left: 10px;
}

.radio-item-wrapper {
  display: flex;
  padding: 2px 0px;
}

.radio-item-wrapper input {
  margin-top: 7px;
}

.link-text {
  resize: none;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.5;
  color: #222326;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9dadc;
  border-radius: 0;
}

.embed_container .link-text {
  height: 65px;
}

.link_container .link-text {
  height: 31px;
}

.link-button, .embed-button {
  font-size: 14px;
  margin-right: 6px;
  cursor: pointer;
  color: #8c8b8b;
  font-weight: 600;
}

.link-button.activeLinkButton, .embed-button.activeLinkButton {
  border-bottom: 5px solid #4099ff;
  color: #575757;
}

.label-descr {
  font-size: 11px;
}

#password-input {
  width: 220px;
}

.share-options_header {
  font-size: 14px;
}

.presentation-options_list {
  list-style: none;
  padding: 8px 12px;
}

.presentation-options_list li {
  padding: 6px 6px;
  cursor: default;
  border-bottom: 1px solid #e4e5eb;
  display: flex;
  justify-content: space-between;
}

.presentation-options_list li span {
  font-weight: 600;
}

.presentation-options_list li:last-child {
  border-bottom: none;
  cursor: pointer;
}

.edit-title-card-menu .title-card_label {
  font-style: italic;
  font-size: 11px;
  color: #bcbcbc !important;
}

.edit-title-card-menu .title-card_textarea {
  height: 200px;
}

.photo-icon_wrapper {
  display: flex;
  justify-content: flex-end;
}

.photo-icon_wrapper i {
  color: #888888;
  cursor: pointer;
}

@media (min-width: 901px) {
  #legend {
    height: auto;
    width: auto;
    min-width: 260px;
  }
}

#legend .collapse {
  padding: 0px 3px;
  vertical-align: middle;
  width: 9px;
}

.legend-layer_title {
  font-weight: 700;
  font-size: 13px;
}

.legend-show_symbol.fa-eye {
  display: none;
}

.legend-show_symbol.fa-eye-slash {
  display: inline;
}

.half-opac {
  opacity: 0.5;
}

.symbol-entry-header {
  display: grid;
  grid-template-columns: 27px auto 22px;
  align-items: center;
}

.symbol-entry-header p {
  display: inline-block;
  padding: 0px 4px 0px 0px;
}

.symbol-entry-header:hover .legend-show_symbol {
  display: inline-block;
}

.legend-symbol_expanded {
  display: grid;
  grid-template-columns: auto 22px;
  margin-left: 34px;
}

.legend-symbol_expanded .legend-symbol_svg {
  display: none;
}

.legend-symbol_collapsed {
  display: grid;
  grid-template-columns: 36px auto 22px;
  margin-left: 28px;
}

.legend-symbol_collapsed .legend-symbol_svg {
  display: inline-block;
}

.legend-symbol_ind:hover {
  background: #f0f1f5;
}

.legend-symbol_ind.selectedRecord {
  background: #7b9be1;
}

.legend-symbol_ind.selectedRecord span {
  color: white;
}

.presentation-record_item {
  padding-left: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.presentation-record_item:hover {
  background: #f0f1f5;
}

.presentation-record_item.selectedRecord {
  background: #7b9be1;
}

.presentation-record_item.selectedRecord span {
  color: white;
}

.legend-record_icon {
  width: 36px;
}

.modal.spreadsheet {
  z-index: 2;
}

.modal.spreadsheet .content {
  background: #fafafc;
  transform: none;
  top: auto;
  margin: 40px auto 0 !important;
  padding-bottom: 10px !important;
}

.modal.spreadsheet .content .body {
  overflow: hidden;
  background-color: transparent;
  border-top: 0px solid #e4e5eb;
  max-height: none;
  height: auto;
}

.modal.spreadsheet .content .body > div {
  margin: 0px;
}

.modal.spreadsheet .content .body .spreadsheet-toolbar {
  box-shadow: 0 1px 1px 1px rgba(53, 76, 122, 0.06);
  padding: 0px 20px 10px 20px;
  display: flex;
  z-index: 3000000000;
  position: relative;
}

.modal.spreadsheet .handsontable .columnSorting {
  text-decoration: none;
}

.modal.spreadsheet .handsontable .columnSorting.ascending:after, .modal.spreadsheet .handsontable .columnSorting.descending:after {
  right: 20px;
}

.modal.spreadsheet .handsontable .fa-ellipsis-v {
  color: #999;
  display: inline-block;
  padding: 4px 8px;
  margin-left: auto;
}

.modal.spreadsheet .handsontable .fa-ellipsis-v:hover {
  background: #EEE;
  border-radius: 20px;
}

.modal.spreadsheet .handsontable .hide-overflow {
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

.modal.spreadsheet .handsontable .colHeader {
  display: flex;
}

.modal.spreadsheet .handsontable .fa-trash {
  color: #BBB;
  margin: 10px;
  font-size: 1.3em;
}

.modal.spreadsheet .handsontable .fa-trash:hover {
  color: #DDD;
}

.modal.spreadsheet .play-ctrls {
  margin: 4px;
  background: #F0F0F0;
}

.pw-required-background {
  background-image: url(../assets/splash-map-5.png);
  background-size: cover;
  height: 100%;
  padding-top: 12%;
}

.pw-required-wrapper {
  width: 350px;
  background: #f6f6f9;
  padding: 20px 30px;
  margin: 0 auto;
  border-radius: 5px;
}

.pw-required-wrapper hr {
  border: solid 1px #d8d6d6;
}

#pw-required-label {
  display: block;
  padding-bottom: 12px;
  padding-left: 5px;
}

.pw-required-button-wrapper {
  padding: 15px 0px 0px 0px;
}

.pw-required-header {
  padding-left: 5px;
}

.pw-required-input.row {
  margin: 0 !important;
}

.column {
  width: calc(13% + 1px);
  margin: 4px 5px 8px;
  border: 1px solid #e4e5eb;
  border-radius: 2px;
  flex-direction: column;
}

.column .card-img-preview {
  background-size: cover;
  background-position: center center;
  border-radius: 2px 2px 0 0;
  height: 135px;
}

.column h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding: 10px 10px 1px;
  font-weight: 400;
  display: block;
}

.column h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  padding: 0 10px 12px;
  color: #7a7a7a;
  display: block;
}

#gallery-main.container {
  display: flex;
  flex-wrap: wrap;
}

#dropzone {
  border: dashed 1px #CCC;
  height: calc(100% - 100px);
  margin: 20px;
}

#fileupload {
  opacity: 0;
  position: absolute;
  height: 0px;
}

#dropzone:hover {
  background: #fafafc;
}

.img-polaroid {
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #FFF;
  padding: 5px 5px 10px 5px;
  text-align: center;
}

.img-polaroid .fa-headphones {
  color: #999;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.img-polaroid > p {
  margin-top: 5px;
  line-height: 12px;
  font-size: 11px;
  color: #999;
  margin: 0px;
  text-align: center;
  overflow: hidden;
}

.img-container {
  width: 145px;
  max-height: 140px;
  min-height: 100px;
  overflow: hidden;
}

.preview {
  width: 145px;
}

.audio-holder, .error-holder {
  display: inline-block;
  width: 145px;
}

.file-container {
  width: 155px;
  height: 190px;
  float: left;
  margin: 0px 8px 8px 0px;
}

#nothing-here {
  text-align: center;
  margin-top: 40px;
  width: 100%;
  font-size: 20px;
  color: #666;
}

span.plus {
  width: 28px;
  height: 28px;
  border: solid 1px #CCC;
  border-radius: 40px;
  display: inline-block;
  background: #FFF;
  line-height: 22px;
}

/****************************/
/*        Video CSS         */
/****************************/
.video-form {
  width: 550px;
}

.video-form input {
  padding: 6px;
  background-color: white;
  border-radius: 4px;
  width: 100%;
}

.video-container iframe {
  width: 250px;
  height: 200px;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  border: solid 1px #CCC;
}

nav li.active {
  border-bottom: solid;
  font-weight: 600;
  border-color: #4e70d4;
}

nav li.active {
  border-bottom: solid;
  font-weight: 600;
  border-color: #4e70d4;
}

.modal-body .grey-bg {
  background-color: #eee;
  border-top: 1px solid #ddd;
  margin: 0px !important;
}

.filter {
  padding: 18px;
  width: calc(100% - 40px);
  background-color: #fafafc;
  margin: 0;
  border-bottom: 1px solid #e4e5eb;
  border-top: 1px solid #e4e5eb;
}

.filter #table-view-button-modal, .filter #card-view-button-modal {
  width: 50px;
}

.filter .button-secondary {
  background-color: #fafafc;
  border: none;
  border-radius: 3px;
  padding: 0 12px;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 2px;
  border: 1px solid #e4e5eb;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
  line-height: 26px;
  height: 29px;
  vertical-align: bottom;
  letter-spacing: 0.7px;
  width: 80px;
}

.filter .button-secondary.active {
  background-color: #f1f3fb;
  border-color: #4e70d4;
}

.modal-search-form {
  width: 300px;
  display: inline-block;
}

.modal-search-form .fa {
  padding: 4px 0 4px 16px;
  color: #7a7a7a;
}

.modal-search-form input {
  padding: 6px;
  background-color: white;
  margin-right: -40px;
  border-radius: 4px;
  width: 100%;
}

.modal-search-form button {
  outline: none;
  border: none;
  background-color: transparent;
}

.pull-right {
  float: right;
}

#gallery-main.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px 14px 24px;
}

.selected-card {
  color: #fff;
  background-color: #7b9be1;
}

.selected-card h1, .selected-card h2, .selected-card > .fa-map-marker, .selected-card .coords {
  color: #fff;
}

.database-views-modal table {
  width: 100%;
  font-size: 13px;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
}

.database-views-modal table tr {
  cursor: pointer;
  border-bottom: 1px solid #E2E2E2;
}

.database-views-modal table th {
  text-align: left;
  line-height: 20px;
  font-weight: 600;
  padding: 5px;
}

.database-views-modal table td {
  padding: 0px 0px;
  border: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /*line-height: 40px;*/
  padding: 5px;
}

.database-views-modal table td .fa, .database-views-modal table td .fab {
  color: #999;
  margin-left: 10px;
}

.database-views-modal .table:hover, .database-views-modal td:hover {
  background-color: #7b9be1;
  color: white;
}

.thumbnail-img {
  height: 36px;
  width: 36px;
  padding: 4px 10px 4px 20px;
}

.pull-right {
  float: right;
}

#media-photos, #media-audio, #media-videos {
  float: right;
}

.error {
  background-color: #fae5e3;
  color: #b94a48;
  padding: 5px;
}

.errorMessage {
  color: #b94a48;
  margin: 0px 15px;
  font-size: 13px;
}

.success-message, .failure-message, .warning-message {
  position: absolute;
  display: none;
  z-index: 100000000;
  width: 500px;
  top: 100px;
  left: 30%;
  padding: 20px;
  border-radius: 8px;
  border-width: 2px;
}

.success-message {
  color: #468847;
  background-color: #dff0d8;
  border: solid 1px #468847;
}

.failure-message {
  color: #b94a48;
  background-color: #f2dede;
  border: solid 1px #eea6a6;
}

.warning-message {
  color: #666622;
  background-color: #f2f2de;
  border: solid 1px #bb6;
}

/****************************************************************************************/
/*                                            AUDIO                                     */
/****************************************************************************************/
/* Put all generic audio formatting here */
audio {
  display: none;
}

/**************************
 * Old Templated Player
 **************************/
/*

 these may be important, but need to be applied to specific classes, not just '.fa'
.fa {
    display: inline-block;
    text-rendering: auto;
}
*/
.audio-container {
  background: #EDEDED;
  color: #686868;
  text-align: center;
  font-family: Candara, Calibri, Segoe;
  /*min-height: 200px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;*/
  margin: auto;
  padding: 20px;
}

.audio-container span {
  font-size: 1.6em;
  /* margin-top: 20px; */
  display: block;
}

.progress {
  height: 10px;
  width: 110px;
  background: #CBCBCB;
  border-radius: 2px;
  overflow: hidden;
  margin: auto;
  cursor: pointer;
}

.progress > div {
  height: 10px;
  width: 0;
  background: #686868;
}

.progress-circle {
  height: 15px;
  width: 15px;
  border: 6px solid #686868;
  background-color: white;
  border-radius: 5px;
  top: -5px;
}

.play {
  cursor: pointer;
  /*  width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 0 15px 30px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(104, 104, 104); */
  margin: 20px auto;
}

.play-ctrls {
  text-align: center;
  margin: 20px 0 10px;
}

.spreadsheet .play-ctrls {
  margin: 0px;
}

.spreadsheet .play {
  margin: 10px;
  color: #666;
}

.spreadsheet > div {
  padding: 0px !important;
  margin: 0px auto !important;
  /*border: solid 1px #000;*/
}

.empty-message {
  text-align: center;
  margin-top: 30vh;
  color: #AAA;
  font-size: 30px;
  font-weight: bold;
}

.play.pause {
  width: 10px;
  height: 30px;
  border-width: 0 10px 0 10px;
  border-color: #686868;
}

.fwd-back {
  vertical-align: top;
  padding: 5px 20px;
}

.vol {
  margin-top: 10px;
  user-select: none;
}

.vol i {
  cursor: pointer;
  margin-right: 5px;
}

/**************************
 * Simple Player
 **************************/
.audio-simple {
  width: 100%;
  height: 100%;
  border-radius: 2px 2px 0 0;
  height: 100px;
  background-size: 410px auto;
  background-position: center center;
}

.progress-container {
  width: calc(100% - 80px);
  margin: auto;
}

.audio-basic .play {
  margin-top: 15px;
  margin-left: -2px;
  position: relative;
  z-index: 10;
  color: #686868;
}

.audio-basic {
  width: 100px;
  height: 100px;
  display: inline-block;
  background: #f0f1f5;
  /*margin: 10px 10px 0px 0px;*/
}

/**************************
 * Simple and Detailed Player
 **************************/
.progress-container {
  width: calc(100% - 40px);
  display: inline-block;
  text-align: left;
}

.audio-simple .audio-progress {
  padding: 10px 20px 17px 20px;
  position: relative;
}

.audio-detail .audio-progress {
  padding: 10px 0px 17px 0px;
  position: relative;
}

.audio-simple .audio-labels, .audio-detail .audio-labels {
  font-size: 12px;
  color: #7a7a7a;
  display: inline-block;
  /*  position: absolute; */
  top: 4px;
  width: 10%;
}

.audio-progress-bar {
  color: #999999;
  background-color: #f6f6f9;
  height: 2px;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid;
}

.audio-simple .audio-progress-bar {
  width: 100%;
}

.audio-detail .audio-progress-bar {
  width: 100%;
}

.audio-simple .audio-progress-duration, .audio-detail .audio-progress-duration {
  background-color: #999999;
  color: #999999;
  width: 0px;
  height: 2px;
  border-radius: 10px;
  display: inline-block;
  margin-top: -4px;
  border: 1px solid;
}

.audio-simple .audio-progress-circle, .audio-detail .audio-progress-circle {
  height: 12px;
  width: 12px;
  border-radius: 40px;
  border: 1px solid #999999;
  background-color: #f6f6f9;
  margin-top: -9px;
  margin-left: -8px;
  position: relative;
}

.audio-simple .progress-container {
  width: 100%;
}

/**************************
 * Detailed Player
 **************************/
.audio-detail {
  /*  border: 1px solid #e4e5eb;  */
  margin: 16px;
  position: relative;
}

.audio-detail .play-ctrls {
  text-align: center;
  margin: 20px 0 10px;
  color: #898989;
}

.fwd-back {
  vertical-align: top;
  padding: 5px 20px;
  font-size: 1.2em;
}

.audio-detail .play {
  margin: -4px 10px 5px 0px;
  float: left;
}

.audio-info {
  width: 90%;
  float: left;
  text-align: left;
  font-size: 12px;
  /*  font-weight: bold; */
}

.audio-caption {
  font-style: italic;
  margin-top: 7px;
  display: inline-block;
  text-align: left;
}

.audio-detail .audio-container {
  /*   background: #FFFFFF; */
}

.breadcrumb {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 transparent, 0 2px 4px -1px transparent;
  position: absolute;
  width: 100%;
  min-height: 44px;
}

.presentation-options-btn {
  padding-right: 10px;
  padding-top: 8px;
}

.breadcrumb-container {
  padding: 5px 5px 5px 30px;
}

.breadcrumb-container .button-secondary, .breadcrumb-container .button-action {
  margin-top: 2px;
}

.breadcrumb-container .breadcrumb-hover, .breadcrumb-container .fa {
  display: inline-block;
}

.breadcrumb-container .fa-angle-right {
  padding: 0px 15px;
}

.breadcrumb-container .fa-angle-down {
  padding: 0px 8px;
  font-weight: 600;
  line-height: 5px;
}

.breadcrumb-container .breadcrumb-hover {
  border-radius: 3px;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
}

.breadcrumb-container .breadcrumb-hover:hover {
  background: #f3f3f3;
}

.breadcrumb-container .breadcrumb-hover > a, .breadcrumb-container .breadcrumb-hover > span {
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
}

.breadcrumb-container .breadcrumb-hover span.current {
  font-weight: 600;
}

#map-list {
  position: absolute;
  margin-left: -5px;
  margin-top: 11px;
  z-index: 500;
  border-radius: 0px 0px 5px 5px;
}

.button, .button-action, .button-primary, .button-secondary, .button-tertiary {
  border: none;
  border-radius: 3px;
  line-height: 26px;
  /*height: 29px;*/
  vertical-align: middle;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 12px;
}

.button-action {
  background-color: #008580;
  color: white;
  border: solid 1px #e4e5eb;
}

.button-primary {
  background-color: #4e70d4;
  color: white;
  padding: 0 11px;
  border: 1px solid transparent;
}

.button-secondary {
  background-color: #fff;
  border: 1px solid #e4e5eb;
}

.button-secondary:hover {
  background-color: #f1f3fb;
  border-color: #4e70d4;
}

.button-tertiary {
  text-transform: uppercase;
  font-weight: 600;
  color: #4e70d4;
  background: none;
  border: none;
}

.button-warning {
  color: #d73729;
}

span.rounded, a.rounded {
  background-color: #e7e7e7;
  color: #767676;
  font-size: 12px;
  padding: 1px 8px;
  border-radius: 20px;
  margin: 0 2px;
  font-weight: 400;
}

span.action.rounded, a.action.rounded {
  border: 1px solid #e7e7e7;
  background-color: white;
}

span.action.rounded:hover, a.action.rounded:hover {
  border-color: #7eace2;
  color: #4e70d4;
}

.form, .form-inline {
  /*This CSS trick only works w/Chrome */
}

.form input:disabled, .form input[type="checkbox"]:disabled, .form label:disabled, .form-inline input:disabled, .form-inline input[type="checkbox"]:disabled, .form-inline label:disabled {
  opacity: 0.4;
}

.form textarea, .form input[type="text"], .form input[type="number"], .form input[type="date"],
.form input[type="password"], .form input[type="email"], .form select, .form-inline textarea, .form-inline input[type="text"], .form-inline input[type="number"], .form-inline input[type="date"],
.form-inline input[type="password"], .form-inline input[type="email"], .form-inline select {
  padding: 4px 6px;
  border-radius: 2px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px;
  width: 100%;
  border: solid 1px #ebecf2;
}

.form textarea, .form-inline textarea {
  height: 75px;
}

.form input[type="radio"], .form-inline input[type="radio"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: 2px solid #999;
  border-top-color: #AAA;
  border-left-color: #AAA;
  background: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  vertical-align: middle;
}

.form input[type="radio"]:checked, .form-inline input[type="radio"]:checked {
  border: 6px solid #4099ff;
}

.form input[type="checkbox"], .form-inline input[type="checkbox"] {
  margin: 0px;
  -webkit-appearance: button;
  background-color: white;
  margin-left: 4px;
  margin-right: 2px;
}

.form input[type="checkbox"]:before, .form-inline input[type="checkbox"]:before {
  content: '\f096';
  font-family: 'Font Awesome\ 5 Free';
  color: #555;
  font-size: 20px;
  vertical-align: middle;
  color: #999;
  font-weight: 900;
  display: inline-block;
  width: 18px;
}

.form input[type="checkbox"]:checked:before, .form-inline input[type="checkbox"]:checked:before {
  content: '\f14a';
  color: #4099ff;
}

.form .row, .form-inline .row {
  flex-wrap: wrap;
}

.form .row label, .form .row p, .form-inline .row label, .form-inline .row p {
  padding: 8px;
  font-weight: 400;
  color: #666;
  font-size: 12px;
  text-align: right;
  word-wrap: break-word;
}

.form .row.error, .form-inline .row.error {
  background-color: #fae5e3;
  padding: 5px 10px;
}

.form .row.error label, .form .row.error p, .form-inline .row.error label, .form-inline .row.error p {
  color: #d73729;
}

.form .row.error input[type="checkbox"], .form-inline .row.error input[type="checkbox"] {
  background-color: #fae5e3;
}

.form .checkbox-list td, .form-inline .checkbox-list td {
  font-size: 0.7em;
}

.form .checkbox-list:disabled td, .form-inline .checkbox-list:disabled td {
  font-size: 0.7em;
}

.form-inline .row {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0px;
  /* direct descendents inline */
}

.form-inline .row > label {
  flex: 1;
  /*border: solid 1px #000;*/
}

.form-inline .row > textarea, .form-inline .row > input[type="text"], .form-inline .row > input[type="number"],
.form-inline .row > input[type="date"], .form-inline .row > input[type="password"], .form-inline .row > input[type="email"],
.form-inline .row > select, .form-inline .row > div {
  flex: 3;
}

.form-inline .row.error div {
  display: flex;
  flex-wrap: wrap;
}

.form-inline .row.error div p {
  padding: 0px;
}

.form-inline .row.error div input[type="checkbox"] {
  background-color: #fae5e3;
}

.form .row {
  margin: 16px 0px;
}

.form .row > label,
.form .row > p {
  font-weight: 600;
  flex: 1;
  text-align: left;
}

.form .row > p {
  line-height: 1em;
  margin: 0px;
  font-weight: 400;
  padding-top: 3px;
}

.modal p.error {
  color: #d73729;
  font-size: 0.8em;
  background: transparent;
  padding: none;
}

.tgl {
  display: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 40px;
  height: 20px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
}

.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all .2s ease;
}

.tgl-light:checked + .tgl-btn {
  background: #3b99fc;
}

.banner-username {
  background-image: url(/static/assets/background-13.png);
  background-size: 100%;
  padding-top: 50px;
}

.banner-username h1 {
  font-weight: 300;
  padding: 0px 0px 44px;
  font-size: 40px;
  letter-spacing: 2px;
  display: block;
  max-width: 80%;
  margin: auto;
}

.menu {
  margin-left: auto;
  margin-right: 20px;
  border: solid 1px #EEE;
  border-radius: 5px;
  background: white;
}

.menu a {
  display: block;
  line-height: 1.2em;
  padding: 12px 25px 12px 15px;
  position: relative;
  border-bottom: 1px solid rgba(219, 230, 236, 0.5);
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9em;
}

.menu a .show-on-hover {
  float: right;
  color: #999;
  display: none;
}

.menu a:after {
  height: 10px;
  width: 10px;
  position: absolute;
  pointer-events: none;
  right: 12px;
  top: 16px;
  content: "";
  background-size: cover;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2232%22%20height%3D%22232%22%20viewBox%3D%220%200%2032%20232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M11.336%20123.5l12.5%2012.5-3.334%203.332-9.166%209.168-3.334-3.334L17.17%20136l-9.168-9.168%203.334-3.332%22%20fill%3D%22%23206FAC%22%2F%3E%3Cpath%20d%3D%22M11.336%2083.5l12.5%2012.5-3.334%203.332-9.166%209.168-3.334-3.334L17.17%2096l-9.168-9.168%203.334-3.332%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M11.336%2043.5l12.5%2012.5-3.334%203.332-9.166%209.168-3.334-3.334L17.17%2056l-9.168-9.168%203.334-3.332%22%20fill%3D%22%2367737B%22%2F%3E%3Cpath%20d%3D%22M11.336%203.5l12.5%2012.5-3.334%203.332-9.166%209.168-3.334-3.334L17.17%2016%208.002%206.832%2011.336%203.5%22%20fill%3D%22%233A434E%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.menu a:hover {
  text-decoration: none;
  background-color: #fbfcfe;
  outline: none;
}

.menu a:hover .show-on-hover {
  display: block;
}

.menu a.active {
  padding-left: 13px;
  border-left: 2px solid #297CBB;
  background-color: #fbfcfe;
  color: #3b444f;
}

.dropdown-menu {
  width: auto;
  background-color: white;
}

.dropdown-menu .divider {
  border-top: solid 1px #DDD;
  margin: 6px 0px 6px 0px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0px;
}

.dropdown-menu ul li {
  text-align: left;
  display: block;
  text-transform: none;
  line-height: 100%;
}

.dropdown-menu ul li a {
  display: block;
  padding: 8px 15px 8px 15px;
}

.dropdown-menu ul li:hover {
  background-color: #7b9be1;
}

.dropdown-menu ul li:hover a {
  color: white;
}

.htContextMenu {
  z-index: 5 !important;
}

.modal {
  display: none;
  position: fixed;
  z-index: 20000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  /*
      Field Form Modal
    */
}

.modal .content {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  vertical-align: middle;
  border-radius: 6px;
  background-color: #fefefe;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 20px auto 0;
  width: 800px;
  height: auto;
  position: relative;
}

.modal header {
  width: calc(100% - 40px);
  padding: 15px;
}

.modal header h1 {
  text-transform: uppercase;
  letter-spacing: .04em;
  font-size: 12px;
  font-weight: 600;
  margin: 0px;
}

.modal header .close {
  color: #888;
  float: right;
  font-size: 24px;
  line-height: 12px;
  cursor: pointer;
}

.modal .body {
  background-color: #ffffff;
  border-top: 1px solid #e4e5eb;
  max-height: 75vh;
  overflow-y: auto;
}

.modal .body.media > div {
  margin: 0px;
}

.modal .body > div {
  margin: 20px;
}

.modal .body nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal .body nav li {
  display: inline-block;
  padding: 14px 4px;
  font-size: 12px;
  margin: 0 20px 0 20px;
  font-weight: 400;
  font-size: 12px;
}

.modal .body .inline-form {
  margin: 6px 0px;
  width: 100%;
}

.modal .body .inline-form td {
  padding: 0px 6px;
}

.modal .body .inline-form label {
  text-align: left;
}

.modal .body.gray {
  background: #EEE;
}

.modal footer {
  border-top: solid;
  border-color: #e4e5eb;
  border-width: 1px;
  padding: 16px 20px;
  text-align: right;
}

.modal .buttons {
  text-align: right;
}

.modal .close {
  color: #888;
  float: right;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
  color: #DDD;
  text-decoration: none;
  cursor: pointer;
}

.modal h1 {
  text-transform: uppercase;
  letter-spacing: .04em;
  font-size: 12px;
  font-weight: 600;
}

.modal h2 {
  font-size: 22px;
  font-weight: 400;
}

.modal .map-input {
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
  width: 25em;
  margin-bottom: 20px;
  margin-top: 15px;
}

.modal .map-input:focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #4d90fe;
  outline: none;
}

.modal .fieldTable {
  width: 100%;
}

.modal .fieldTable th:last-child {
  text-align: right;
}

.modal .fieldTable td:last-child {
  text-align: right;
}

.modal .fieldTable .th-display-field {
  width: 40px;
}

.modal.show {
  display: block;
}

.popover {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
}

.link-anchor {
  position: relative;
  width: 0;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.anchor-wrapper {
  border: none;
}

.anchor-wrapper:hover .link-anchor {
  opacity: 1;
}

.popper header {
  padding: 10px 8px;
}

.popper header h3 {
  text-transform: uppercase;
  letter-spacing: .04em;
  font-size: 12px;
  font-weight: 600;
  margin: 0px;
}

.popper header .close {
  color: #888;
  float: right;
  font-size: 24px;
  line-height: 12px;
  cursor: pointer;
}

.popper,
.tooltip {
  position: absolute;
  background: white;
  color: black;
  width: 150px;
  border-radius: 2px;
  /*box-shadow: 0 0 2px rgba(0,0,0,0.4);*/
  box-shadow: 1px 1px 16px 1px rgba(0, 0, 0, 0.2);
  padding: 0px 0px 5px 0px;
}

.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 10px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: rgba(0, 0, 0, 0.1);
}

.style5 .tooltip .tooltip-arrow {
  border-color: #1E252B;
}

.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 10px 10px 0 10px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -20px;
}

.popper[x-placement^="top"] .popper__arrow::after {
  border-style: solid;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px 10px 0 10px;
  border-top-color: white;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: 2px;
  left: -10px;
}

.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 10px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 10px 10px 10px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -10px;
  left: calc(50% - 10px);
  margin-top: 0;
  margin-bottom: 0;
}

.popper[x-placement^="bottom"] .popper__arrow::after {
  border-style: solid;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -8px;
  left: calc(50% - 10px);
  border-color: transparent transparent #FFF transparent;
  border-width: 10px;
}

.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}

.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 10px 10px 10px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -10px;
  top: calc(50% - 10px);
  margin-left: 0;
  margin-right: 0;
}

.popper[x-placement^="right"] .popper__arrow::after {
  border-style: solid;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: -8px;
  border-color: transparent #FFF transparent transparent;
  border-width: 10px;
}

.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 10px;
}

.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 10px 0 10px 10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -10px;
  top: calc(50% - 10px);
  margin-left: 0;
  margin-right: 0;
}

.right {
  float: right;
}

nav.toolbar-main {
  height: 60px;
  border-bottom: 1px solid #e4e5eb;
  background-color: white;
  width: 100%;
  box-shadow: 0 2px 1px 1px rgba(53, 76, 122, 0.06);
  font-size: 14px;
  position: relative;
  z-index: 40;
  padding-left: 10px;
}

nav.toolbar-main > div {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

nav.toolbar-main .nav {
  margin-top: 17px;
}

.nav {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  list-style: none;
  padding: 0px;
}

.nav > li {
  line-height: 30px;
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
  padding: 0 2px;
  border-top: solid 2px transparent;
}

.nav > li:hover {
  border-top: solid 2px #297CBB;
}

.nav > li.active {
  border-top: solid 2px #297CBB;
}

.toggle-button {
  text-transform: uppercase;
}

.toolbar-secondary {
  box-shadow: 0 1px 1px 1px rgba(53, 76, 122, 0.06);
  height: 30px;
  padding: 10px 18px;
  width: calc(100% - 36px);
  background-color: #fafafc;
  margin: 0;
  border-bottom: 1px solid #e4e5eb;
  position: relative;
  z-index: 100;
}

.toolbar-secondary h1 {
  padding-bottom: 0px;
  line-height: 30px;
  font-weight: 4right00;
  font-size: 1.4em;
  margin: 0px;
  text-align: center;
}

.top-wrapper {
  width: 100vw;
  height: 80px;
}
