.center {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}
.configPanel { 
    float: left;
    width: 300px;
    margin-right: 20px;
    padding: 10px 0px 0px 10px;
    background-color: #EEE;
    border: solid 1px #CCC;
    overflow: auto;
}
.mapFrame {
    border: solid 1px #CCC;
    margin-bottom: 100px;
    float: left;
    clear: both;
}

.map {
    margin: 0 50px 10px 50px; 
    border: solid 4px #000;
}

#qrcode {
    margin: 0px 0px 20px 0px;
    border: solid 4px #000;
}

#mapTitle {
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 50px;
    padding: 5px;
}

.titleInput { margin: 15px 0px 10px 40px; }

.textBox {
    border: solid 1px #999;
    color: #333;
    font-size: 1.2em;
    width: 190px;
    height: 30px;
    padding: 3px 5px 0;
    margin-right: 5px;
    margin-left: 50px;
    margin-top: 35px;
    
    /* Shadow */
    box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
}

.layoutPanel {
    margin-top: 20px;
    border: solid 1px #999;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;  
}
.layoutPanel legend {
    font-size: 1.2em;
    font-weight: bold;
}

#instructionsDiv { float: left;margin-left:50px;height:75px; }
#instructions { padding:4px;height:100%; }
#txtInstructions { display:none;width:100%;height:100%; }
#qrDiv { float:left; width:150px; margin-left: 7px;}
