@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,500,600,800|Amatic+SC");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("https://unpkg.com/leaflet@1.5.1/dist/leaflet.css");
html, body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding-top: 60px;
}

body, p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  font-size: 1.0em;
}

header {
  z-index: 1000;
  position: fixed;
  background-color: white;
  width: 100vw;
  top: 0;
  height: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 10fr;
      grid-template-columns: 7fr 10fr;
      grid-template-areas: "left right";
}

header > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  padding-left: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .heading h1 {
  margin: 0px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  font: 2.5em "Amatic SC", cursive;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0px 10px;
  border-radius: 10px;
  cursor: pointer;
}

header .heading h1:hover {
  background: #EEE;
}

.mobile {
  display: none;
}

.header-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100% - 150px) 150px;
      grid-template-columns: calc(100% - 150px) 150px;
}

.menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.search {
  margin-right: 30px;
}

.search > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item {
  font-size: 1.1rem;
  color: #CCC;
  margin-left: 10px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.menu-item.active i {
  background: #7B8CDE;
  color: white;
  padding: 6px;
  border-radius: 5px;
}

pre {
  font-size: 1.0em;
  line-height: 1.3em;
  border-radius: 5px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  font-weight: 600;
  text-align: right;
  padding-right: 10px;
}

table td, table th {
  border: dotted 1px #CCC;
  padding: 3px;
  font-size: 0.9em;
}

.tag {
  background: #F0F0F0;
  border-radius: 5px;
  padding: 3px 6px;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-right: 6px;
  margin-top: 6px;
  display: inline-block;
}

/**********/
/* Search */
/**********/
.hide {
  display: none;
}

.less {
  display: none;
}

.no-matches {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - 200px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.audio-player {
  width: 100%;
  padding: 35px 0px 0px 0px;
  margin: auto;
}

.audio-player:last-child {
  padding: 35px 0px 35px 0px;
}

.audio-player .player-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.audio-player .playAudio {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 1.2em;
  color: #999;
}

.audio-player p {
  margin: 0 0 0 5px;
  line-height: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.audio-player p small {
  font-size: 10px;
}

.audio-player p.caption {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 0.8em;
}

.audio-player .seekObjContainer {
  position: relative;
  width: calc(100% - 80px);
  margin: 0 5px;
  height: 5px;
}

.audio-player .seekObjContainer .seekObj {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
  border: 1px solid #CCC;
}

.audio-player .seekObjContainer .percentage {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #7B8CDE;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

h2 {
  font: 2em "Amatic SC", cursive;
  color: #777;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.card {
  margin-bottom: 30px;
  word-break: break-all;
}

.card > div {
  border: solid 1px #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  margin-top: 0px;
}

.card .snippet {
  display: none;
}

.card .add-button {
  display: none;
}

.card:hover {
  cursor: pointer;
}

.card:hover .add-button {
  float: right;
  font: 3em "Amatic SC", cursive;
  color: #777;
  text-decoration: none;
  border: solid 1px #777;
  line-height: 25px;
  width: 30px;
  height: 30px;
  margin-right: -5px;
  text-align: center;
  border-radius: 20px;
  display: block;
}

.card .metadata {
  display: none;
}

.card .properties {
  width: 100%;
}

.card .properties.table-style td:first-child {
  width: 120px;
  text-align: right;
  padding-right: 5px;
}

.card .properties.table-style strong {
  font-weight: 600;
}

.card .properties.paragraph-style th, .card .properties.paragraph-style td {
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100% !important;
  font-size: 1.0em;
  border: none;
}

.card .properties.paragraph-style td:first-child {
  margin-top: 15px;
  font-weight: 600;
  margin-bottom: -8px;
}

.card .properties.paragraph-style strong {
  font-weight: 500;
}

.card-header-minimized img {
  height: 70px;
  float: left;
}

.card-header-minimized h2 {
  margin: 0;
  height: 70px;
  line-height: 70px;
}

.card-header-minimized h2 span {
  display: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 40px;
  padding-left: 10px;
  overflow: hidden;
}

.card-header-minimized .more {
  bottom: 24px;
  background: white;
  position: absolute;
  right: 7px;
  text-decoration: none;
  color: #444;
  font-size: 1.5rem;
}

.card-header-minimized .more:hover {
  color: #7B8CDE;
}

.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  border: solid 1px #EEE;
}

.carousel > section {
  height: 390px;
}

.carousel .fa {
  position: relative;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7) !important;
  top: 155px;
  font-size: 3em;
  color: white;
  height: 0px;
  margin-left: 10px;
  z-index: 20;
}

.carousel .fa.next {
  float: right;
  margin-right: 10px;
}

.carousel .slide {
  width: 100%;
  padding: 0px;
  position: absolute;
  display: inline-block;
  background: white;
}

.carousel .slide img, .carousel .slide iframe {
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.carousel .slide iframe {
  width: 100%;
}

.carousel .slide.active {
  left: 0%;
  -webkit-transition: 0.45s ease;
  transition: 0.45s ease;
}

.carousel .slide.left {
  left: -250%;
  -webkit-transition: 0.45s ease;
  transition: 0.45s ease;
}

.carousel .slide.right {
  left: 250%;
  -webkit-transition: 0.45s ease;
  transition: 0.45s ease;
}

.carousel .slide.hide-left {
  left: -250%;
}

.carousel .slide.hide-right {
  left: 250%;
}

.carousel .slide.current {
  left: 0%;
}

.carousel .slide .caption {
  text-align: center;
  line-height: 0.3em;
}

.thumbnails {
  margin-bottom: 20px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thumbnails img {
  width: 45px;
  margin: 2px 2px 0px 0px;
}

.thumbnails .fa, .thumbnails .far, .thumbnails .fas {
  color: #AAA;
  margin: 15px 5px 0px 0px;
}

.no-carousel img {
  width: 100%;
  margin-bottom: 20px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

input#search-bar {
  margin: 0;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: none;
  /* outline: none; */
  background: #f1f3f4;
  border-radius: 5px;
}

input#search-bar:focus {
  border: 1px solid #7B8CDE;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  color: #555;
  background: white;
}

input#search-bar:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

input#search-bar:focus::-moz-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

input#search-bar:focus:-ms-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

.filter-button {
  color: #555;
  margin-left: -35px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding-top: 2px;
}

.filter-button:hover {
  background: white;
  border-radius: 20px;
  text-decoration: none;
}

.filter-panel {
  background: white;
  border-radius: 5px;
  width: 50vw;
  height: 50vh;
  position: absolute;
  z-index: 1000;
  padding: 10px;
}

.legend {
  width: 250px;
  background: white;
  padding: 5px;
  border-radius: 6px;
  border: solid 2px rgba(0, 0, 0, 0.1);
}

.legend section {
  margin-top: 10px;
  min-height: 100px;
  max-height: calc(var(--vh, 1vh) * 100 - 145px);
  overflow-y: auto;
}

.legend .layer-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 20px auto;
      grid-template-columns: 20px 20px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.legend .layer-header .collapse {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.2em;
  cursor: pointer;
}

.legend .layer-title {
  font-weight: 500;
  font-size: 1.1em;
  cursor: pointer;
}

.legend .symbol-container {
  padding-top: 5px;
}

.legend .symbol-entry {
  margin-bottom: 10px;
}

.legend .symbol-entry.hidden {
  opacity: 0.4;
}

.legend .symbol-entry .symbol-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35px 25px auto 20px;
      grid-template-columns: 35px 25px auto 20px;
      grid-template-areas: ". symbol label eye";
  line-height: 25px;
  height: 25px;
}

.legend .symbol-entry .symbol-header .symbol {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: symbol;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.legend .symbol-entry .symbol-header .symbol svg {
  vertical-align: middle;
  max-height: 25px;
  width: 25px;
}

.legend .symbol-entry .symbol-header .title {
  padding-left: 3px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: label;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.legend .symbol-entry .symbol-header .show-hide {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: eye;
}

.legend .symbol-entry .symbol-header .show-hide .fa-eye, .legend .symbol-entry .symbol-header .show-hide .fa-eye-slash {
  line-height: 25px;
  color: #999;
  cursor: pointer;
}

.legend .symbol-entry .symbol-header .show-hide .fa-eye {
  display: none;
}

.legend .symbol-entry .symbol-header:hover {
  background: #F0F0F0;
}

.legend .symbol-entry .symbol-header:hover .fa-eye {
  display: block;
}

.legend .symbol-entry .symbol-items {
  margin-top: 4px;
}

.legend .symbol-entry .symbol-item {
  padding-left: 63px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 22px;
  color: #666;
  cursor: pointer;
}

.legend .symbol-entry .symbol-item:hover {
  background: #F0F0F0;
  color: #666;
}

.legend .symbol-entry .symbol-item.selected {
  background: #7B8CDE;
  color: #FFF;
}

.legend .symbol-entry.minimized {
  margin-bottom: 0px;
}

.legend .symbol-entry.minimized .symbol-item {
  display: none;
}

.legend .symbol-entry.minimized .symbol-header span {
  font-weight: normal;
}

.legend.minimized {
  min-height: 0px;
  max-height: 40px;
  overflow: hidden;
}

.legend h2 {
  margin: 0px;
  cursor: -webkit-grab !important;
  cursor: grab !important;
  font-family: "Open Sans", sans-serif;
  color: #222;
  font-size: 1.3em;
  line-height: 27px;
  font-weight: 600;
}

.legend .toggle-legend {
  float: right;
  padding-right: 3px;
  font-size: 1rem;
  line-height: 30px;
}

body {
  overflow: hidden;
  height: calc(var(--vh, 1vh) * 100 - 0px);
}

main {
  height: calc(var(--vh, 1vh) * 100 - 60px);
  display: -ms-grid;
  display: grid;
}

#mapid {
  height: 100%;
}

#card-holder {
  display: none;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: .3s, .3s;
          transition-duration: .3s, .3s;
}

main.with-card #card-holder {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  display: block;
  overflow-y: auto;
}

main.with-card #card-holder .card > div {
  border: none;
}

main.with-card #mapid {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main;
}

main.with-card {
  -ms-grid-columns: 7fr 10fr;
      grid-template-columns: 7fr 10fr;
      grid-template-areas: "left main";
}

main.with-card #card-holder.fullscreen {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100 - 0px);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10000;
  overflow-y: auto;
  background: white;
  padding-top: 30px;
}

main.with-card #card-holder.fullscreen .mobile {
  display: none;
}

main.with-card #card-holder.fullscreen .less {
  display: block;
  position: fixed;
  right: -1px;
  top: -1px;
  background: white;
  height: 40px;
  width: 40px;
  line-height: 35px;
  text-align: center;
  border: solid 1px #CCC;
  text-decoration: none;
  color: #444;
  font-weight: 600;
}

main.with-card #card-holder.fullscreen .less:hover {
  background: #F0F0F0;
}

.popup-section {
  min-width: 200px;
  max-width: 300px;
}

.popup-section img {
  max-height: 52px;
  float: left;
  margin-right: 8px;
}

.popup-section h3, .popup-section p {
  margin: 0px;
}

.popup-section p {
  font-size: 1.1em;
  overflow: hidden;
}

.popup-section .fade {
  position: relative;
  height: 54px;
  /* exactly three lines */
}

.popup-section .fade:after {
  content: "...";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 0.85em;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%);
}

/* @media (max-width: 1100px) {
    .grid {
       grid-template-columns: 1fr 1fr 1fr;
    }
} */
@media (max-width: 1000px) {
  .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  header {
    -ms-grid-columns: 5fr 4fr;
        grid-template-columns: 5fr 4fr;
  }
  header .search {
    margin-right: 10px;
  }
  main.with-card {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .card > div {
    border: none;
    margin: 0px;
    padding: 10px 20px 10px 20px;
  }
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  h2 {
    margin-top: 0;
  }
  .grid {
    margin-left: 0px;
    margin-right: 0px;
  }
  header .heading {
    padding: 0px;
    overflow: hidden;
  }
  header .heading h1 {
    margin: 0px;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: left;
    font: 2.0em "Amatic SC", cursive;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0px 10px;
    border-radius: 10px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  header .header-right {
    justify-self: flex-end;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  header .header-right .search {
    display: none;
  }
  header .header-right .menu {
    margin-right: 5px;
  }
  header .header-right .menu .menu-item {
    margin-left: 5px;
  }
  main {
    margin-left: 10px;
    margin-right: 10px;
  }
  th {
    position: -webkit-sticky;
    position: sticky;
    top: 109px;
    background: white;
    border-bottom: solid 1px #CCC !important;
  }
  main.map, main.with-card {
    margin-left: 0px;
    margin-right: 0px;
  }
  main.with-card {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: calc(100% - 70px) 70px;
        grid-template-rows: calc(100% - 70px) 70px;
        grid-template-areas: "main" "left";
  }
  main.with-card #card-holder {
    top: calc(var(--vh, 1vh) * 100 - 70px);
  }
  main.with-card .card {
    overflow: hidden;
  }
  main.with-card .card > .desktop {
    display: none;
  }
  main.with-card .fullscreen .card > .desktop {
    display: block;
  }
  main.with-card .fullscreen .card > div .mobile {
    display: none;
  }
  main.with-card .card > .mobile {
    display: block;
  }
  main.with-card #card-holder {
    overflow-y: hidden;
  }
  /* main.with-card .card .snippet {
        padding: 0px 10px 0px 10px;
        display: block;
    } */
}
/*# sourceMappingURL=public.css.map */