/************************************ General Typography ************************************/


.list-indent, .list-indent-simple, .preview-filter-list {
    list-style: none;
    margin: 0;
}


.list-indent > li, .preview-filter-list > li {
    padding: 6px 22px;
    border-bottom: 1px solid #ebebeb;
}

/************************************ Table type ************************************/

.userTable{
    text-align: left;
    width:100%;
    margin:10px;
}

.userTable th{
    font-weight:400;
    font-size: 12px;
}


/************************************ Side Panel ************************************/

/*Add some padding below the content to compensate for the overlap*/

.save-options{
    position: fixed;
    bottom: 0;width: 372px;
    z-index: 100;
    background-color: white;
    border-top: 1px solid #e4e5eb;
    padding: 14px 20px;
    height: 29px;
}
.save-options-left{
    position: fixed;
    bottom: 0;
    width: 240px;
    z-index: 100;
    background-color: white;
    border-top: 1px solid #e4e5eb;
    padding: 14px 20px;
    height: 29px;
}

.section-card {
    border: 1px solid #e4e5eb;
    background-color: white;
    padding: 10px;
    margin: 20px;
    position: relative;
}



.marker-thumb{
    width: 100px !important;
    height: auto;
}

.uploaded-media {
    display: inline-block;
}
.edit-img-overlay {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    margin: 20px 0 20px 20px;
    height: 110px;
    width: 110px;
}
.carouselbox .fa-chevron-left, .carouselbox .fa-chevron-right {
    margin-top: 0px;
    position: relative;
    top: 120px;
    z-index: 100;
    color: #EEE !important;
    font-size: 48px;
    text-shadow: 1px 2px rgba(0,0,0,0.2);
}
.carouselbox .fa-chevron-left {
    left: 8px;
}
.carouselbox .fa-chevron-right {
    right: 8px;
    float: right;
}


#add-data-type {

}

.single-photo {
    margin: 10px 20px;
}
.single-photo .photo-container {
    border: solid 1px #DDD;
    background: white;
}

.section.description {
    margin: 20px 5px 0px 10px;
}

table.preview-properties {
    border: 1px solid #e4e5eb;
    margin: 20px 40px;
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 40px;
    width: calc(100% - 80px);
}
/*
@media (max-width: 700px) {
    table.preview-properties {
        margin-top: 5px;
        max-width: 400px;
        margin: 0 auto;
    }
}
*/

table.preview-properties td:first-child {
    text-align: right;
    width: 33%;
    min-width: 80px;
    padding-right: 6px;
    font-weight: 500;
}

.tip-container {
    text-align: center;
    margin-top: 5px;
}


/************************************ general layout ************************************/
.section{
    margin:0 20px;
}



.container-1-4{
    flex:1;
}

.confirmation-message {
    text-align: center;
    height: 300px;
}

.confirmation-message .link-pdf {
    margin-top: 100px;
    display: block;
    position: relative;
}

.confirmation-message .link-pdf .fa {
    color: rgb(78,112,212);
}
.download-message {
    margin-top: -150px;
}
.download-message p {
    font-size: 0.8em;
}
.download-message p a {
    text-decoration: underline;
    color: rgb(78,112,212);
}
.rotate-message {
    height: calc(300px - 110px) !important;
    position: relative;
    display: none;
    margin-top: -301px;
    padding-top: 110px;
    /*background: rgba(0, 0, 0, .6);*/
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 14px;
}
.rotate-message p {
    color: white;
}

.view-photo {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center center !important;
    margin-bottom: 6px;
    cursor: pointer;
}

.photo-caption {
    text-align: center;
    color: #999;
}



input.fieldname {
    margin-left: 4px;
}
