/****************************************************************************************/
/*                                       Style App                                      */
/****************************************************************************************/
.filter .data, #toolbar-main {
    position: static;
}

#toolbar-main .buttons{
    padding: 15px;
    position: absolute;
}
.btn-primary {
    float: right;
}

#toolbar-main > div{
    display: flex;    
}

.left-wrapper {
    overflow-y: scroll;
}

.end-section {
    position: relative;
    font-size: 12px;
}

#background-color-picker, #font-color-picker {
    border-radius: 2px;
    margin: 5px 10px;
    border: 1px solid #d0d0d0;
    padding: 2px;
}

.legend-prompt-wrapper {
    background: white;
    border: 1px solid #e4e5eb;
    padding: 4px 7px;
    color: #666;
}


.legend-prompt {
    display: inline-block;
    width: 122px;
}

.legend-checkbox {
    margin: 0px 8px 0px 8px;
    bottom: 5px;
}

.font-dropdown-display {
    font-weight: 300;
    margin-left: 10px;
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.06);

}

.font-dropdown-display div {
    margin: 2px 6px 2px 6px;
    font-weight: 300;
}

.font-options {
    display: none;
    background: white;
    position: absolute;
    flex: 1;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e4e5eb;
    z-index: 100;
    box-shadow: 2px 2px 2px 1px rgba(53, 76, 122, 0.06);
    top: 89px;
    left: 85px;
}

.font-wrapper {
    background: white;
    padding: 1px 5px 1px 0px;
    height: 140px;
    overflow-y: scroll;
    flex: 1;
    width: 140px;
    background-color: white;
    border-radius: 5px;
}

.font-wrapper div:hover {
    background: #4e70d4;
    color: white;
    cursor: default;
}

.font-wrapper div {
    padding: 7px 10px 6px 10px;
}

.font-arrow {
    background: white;
    width: 100%;
    color: gray;
    text-align: center;
}

.arrow-wrapper {
    width: 140px;
    background-color: white;
    padding: 5px 5px 3px 0px;;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
}

.right-panel .right-panel-header {
    padding: 0px 20px 20px 20px;
    border-bottom: 1px solid #e4e5eb;
    text-transform: uppercase;
    letter-spacing: .04em;
    font-size: 12px;
    font-weight: 600;
    margin-top: 20px;
}
.style-section {
    border: none;
    margin: 0px 16px;
    padding: 12px 0;
    min-height: 15px;
    border-bottom: 1px solid #e4e5eb;
    font: 11px;
    position: relative;
}
  
.style-section-header-wrapper {
   padding: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #666;
}

.style-section-header-wrapper h4 {
   display: inline;
   font-weight: 600;
   color: #666;
}

.style-section-header-wrapper a {
    color: #666;
}

.style-section-header-wrapper h4 {
    display: inline;
    font-weight: 600;
    color: #666;
}

.style-section-header-wrapper a {
    color: #666;
}

/*
.map-select {
    width: calc(93%);
    margin-top: 10px;
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 14px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #e4e5eb;
    box-shadow: 0 2px 0px 0 rgba(0,0,0,.02);
    background-size: 60px 40px;
    margin-left: 10px;
    overflow: hidden;
    background-color: white;
}
*/

.map-item, .selected-map-item {
    padding: 4px 8px;
}

.map-item p, .selected-map-item p {
    display: inline-block
}

.map-edit {
    float: right;
    cursor: pointer;
}

.map-list {
    display: none;
    box-shadow: 2px 2px 2px 1px rgba(53, 76, 122, 0.06);
    position: absolute;
    top: 49px;
    width: 248px;
    font-size: 12px;
    background: white;
    z-index: 100;
}

.map-item:hover, .map-item:hover p {
    background: #4e70d4;;
    color: white;
    font-weight: 400;
}

.map-item:hover {
    background: #4e70d4;;
    color: white;
}

.selected-map {
    font-size: 12px;
    background: white;
}

.map-none-message {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}

.layers {
    background: white;
   /* border: 1px solid #e4e5eb; */
    /*padding: 10px 0px; */
    margin-top: 10px;
}

.layer-column {
    padding: 0px 10px 5px 10px;
}

.selected-layer {
    background-color: #4e70d4;
}

.selected-layer * {
    color: white;
}

.layer-name {
    display: inline;
    font-size: 12px;
    margin-left: 4px;
}

.layer-none-message {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}

/*
.skin-select {
    display: block;
    margin: 5px 15px;
}
*/

.style-wide-select {
    width: calc(93%);
    margin-top: 10px;
    font-weight: 300;
    font-family: 'Open Sans';
    font-size: 12px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #e4e5eb;
    box-shadow: 0 2px 0px 0 rgba(0,0,0,.02);
    background-size: 60px 40px;
    margin-left: 10px;
    overflow: hidden;
    background-color: white;
}

.map-select-option {
    font-weight: 400;
}


.skin-header {
    display: inline;
}

#font-size, #color-picker {
    margin-left: 10px;
    margin-top: 10px;
}

.style-main-panel table {
    font-size: 12px;
}

.visual-edit {
    padding: 12px;
    background-color: #eceef3;
    border: 1px solid #d4d6db;
    position: relative;
    border-radius: 3px;
    margin-bottom: 20px;
}

.source-code {
    width: 100%;
    max-width: 100%;
    font-family: monospace;
    /* height: 140px; */
    font-weight: 600;
}

table.color-properties {
    width: 100%;
}

table.color-properties td:first-child {
    text-align: right;
    width: 33%;
    padding: 6px;
}

.toggle-buttons ul {
    text-align: right;
    margin: 0;
}

.toggle-buttons li.active {
    margin: 8px 0;
    background-color: rgb(123, 155, 225);
    color: white;
}

.toggle-buttons li.active a {
    color: white;
}

.marker-style-tabs:last-child {
    display: inline-block;
    border-radius: 3px 0 0 3px;
}
.marker-style-tabs:first-child {
    display: inline-block;
    border-radius: 3px 0 0 3px;
}

.toggle-buttons li {
    padding: 4px 6px;
    margin: 0;
    display: inline-block;
    list-style: none;
    background-color: white;
}

.symbols-table {
    background-color: white;
    width: 100%;
    border: solid;
    border-width: 1px;
    border-spacing: 0;
    border-color: #e4e5eb;
}

.symbols-table td {
    font-size: 11px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    padding: 4px 4px;
}

.edit {
    margin-top: 7px;
    float: right;
}

.layer-delete {
    float: right;
    margin-top: 10px;
    margin-left: 8px;
}

.symbols-table th {
    text-align: left;
    width: 57px;
}

.palette-item{
    min-width: 10px;
    height: 12px;
    width: 100%;
    display: inline;
    box-sizing: border-box;
    border-top: .5px solid rgba(0,0,0,0.2);
    border-bottom: .5px solid rgba(0,0,0,0.2);
    
}
.palette-item::before{
    content: "\200B";
    
}

.palette-item:first-child {
    border-width: 1px 0 1px 1px;
    border-radius: 6px 0 0 6px;
}

.palette-item:last-child {
    border-width: 1px 1px 1px 0;
    border-radius: 0 6px 6px 0;
}

.palette-wrapper {
    width: 200px;
    flex: 1;
    width: 200px;
    position: absolute;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #e4e5eb;
    z-index: 100;
    box-shadow: 2px 2px 2px 1px rgba(53, 76, 122, 0.06);
    display: none;
    top: 109px;
}

.selected-palette-wrapper {
    display: block;
    width: 200px;
    flex: 1;
    width: 200px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #e4e5eb;
}

.selected-ul {
    display: inline-block;
    align-content: space-between;
}

.selected-palette-list {
    padding: 10px 7px;
    list-style-type: none;
    width: 170px;
}

.palette-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.palette-list {
    padding: 10px 7px;
    list-style-type: none;
    border-bottom: 1px solid #EEE;
}

.palette-list:hover {
    background: #cee1ff;

}

.palette-icon {
    position: absolute;
    margin-top: 11px;
}

.plus-container {
    margin-top: 5px;
}

.selected-data-source {
    background-color: white;
    width: calc(60%);
    margin-top: 10px;
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 12px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #e4e5eb;
    box-shadow: 0 2px 0px 0 rgba(0,0,0,.02);
    background-size: 60px 40px;
}

.marker-style-select {
    background-color: white;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #e4e5eb;
    box-shadow: 0 2px 0px 0 rgba(0,0,0,.02);
    background-size: 60px 40px;
}

.style-main-panel .button-primary {
    width: auto;
}

.style-reset {
    float: right;
    font-size: 11px;
    text-decoration: underline;
    cursor: pointer;
    color: #666;
}

.selected-symbol-div {
    padding: 2px 4px;
    width: 30px;
    background-color: white;
}

.selected-symbol-div:hover {
    border: 1px solid #c7c7c7;
    box-shadow: 0 2px 0px 0 rgba(0,0,0,.02);
}

.selected-symbol-div .fa-angle-down {
    font-size: 11px;
}

.table-row {
    height: 26px;
}

.symbols-layout-container {
    min-width: 150px;
    min-height: 150px;
    background: white;
    position: absolute;
    text-align: left;
}

.ind-symbols-layout-container {
    min-width: 150px;
    min-height: 150px;
    background: white;
    position: absolute;
    text-align: left;
}

.symbol-menu-tabs {
    display: inline-block;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px 15px;
}

.global-symbol-dropdown {
    position: relative;
}

.ind-symbol-dropdown {
    position: relative;
    top: -16px;
    left: 65px;
    z-index: 100;
}

.title-td {
    width: 85px;
}

.inactive-tab {
    color: white;
    background: #a2a2a2;
}