
<h5>Marker Style</h5>
<div class="toggle-buttons">
    <ul>
        <li class=" active">
            <a class="marker-style-tabs">Basic</a>
        </li>
        <li>
            <a class="marker-style-tabs">CSS</a>
        </li>
    </ul> 
</div>
<div class="toggle-container marker-style visual-edit" id="visual-marker-style">
    <table class="color-properties">
        <tbody>
            <tr>
                <td>Data Type</td> 
                <td>
                    <!-- Need a better term that "data type". this is how the legend is set up so items are organized based on certain properties..-->
                    <select name="place-properties" id="data-type-select">
                        <option value="categorical" {{#ifequal dataType "categorical"}} SELECTED {{/ifequal}}>Category</option>
                        <option value="continuous" {{#ifequal dataType "continuous"}} SELECTED {{/ifequal}}>Continuous</option>
                        <option value="basic" {{#ifequal dataType "basic"}} SELECTED {{/ifequal}}>Simple</option>
                        <option value="individual" {{#ifequal dataType "individual"}} SELECTED {{/ifequal}}>Individual Sites</option>
                    </select>
                </td>
            </tr>
            
{{#ifequal dataType "categorical"}}

            <!-- Rows in this table update based on what "data type" is selected.-->
            <tr class="categorical-variable">
                <td>Property</td> 
                <td>
                    <select>
                        <option value="continuous-variable">Medium</option>
                        <option value="friendliness">Artist</option>
                    </select>
                </td>
            </tr>
    
            <tr class="categorical-variable">
                <td>Marker Shape  </td>
                <td>
                    <select id="quant-shape" name="marker-shapes">
                        <option value="fa-circle">●</option>
                        <option value="square">☐</option>
                        <option value="star">◎</option>
                        <option value="fa-times">╳</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="symbols-table">
        <thead>
            <tr>
                <th>Value</th>
                <th>Legend Label</th> 
                <th>Customize</th> 
            </tr>
        </thead>
        <tbody id="symbols">
            
        </tbody>
    </table>
</div>
{{/ifequal}}
{{#ifequal dataType "continuous"}}
    
            <tr class="continuous-variable">
                <td>Property</td> 
                <td>
                    <select>
                        <option value="categorical-variable">Year</option>
                    </select>
                </td>
            </tr>
            <tr class="continuous-variable" style="display: none;">
                <td>Marker Shape  </td>
                <td>
                    <select id="quant-shape" name="marker-shapes">
                        <option value="circle">●</option>
                        <option value="square">☐</option>
                        <option value="double-circle">◎</option>
                        <option value="x">╳</option>
                    </select>
                </td>
            </tr>
            <tr class="continuous-variable">
                <td>Buckets:</td>
                <td><input id="bucket" type="number" value="{{buckets}}"></td>
            </tr>
            <tr class="continuous-variable">
                <td>Color Ramp</td>
                <td>
                    <div>
                        <a>
                            
                            <div class="selected-palette-wrapper">
                                <a>
                                    <ul class="selected-ul">
                                        {{#with allColors.[1]}}
                                        
                                            <li class="selected-palette-list">
                                                <ul class="palette-container">
                                                    {{#each this}}
                                                    <li class="palette-item" style= "background-color: #{{this}}">
                                                          
                                                    </li>
                                                    {{/each}}
                                                </ul>
                                            </li>
                                       
                                        {{/with}}
                                    </ul>
                                <i class="fa fa-angle-down palette-icon"></i>
                                </a>
                            </div>
                        </a>
                        <div class="palette-wrapper">
                            <ul>
                                {{#each allColors}}
                                <a>
                                    <li class="palette-list">
                                        <ul class="palette-container">
                                            {{#each this}}
                                            <li class="palette-item" style= "background-color: #{{this}}">
                                                
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                </a>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="symbols-table">
        <thead>
            <tr>
                <th>Value</th>
                <th>Legend Label</th> 
                <th>Customize</th> 
            </tr>
        </thead>
        <tbody id="symbols">
            
        </tbody>
    </table>
</div>
{{/ifequal}}

{{#ifequal dataType "basic"}}
        </tbody>
    </table>
</div>

<div>
    <table class="symbols-table">
        <thead>
            <tr>
                <th></th>
                <th>Legend Label</th> 
                <th>Customize</th> 
            </tr>
        </thead>
        <tbody id="symbols">
            
        </tbody>
    </table>
</div>
{{/ifequal}}

