{{#ifequal this.dataType "categorical"}}
<td>{{ color }}<i class="fa fa-circle marker-icon jscolor" style="padding:0; color: {{fillColor}} " aria-hidden="true"></i></td>
<td>{{ title }}</td>
<td>
    <select class="marker-shape">
    {{#each icons}}
        <option value="{{ this.key }}" {{#ifequal ../shape this.key}} SELECTED {{/ifequal}}>{{ this.name }}</option>
    {{/each}}
    </select>    
</td>
{{/ifequal}}


{{#ifequal this.dataType "continuous"}}

<td><i class="fa fa-circle marker-icon jscolor" style="padding:0; color: #{{fillColor}}; opacity: {{fillOpacity}}; aria-hidden="true"></i>{{ color }}</td>
<td>{{ title }}</td>
<td>
    <select class="marker-shape">
    {{#each icons}}
        <option value="{{ this.key }}" {{#ifequal ../shape this.key}} SELECTED {{/ifequal}}>{{ this.name }}</option>
    {{/each}}
    </select>
</td>

{{/ifequal}}

{{#ifequal dataType "no-variable"}}

<td>{{ title }}</td>
<td>edit img</td>

{{/ifequal}}
