
<td>{{ color }}</td>
<td>{{ title }}</td>
<td>
    <select id="quant-shape" name="marker-shapes">
        <option value="circle">circle</option>
        <option value="square">square</option>
        <option value="plus">plus</option>
        <option value="cross">cross</option>
    </select>    
</td>


{{#ifequal dataType "continuous-variable"}}

<td>{{ color }}</td>
<td>{{ title }}</td>
<td>
    <select id="quant-shape" name="marker-shapes">
        <option value="circle">circle</option>
        <option value="square">square</option>
        <option value="plus">plus</option>
        <option value="cross">cross</option>
    </select>
</td>

{{/ifequal}}

{{#ifequal dataType "no-variable"}}

<td>{{ title }}</td>
<td>edit img</td>

{{/ifequal}}
