<h3 class="right-panel-header">Edit Layer</h3>

<section class="style-section" id="data_source_region"></section>

<section class="style-section" id="marker_style_region"></section>

<section class="style-section" id="source_code_style_region"></section>

<section class="style-section" id="filter_rules_region"></section>

<div class="save-options">
    <button class="button-primary pull-right layer-save">Save Layer</button>
</div>
<div class="show-hide hide right-panel-btn" style="display:none;"></div>
