
<h5>Marker Style</h5>
<div class="toggle-buttons">
    <ul>
        <li>
            <a class="marker-style-tabs style-basic-tab">Basic</a>
        </li>
        <li class=" active">
            <a class="marker-style-tabs style-source-tab">Source Code</a>
        </li>
    </ul> 
</div>

<div class="visual-edit">
    <textarea name="symbols" class="source-code" rows="5">
       {{symbols}}
    </textarea>
</div>


<div>
    <table class="symbols-table">
        <thead>
            <tr>
                <th>Value</th>
                <th>Legend Label</th> 
                <th>Customize</th> 
            </tr>
        </thead>
        <tbody id="symbols">
            
        </tbody>
    </table>
</div>