{% extends base_template %}

{% block style_links %}
	{{ form.media.css }}

{% endblock %}
{% block script_links %}

    {{ form.media.js }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&v=3.9"></script>
    <script type="text/javascript" src="/site_media/scripts/lib/mapTypes.js"></script>
    <script type="text/javascript" src="/site_media/scripts/map/basemap.js"></script>
    <script type="text/javascript" src="/site_media/scripts/lib/infobubble.js"></script>
    <script src="/site_media/scripts/site/tables/digitize_snippet.js"></script>
    
    
{% endblock %}
{% block extra_styles %}
    img { vertical-align: top; }
    .clearfix {
        background-color: #EEE;
        padding: 10px !important;
        margin: 8px !important;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }
    .snippet { margin-left: 10px; }
    em { color: #999; }
    label { width: 160px !important; }
    .input { margin-left: 170px !important; }
    
    #latlng_manual_edit_btn {
        float: right;
        position: relative;
        margin-top: -40px;
        display: none;
    }
    
    .datetime {display: inline-block; }
    
    #latlng_manual_edit {
        width: 170px;
        margin-top: -120px;
        z-index: 2000;
        position: relative;
        float:right;
        border: solid 1px #ccc;
    }
    #latlng_manual_edit input {
        padding: 1px;
        margin-bottom: 1px;
        width: 80px;
        font-size: 10px;
    }

    #latlng_manual_edit span {
        padding: 0px;
        width: 60px;
        font-size: 10px;
        font-weight: bold;
        display: inline-block;
    }
{% endblock %}
{% block extra_scripts %}
    {{ block.super }}

    var opts = {
        username: '{{user.username}}',
        form_id: {{form_id}},
        serverURL: '{{serverURL}}', 
        overlays: {% autoescape off %}{{ overlays }}{% endautoescape %},
        embed: {{embed|lower}},
        cloudmadeKey: '{{cloudmadeKey}}'
    };
    {% if source_print %}
        opts.print = {% autoescape off %}{{ source_print }}{% endautoescape %};
    {% endif %}
    {% if source_attachment %}
        opts.attachment = {% autoescape off %}{{ source_attachment }}{% endautoescape %};
    {% endif %}
    {% if record.point %}
        opts.snippet = {
            point: new google.maps.LatLng({{record.point.y}}, {{record.point.x}}),
            id: {{record.id}},
            num: {{ record.num|default_if_none:"null" }}
        };
    {% endif %}
    {% if source_scan %}
        opts.scan = {% autoescape off %}{{ source_scan }}{% endautoescape %};
    {% endif %}
    {% if candidate_scans and candidate_scans|length > 0 %}
        opts.scans = {% autoescape off %}{{ candidate_scans }}{% endautoescape %};
    {% endif %}
    var snippet_helper = new localground.snippet();   
{% endblock %}
{% block pageload_scripts %}
    snippet_helper.initialize(opts);
{% endblock %}

{% block content %}
    {% if message %}
        <div style="margin-top: 10px; margin-bottom: 2px;" class="alert-message {% if success %}success{% else %} error {% endif %}">
            <p>{{message}}</p>
        </div>
    {% endif %}
    {% if form %}
    {% comment %}{{table_name}}{% endcomment %}
    <form id="the_form" method="post" action="." {% if embed %}class="embed"{% endif %}>
        {% csrf_token %}
        <input id="form_id" name="form_id" value="{{form_id}}"type="hidden" />
        <!-- render dynamic form -->
        <fieldset id="params">
            <div>
                <label for="id_point">
                    Create a marker by clicking on the map closest
                    to where this observation took place.</label>
                <div class="input">
                    <div class="thumb" id="map_canvas"
                         style="width: 750px; height: 300px"></div>
                </div>
            </div>
            <div>
                <label for="id_point" style="padding-top:0px !important;">
                    Select the map image that matches this record
                </label>
                <div class="input" style="width: 756px;">
                    <div id="rotator" class="pagination"
                         style="width: 500px; margin: 0px 0px 0px 0px !important">
                        <ul></ul>
                    </div>
                    <a href="#" id="hide_map_image">hide map image</a>
                    <div id="latlng_manual_edit" class="inset-block">
                        <a class="close" href="#">&times</a>
                        <span>Latitude:</span> <input type="text" id="lat" value="{{record.point.y}}" />
                        <span>Longitude:</span> <input type="text" id="lng" value="{{record.point.x}}" />
                    </div>
                    <a href="#" id="latlng_manual_edit_btn">manually edit</a>
                </div>
            </div>
            
            {% if not record.has_field_level_snippets %}
                <div>
                    <label for="id_point"></label>
                    <div class="input">
                        <img src="{{ record.snippet.absolute_virtual_path }}" />
                    </div>
                </div>
            {% endif %}
            <!-- Attachment Name -->
            <div class="clearfix{% if field.errors %} error{% endif %}">
                <label>Attachment Name</label>
                <div class="input" style="margin-top: 8px;font-size: 15px;">
                    <strong>{{ record.snippet.source_attachment.attribution }} -
                    {{ record.snippet.source_attachment.name }}
                    </strong>
                </div>
            </div>
            
            {% for field in form %}
                {% if not field.is_hidden %}
                <div class="clearfix{% if field.errors %} error{% endif %}">
                    {{ field.label_tag }}
                    <div class="input">
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}
                            <span class="help-block">{{field.help_text}}</span>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
        </fieldset>
        <!-- end dynamic form -->
        
        
        <input type="hidden" name="id" value="{{ record.id }}" />
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="hidden" name="next_record" id="next_record" value="" />
        
        
        {% if not embed %}
        {% comment %} only show submit button if not in an iframe {% endcomment %}
        
        <div>
            <label>&nbsp;</label>
            <div class="input">
                {% if no_more %}
                    <input id="save" type="submit" value="Save" class="btn primary" />
                {% else %}
                    <input id="save_and_continue" type="submit" value="Save & Continue" class="btn primary" />
                    <input id="save" type="submit" value="Save" class="btn" />
                {% endif %}
            </div>
        </div>
        {% endif %}
    </form>
    {% endif %}
    
{% endblock %}
