{% extends base_template %}

{% block style_links %}
	{{ form.media.css }} 
{% endblock %}
{% block script_links %}
    {{ form.media.js }}
{% endblock %}
{% block content %}
    {% if message %}
        <div class="alert-message {% if success %}success{% else %} error {% endif %}">
            <p>{{message}}</p>
        </div>
    {% endif %}
	{% if not embed %}
	<h1>{{form.title}}</h1>
	{% endif %}
    {% if form %}

        <form method="post" action="." {% if embed %}class="embed"{% endif %}>
            {% csrf_token %}
			{{ form.errors }}
			{{ form.non_field_errors }}


            {% include "includes/forms/generic_form_renderer.html" %}
            <input type="hidden" name="next" value="{{ next }}" />
			<input type="hidden" name="embed" value="{{ embed }}" />
			<input type="hidden" name="id" value="{{ id }}" />
            
            {% if not embed %}
            {% comment %} only show submit button if not in an iframe {% endcomment %}
            <div class="clearfix">
                <label>&nbsp;</label>
                <div class="input">
                    <input type="submit" value="Save" class="btn primary" />
                </div>
            </div>
            {% endif %}
        </form>
		
    {% endif %}
{% endblock %}