<!-- form container -->
<div id="the_form">
    <div style="width:790px;height:435px;">
        <div style="width:790px;padding-top:2px;">
            <ul id="tabul" class="tabul"></ul>            
            <div id="tabcontent" class="tabcontent"></div><!-- height=320-->
        </div>
        <div class="bottomPane">
            <div style="float:left;margin: 5px 0px 0px 0px;width:400px;">
                <a id="saveButton" class="green button" href="javascript:editor.saveMarker();">Save</a>
                <a id="deleteButton" class="green button" href="javascript:editor.deleteMarker();">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- form tab --> 
<div id="store_panel" style="display: none;">
    <div style="padding:10px;">
        <fieldset id="marker_overview_section">
            <legend>General Marker Infomation</legend>
            <div style="float:left;width:280px;">
                <div class="lbl">Name:</div>
                <input type="text" class="bigTextArea" id="marker_name" />
            </div>
            <div style="float:left;width:150px;">
                Is this a store?<br />
                <input type="radio" name="is_store" value="no"> No<br />
                <input type="radio" name="is_store" value="yes"> Yes<br />
            </div>
            <div id="store_detail" style="float:left;width:300px;">
                <div class="lbl">Which Store?</div>
                <div id="storeContainer" class="divInline"></div>
            </div>
        </fieldset>
        
        <fieldset id="select_a_review" style="display:none;"></fieldset>
        
        <fieldset id="review_section">
            <legend id="review_form_title">Add / Update Your Review</legend>
            <a id="jump_to_review_menu" href="javascript:editor.renderForm(false);">&laquo; Review List</a>
            <br />
            <div class="lbl">Rate:</div>
            <select id="rating">
                <option value="-1">-- Select a Rating --</option>
                <option value="positive">Positive</option>
                <option value="neutral">Neutral</option>
                <option value="negative">Negative</option>
            </select>
            <div id="store_review_detail" style="display:none;">
                <div class="lbl">Classify Store:</div>
                <select id="store_class">
                    <option value="-1">-- Select a Category --</option>
                    <option value="Grocery Store">Grocery Store</option>
                    <option value="Liquor Store">Liquor Store</option>
                    <option value="Corner / Convenience Store">Corner / Convenience Store</option>
                    <option value="Supermarket">Supermarket</option>
                    <option value="Specialty Store">Specialty Store</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="lbl">Select Snippet</div>
            <div id="snippetContainer" class="divInline"></div>
            <ul id="snippet_list" style="margin-top:10px;"></ul>
            <div class="lbl" >Notes:</div>
            <textarea class="bigTextArea" style="height: 100px;width:650px;" id="notes"></textarea>
            <div class="lbl">Tags:</div>
            <textarea class="bigTextArea tagging" style="height: 40px;width:300px;" id="tags"></textarea>
        </fieldset>
    </div>
</div>

 
<!-- photo tab -->   
<div id="photo_panel" style="display: none;">
    <div style="padding:10px;">
        <select id="photo">
            <option value="-1">-- None --</option>
            {% for p in photos %}
                <option value="{{p.0}}" id="{{p.2}}">{{p.1}}</option>
            {% endfor %}
        </select>
        <div style="width:250px;float:left;height:40px;">
            <input type="checkbox" id="photos_from_print" /> Photos from selected print<br />
            <input type="checkbox" id="photos_unmatched" /> Unmatched photos<br />
        </div>
        <ul id="photo_list" style="margin-top:10px;"></ul>
    </div>
</div>

<!-- video tab -->  
<div id="video_panel" style="display: none;">
    <div style="padding:10px;">
        <select id="video">
            <option value="-1">-- None --</option>
            {% for v in videos %}
                <option value="{{v.0}}">{{v.1}}</option>
            {% endfor %}
        </select>
        <ul id="video_list" style="margin-top:10px;"></ul>
    </div>
</div>

<!-- audio tab -->  
<div id="audio_panel" style="display: none;">
    <div style="padding:10px;">
        <select id="audio">
            <option value="-1">-- None --</option>
            {% for a in audio %}
                <option value="{{a.0}}">{{a.1}}</option>
            {% endfor %}
        </select>
        <div style="width:250px;float:left;height:40px;">
            <input type="checkbox" id="audio_from_print" /> Audio from selected print<br />
            <input type="checkbox" id="audio_unmatched" /> Unmatched audio<br />
        </div>
        <ul id="audio_list" style="margin-top:10px;"></ul>
    </div>
</div>

<div id="the_display">
    <div style="width:590px;">
        <div padding-top:2px;">
            <ul id="tabul1" class="tabul"></ul>            
            <div id="tabcontent1" class="tabcontent" style="background-color: #D5DBAD; height: 420px;"></div><!-- height=320-->
        </div>
    </div>
</div>
