{% extends base_template %}

{% block style_links %}
    <link rel="stylesheet" href="/site_media/twitter/bootstrap.css">
    <link rel="stylesheet" href="/site_media/css/jquery.fileupload-ui.css">
{% endblock %}
{% block jquery_version %}
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
{% endblock %}	
{% block script_links %}
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.8/jquery-ui.min.js"></script>
    <!-- script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script -->
    <script src="/site_media/scripts/site/uploader/jquery.fileupload.js"></script>
    
    <!-- for thumbnailing -->
    <script src="/site_media/scripts/site/uploader/load-image.min.js"></script>
    <script src="/site_media/scripts/site/uploader/canvas-to-blob.min.js"></script>
    <script src="/site_media/scripts/site/uploader/jquery.fileupload-ip.js"></script>
	
	<!-- for barcode reader -->
	<script type="text/javascript" src="/site_media/scripts/site/uploader/zxing/src/code-reader-minified.js"></script>
	<script type="text/javascript" src="/site_media/scripts/site/uploader/upload.js"></script>
{% endblock %}

{% block extra_styles %}
	{{block.super}}
    #dropzone {
        background: #EEEEEE;
        width: 860px;
        height: 70px;
        text-align: center;
        font-weight: bold;
		margin-bottom: 0px !important;
    }
    #dropzone.in {
        width: 860px;
        height: 220px;
        font-size: larger;
    }
    #dropzone.hover {
        background: palegreen;
    }
    #dropzone.fade {
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        opacity: 1;
    }

{% endblock %}
{% block extra_scripts %}
    {{block.super}}
    var o = new localground.uploader();
{% endblock %}
{% block pageload_scripts %}
	o.initialize({});    
{% endblock %}

{% block content %}
    
    <div class="container" style="margin-top:20px;">
		
        <div class="row fileupload-buttonbar">
            <div class="span12" style="width:900px;">
               
                <button type="submit" class="btn primary start"
						style="float:right;">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </button>
                
				<h4 style="float:left;margin-right:10px;">Select a Project:</h4>
				<select id="project" name="project">
					{% for p in projects %}
						<option value="{{p.id}}"
							{% if p.id == selected_project.id %}selected="true"{% endif %}>
								{{p.name}}
								{% if username == 'all' %}
									({{p.user.username}})
								{% endif %}
						</option>>
					{% endfor%}
				</select>
            </div>
        </div>
		
		<div id="dropzone" class="fade well">
			Drag files here
			<br>or<br>
			<span class="btn success fileinput-button">
				<i class="icon-plus icon-white"></i>
				<span>Navigate to your files...</span>
				<input id="fileupload" type="file" name="files[]" multiple>
			</span>
		</div>
		<div class="alert-message"
			 style="width:868px;display:none;margin-top:10px;margin-bottom:0px;">
			<a class="close" style="cursor:pointer" data-dismiss="alert">×</a>
			<strong>Warning:</strong>
			<span id="alert-message-text"></span>
		</div>  
		<small>Acceptable file types include PNG, GIF, or JPG/JPEG for images and
			MP3, MP4 or M4A for audio files.</small><br><br>
		
        <table id="display" class="table table-striped" style="display:none;width:900px;">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Preview</th>
                    <th>File Info</th>
                    <th>Project</th>
                    <th>File Type</th>
                    <th>Status</th>
					<th colspan="2">
						<button id="clear" type="reset" class="btn cancel">
							<i class="icon-ban-circle icon-dark"></i>
							<span>Clear</span>
						</button>	
					</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="results"></div>
    <select id="media_type" class="media_type" style="width:120px;display:none;">
        <!-- 1=attachment, 2=map, 3=photo, 4=audio, 5=video -->
        <option value="2">Map / Form</option>
        <option value="3">Photo</option>
    </select>
    
{% endblock %}
