<!DOCTYPE html>
<html>
	<head>
		<title>L.G. Rewrite</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.7/slick.css"/>
		<link rel="stylesheet" type="text/css" href="/static/backbone/css/lg.css">
		<link rel="stylesheet" type="text/css" href="/static/backbone/css/embedded.css">
	</head>

	<body>
        <div id="map_canvas"></div>
	</body>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&v=3.11&libraries=drawing,places,geometry"></script>
    <script src="/static/backbone/js/external/require.js"></script>
    <script src="/static/backbone/js/api/base.js"></script>
    <script>
        var defaultLocation = {
				center: new google.maps.LatLng(40.91351257612757, -123.4423828125),
				zoom: 11
			};
			{% if lat %}
				defaultLocation.center = new google.maps.LatLng({{lat}}, {{lng}});
				defaultLocation.zoom = {{ zoom }};
			{% endif %}
			var basemapOpts = {
				mapContainerID: "map_canvas",
				defaultLocation: defaultLocation,
				includeSearchControl: true,
				includeGeolocationControl: false,
                includeAudioControl: true,
                includeFullScreenCtrl: true,
                includeCaption: true,
				activeMapTypeID: {{ basemap_id|default:"12" }},
				tilesets: {% autoescape off %}{{ overlays }}{% endautoescape %},
                snapshot: {% autoescape off %} {{ snapshot }}　{% endautoescape %}
			};
			require(
				["jquery", "/static/backbone/js/api/embedded-mapplication.js"],
				function($, MapApplication) {
					$(function() {
						MapApplication.start(basemapOpts);
					});
				}
            );

    </script>
</html>