<div class="container-search">
	<div class="container-center">
		<div class="row">
		    <form class="search-form">
		        <input id="searchTerm" type="text" placeholder="Search Projects" value="{{ searchTerm }}">
		        <button id="search">
			        <i class="fa fa-search" aria-hidden="true"></i>
			    </button>
		    </form>
		    <button class="button-primary button-main-action click-to-open button-wide" data-modal="modal-new-map" id="add-project">New Project</button>
		</div>
	</div>
</div>


<div class="container-projects">
	<div class = "container-center" id="gallery-main">
    	<!--project data inserted here -->
    </div>
</div>

<!-- The Modal for New Project -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>Add New Project</h1>
		<label>Name:</label>
		<input type="text" id="name" placeholder="Type name of project">
		<br>
		<label>Description:</label>
		<textarea id="caption" rows = "10" cols = "50"
		placeholder="Type description of project">
		</textarea>
		<br>
		<label>Tags:</label>
		<input id="tags" type="text" placeholder="put some tags for easy search">
		<br>
        <label>Friendly URL:</label>
		<input id="slug" type="text" placeholder="put name or leave blank for autofill">
		<br>
        <label>Sharing Permissions:</label>
		<select id="access_authority">
            <option value="1">Private</option>
            <option value="3">Public</option>
        </select>
		<br>
        <button id="confirm-add">Add Project</button>

  </div>

</div>
