<td><input type="text" class="username" placeholder="username" value="{{ user }}"></td>
<td>
    <select class="authority">
        <option value>Select One</option>
        <option value= "1" {{#ifequal authority 1}} SELECTED {{/ifequal}}>Can View</option>
        <option value= "2" {{#ifequal authority 2}} SELECTED {{/ifequal}}>Can Edit</option>
        <option value= "3" {{#ifequal authority 3}} SELECTED {{/ifequal}}>Can Manage</option>
    </select>
</td>
<td><a href="#" class="delete-project-user">&times;</a> (delete)</td>
