<div class="container-search">
	<div class="container-center">
		<div class="row">
		    <form class="search-form">
		        <input id="project-search" type="text" placeholder="Search Projects" value="{{ searchTerm }}">
		        <a href="#" id="search"><i class="fa fa-search" aria-hidden="true"></i></a>
		        <a href="#" id="clear" style="display:{{#if searchTerm }} inline;{{else}} none;{{/if}}">
		            {{ searchTerm }} <i class="fa fa-times" aria-hidden="true"></i>
		        </a>
		    </form>
		    <button class="button-primary button-main-action click-to-open button-wide" data-modal="modal-new-map">New Project</button>
		</div>
	</div>
</div>


<div class="container-projects">
	<div class = "container-center" id="gallery-main">
    	<!--project data inserted here -->
    </div>
</div>

<footer>some footer</footer>
