<div class="project-overview">
    <div>
        <h2 class="map-title"><a href="gallery.html?project_id={{ id }}">{{ name }}</a></h2>
        <span class = "owner">Owner: {{ owner }}</span>
        <p>{{ caption }}</p>
    </div>
    <div class = "project-detail">
        <span class="action tag">
        {{#ifequal access_authority 1}}
            Private
        {{ else }}
            Public
        {{/ifequal}}
        </span>
        <span class="action"><i class="fa fa-clock-o" aria-hidden="true"></i>5 days ago</span>
    </div>
</div>