<a class="logotype" href="index.html">Local Ground</a>
<ul class="right-nav">
    <li>
        <a href="about.html">About</a>
    </li>
    <li>
        <a href="documentation.html">Documentation</a>
    </li>
    <li>
        <a class="account" id="toggle-button"><i class="fa fa-caret-down" aria-hidden="true"></i>username</a>
        <div class="dropdown-menu" style="display:none;" id="account-options">
            <a>Your Profile</a>
            <a>Settings</a>
            <a href="http://localhost:7777/accounts/logout/">Logout</a>
        </div>
    </li>
</ul>