<% if (mode == 'view') { %>
<div class="bubble-container" style="width: 400px;height:380px;">
	<div class="slider marker-container">
	    <% _.each(children, function(child) { %>
		<% if (child.overlay_type == 'photo') { %>
		    <% _.each(child.data, function(item) { %>
			<div>
			    <img src="<%= item.path_medium %>" />
			</div>
		    <% }); %>
		<% } %>
	    <% }); %>
	</div>
	<div>
	    <p class="bubble-title"><%= name || "Untitled" %></p>
	    <% if(descriptiveText.length > 0) { %>
		    <span><%= descriptiveText %></span>
	    <% } %>
	    <p class="bubble-detail">
		    <%= description %><br>
		    <%= tags %>	
	    </p>
	</div>
	<script>
	    $('.single-item').slick({
		    dots: true	
	    });
	</script>
</div>
<% } %>


<% if (mode == 'edit') { %>
    <div class="bubble-container" style="width: 430px;height:350px;overflow-y:auto;">
	<div class="form" style="margin: 10px;"></div>
	<% _.each(children, function(child, key) { %>
	    
	    <div style="margin: 10px; border-bottom: solid 1px #EEE;padding-bottom: 10px;">
		<h4 style="text-transform: capitalize;"><%= key %></h4>
		<% _.each(child.data, function(item) { %>
		    <div class="thumbnail marker-thumbnail">
			<% if (key == 'photos') { %>
			    <img src="<%= item.path_small %>" />
			<% } else if(key == 'audio') { %>
			    <i class="fa fa-volume-up marker-attachment"></i>
			<% } else { %>
			    <i class="fa fa-map-marker marker-attachment" style="color: #ccc;"></i>
			<% } %>
			<div class="caption">
			    <%= item.name || "Untitled" %><br />
			    <a href="/api/0/markers/<%= id %>/<%= key %>/<%= item.id %>/">detach</a><br />
			</div>
		    </div>
		<% }); %>
	    </div>
	    
	<% }); %>
	<button class="btn btn-primary">Save</button>
    </div>
<% } %>