<% if (mode == 'view') { %>
<div class="bubble-container" style="width: 320px;height:350px;">
	<div class="photo-container">
		<img src="<%= path_medium %>" />
	</div>
	<div>
		<p class="bubble-title"><%= name || "Untitled" %></p>
		<p class="bubble-detail">
			<%= caption %><br>
			<%= tags %>	
		</p>
	</div>
</div>
<% } %>


<% if (mode == 'edit') { %>
	<div class="bubble-container" style="width: 320px;height:420px;">
        <div class="infobubble-contents" style="height:370px;">
            <div class="edit-photo-container">
                <img src="<%= path_medium %>" />
            </div>
            <div class="photo-rotation-controls">
                <a href='#' class="rotate-link" data-direction="left">rotate left</a> | <a href='#' class="rotate-link" data-direction="right">rotate right</a>
            </div>
            <div class="bubble-edit-form form"></div>
        </div>
		<div class="edit-button-container">
			<button class="btn btn-primary">Save</button>
			<button class="btn btn-secondary">Cancel</button>
		</div>
	</div>
<% } %>