<% if (mode == 'view') { %>
<div class="bubble-container" style="width: 320px;height:350px;">
	<div class="photo-container">
		<img src="<%= path_medium %>" />
	</div>
	<div>
		<p class="bubble-title"><%= name || "Untitled" %></p>
		<p class="bubble-detail">
			<%= description %><br>
			<%= tags %>	
		</p>
	</div>
</div>
<% } %>


<% if (mode == 'edit') { %>
	<div class="bubble-container" style="width: 350px;height:350px;">
		<div class="form" style="height: 275px;"></div>
		<button class="btn btn-primary">Submit</button>
	</div>
<% } %>