<% if (mode == 'view') { %>
<div class="bubble-container" style="width: 320px;height:250px;background-image: url('/static/backbone/images/bg.png')">
	<div class="record-container">
		<% _.each(list, function(field) { %>
			<strong><%= field.key %></strong> : <%= field.value %><br>
		<% }); %>
	</div>
	<script>
		$('.single-item').slick({
			dots: true	
		});
	</script>
</div>
<% } %>


<% if (mode == 'edit') { %>
	<div class="bubble-container" style="width: 350px;height:350px;">
		<div class="form" style="height: 275px;"></div>
		<button class="btn btn-primary">Submit</button>
	</div>
<% } %>