<% if (mode == 'view') { %>
<div class="bubble-container" style="width: 400px;height:250px;background-image: url('/static/backbone/images/bg.png')">
	<div class="record-container">
		<% _.each(list, function(field) { %>
			<div class="row">
                <div class="col-md-4"><%= field.key %>:</div>
                <div class="col-md-8"><%= field.value %></div>
            </div>
		<% }); %>
	</div>
	<script>
		$('.single-item').slick({
			dots: true	
		});
	</script>
</div>
<% } %>


<% if (mode == 'edit') { %>
	<div class="bubble-container" style="width: 350px;height:350px;">
		<div class="infobubble-contents" style="height:300px;">
            <div class="form"></div>
        </div>
        <div class="edit-button-container">
            <button class="btn btn-primary">Save</button>
            <button class="btn btn-secondary">Cancel</button>
        </div>
	</div>
<% } %>