<div id="print-mockup-header">
	<div id="print-map-name"><label>Name:</label><div class="blank"></div></div>
	<div id="print-map-colors"><label>Colors Used:</label>
		<div id="circle-container">
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
		</div>
	</div>
</div>

<div id="print-map-title" class="print-map-title-control">Click to enter a map title</div>
<input id="print-map-title-input" class="print-map-title-control" placeholder="Please enter a map title..."></input>

<div id="print-map-canvas"></div>
<div class="print-map-caption" id="print-map-caption">Click to enter instructions...</div>
<textarea class="print-map-caption" id="print-map-caption-input" placeholder="Please enter instructions..."></textarea>
<div id="print-map-qr">
	<img src="http://chart.apis.google.com/chart?cht=qr&amp;chld=Q|0&amp;chl=lg&amp;chs=75x75" id="qrcode">
</div>
