<% if (data.pdf) { %>
    <div class="show-print">
        <img src="<%= data.thumb %>" />
    </div>
    <div class="print-confirm-buttons">
        <a class="btn btn-primary" href="<%= data.pdf %>">Download</a>
        <a id="view-all" class="btn btn-info" href="/profile/prints/" target="_blank">View All</a>
        <a id="make-another-map" class="btn btn-default">Start Over</a>
    </div>
<% } else { %>
    <div class="print-loading-container">
        <h4>Generating Map...</h4>
        <i class="fa fa-circle-o-notch fa-spin fa-4x" style="color: #CCC;"></i>
    </div>
<% } %>
