<h4 class="print-pdf-header">Create Map PDF</h4>
<div class="print-controls">
    <div id="layout-selection" class="print-option">
        <input type="radio" name="orientation" id="landscape" value="landscape" class="layout-control" checked="checked"> Landscape &nbsp;
        <input type="radio" name="orientation" id="portrait" value="portrait" class="layout-control"> Portrait
    </div>
    
    <div id="print-submit" class="print-option">
        <input id="submit" type="submit" value="Generate Map" class="btn btn-primary" />
    </div>
</div>
    