<div id="layout-selection" class="print-option">
    <div class='print-option-title'>Choose a layout:</div>
    <input type="radio" name="orientation" id="landscape" value="landscape" class="layout-control" checked="checked"> Landscape<br>
    <input type="radio" name="orientation" id="portrait" value="portrait" class="layout-control"> Portrait<br>
</div>
<div id="project_options" class="print-option">
    <div class='print-option-title'>Choose a project:</div>
    <select id="project-selector" name="project_id" class="form-control">
        
    </select>
</div>

<div id="print-submit" class="print-option">
    <input id="submit" type="submit" value="Generate Map PDF" class="btn btn-primary" style="margin:15px 0px 15px 0px;">
</div>
    
