<h3>Profile</h3>	
<ul>
    <li><a href="/profile/settings/">Account Settings</a></li>
    <li><a href="/profile/projects/">Projects</a>
        <ul>
            <li><a href="/profile/print/">Prints</a></li>
            <li><a href="/profile/map-image/">Map Images</a></li>
            <li><a href="/profile/attachment/">Attachments</a></li>
            <li><a href="/profile/photo/">Photos</a></li>
            <li><a href="/profile/audio/">Audio</a></li>
            <li><a href="/profile/video/">Video</a></li>
        </ul>
    </li>
    <li><a href="/profile/views/">Views</a></li>
    <li><a href="/profile/tables/">Tabular Data</a>
        <ul>
            <li><a href="/profile/tables/?is_blank=true">Blanks</a></li>
            <!-- li><a href="/profile/tables/vis/histogram">Histogram</a></li -->
        </ul>
    </li>
</ul>