

<nav class="navbar account">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand logotype" href="/">Local Ground</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/documentation">How it works</a>
            </li>
            
            {% if user.is_authenticated %}
                <li>
                    <a href="/accounts/logout/">{{ user }}: sign out</a>
                </li>
                    <li>
                        <a class="account" id="toggle-button"><i class="fa fa-caret-down" aria-hidden="true"></i> {{ user }}</a>
                        <div class="dropdown-menu" style="display:none;" id="account-options">
                            <a>Your Profile</a>
                                    <a>Settings</a>
                            <a href="/accounts/logout/">Sign out</a>
                        </div>
                    </li>
            {% else %}
                <a class="navbar-btn button-primary button-main-action" href="/accounts/login"><span class="glyphicon glyphicon-log-in white"></span>&nbsp&nbspSign In</a>
                <a class="navbar-btn button-primary button-main-action" href="/accounts/register"><span class="glyphicon glyphicon-user white"></span>&nbsp&nbspCreate account</a>
            {% endif %}
          </ul>


    </div>
</nav>
<script>
    $('#toggle-button').click(function () {
        $('.dropdown-menu').toggle();
    });
</script>