<!-- VIEW MODE -->
{{#ifequal mode "view"}}
    <audio controls>
        <source src="{{ file_path }}"></source>
    </audio>
    <h3>{{ name }}</h3>
    <!-- Three curly braces if you don't want to escape HTML -->
    {{ caption }}
    <br>
    {{tags}}
    <br>
    <button class="edit-mode">Edit</button>
{{/ifequal}}


<!-- EDIT MODE -->
{{#ifequal mode "edit"}}
    <audio controls>
        <source src="{{ file_path }}"></source>
    </audio>

    <div id="model-form">
        <!-- Form goes here. To modify the fields that are editable,
             go to the redesign/models/photo.js and/or audio.js and modify
             the form. Instructions re: how to use the Backbone Forms
             library here:
             https://github.com/powmedia/backbone-forms#custom-editors
        -->
    </div>
    <button class="save-model">Save</button>
    <button class="view-mode">View</button>
{{/ifequal}}


