<!-- VIEW MODE -->
{{#ifequal mode "view"}}
    <h4>Preview</h4>
    <div class="player-container audio-detail"></div>
    <br>
    {{tags}}
    <br>
    <div class="save-options">
        <button class="edit-mode button-tertiary ">Edit</button>
    </div>
{{/ifequal}}


<!-- EDIT MODE -->
{{#ifequal mode "edit"}}
    <h4>
        {{#if id}}
        Edit
        {{else}}
        Add New
        {{/if}}
    </h4>
    {{#ifequal screenType "map"}}
        {{#if geometry}}
        <button class="button-secondary delete-marker-button" id="delete-geometry">Remove Location Marker</button>
        {{else}}
        <div class="add-lat-lng">
            <button class="button-secondary add-marker-button" id="add-geometry">
                Add Location Marker
            </button>
        </div>
        {{/if}}
        
        {{#if lat}}
            <div class="latlong-container">
            <p class="latlong" style="font-style: italic">
                ({{lat}}, {{lng}})
            </p>
            </div>
        {{/if}}
    {{/ifequal}}
    <div class="player-container audio-detail">

    </div>

    <div id="model-form">
        <!-- Form goes here. To modify the fields that are editable,
            go to the redesign/models/photo.js and/or audio.js and modify
            the form. Instructions re: how to use the Backbone Forms
            library here:
            https://github.com/powmedia/backbone-forms#custom-editors
        -->
    </div>
    <div class = "save-options">
        <button class="save-model button-primary">Save</button>
        <button class="view-mode button-tertiary">Preview</button>
        <button class="button-tertiary button-warning delete-model">Delete</button>
    </div>
{{/ifequal}}

{{#ifequal screenType "map"}}
    <div class="show-hide hide"></div>
{{/ifequal}}
