<div class="success-message">Your files have finished uploading.</div>
<div class="failure-message">There were errors when uploading your files. See below.</div>
<div class="warning-message"></div>
<span class="btn fileinput-button">
    +
    <input id="fileupload" type="file" name="media_file" multiple="">
</span>
<div id="dropzone" style="min-height:250px;">
    <div id="nothing-here">
        Drag your <strong>photo &amp; audio files</strong> files here<br />
        
            or browse to them using the <span class="plus">+</span> button above.
        
    </div>
</div>
