<div class="modal" id="create-form-modal"><!-- Modal content -->

  <!-- Edit the contents of the model to look like the old one
  due to having more roboust user interface

  Now made a quick rough draft of the modal due to similarity with share-modal
-->
  <div class="modal-content">
    <header>
      <span class="close">&times;</span>
      <h1>Form Description</h1>
    </header>
    <div class = "modal-body">
      <div class="inline-form">
        <label for="formName">Name: </label>
        <input type="text" id="formName" value="{{name}}">
      </div>
      <div class="inline-form">
        <label for="caption">Description:</label>
        <textarea id="caption" rows="5" cols="50"
        placeholder="Describe this form"></textarea>
      </div>
      <!--<div class="inline-form">
        <label for="tags">Tags:</label>
        <input id="tags" type="text" placeholder="put some tags for easy search">
      </div>
      <label for="share_type">Sharing Type: </label>
      <select id="share_type">
        <option value>Select Type</option>
        <option value="1" {{#ifequal access_authority 1}} SELECTED {{/ifequal}}>Private</option>
        <option value="2" {{#ifequal access_authority 2}} SELECTED {{/ifequal}}>Public with link</option>
        <option value="3" {{#ifequal access_authority 3}} SELECTED {{/ifequal}}>Public</option>
      </select>
      <br>-->
      <div class="inline-form">
        <label>Fields:</label>
        <div id="fieldTableDiv" class = "container-3-4">
          <table class="fieldTable">
            <thead>
              <tr>
                <th>Field Name</th>
                <th>Data Type</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="fieldList">
            </tbody>
          </table>
          <br>
          <a class="new_field_button button-tertiary"><i class="fa fa-plus add" aria-hidden="true"></i>Add Column</a>
        </div>
      </div>
    </div>
    <!--<div id="addNewField" style="border: 1px solid black">
      <a class="new_field_button">Add Column</a>
    </div>-->
    <footer>
        <div class="buttons">
            <button class="close-modal button-secondary">Cancel</button>
            <button id="save-form-settings" class="save-project-settings button-primary">Save</button>
        </div>
    </footer>
  </div>
</div>