
<td>
    <!-- Radio button -->
    <input class=display-field type="radio" name="display_field"
    {{#if is_display_field}}checked{{/if}}><br>
</td>
<td>
    <i class="fa fa-grip fa-rotate-90"></i>
    <input type="text" class="fieldname" placeholder="field name" value="{{ col_alias }}">
    {{#if errorFieldName}}<span>Field Name Missing</span>{{/if}}
    {{#if serverErrorMessage}}<span>{{serverErrorMessage}}</span>{{/if}}

</td>
<td class="form-reorder">
    {{#if id }}
        <!-- hidden form field that stashes the id -->
        <input class="id" value={{ id }} type="hidden">
        <span class="fieldType">
            {{#ifequal data_type "boolean"}} Yes/No
            {{else}} {{ data_type }}
            {{/ifequal}}

            {{#ifequal data_type "rating"}}
            <!-- Make this list the new extras list to reduce confusion for users -->
                <span class ="extras">
                    <a href="#" class="add-new-rating"><i class="fa fa-plus"></i></a>
                    {{#each extraList}}
                        <input type="text" class="rating" placeholder="Type new rating" value="{{this.name}}" />
                    {{/each}}
                    {{#if showRatingTextbox}}
                        <input type="text" class="new-rating" placeholder="Type new rating" />
                    {{/if}}
                </span>

                <!-- This is where the extras us currently being targeted without any changes made
                     when targeting only the rows of text boxes
                -->
                <!--textarea class="extras">{{ extras }}</textarea-->
            {{/ifequal}}
        </span>
    {{else}}
        <select class="fieldType">
            <option value="-1">Select One</option>
            <option value="text" {{#ifequal data_type "text"}} SELECTED {{/ifequal}}>Text</option>
            <option value="integer"{{#ifequal data_type "integer"}} SELECTED {{/ifequal}}>Integer</option>
            <option value="boolean"{{#ifequal data_type "boolean"}} SELECTED {{/ifequal}}>Yes/No</option>
            <option value="decimal" {{#ifequal data_type "decimal"}} SELECTED {{/ifequal}}>Decimal</option>
            <option value="date-time"{{#ifequal data_type "date-time"}} SELECTED {{/ifequal}}>Date / Time</option>
            <option value="rating"{{#ifequal data_type "rating"}} SELECTED {{/ifequal}}>Rating</option>
        </select>
        {{#ifequal data_type "rating"}}
            <span class ="extras">
                <a href="#" class="add-new-rating"><i class="fa fa-plus"></i></a>
                {{#if showRatingTextbox}}
                    <input type="text" class="new-rating" placeholder="Type new rating" />
                {{/if}}
            </span>
            <!-- This is where the extras us currently being targeted without any changes made
                 when targeting only the rows of text boxes
            -->
            <!--textarea class="extras">{{ extras }}</textarea-->
        {{/ifequal}}
        {{#if errorFieldType}}<span>Field Type Missing</span>{{/if}}
    {{/if}}
</td>
<td><a href="#" class="{{#if id }}delete-field {{else}} remove-row{{/if}} ">&times;</a></td>
