<td>
  {{#if user }}
      <span class="fieldname">{{field}}</span>
  {{else}}
      <input type="text" class="fieldname" placeholder="field name" value="{{ field }}"></td>
  {{/if}}
</td>
<td>
  <select class="fieldType">
      <option value>Select One</option>
      <option value= "Text" {{#ifequal authority "Text"}} SELECTED {{/ifequal}}>Text</option>
      <option value= "Number" {{#ifequal authority "Number"}} SELECTED {{/ifequal}}>Number</option>
      <option value= "Boolean" {{#ifequal authority "Boolean"}} SELECTED {{/ifequal}}>Boolean</option>
  </select>
</td>
<td><a href="#" class="delete-field">&times;</a></td>
