<!-- VIEW MODE -->
{{#ifequal mode "view"}}
    <h4>Preview</h4>
    <div class = "section">
        <h3>{{ name }}</h3><br>
            <h4>Caption: {{caption}}</h4><br>
            <h4>Tags: {{tags}}</h4><br>
            <h4>Coordinates: {{lat}} , {{lng}}</h4>
        <!-- As of now, we have this name only
        Later, we will ahve to add other unique stuff to this
        -->
    </div>
    <div class = "save-options">
        <button class="edit-model button-primary">Save</button>
        <button class="edit-mode button-tertiary">Edit</button>
        <button class="view-mode button-tertiary button-warning delete-model">Delete</button>
    </div>
{{/ifequal}}


<!-- EDIT MODE -->
{{#ifequal mode "edit"}}
    <h4>
        {{#if id}}
        Edit
        {{else}}
        Add New
        {{/if}}
    </h4>
    <div id="model-form">
        <!-- Form Inserted Here -->
    </div>

    <h2 style="margin:20px 20px 4px;">Add Media</h2>
    <div class="upload-spot" id="left-panel-upload">
        <button id="add-media-button" class="click-to-open" data-modal="modal-add-media"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
    {{#each children.photos.data}}
        <div class="attached-media" style="background: url('{{this.path_small}}');"></div>
        <!-- div class="uploaded-media1">
            <div class="hover-to-show edit-img-overlay">
                <i class="fa fa-times close detach_media" aria-hidden="true" data-id="{{this.id}}" data-type="photos" media-name="{{this.name}}"></i>
                <i class="fa fa-cog" aria-hidden="true"></i>
            </div>
        </div -->
    {{/each}}
    {{#each children.audio.data}}
        <audio class = "marker-thumb" controls>
            <source src="{{this.file_path}}"></source>
        </audio>
        <a class= "detach_media" data-id="{{this.id}}" data-type = "audio" media-name = "{{this.name}}">X</a>
    {{/each}}
    <div class="confirmation success-message">Saved Successfully</div>
    <div class = "save-options">
        <button class="save-model button-primary">Save</button>
        <button class="view-mode button-tertiary" id="preview">Preview</button>
        <button class="button-tertiary button-warning delete-model" id="delete">Delete</button>
    </div>
{{/ifequal}}
