<div class="filter">
    <form class="modal-search-form">
        <input type="text" name="find-media-search"><i class="fa fa-search" aria-hidden="true"></i>
    </form>
    <button id="card-view-button-modal" class="button-secondary database-view-buttons-modal"><i class="fa fa-th" aria-hidden="true"></i></button>
    <button id="table-view-button-modal" class="button-secondary database-view-buttons-modal active"><i class="fa fa-bars" aria-hidden="true"></i></button>
</div>
<div class="container" id="gallery-main">
    <br>
    <div id="loading-animation">
        <i class="fa fa-cog fa-5x fa-spin"></i>
    </div>
</div>
