<!-- VIEW MODE -->
{{#ifequal mode "view"}}
    <img src="{{ path_medium }}" />
    <div class = "section">
        <h3>{{ name }}</h3> <p>{{ caption }}</p>
        <!-- Three curly braces if you don't want to escape HTML -->
    </div>
    <div class = "save-options">
        <button class="edit-mode button-tertiary ">Edit</button>
    </div>
{{/ifequal}}


<!-- EDIT MODE -->
{{#ifequal mode "edit"}}

    <h4>Media Details</h4>
    <img src="{{ path_medium }}" />

    <div id="model-form">
        <!-- Form goes here. To modify the fields that are editable,
             go to the redesign/models/photo.js / audio.js and modify
             the form. Instructions re: how to use the Backbone Forms
             library here:
             https://github.com/powmedia/backbone-forms#custom-editors
        -->
    </div>
    <div class="confirmation success-message">Saved Successfully</div>

    <div class = "save-options">
        <button class="save-model button-primary">Save</button>
        <button class="view-mode button-tertiary">Preview</button>
        <button class="button-tertiary button-warning delete-model">Delete</button>
    </div>
{{/ifequal}}
