<!-- VIEW MODE -->
{{#ifequal mode "view"}}
    {{#compare screenType "presentation" operator="!="}}
        <h4>Preview</h4>
    {{/compare}}

    <div class="section">
        <h3>{{ name }}</h3>
        {{#if caption }}
            <p style="font-style: italic">{{ caption }}</p>
        {{/if}}

        <div class="carousel carousel-photo"></div>

        <div class="carousel carousel-audio"></div>
    </div>

    {{#if fields }}
        <table class="preview-properties">
        {{#each fields}}
            <tr>
                <td>{{ this.col_alias }}:</td>
                <td>{{ this.val }}</td>
            </tr>
        {{/each}}
        {{#if tags}}
            <tr>
                <td></td>
                <td>
                    {{#each tags}}
                        <a class="tag"> {{this}} </a>
                    {{/each}}
                </td>
            </tr>
        {{/if}}
        </table>
    {{else}}
        {{#each tags}}
            <a class="tag"> {{this}} </a>
        {{/each}}
    {{/if}}

    {{#compare screenType "presentation" operator="!="}}
        <div class="save-options">
            <button class="edit-mode button-tertiary">Edit</button>
        </div>
    {{/compare}}
{{/ifequal}}


<!-- EDIT MODE -->
{{#ifequal mode "edit"}}
    <h4>
        {{#if id}}
        Edit
        {{else}}
        Add New
        {{/if}}
    </h4>
    <h5>Latitude: {{lat}}</h5>
    <h5>Longitude: {{long}}</h5>
    {{#ifequal screenType "map"}}
        {{#if geometry}}
        <button class="button-secondary delete-marker-button" id="delete-marker-button" style="width:160px;">Delete Marker</button>
        {{else}}
        <div class="add-lat-lng">
        <!--    
            Insert Latitude and Longitude if empty. When done, hide this div away.
            <button class="add-marker-button">Add Marker</button>
       -->
            <button class="button-secondary add-marker-button" id="add-marker-button" style="width:160px;">
                    Place Pin on Map
            </button>
        </div>
        <div id="follower">
        <svg viewBox="-1 -1 16 18" width="33" height="33">
                    <path fill="#ed867d" stroke-linejoin="round" stroke-linecap="round" paint-order="stroke" stroke-width="2" stroke="#FFFFFF" d="M14,7.5c0,3.5899-2.9101,6.5-6.5,6.5S1,11.0899,1,7.5S3.9101,1,7.5,1S14,3.9101,14,7.5z"></path>
                </svg>
        </div>

        {{/if}}
    {{/ifequal}}

    <div class="confirmation success-message">Saved Successfully &#10003</div>

    <div id="model-form">
        <!-- Form Inserted Here -->
    </div>

    <h2 style="margin:20px 20px 4px;">Add Media</h2>
    <div class="attached-media-container">
        <div class="upload-spot" id="left-panel-upload">
            <button id="add-media-button" class="click-to-open" data-modal="modal-add-media"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
        {{#each children.photos.data}}
            <div class="attached-container">
                <div class="attached-media" style="background: url('{{this.path_small}}');"></div>
                <div class="attached-media-overlay">
                    <div class="hover-to-show">
                        <i class="fa fa-times close detach_media" aria-hidden="true" data-id="{{this.id}}" data-type="photos" media-name="{{this.name}}"></i>
                    </div>
                </div>
            </div>
        {{/each}}
        {{#each children.audio.data}}
            <div class="attached-container">
                <div class="player-container audio-basic" data-id="{{this.id}}">
                    <!-- So far, a blank grey canvas came but there is not yet any audio player stuff coming in -->
                </div>
                <div class="attached-media-overlay">
                    <div class="hover-to-show">
                        <i class="fa fa-times close detach_media" aria-hidden="true" data-id="{{this.id}}" data-type="audio" media-name="{{this.name}}"></i>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

    <div class = "save-options">
        <button class="save-model button-primary">Save</button>
        <button class="view-mode button-tertiary" id="preview">Preview</button>
        <button class="button-tertiary button-warning delete-model" id="delete">Delete</button>
    </div>
{{/ifequal}}

{{#ifequal screenType "map"}}
    <div class="show-hide hide"></div>
{{/ifequal}}
