<!-- VIEW MODE -->
{{#ifequal mode "view"}}
    <h4>Add New Record</h4>
    <div class = "section">
        <h3>{{ display_name }}</h3>
        {{#each fields}}
            {{ this.col_alias }}: {{ this.val }}<br>
        {{/each}}
    </div>
    <div class = "save-options">
        <button class="edit-mode button-tertiary ">Edit</button>
    </div>
{{/ifequal}}


<!-- EDIT MODE -->
{{#ifequal mode "edit"}}
    <h4>
        {{#if id}}
        Edit Record
        {{else}}
        Add Record
        {{/if}}
    </h4>
    <div id="model-form">
        <!-- Form Inserted Here -->
    </div>
    <div class="confirmation success-message">Saved Successfully</div>
    <div class = "save-options">
        <button class="save-model button-primary">Save</button>
        <button class="view-mode button-tertiary" id="preview">Preview</button>
        <button class="view-mode button-tertiary button-warning delete-model" id="delete">Delete</button>
    </div>
{{/ifequal}}
