<!-- VIEW MODE -->
{{#ifequal mode "view"}}
    {{#compare screenType "presentation" operator="!="}}
        <h4>Preview</h4>
    {{/compare}}

    <div class="section">
        <h3 style="color: #{{paragraph.color}}; font-family: {{paragraph.font}}">{{ name }}</h3>
        {{#if caption }}
            <p style="font-style: italic">{{ caption }}</p>
        {{/if}}

        <div class="carousel carousel-video" style="background-color: #{{paragraph.backgroundColor}}"></div>

        <div class="carousel carousel-photo" style="background-color: #{{paragraph.backgroundColor}}"></div>

        <div class="carousel carousel-audio" style="background-color: #{{paragraph.backgroundColor}}"></div>

    </div>

    {{#if fields }}
        <table class="preview-properties" style="color: #{{paragraph.color}}; font-family: {{paragraph.font}}">
        {{#each fields}}
            <tr>
                <td>{{ this.col_alias }}:</td>
                <td>{{ this.val }}</td>
            </tr>
        {{/each}}
        {{#if tags}}
            <tr>
                <td></td>
                <td>
                    {{#each tags}}
                        <a class="tag"> {{this}} </a>
                    {{/each}}
                </td>
            </tr>
        {{/if}}
        </table>
    {{else}}
        <div class="tag-container">
        {{#each tags}}
            <a class="tag"> {{this}} </a>
        {{/each}}
        </div>
    {{/if}}

    {{#compare screenType "presentation" operator="!="}}
        <div class="save-options">
            <button class="edit-mode button-tertiary">Edit</button>
        </div>
    {{/compare}}
{{/ifequal}}


<!-- EDIT MODE -->
{{#ifequal mode "edit"}}
    <h4>
        {{#if id}}
        Edit
        {{else}}
        Add New
        {{/if}}
    </h4>

    {{#ifequal screenType "map"}}
        {{#if geometry}}
            <button class="button-secondary delete-marker-button" id="delete-geometry">Remove Location Marker</button>
        {{else}}
            <div class="add-lat-lng">
                <button class="button-secondary add-marker-button" id="add-geometry">
                    Add Location Marker
                </button>
            </div>
        {{/if}}
        {{#if lat }}
            <div class="latlong-container">
            <p class="latlong" style="font-style: italic">
                ({{lat}}, {{lng}})
            </p>
            </div>
        {{/if}}
    {{/ifequal}}

    <div id="model-form"></div>

    <div class = "save-options">
        <button class="save-model button-primary pull-right">Save</button>
        <button class="view-mode button-tertiary" id="preview">Preview</button>
        <button class="button-tertiary button-warning delete-model" id="delete">Delete</button>
    </div>
{{/ifequal}}

{{#ifequal screenType "map"}}
    <div class="show-hide hide"></div>
{{/ifequal}}
