{{#ifequal dataType "photos"}}  
    <td><img src="{{ path_medium }}" class="thumbnail-img"></td>
    <td>{{name}}</td>
    <td>{{caption}}</td>
    <td>{{tags}}</td>
    <td>{{dataType}}</td>
    <td>{{owner}}</td>
{{/ifequal}}

{{#ifequal dataType "audio"}}
    <td><i class="fa fa-2x fa-volume-up" aria-hidden="true"></i></td>
    <td>{{name}}</td>
    <td>{{caption}}</td>
    <td>{{tags}}</td>
    <td>{{dataType}}</td>
    <td>{{owner}}</td>
{{/ifequal}}

{{#ifequal dataType "videos"}}
    <td>
        {{#ifequal video_provider "vimeo"}}
            <i class="fa fa-2x fa-vimeo" aria-hidden="true"></i>
        {{ else }}
            <i class="fa fa-2x fa-youtube" aria-hidden="true"></i>
        {{/ifequal}}
    </td>
    <td>{{name}}</td>
    <td>{{caption}}</td>
    <td>{{tags}}</td>
    <td>{{dataType}}</td>
    <td>{{owner}}</td>
{{/ifequal}}

