{{#ifequal dataType "photos"}}  
    <td><img src="{{ path_medium }}" class="thumbnail-img"></td>
    <td>{{name}}</td>
    <td>{{caption}}</td>
    <td>{{tags}}</td>
    <td>{{dataType}}</td>
    <td>{{owner}}</td>
{{/ifequal}}

{{#ifequal dataType "audio"}}
    <td><i class="fa fa-volume-up" aria-hidden="true"></i></td>
    <td>{{name}}</td>
    <td>{{caption}}</td>
    <td>{{tags}}</td>
    <td>{{dataType}}</td>
    <td>{{owner}}</td>
{{/ifequal}}

{{#ifequal dataType "videos"}}
    <td><i class="fa fa-volume-up" aria-hidden="true"></i></td>
    <td>{{name}}</td>
    <td>{{caption}}</td>
    <td>{{tags}}</td>
    <td>{{dataType}}</td>
    <td>{{owner}}</td>
{{/ifequal}}

