{{#ifequal dataType "photos"}}
    <a href="#/{{ dataType }}/{{id}}">
        <div class = "card-img-preview" style="background-image: url('{{ path_medium }}');" />
    </a>
    <h1>
        {{ name }}
    </h1>
    {{#if coords}}<p class="coords">{{ coords }}</p>{{/if}}
    <h2>
        {{owner}}
    </h2>


{{/ifequal}}

{{#ifequal dataType "audio"}}
    <audio controls>
        <source src="{{ file_path }}"></source>
    </audio>
    <h1>
        <a href="#/{{ dataType }}/{{id}}">{{ name }}</a>
    </h1>
    {{#if coords}}<p class="coords">{{ coords }}</p>{{/if}}
    <h2>
        {{owner}}
    </h2>
{{/ifequal}}

{{#ifcontains dataType "markers"}}
    <div class="card-site-field">

        <a href="#/{{ dataType }}/{{id}}">

            <table>
                <!-- There has got to be a shorter way
                     to actually get all the information into the
                     table without hard-cording everything

                     // That table is a start, but must have access
                     // to each field inside the marker
                 -->
                   <tr>
                       <td>Name</td>
                       <td>{{ this.name }}</td>
                   </tr>

                   <tr>
                       <td>Caption</td>
                       <td>{{ this.caption }}</td>
                   </tr>

                   <tr>
                       <td>Tags</td>
                       <td>{{ this.tags }}</td>
                   </tr>

                   <tr>
                       <td>Latitude and Longitude</td>
                       <td>{{ this.lat }}, {{ this.lng }}</td>
                   </tr>
            </table>

            <h1>
                {{ name }}
            </h1>
            <h2>
                {{owner}}
            </h2>

        </a>
    </div>
{{/ifcontains}}

{{#ifcontains dataType "form_"}}
    <div class="card-site-field">

        <a href="#/{{ dataType }}/{{id}}">
            <table>

                {{#each fields}}
                    <tr>
                        <td>{{ this.col_alias }}</td>
                        <td>{{ this.val }}</td>
                    </tr>
                {{/each}}
            </table>

            <h1>
                {{ name }}
            </h1>
            <h2>
                {{owner}}
            </h2>

        </a>
    </div>
{{/ifcontains}}
