{{#ifequal dataType "photos"}}
    <a href="#/{{ dataType }}/{{id}}">
        <div class = "card-img-preview" style="background-image: url('{{ path_medium }}');" />
    </a>
    <h1>
        {{ name }}
    </h1>
    {{#if coords}}<p class="coords">{{ coords }}</p>{{/if}}
    <h2>
        {{owner}}
    </h2>
    
    
{{/ifequal}}

{{#ifequal dataType "audio"}} 
    <audio controls>
        <source src="{{ file_path }}"></source>
    </audio>
    <h1>
        <a href="#/{{ dataType }}/{{id}}">{{ name }}</a>
    </h1>
    {{#if coords}}<p class="coords">{{ coords }}</p>{{/if}}
    <h2>
        {{owner}}
    </h2>
{{/ifequal}}

{{#ifcontains dataType "form_"}}
    <a href="#/{{ dataType }}/{{id}}">
        show details
    </a>
    <br>
    {{#each fields}}
        {{ this.col_alias }}: {{ this.val }}<br>
    {{/each}} 
{{/ifcontains}}
