{{#ifequal dataType "photos"}}
    <a href="#/{{ dataType }}/{{id}}">
        <div class = "card-img-preview" style="background-image: url('{{ path_medium }}');" />
    </a>
    <h1>
        {{ name }}
    </h1>
    {{#if coords}}<p class="coords">{{ coords }}</p>{{/if}}
    <h2>
        {{owner}}
    </h2>
    
    
{{/ifequal}}

{{#ifequal dataType "audio"}} 
    <audio controls>
        <source src="{{ file_path }}"></source>
    </audio>
    <h1>
        <a href="#/{{ dataType }}/{{id}}">{{ name }}</a>
    </h1>
    {{#if coords}}<p class="coords">{{ coords }}</p>{{/if}}
    <h2>
        {{owner}}
    </h2>
{{/ifequal}}

{{#ifcontains dataType "form_"}}
    <div class="card-site-field">
        <table>
       
            {{#each fields}}
                <tr>
                    <td>{{ this.col_alias }}</td>
                    <td>{{ this.val }}</td>
                </tr>
            {{/each}}        
        </table>
        <a href="#/{{ dataType }}/{{id}}">
            
            <h1>
                {{ name }}
            </h1>
            <h2>
                {{owner}}
                John Doe
            </h2>
        
        </a>
    </div>
{{/ifcontains}}
