<div class="form">
    <div class="row {{#if errors.title}} error{{/if}}">
        <label>Layer name</label>
        <input id="layer-title" type="text" value="{{ title }}">
        {{#if errors.title}}
            <p>{{ errors.title }}</p>
        {{/if}}
    </div>

    <div class="row">
        <input type="radio" name="choose-dataset" id="layer-new-dataset" {{ create_new_dataset }}>
        <label>Create a new dataset</label>
    </div>
    <div class="row">
        <input type="radio" name="choose-dataset" id="layer-existing-datasets"
            {{#if dataset}}checked{{/if}}>
        <label>Use existing project dataset</label>
    </div>
    <div class="row">
        <select id="dataset-list" {{#if create_new_dataset}}disabled="disabled"{{/if}}>
            {{#each datasets}}
                <option value="{{this.id}}" {{#ifequal this.id dataset}}SELECTED{{/ifequal}}>{{this.title}}</option>
            {{/each}}
        <select>
    </div>
</div>
