<form class="form">
    <div class="row {{#if errors.name}} error{{/if}}">
        <label>Map Name</label>
        <input id="map-name" type="text" value="{{name}}"
            placeholder="name of your map">
        {{#if errors.name}}
            <p>{{ errors.name }}</p>
        {{/if}}
    </div>
    <div class="row">
        <label>Description</label>
        <textarea id="map-caption" value=""
            placeholder="Add a description to help people understand your map">{{caption}}</textarea>
    </div>
</form>
