<div class="layer-container">
    <!-- <button id="fakeadd">Fake Add</button> -->
    <div class='layer-column' id='layer{{id}}'>
        <input class='layer-isShowing' id='cb{{id}}' type="checkbox" value="{{ id }}" {{#if isChecked}}CHECKED{{/if}} />
        <p class="layer-name">{{ title }}</p>
        <!-- <a class="delete-layer"><i class="fa fa-trash-o" aria-hidden="true"></i></a> -->
        <span class="open-layer-menu">
            <i class="fa fa-ellipsis-v fa-lg"></i>
        </span>

            <img src="/static/assets/record-add-icon.svg" type="image/svg+xml" alt="add record" class="add-record-container"></img>

            <div class="geometry-options" style="display: none">
                    <div class="geometry-list-wrapper">
                        <div id="select-point">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Circle" fill="#818181">
                                        <circle id="Oval-Copy-6" cx="12" cy="12" r="8"></circle>
                                    </g>
                                </g>
                            </svg>
                            <span>POINT</span>
                        </div>
                        <div id="select-polyline">
                            <svg width="25px" height="25px" viewBox="0 0 25 25">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Polyline" stroke="#818181">
                                        <path d="M3.5,21.5 L7.5,14.5" id="Line" stroke-linecap="square"></path>
                                        <path d="M18.5,11.5 L21.5,4.5" id="Line-Copy-2" stroke-linecap="square"></path>
                                        <path d="M11.0961538,12.75 L15.9038462,12.25" id="Line-Copy" stroke-linecap="square"></path>
                                        <circle id="Oval-Copy-2" fill="#FFFFFF" cx="3" cy="22" r="2"></circle>
                                        <circle id="Oval-Copy-4" fill="#FFFFFF" cx="9" cy="13" r="2"></circle>
                                        <circle id="Oval-Copy-6" fill="#FFFFFF" cx="22" cy="3" r="2"></circle>
                                        <circle id="Oval-Copy-5" fill="#FFFFFF" cx="18" cy="12" r="2"></circle>
                                    </g>
                                </g>
                            </svg>
                            <span>LINE</span>
                        </div>
                        <div id="select-polygon">
                            <svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Polygon" stroke="#818181">
                                        <path d="M4.5,20.5 L10.5,5.5" id="Line" stroke-linecap="square"></path>
                                        <path d="M17.5,17.5 L21.5,7.5" id="Line-Copy-3" stroke-linecap="square"></path>
                                        <path d="M18.5,6.5 L13.5,4.5" id="Line-Copy-2" stroke-linecap="square"></path>
                                        <path d="M6.09615385,20.75 L16.5,19.5" id="Line-Copy" stroke-linecap="square"></path>
                                        <circle id="Oval-Copy-2" fill="#FFFFFF" cx="4" cy="21" r="2"></circle>
                                        <circle id="Oval-Copy-4" fill="#FFFFFF" cx="17" cy="19" r="2"></circle>
                                        <circle id="Oval-Copy-6" fill="#FFFFFF" cx="12" cy="4" r="2"></circle>
                                        <circle id="Oval-Copy-5" fill="#FFFFFF" cx="21" cy="8" r="2"></circle>
                                    </g>
                                </g>
                            </svg>
                            <span>POLYGON</span>
                        </div>
                    </div>
                </div>
    </div>
    <div class="layer-column">
        <p class="layer-datasource">
            data source:
            <a href="/data/{{project.id}}/#/table/{{dataset.overlay_type}}" target="_blank">{{name}}</a>
        </p>
    </div>
    <div class="layer-column lc-3">
        <span class="collapse-wrapper">
            <i class="fa fa-caret-down fa-lg collapse"></i>
        </span>
        <a><p class="layer-style-by" id="layer-style-by">styled by: {{group_by}}</p></a>
    </div>
    <div id="symbols-list">
        {{#each dataList}}
        <li class="list-item">
            <a>
                <p>{{this.display_name}}
                    {{#ifequal this.property ""}}<i class="fa fa-question-circle"></i>{{/ifequal}}

                </p>
            </a>

        </li>
        {{/each}}
    </div>
</div>
