<div class="style-section-header-wrapper">
    <div id="add-layer">
        <div class="plus-container" style="position:relative;float:left;">
            <i class="fa fa-plus add" aria-hidden="true"></i>
        </div>

        <h4>Add Layer</h4>
    </div>
</div>
    {{#if noLayers}}
    <p class="layer-none-message">Click the plus sign to create a new layer</p>
    {{/if}}
<div id="layers" class="layers">
</div>
<!-- <div class="style-by-menu" id="style-by-menu" style="display: none;"></div> -->