<!-- TODO: Every project should have at least one map that cannot be deleted -->
<div class="selected-map">
    <div class="selected-map-item" data-value="{{ id }}">
        <p class="selected-map-name" data-value="{{ id }}">{{ name }}</p>
        <i class="fa fa-pencil map-edit" data-value="{{ id }}" aria-hidden="true"></i>
        <a href="{{ sharing_url }}" target="_blank" style="color: white;">
            <p class="map-preview">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </p>
        </a>
    </div>
</div>
