<form class="form">
    <div class="row {{#if generalError}}error{{/if}}">
        <label>Map Name</label>
        <input id="map-name" type="text" value="{{name}}"
            placeholder="name of your map">
    </div>
    <div class="row">
        <label>Description</label>
        <textarea id="map-description" value=""
            placeholder="Add a description to help people understand your map"></textarea>
    </div>
    <div class="row">
        <input type="radio" name="choose-dataset" id="new-dataset">
        <label>Create a new dataset</label>
    </div>
    <div class="row">
        <input type="radio" name="choose-dataset" id="existing-datasets" checked>
        <label>Use existing project dataset(s):</label>
        <div class="checkbox-list" style="margin-left: 30px;">
            {{#each datasets}}
                <input type="checkbox" name="dataset" checked value="{{this.key}}">
                <label>{{this.title}}</label><br>
            {{/each}}
        </div>
    </div>
    {{#if slugError}}
        <p class="errorMessage">{{slugError}}</p>
    {{/if}}
    {{#if generalError}}
        <p class="errorMessage">{{generalError}}</p>
    {{/if}}
</form>
