<div class="form">
    <div class="row {{#if errors.name}} error{{/if}}">
        <label>Map Name</label>
        <input id="map-name" type="text" value="{{name}}"
            placeholder="name of your map">
        {{#if errors.name}}
            <p>{{ errors.name }}</p>
        {{/if}}
    </div>
    <div class="row">
        <label>caption</label>
        <textarea id="map-caption" value=""
            placeholder="Add a caption to help people understand your map">{{caption}}</textarea>
    </div>
    <div class="row">
        <input type="radio" name="choose-dataset" id="new-dataset" {{create}}>
        <label>Create a new dataset</label>
    </div>
    <div class="row {{#if errors.datasets}} error{{/if}}" style="padding: 0px;">
        <input type="radio" name="choose-dataset" id="existing-datasets" {{existing}}>
        <label>Use existing project dataset(s):</label>
        <div class="checkbox-list" style="margin-left: 30px;{{#if create}} display: none;{{/if}}" >
            {{#each datasets}}
                <input type="checkbox" id="{{this.formID}}" name="dataset" {{this.checked}} value="{{this.formID}}">
                <label>{{this.title}}</label><br>
            {{/each}}
        </div>
        {{#if errors.datasets}}
            <p>{{ errors.datasets }}</p>
        {{/if}}
    </div>
</div>
