<form class="form">
    <div class="row {{#if generalError}}error{{/if}}">
        <label>Map Name</label>
        <input type="text" placeholder="name of map" id="new-map-name" value="{{name}}">
    </div>
    <div class="row">
        <label>Description</label>
        <textarea placeholder="map description" id="new-map-description" value="{{description}}"></textarea>
    </div>
    <!-- div class="row {{#if slugError}}error{{/if}}">
        <label>Friendly URL</label>
        <input type="text" placeholder="enter name or leave blank for autofill" id="new-map-slug" value="{{slug}}">
    </div -->
    <div class="row">
        <input type="radio" name="choose-dataset" id="new-dataset">
        <label>Create a new dataset</label>
    </div>
    <div class="row">
        <input type="radio" name="choose-dataset" id="existing-datasets" checked>
        <label>Use existing project dataset(s):</label>
        <div class="checkbox-list" style="margin-left: 30px;">
            {{#each datasets}}
                <input type="checkbox" name="dataset" checked value="{{this.key}}">
                <label>{{this.title}}</label><br>
            {{/each}}
        </div>
    </div>
    {{#if slugError}}
        <p class="errorMessage">{{slugError}}</p>
    {{/if}}
    {{#if generalError}}
        <p class="errorMessage">{{generalError}}</p>
    {{/if}}
</form>
