{{#if isIndividual}}
    <a model-id="{{id}}" id="{{id}}" href="#/{{map_id}}/layers/{{layer_id}}/{{dataset.overlay_type}}/{{id}}" class="ind-symbol {{#if active }}highlight{{/if}}">
        {{#unless geomType}}
            <i class="fa fa fa-question-circle"></i>
        {{/unless}}
        {{{ svg }}}
        <p class="ind-symbol_text">
            {{display_name}}
            {{#ifequal display_name ""}}Untitled{{/ifequal}}
        </p>
        <i class="fa fa-pencil-alt symbol-edit-individual" aria-hidden="true"></i>
    </a>
{{else}}
    <a model-id="{{id}}" id="{{id}}" href="#/{{map_id}}/layers/{{layer_id}}/{{dataset.overlay_type}}/{{id}}" {{#if active }}class="highlight"{{/if}}>
        {{#unless geomType}}
            <i class="fa fa fa-question-circle"></i>
        {{/unless}}
        {{{ svg }}}
        <p class="reg-symbol_text">
            {{display_name}}
            {{#ifequal display_name ""}}Untitled{{/ifequal}}
        </p>
    </a>
{{/if}}
