<div class="spreadsheet-toolbar">
    <div class="main-search">
    	<form class="search-form">
    		<input id="searchTerm" type="text" value="" placeholder="Filter data">
    		<button id="toolbar-search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
    	</form>
    </div>
    <button id="toolbar-clear" style="display:none;">Clear</button>
    <a href="#" id="add-row" class="button-tertiary add-new"
        data-type="dataset_77" screen-type="table">
        <i class="fa fa-plus add-feature-icon" aria-hidden="true"></i>Add Row
    </a>
</div>

<main class="spreadsheet-container">


</main>
