// main: ../main-new.scss
$icon-line-height: 22px;

.breadcrumb {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0), 0 2px 4px -1px rgba(0, 0, 0, 0);
    z-index: 2;
    position: absolute;
    width: 100%;
}

.breadcrumb-container {
    display: inline-flex;
    padding: 10px 30px;
    height: 20px;

}

.breadcrumb-level-container {
    display: inline-flex;
    position: relative;

    .fa-angle-right {
        padding: 0px 15px;
        line-height: $icon-line-height;
    }

    .fa-angle-down {
        line-height: $icon-line-height;
        padding: 0px 8px;
        font-weight: 600;
    }
}

.breadcrumb-hover {
    height: 28px;
    border-radius: 3px;
    padding: 0px 5px;
    cursor: pointer;
    &:hover {
        background: #f3f3f3;
    }
}



.breadcrumb-text {
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
}

.breadcrumb-text_current {
    @extend .breadcrumb-text;
    font-weight: 600;

}

#map-list {
    position: absolute;
    left: 36px;
    top: 26px;
    z-index: 500;
    border-radius: 0px 0px 5px 5px;
}
