// main: ../main-new.scss
/********** for dragging/dropping pins on map ********************/
#follower {
    position: absolute;
    display: none;
  }


  #add-geometry, #add-rectangle, #delete-geometry {
      display: block;
      text-align: center;
      margin: 30px auto;
      min-width: 180px;
      width: auto;
  }

  #add-geometry:focus, #add-rectangle:focus, #delete-geometry:focus {
      outline: none;
  }

  .geometry-list-wrapper {
      text-align: left;
      margin-top: 6px;

      >div {
          display: block;
          margin: 0px 0px;
          padding: 3px 6px;
          font-size: 12px;
          cursor: pointer;

          svg {
              vertical-align: middle;
          }
      }
      >div:hover {
          background-color: #7b9be1;
          color: white;
          span {
              color: white;
          }
          svg, circle, g {
              fill: #fff;
              stroke: #fff;
          }
      }
  }

.dropdown-svg:hover {
    fill: #ffffff;
    stroke: #ffffff;
}

#drop-marker-message {
    margin-top: -20px;
    margin-bottom: 20px;
    text-align: center;

}

.latlong {
    display: inline;
}

.latlong-container {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
}


#add-media-button {
    border: medium none;
    font-size: 3em;
    border-color: #e7e7e7;
    color: #e4e5eb;
    background-color: rgba(255,255,255,0);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    margin-top: 10px;

    .fa-plus {
        font-size: 32px;
        top: -20px;
        position: relative;
        left: 25px;
    }
    .fa-headphones, .fa-images {
        font-size: 12px;
    }
}

.upload-spot > h4{
	margin:10px;
}

.upload-spot {
    border: dashed;
    text-align: center;
    padding: 0px;
    border-color: #e4e5eb;
    border-width: 2px;
    border-radius: 3px;
    width: 96px;
    height: 96px;
    display: inline-block;
    vertical-align: top;
    margin-left: 28px !important;
}


.upload-spot:hover{
    color: white;
    background: $off-white;
}
