// main: ../main-new.scss
/********** for dragging/dropping pins on map ********************/
#follower {
    position: absolute;
    display: none;
  }


  #add-geometry, #add-rectangle, #delete-geometry {
      display: block;
      text-align: center;
      margin: 30px auto;
      min-width: 180px;
      width: auto;
  }

  #add-geometry:focus, #add-rectangle:focus, #delete-geometry:focus {
      outline: none;
  }

  .geometry-list-wrapper {
      text-align: left;
      margin-top: 6px;

      >div {
          display: block;
          margin: 0px 0px;
          padding: 3px 6px;
          font-size: 12px;
          cursor: pointer;

          svg {
              vertical-align: middle;
          }
      }
      >div:hover {
          background-color: #7b9be1;
          color: white;
          span {
              color: white;
          }
          svg, circle, g {
              fill: #fff;
              stroke: #fff;
          }
      }
  }

  .dropdown-svg:hover {
      fill: #ffffff;
      stroke: #ffffff;
  }

  #drop-marker-message {
      margin-top: -20px;
      margin-bottom: 20px;
      text-align: center;

  }

  .latlong {
      display: inline;
  }

  .latlong-container {
      text-align: center;
      margin-top: -20px;
      margin-bottom: 30px;
  }
