.layer-container {
    background: white;
    .layer-name {
        cursor: pointer;
    }
    .open-layer-menu {
        float: right;
        padding: 2px 7px;
    }
    .layer-menu {
        -webkit-touch-callout: none; 
        -webkit-user-select: none;
         -khtml-user-select: none; 
           -moz-user-select: none; 
            -ms-user-select: none; 
                user-select: none; 
    }

    .layer-column {
        padding: 2px 10px;
    }
    .add-record-container {
        float: right;
        height: 25px;
        width: 40px;
        border-radius: 5px;
        border: 1px solid #dedcdc;
        padding: 2px 5px;
        padding-top: 4px;
    }
    .left-geometry-button {
        float: right;
        padding: 4px 4px 1px 4px;
        border: 1px solid #dadada;
        border-radius: 4px;
        &:hover {
            background: #f1f1f1;
        }
    }
    .add-record {
        margin-top: 5px;
        margin-right: 5px;
    }

    #select-point, #select-polygon,
    #select-polyline {
        display: block;
        margin: 0px 0px;
        padding: 3px 2px;
        line-height: 26px;
        font-size: 12px;
        border-top: 1px solid #e4e5eb;
        &:hover {
            background-color: #EEE;
        }
    }

}

.collapse {
    .symbol-item {
        display: none;
    }
}

.symbol-item {
    border-bottom: 1px solid #ebebeb;
    font-size: 12px;
    list-style: none;
    background-color: #f7f7f7;
    height: inherit;

    &:hover {
        background: #EEE;
        color: #444;
    }

    a {
        text-decoration: none;
        padding: 6px 32px;
        display: inline-block;
        width: 100%;
    }
    p {
        display: inline-block;
        margin-top: 3px;
        vertical-align: middle;
    }
}

.layer-datasource {
    font-size: 11px;
    margin-left: 20px;
}

.layer-style-by {
    font-size: 11px;
    margin-left: 7px;
    display: inline;
    color: #8bb8ed;
    font-weight: bold;
    span {
        color: inherit;
    }
    &:hover {
        text-decoration: underline;
    }
}
