// main: ../main-new.scss
.layer-container {
    background: white;
    .fa {
        color: #999;
    }
    .symbols {
        border-bottom: 1px solid #e8e8e8;
        margin: 5px 0px 0px 0px;
        .symbol-level-svg {
            display: none;
        }
        &.minimize {
            .symbol,
            .symbol-item {
                display: none;
            }
            .sort-by,
            .count {
                font-weight: normal;
            }
            .symbol-level-svg {
                display: inline-block;
            }
            .symbol-header {
                line-height: 22px;
                .symbol-edit,
                .symbol-display {
                    padding-top: 3px;
                }
            }
        }
    }
    .layer-header {
        background: #f7f7f7;
        padding: 10px 0px 7px 0px;
        border-bottom: 1px solid #e8e8e8;

        .layer-column {
            padding: 0px 0px 0px 10px;
        }
        .add-record-container {
            float: right;
            cursor: pointer;
            height: 20px;
        }
        .left-geometry-button {
            float: right;
            padding: 4px 4px 1px 4px;
            border: 1px solid #dadada;
            border-radius: 4px;
            &:hover {
                background: #f1f1f1;
            }
        }
        .add-record {
            margin-top: 5px;
            margin-right: 5px;
        }

        #select-point, #select-polygon,
        #select-polyline {
            display: block;
            margin: 0px 0px;
            padding: 3px 2px;
            line-height: 26px;
            font-size: 12px;
            border-top: 1px solid #e4e5eb;
            &:hover {
                background-color: #EEE;
            }
        }
        .add-polygon_svg, .add-polyline_svg {
            margin-right: 5px;
        }
        .layer-name {
            cursor: pointer;
            font-weight: 600;
            display: inline;
            font-size: 13px;
            margin-left: 4px;
        }
        .collapse {
            color: #777;
            .symbol-item {
                display: none;
            }
        }
        .open-layer-menu {
            float: right;
            padding: 2px 8px 2px 6px;
            cursor: pointer;
        }
        .layer-menu {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
             -khtml-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
        }
    }

    .no-symbols-found {
        padding: 0px;
        background: $warn-background;
        >div {
            margin: 30px 10px;
            text-align: center;
            color: $warn-text;
        }
    }
    .layer-metadata {
        margin: 5px 0px 0px 8px;
        font-size: 11px;
        td {
            line-height: 10px;
            padding-right: 5px;
            .collapse {
                display: inline-block;
                width: 10px;
            }
        }
        a {
            color: #4691e8;
            font-weight: 600;
            font-size: 11px;
            &:hover {
                text-decoration: underline;
            }
        }
        .fa {
            font-size: 1.6em;
        }
    }
}
.hide-layer {
    .lc-2,
    .lc-3,
    .no-symbols-found,
    .add-record-container,
    .layer-details {
        display: none;
    }
}
