// main: ../main-new.scss
.style-by-menu {
    position: absolute;
    // background: white;
    left: 50px;
    z-index: 501;
    // border: 1px solid #ebebeb;
}

.style-by-menu_close {
    top: 3;
    right: 3;
    position: absolute;
    cursor: pointer;
}

.symbol-menu {
    z-index: 501;
    position: absolute;
    background: white;
}

// .form-inline .row > .msv-label {
//     flex: 0 0 85px;
// }
.marker-style {
    padding: 0px 10px 5px 10px;
    font-size: 12px;

    // .marker-style_row {
    //     padding: 6px 0px;
    // }
    // .marker-style_label {
    //     font-size: 12px;
    // }
    // .marker-style_shape-inner-row {
    //     margin: 0 auto;
    //     width: 100%;
    //     display: flex;
    //     justify-content: space-evenly;
    // }
    // .marker-style_shape-wrapper {
    //     border: 2px solid white;
    //     padding: 2px;
    //     border-radius: 3px;
    //     width: 30px;
    //     text-align: center;
    // }
    // .marker-style_shape-wrapper.selected-shape {
    //     border: 2px solid #dbdbdb;
    // }
    // .marker-style_shape-wrapper:hover {
    //     border: 2px solid #8bb8ed;
    // }
    // .marker-style_shape {
    //     color: #dbdbdb;
    // }
}
.marker-style .form-inline .row {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .msv-label {
        flex: 0 0 85px;
    }

    .stroke-color {
        height: 25px;
        flex: 0 0 25px;
        border-radius: 5px;
        border: 2px solid rgba(35, 35, 35, 0.15);
    }
}

.palette-container {
    flex: 3;
}

.visual-edit {
    padding: 12px;
    background-color: white;
    border: 1px solid #d4d6db;
    position: relative;
    border-radius: 3px;
}

.msv-header {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}

.palette-wrapper {
    width: 200px;
    flex: 1;
    width: 200px;
    position: absolute;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #e4e5eb;
    z-index: 100;
    box-shadow: 2px 2px 2px 1px rgba(53, 76, 122, 0.06);
    display: none;
    top: 1px;
}

#bucket {
    width: 40px;
}
