.pw-required-background {
    background-image: url(../assets/splash-map-5.png);
    background-size: cover;
    height: 100%;
    padding-top: 12%;
}

.pw-required-wrapper {
    width: 350px;
    background: #f6f6f9;
    padding: 20px 30px;
    margin: 0 auto;
    border-radius: 5px;

    hr {
        border: solid 1px #d8d6d6;
    }
}

#pw-required-label {
    display: block;
    padding-bottom: 12px;
    padding-left: 5px;
}

.pw-required-button-wrapper {
    padding: 15px 0px 0px 0px;
}

.pw-required-header {
    padding-left: 5px;
}

.pw-required-input.row {
    margin: 0 !important;
}