.presentation-options_list {
    list-style: none;
    padding: 8px 12px;
    li {
        padding: 6px 6px;
        cursor: default;
        border-bottom: 1px solid #e4e5eb;
        display: flex;
        justify-content: space-between;

        span {
            font-weight: 600;
        }
    }
    li:last-child {
        border-bottom: none;
        cursor: pointer;
    }    
}

.edit-title-card-menu {
    .title-card_label {
        font-style: italic;
        font-size: 11px;
        color: #bcbcbc !important;
    }

    .title-card_textarea {
        height: 200px;
    }
}

.photo-icon_wrapper {
    display: flex;
    justify-content: flex-end;
    i {
        color: #888888;
        cursor: pointer;
    }
}