@media (min-width: 901px) {
    #legend {
        height: auto;
        width: auto;
        min-width: 260px;
    }
}

.legend-show_symbol {
    display: none;
}

.half-opac {
    opacity: 0.5;
}

.symbol-entry {
    display: grid;
    grid-template-columns: 36px auto 22px;
    align-items: center;
    &:hover {
        background: #f0f1f5;
    }

    p {
        display: inline-block;
        padding: 0px 4px 0px 10px;
    }

    &:hover .legend-show_symbol{
        display: inline-block;
    }

}