// main: ../main-new.scss

.project-detail_wrapper {
    height: calc(100% - 43px);
    top: 43px;
    position: absolute;
    width: 100%;
    border-top: 1px solid #dcdcdc;
}

.project-detail_inner {
    margin: auto;
    max-width: 900px;
}


.project_maps-header, .project_dataset-header {
    padding: 7px;
    background: $light-gray;

    h4 {
      font-weight: 600;
    }
}

.map-list_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.map-card {
    height: 266px;
    width: 190px;
    border: 1px solid #e4e5eb;
    min-width: 170px;
    margin: 15px;
    background: #fbfafa;
}

.map-item_map-area {
    background: #fbfafa;
    height: 190px;
    background-image: url(../assets/background-13.png);
    background-size: cover;

    .fa-ellipsis-v {
        float: right;
    }

}

.map-item_panel {
    background: white;
    height: 76px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    padding-bottom: 2px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 10px;
    grid-auto-rows: auto;

    i.fa.fa-ellipsis-v {
        justify-self: end;
        cursor: pointer;
    }
}

.map-item_name {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.map-item_small-text {
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-column-start: 1;
}

.project_header_inner {
    padding: 10px;
    padding-bottom: 20px;

    h3 {
        font-weight: 600;
    }

    p {
        font-size: 14px;
    }
}

.dataset-item {
    margin: 15px;

    .fa-ellipsis-v {
        float: right;
    }
    span {
        font-size: 14px;
    }
}