// main: ../main-new.scss

.project-detail_wrapper {
    height: calc(100% - 43px);
    top: 43px;
    position: absolute;
    width: 100%;
    border-top: 1px solid #dcdcdc;
    overflow-y: scroll;
}

.project-detail_inner {
    margin: auto;
    max-width: 900px;
    padding-bottom: 60px;
}

.project_map-list, .project_dataset-list {
    padding-bottom: 20px;
}


.project_maps-header, .project_dataset-header {
    padding: 7px;
    border-bottom: 1px solid #e4e5eb;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    h4 {
        font-weight: 300;
        font-size: 25px;
    }
    button {
        margin-left: auto;
    }
}

// .map-list_wrapper {
//     display: flex;
//     flex-wrap: wrap;
// }

// .map-card {
//     height: 266px;
//     width: 190px;
//     border: 1px solid #e4e5eb;
//     min-width: 170px;
//     margin: 15px;
//     background: #fbfafa;
// }

.map-item_map-area {
    background: #fbfafa;
    height: 190px;
    background-image: url(../assets/background-13.png);
    background-size: cover;

    .fa-ellipsis-v {
        float: right;
    }

}

// .map-item_panel {
//     background: white;
//     height: 76px;
//     padding: 5px;
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//     padding: 5px;
//     padding-bottom: 2px;
//     box-sizing: border-box;
//     grid-template-columns: auto 10px;
//     grid-auto-rows: auto;

//     i.fa.fa-ellipsis-v {
//         justify-self: end;
//         cursor: pointer;
//     }
// }

.map-item_name {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.map-item_small-text {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 600px;
}

.project_header_inner {
    padding: 10px;
    padding-bottom: 20px;

    h3 {
        font-weight: 300;
        font-size: 28px;
    }

    p {
        font-size: 14px;
    }
}

.dataset-list_wrapper, .map-list_wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.project_map-item {
    padding: 15px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-bottom: 1px solid #e4e5eb;
    margin-bottom: -1px;
    &:hover {
        border: 1px solid #e4e5eb;
        border-radius: 4px;
    }
}

.project_map-item_right-wrapper {
    display: flex;
    margin-left: auto;

    .map-item_right-text {
        text-align: right;
        margin-right: 10px;
    }

    .fa {
        cursor: pointer;
        align-self: center;
    }
}

.dataset-item {
    padding: 15px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-bottom: 1px solid #e4e5eb;
    margin-bottom: -1px;

    .fa-ellipsis-v {
        float: right;
    }
    span {
        font-size: 14px;
    }

    &:hover {
        border: 1px solid #e4e5eb;
        border-radius: 4px;
    }
    
}

.dataset-item_name {
    font-size: 14px;
}

.dataset-item_description {
    font-size: 12px;
    color: gray;
}

.dataset-item_right-wrapper {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-self: flex-end;
    margin-left: auto;

    span {
        font-size: 14px;
        margin-right: 10px;
        color: gray;
    }
    .fa {
        cursor: pointer;
    }
}
