// main: ../main-new.scss
.modal.spreadsheet {
    z-index: 2;
    .content {
        background: #fafafc;
        transform: none;
        top: auto;
        margin: 40px auto 0 !important;
        padding-bottom: 10px !important;

        .body {
            overflow: hidden;
            background-color: transparent;
            border-top: 0px solid #e4e5eb;
            max-height: none;
            height: auto;
            > div {
                margin: 0px;
            }
            .spreadsheet-toolbar {
                box-shadow: 0 1px 1px 1px rgba(53, 76, 122, 0.06);
                padding: 0px 20px 10px 20px;
                display: flex;
                z-index: 3000000000;
                position: relative;
            }
        }
    }
    .handsontable {
        .htCore {
            th {
                >div {
                    //@include overflow-text();
                }
            }
        }
        .columnSorting {
            &.ascending:after, &.descending:after {
                right: 20px;
            }
            text-decoration: none;
        }

        .fa-ellipsis-v {
            color: #999;
            display: inline-block;
            padding: 4px 8px;
            margin-left: auto;
        }
        .fa-ellipsis-v:hover {
            background: #EEE;
            border-radius: 20px;
        }
        .hide-overflow {
            max-width: 85%;
            @include overflow-text();
        }
        .colHeader {
            display: flex;
        }

        .fa-trash {
            color: #BBB;
            margin: 10px;
            font-size: 1.3em;

            &:hover {
                color: #DDD;
            }
        }
    }

    .play-ctrls {
        background: #F0F0F0;
    }
    .media-items_wrapper {
        margin: 0px;
    }
    .attached-container, .audio-container {
        margin: 4px 4px 0px 0px;
        width: 48px;
        height: 48px;
        &.video-container {
            background: #f0f1f5;
            text-align: center;

            .fab {
                line-height: 48px;
                vertical-align: text-bottom;
                font-size: 30px;
                opacity: 0.6;
                &.fa-vimeo {
                    color: #00ADEF;
                }
                &.fa-youtube {
                    color: #ff0002;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
        .attached-media-overlay, .attached-media, .audio-basic {
            width: 48px;
            height: 48px;
        }
        .attached-media-overlay {
            &:hover {
                opacity: 1;
                background: rgba(255, 255, 255, 0.5);
            }
            margin-top: -48px;
            .edit {
                float: right;
                color: #444;
                font-size: 12px;
                line-height: 12px;
                margin: 2px;
                cursor: pointer;
                text-shadow: none;
            }
            .detach_media {
                display: none;
            }
        }
    }
}
