.sort-by {
    width: 100%;
    font-size: 12px;
    padding: 8px 20px;
    /* margin: 10px 0px; */
    display: inline-block;
    background-color: #f7f7f7;
    font-weight: 600;
}

.symbol-header {
    display: flex;
    background: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
}

.symbol-edit {
    padding-top: 8px;
    padding-right: 10px;
    display: none;
}

.symbol-header:hover .symbol-edit {
    display: block;
    cursor: pointer;
}