// main: ../main-new.scss
.sort-by {
    font-size: 12px;
    font-weight: 600;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.count {
    font-size: 12px;
    color: #949393;
    font-weight: 600;
    margin-left: 4px;   
}

.symbol-wrapper {
    // border-bottom: 1px solid #ebebeb;
    padding-left: 4px;
}

.symbol-header {
    background: white;
    // border-top: 1px solid #ebebeb;
    padding: 0px 7px;
    border-top: 3px solid white;
    border-right: 3px solid white;
}

.symbol-edit, .symbol-display, .symbol-edit-individual {
    padding-top: 8px;
    padding-right: 6px;
    float: right;
}
.symbol-edit, .symbol-edit-individual {
    display: none;
}
.symbol-display.fa-eye {
    display: none;
}
.symbol-display.fa-eye-slash {
    display: inline;
}

.symbol-header:hover .symbol-edit,
.symbol-header:hover .symbol-display {
    display: inline;
    cursor: pointer;

}

.ind-symbol:hover .symbol-edit-individual,
.ind-symbol:hover .symbol-display {
    display: inline;
    cursor: pointer;

}

.half-opac .fa-eye,
.half-opac .fa-eye-slash,
.half-opac .sort-by,
.half-opac .symbol-item p,
.half-opac svg {
    opacity: 0.5;
}

.ind-symbol {
    box-sizing: border-box;
    padding: 0px 32px;
    svg {
        vertical-align: middle;
    }
    .symbol-edit-individual {
        width: auto;
        font-size: 16px;
        padding: 0;
        padding-top: 5px;
    }
}

.ind-symbol_text {
    font-size: 12px;
    padding: 4px 0px;
    display: inline-block;
    font-weight: 600;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.symbol-header {
    border-left: 1px solid #e4e5eb;
    svg {
        vertical-align: middle;
    }
}
.symbol {
    border-left: 1px solid #e4e5eb;
    border-bottom: 3px solid white;

    .highlight {
        background: rgb(123, 155, 225);
        color: #ffffff;
        p {
            color:#ffffff;
        }
    }
}

.symbol-highlight {
    .symbol-header {
        border-top: 3px solid #8bb8ed;
        border-right: 3px solid #8bb8ed;
    }
    .symbol {
        border-right: 3px solid #8bb8ed;
        border-bottom: 3px solid #8bb8ed;
    }
}

i.fa.fa.fa-question-circle {
    font-size: 19px;
    color: #CCC;
    vertical-align: bottom;
    padding: 0px 5px 0px 2px;
}

.symbol-item {
    // border-bottom: 1px solid #ebebeb;
    font-size: 12px;
    list-style: none;
    background-color: white;
    height: inherit;

    a:hover {
        background: #EEE;
        color: #444;
    }

    a, >div {
        text-decoration: none;
        padding: 6px 32px;
        display: inline-block;
        width: 100%;
    }
    .reg-symbol_text {
        display: inline-block;
        margin-top: 3px;
        vertical-align: middle;
        width: 190px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    svg {
        vertical-align: middle;
    }
}
