<a href="#/{{screenType}}/{{dataType}}/{{id}}" {{#if active }}class="highlight"{{/if}}  {{#ifnot displayOverlay}}style="opacity: 0.50"{{/ifnot}}>
    {{#if geometry }}
        <p>{{geometryType}}</p>
        
        {{#if isPoint}}
            <svg viewBox="{{ icon.viewBox }}" width="{{ width }}" height="{{ width }}">
                <path fill="{{ icon.fillColor }}" stroke-linejoin="round" stroke-linecap="round" paint-order="stroke"
                    stroke-width="2" stroke="#FFFFFF" d="{{ icon.path }}"></path>
            </svg>
        {{else if isPolygon}}
            <svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Polygon" stroke="{{ icon.fillColor }}">
                        <path d="M4.5,20.5 L10.5,5.5" id="Line" stroke-linecap="square"></path>
                        <path d="M17.5,17.5 L21.5,7.5" id="Line-Copy-3" stroke-linecap="square"></path>
                        <path d="M18.5,6.5 L13.5,4.5" id="Line-Copy-2" stroke-linecap="square"></path>
                        <path d="M6.09615385,20.75 L16.5,19.5" id="Line-Copy" stroke-linecap="square"></path>
                        <circle id="Oval-Copy-2" fill="#FFFFFF" cx="4" cy="21" r="2"></circle>
                        <circle id="Oval-Copy-4" fill="#FFFFFF" cx="17" cy="19" r="2"></circle>
                        <circle id="Oval-Copy-6" fill="#FFFFFF" cx="12" cy="4" r="2"></circle>
                        <circle id="Oval-Copy-5" fill="#FFFFFF" cx="21" cy="8" r="2"></circle>
                    </g>
                </g>
            </svg>
        {{else if isPolyline}}
            <svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Polyline" stroke="{{ icon.fillColor }}">
                        <path d="M3.5,21.5 L7.5,14.5" id="Line" stroke-linecap="square"></path>
                        <path d="M18.5,11.5 L21.5,4.5" id="Line-Copy-2" stroke-linecap="square"></path>
                        <path d="M11.0961538,12.75 L15.9038462,12.25" id="Line-Copy" stroke-linecap="square"></path>
                        <circle id="Oval-Copy-2" fill="#FFFFFF" cx="3" cy="22" r="2"></circle>
                        <circle id="Oval-Copy-4" fill="#FFFFFF" cx="9" cy="13" r="2"></circle>
                        <circle id="Oval-Copy-6" fill="#FFFFFF" cx="22" cy="3" r="2"></circle>
                        <circle id="Oval-Copy-5" fill="#FFFFFF" cx="18" cy="12" r="2"></circle>
                    </g>
                </g>
            </svg>
        {{/if}}

    {{else}}
        <i class="fa fa-question-circle" aria-hidden="true"></i>
    {{/if}}
<p>{{truncate name 30}}</p>
{{#if displayOverlay}}
    <i class="fa fa-eye toggle-visibility"></i>
{{else}}
    <i class="fa fa-eye-slash toggle-visibility"></i>
{{/if}}
</a>
