{% extends base_template %}

{% block style_links %}
	{{ form.media.css }}
    <link href="/static/css/audio.css" type="text/css" media="all" rel="stylesheet" />
{% endblock %}
{% block script_links %}

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    {{ form.media.js }}
	
	<script type="text/javascript" src="/static/scripts/site/player.js"></script>
    <script type="text/javascript" src="/static/scripts/site/account/profile.js"></script>
    <script type="text/javascript" src="/static/scripts/site/account/audio.js"></script>
{% endblock %}

{% block extra_styles %}
	{{block.super}}
	input[type=text], textarea { width: 210px !important; }
	select { width: 220px !important; }
{% endblock %}

{% block extra_scripts %}
    {{block.super}}
    var o = new localground.audio();
{% endblock %}
{% block pageload_scripts %}
	var opts = {
		skip: true,
		listenerFunction: 'o.player'
	};
    o.initialize(opts);
{% endblock %}

{% block content %}
    {% if message %}
        <div class="alert-message {% if success %}success{% else %} error {% endif %}">
            <p>{{message}}</p>
        </div>
    {% endif %}
    {% if form %}
        <form method="post" action="." {% if embed %}class="embed"{% endif %}>
            {% csrf_token %}
            
            {% include "includes/forms/generic_form_renderer.html" %}
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="hidden" name="id" value="{{ audio.id }}" />
            
            
            <div class="clearfix">
				<label>&nbsp;</label>
				<div class="input">
					<div class="playercontroller">
						<div class="button play"><a>PLAY</a></div>
						<div class="button pause"><a>PAUSE</a></div>
						<div class="button stop"><a>STOP</a></div>
						<div class="timeline"><a href="#slider" class="playerslider">SLIDER</a></div>
						<div class="counter">
							<span class="elapsed">00:00</span>|<span class="duration">00:00</span>
						</div>
					</div>
					<input type="hidden" value="{{audio.absolute_virtual_path}}" />
				</div>
			</div>
			
			<!--object class="playerpreview" id="myFlash" type="application/x-shockwave-flash" data="/static/scripts/thirdparty/audio-player/player_mp3_js.swf" width="1" height="1">
				<param name="movie" value="/static/scripts/thirdparty/audio-player/player_mp3_js.swf" />
				<param name="AllowScriptAccess" value="always" />
				<param name="FlashVars" value="listener=o.player&amp;interval=1000" />
			</object -->
			
			{% if not embed %}
			{% comment %} only show submit button if not in an iframe {% endcomment %}
            
			<div class="clearfix">
                <label>&nbsp;</label>
                <div class="input">
                    <input type="submit" value="Save" class="btn primary" />
                </div>
            </div>
			{% endif %}
        </form>
    {% endif %}
{% endblock %}