{% extends base_template %}
{% block style_links %}
	{{ form.media.css }}
{% endblock %}
{% block script_links %}
    {{ form.media.js }}
{% endblock %}
{% block extra_styles %}
    img { vertical-align: top; }
    .datetime {
        display: inline-block;
    }
    .clearfix {
        background-color: #EEE;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        {% if not embed %}
            padding: 10px !important;
            margin: 8px !important;
        {% else %}
            padding: 3px !important;
            margin: 3px !important;
        {% endif %}
    }
         
    .snippet { margin-left: 10px; }
    em { color: #999; }
    {% if not embed %}
        label { width: 160px !important; }
        .input { margin-left: 170px !important; }
    {% else %}
        label { width: 100px !important; }
        .input { margin-left: 105px !important; }
    {% endif %}
{% endblock %}

{% block pageload_scripts %}
    $('.datetime')
        .find('input:eq(0)')
        .datepicker({ dateFormat: 'mm/dd/yy' });
    $('.datetime')
        .find('input:eq(1)')
        .timepicker({
            showPeriod: true,
            showLeadingZero: true
        });top
{% endblock %}

{% block content %}
    {% if message %}
        <div class="alert-message {% if success %}success{% else %} error {% endif %}">
            <p>{{message}}</p>
        </div>
    {% endif %}
    {% if form %}
    {% comment %}{{table_name}}{% endcomment %}
    <form id="the_form" method="post" action="." {% if embed %}class="embed"{% endif %}>
        {% csrf_token %}
        <input id="form_id" name="form_id" value="{{form_id}}"type="hidden" />
        <!-- render dynamic form -->
        <fieldset id="params">
            {% if not record.has_field_level_snippets %}
                <div>
                    <label for="id_point"></label>
                    <div class="input">
                        <img src="{{ record.snippet.absolute_virtual_path }}" />
                    </div>
                </div>
            {% endif %}
            {% for field in form %}
                {% if not field.is_hidden %}
                <div class="clearfix{% if field.errors %} error{% endif %}">
                    {{ field.label_tag }}
                    <div class="input">
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}
                            <span class="help-block">{{field.help_text}}</span>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
        </fieldset>
        <!-- end dynamic form -->
        
        <input type="hidden" name="id" value="{{ record.id }}" />
        
        
        {% if not embed %}
            {% comment %} only show submit button if not in an iframe {% endcomment %}
            
            <div>
                <label>&nbsp;</label>
                <div class="input">
                    <input id="save" type="submit" value="Save" class="btn primary" />
                </div>
            </div>
        {% endif %}
    </form>
    {% endif %}
    
{% endblock %}
