{% extends base_template %}
{% block extra_styles %}
	{{block.super}}
	input[type=text], textarea { width: 210px !important; }
	select { width: 220px !important; }
{% endblock %}

{% block style_links %}
	{{ form.media.css }} 
{% endblock %}
{% block script_links %}
    {{ form.media.js }}
{% endblock %}
{% block content %}
    {% if message %}
        <div class="alert-message {% if success %}success{% else %} error {% endif %}">
            <p>{{message}}</p>
        </div>
    {% endif %}
    {% if form %}
        <form method="post" action="." {% if embed %}class="embed"{% endif %}>
            {% csrf_token %}
            
            {% include "includes/forms/generic_form_renderer.html" %}
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="hidden" name="id" value="{{ photo.id }}" />
            
            {% if not embed %}
            {% comment %} only show submit button if not in an iframe {% endcomment %}
            <div class="clearfix">
                <label>&nbsp;</label>
                <div class="input">
                    <input type="submit" value="Save" class="btn primary" />
                </div>
            </div>
            {% else %}
                <!-- show image preview -->
                <div class="clearfix">
                    <img class="thumb" style="max-width:360px;margin-right:30px;"
                        src="{{photo.absolute_virtual_path_medium }}" />
                </div>
            {% endif %}
        </form>
    {% endif %}
{% endblock %}