{% extends base_template %}

{% block style_links %}
    <link rel="stylesheet" href="/static/css/twitter/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/jquery.fileupload-ui.css" />
    <link rel="stylesheet" href="/static/backbone/css/upload.css" />
	<link rel="stylesheet" href="/static/scripts/thirdparty/pageguide-master/css/pageguide.css" />
{% endblock %}
{% block jquery_version %}
	<script src="{{ JQUERY_PATH }}"></script>
{% endblock %}	
{% block script_links %}
    <script src="{{ JQUERY_UI_PATH }}"></script>
    <script src="/static/backbone/js/api/views/uploader/jquery.fileupload.js" type="text/javascript" ></script>
    
    <!-- for thumbnailing -->
    <script src="/static/backbone/js/api/views/uploader/load-image.min.js" type="text/javascript" ></script>
    <script src="/static/backbone/js/api/views/uploader/canvas-to-blob.min.js" type="text/javascript" ></script>
    <script src="/static/backbone/js/api/views/uploader/jquery.fileupload-ip.js" type="text/javascript" ></script>
    <script src="/static/backbone/js/api/views/uploader/upload.js" type="text/javascript" ></script>
    
    <!-- page guide -->
    <script type="text/javascript" src="/static/scripts/thirdparty/pageguide-master/js/pageguide.js"></script>
{% endblock %}

{% block extra_styles %}
    {{block.super}}

    {% if not embed %}
        h1 { margin:20px 0px 20px 0px; }
    {% else %}
        h1 { margin:0px 0px 20px 0px; }
    {% endif %}

{% endblock %}

{% block pageload_scripts %}
    var o = new Uploader({
        mediaType: "{{selected_media_type.0}}",
        acceptFileTypes: '{{selected_media_type.2}}'
    });
    {% if not embed %}
    var pageguide = tl.pg.init();
    {% endif %}
{% endblock %}

{% block content %}
{% block main_content %}
    <div class="container">
        <h1>
            {% if selected_media_type.0 == 'photos' %}
                <img class="header-icon" src="/static/images/camera_large.png" />
            {% endif %}
            {% if selected_media_type.0 == 'map-images' %}
                <img class="header-icon" src="/static/images/clipboard_large.png" />
            {% endif %}
            {% if selected_media_type.0 == 'audio' %}
                <img class="header-icon" src="/static/images/headphones_large.png" />
            {% endif %}
            Upload <span style="color:#ccc">{{ selected_media_type.1}}</span>
        </h1>
        <!-- Row #1 -->
        <div class="row">
            <!-- Cell #1 -->
            <ul class="nav nav-pills">
                {% for media_type in media_types %}
                    <li {% if selected_media_type.0 == media_type.0 %}class="active"{% endif %}>
                         <a href="/upload/{{media_type.0}}/{% if embed %}embed{% endif %}">{{media_type.1}}</a>
                    </li>
                {% endfor %}
            </ul>
            <!-- Cell #2 -->
            <div class="sel-project span5">
                <div class="btn-group-plain">
                    <a class="dropdown-project" data-toggle="dropdown" href="#">change<span class="dark-caret"></span>
                    </a>
                    <input type="hidden" name="project" id="project" value="{{selected_project.id}}" />
                    <ul class="dropdown-menu pull-right">
                        {% for p in projects %}
                            <li><a id="{{p.id}}" href="#">{{p.name}}</a></li>
                        {% endfor%}
                    </ul>
                </div>
                <span id="project-name" style="color: #333;font-weight:bold;font-size:24px;">{{selected_project}}</span>
            </div>
        </div>
        
        <!-- alert, error, and success messages -->
        <div class="row">
            {% include "includes/messages.html" %}
        </div>
        
        <!-- Row #2 -->
        <div class="row">
            <!-- Cell #1 -->
            <div id="uploaded" class="span9" style="min-height:250px;">
                <div id="nothing-here" style="font-size:20px;color:#666">
                    No <strong>{{selected_media_type.1|upper}}</strong> uploaded yet
                </div>
            </div>
            
            <!-- Cell #2 -->
            <div id="dropzone" class="span5 well" style="height: 250px;">
                <div class="drop-region">
                    Drag your {{selected_media_type.1|lower}} here
                    <br>-or- <br>
                    <span class="btn success fileinput-button" style="margin-top:10px;margin-bottom:10px;">
                        <i class="icon-plus icon-white"></i>
                        <span>Navigate to your {{selected_media_type.1|lower}}...</span>
                        <input id="fileupload" type="file" name="file_name_orig" multiple>
                    </span>
                    <br><small>Acceptable file types include: <br>
                    <span id="acceptable" style="color:#333;font-weight:bold;">{{selected_media_type.2}}</span></small>
                </div>
            </div>
        </div>
	
    </div>
    {% csrf_token %}
    {% if not embed %}
    <!-- Instructions -->
    <ul id="tlyPageGuide" data-tourtitle="Uploading data/media to your map">
        <li class="tlypageguide_left" data-tourtarget=".nav-pills">
            <div>
                You are currently on the <strong><u>{{selected_media_type.1|lower}}</u></strong>
                upload page.  If you would like to upload a different media type,
                click the appropriate button.
            </div>
        </li>
        <li class="tlypageguide_left" data-tourtarget=".sel-project">
            <div>
                All media will be added to the active project.  Use the "change" button to
                select a different project.
            </div>
        </li>
        <li class="tlypageguide_left" data-tourtarget="#dropzone">
            <div>
                To upload {{selected_media_type.1|lower}}, just drag your files onto the gray zone.
                They should start uploading automatically.  Only {{selected_media_type.2}} file types
                (also listed below the green button) can be uploaded to Local Ground for
                this particular form.
            </div>
        </li>
        
    </ul>
    {% endif %}
    
{% endblock %}
{% endblock %}