{% extends base_template %}

{% block style_links %}
    <link rel="stylesheet" href="/static/css/twitter/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/jquery.fileupload-ui.css" />
	<link rel="stylesheet" href="/static/scripts/thirdparty/pageguide-master/css/pageguide.css" />
{% endblock %}
{% block jquery_version %}
	<script src="{{ JQUERY_PATH }}"></script>
{% endblock %}	
{% block script_links %}
    <script src="{{ JQUERY_UI_PATH }}"></script>
    <script src="/static/scripts/site/uploader/jquery.fileupload.js"></script>
    
    <!-- for thumbnailing -->
    <script src="/static/scripts/site/uploader/load-image.min.js"></script>
    <script src="/static/scripts/site/uploader/canvas-to-blob.min.js"></script>
    <script src="/static/scripts/site/uploader/jquery.fileupload-ip.js"></script>
	<script type="text/javascript" src="/static/scripts/site/uploader/upload.js"></script>
	
	<!-- page guide -->
	<script type="text/javascript" src="/static/scripts/thirdparty/pageguide-master/js/pageguide.js"></script>
{% endblock %}

{% block extra_styles %}
	{{block.super}}

	.nav-pills {
		margin-left: 20px;
		margin-bottom: 10px;
		width: 550px;
	}
	.sel-project {
		display: inline-block;
		margin-left: 10px;
		width: 330px;
	}
	.btn-group-plain { float: right; margin-top: 12px; }
	#project-name { margin-right: 5px; display: inline-block; float: right; }
	.alert {
		width: 853px;
		display: none;
		margin-top: 0px;
		margin-bottom: 10px;
	}
	.progress { height: 8px; }
	.img-polaroid {
		float: left;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.img-polaroid > p {
		margin-top: 5px;
		line-height: 12px;
		font-size: 11px;
		color: #999;
		margin: 0px;
		text-align: center;
		overflow: hidden;
	}
	.file-container {
		width: 155px;
		height: 190px;
		float: left;
        margin-left: 8px;
        margin-right: 8px;
	}
	#nothing-here {
		text-align:center;
		vertical-align:middle;
		height: 40px;
		position: absolute;
		top: 50%;
		margin-top: -20px;
		width: 100%;
	}
	
	#dropzone > div {
		text-align:center;
		vertical-align:middle;
		height: 100px;
		position: absolute;
		top: 40%;
		margin-top: -50px;
		width: 100%;
	}
	
	#uploaded, #dropzone {
		position: relative;
		border: 1px solid #eee;
		border: 1px solid rgba(0, 0, 0, 0.05);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding: 15px;
	}
    #dropzone {
        background: #EEEEEE;
        text-align: center;
        font-weight: bold;
		margin-bottom: 0px !important;
		background-color: #f5f5f5;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		font-weight: normal;
    }
    #dropzone.in {
        width: 860px;
        height: 220px;
        font-size: larger;
    }
    #dropzone.hover {
        background: palegreen;
    }
    #dropzone.fade {
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        opacity: 1;
    }

{% endblock %}
{% block extra_scripts %}
    {{block.super}}
    var o = new localground.uploader();
{% endblock %}
{% block pageload_scripts %}
	o.initialize({
		mediaType: '{{selected_media_type.0}}',
		acceptFileTypes: '{{selected_media_type.2}}'
	});
	var pageguide = tl.pg.init();
{% endblock %}

{% block content %}    
    <div class="container">
		<h1 style="margin:20px 0px 25px -8px;">
			{% if selected_media_type.0 == 'photos' %}
				<img class="header-icon" src="/static/images/camera_large.png" />
			{% endif %}
			{% if selected_media_type.0 == 'maps' %}
				<img class="header-icon" src="/static/images/clipboard_large.png" />
			{% endif %}
			{% if selected_media_type.0 == 'audio' %}
				<img class="header-icon" src="/static/images/headphones_large.png" />
			{% endif %}
			{% if selected_media_type.0 == 'air-quality' %}
				<img class="header-icon" src="/static/images/upload_large.png" />
			{% endif %}
			Upload <span style="color:#ccc">{{ selected_media_type.1}}</span>
		</h1>
		<!-- Row #1 -->
		<div class="row">
			<!-- Cell #1 -->
			<ul class="nav nav-pills">
				{% for media_type in media_types %}
					<li {% if selected_media_type.0 == media_type.0 %}class="active"{% endif %}>
						<a href="/upload/{{media_type.0}}/">{{media_type.1}}</a>
					</li>
				{% endfor %}
			</ul>
			<!-- Cell #2 -->
			<div class="sel-project">
				<div class="btn-group-plain">
					<a class="dropdown-project" data-toggle="dropdown" href="#">change<span class="dark-caret"></span>
					</a>
					<input type="hidden" name="project" id="project" value="{{selected_project.id}}" />
					<ul class="dropdown-menu">
						{% for p in projects %}
							<li><a id="{{p.id}}" href="#">{{p.name}}</a></li>
						{% endfor%}
					</ul>
				</div>
				<span id="project-name" style="margin-top:8px;color: #333;font-weight:bold;font-size:24px;">{{selected_project}}</span>
			</div>
		</div>
		
		
		<!-- Alert Message -->
		<div id="alert-message" class="alert alert-block">
			<a class="close" style="cursor:pointer">×</a>
			<strong>Warning:</strong>
			<span id="alert-message-text"></span>
		</div>
		
		<!-- Success Message -->
		<div id="success" class="alert alert-success">
			<a class="close" style="cursor:pointer">×</a>
			<strong>Files uploaded:</strong>
			<span id="success-message-text">
				Your files have finished uploading.  You may now add titles &
				descriptions to your files <a id="edit-media-link" href="#">here</a> or
				geo-reference you files in the <a id="edit-map-link" href="#">map editor</a>.
			</span>
		</div>
		
		<!-- Error Message -->
		<div id="error" class="alert alert-error">
			<a class="close" style="cursor:pointer">×</a>
			<strong>Error:</strong>
			<span id="error-message-text">There were errors when uploading your files.</span>
		</div>
		

		<!-- Row #2 -->
		<div class="row">
			<!-- Cell #1 -->
			<div id="uploaded" class="span9" style="min-height:250px;">
				<div id="nothing-here" style="font-size:20px;color:#666">
					No <strong>{{selected_media_type.1|upper}}</strong> uploaded yet
				</div>
			</div>
			
			<!-- Cell #2 -->
			<div id="dropzone" class="span5 well" style="width: 300px; height: 250px;">
				<div class="drop-region">
					Drag your {{selected_media_type.1|lower}} here
					<br>-or- <br>
					<span class="btn success fileinput-button" style="margin-top:10px;margin-bottom:10px;">
						<i class="icon-plus icon-white"></i>
						<span>Navigate to your {{selected_media_type.1|lower}}...</span>
						<input id="fileupload" type="file" name="files[]" multiple>
					</span>
					<br><small>Acceptable file types include: <br>
					<span id="acceptable" style="color:#333;font-weight:bold;">{{selected_media_type.2}}</span></small>
				</div>
			</div>
		</div>
	
    </div>
	
	<!-- Instructions -->
	<ul id="tlyPageGuide" data-tourtitle="Uploading data/media to your map">
		<li class="tlypageguide_left" data-tourtarget=".nav-pills">
			<div>
				You are currently on the <strong><u>{{selected_media_type.1|lower}}</u></strong>
				upload page.  If you would like to upload a different media type,
				click the appropriate button.
			</div>
		</li>
		<li class="tlypageguide_left" data-tourtarget=".sel-project">
			<div>
				All media will be added to the active project.  Use the "change" button to
				select a different project.
			</div>
		</li>
		<li class="tlypageguide_left" data-tourtarget="#dropzone">
			<div>
				To upload {{selected_media_type.1|lower}}, just drag your files onto the gray zone.
				They should start uploading automatically.  Only {{selected_media_type.2}} file types
				(also listed below the green button) can be uploaded to Local Ground for
				this particular form.
			</div>
		</li>
		
	  </ul>
    
{% endblock %}
