body { overflow: hidden; }

#map_canvas {
	width: 100%;
    height: 100%;
}

.fa-map-marker {
	font-size: 28px;
}

@-webkit-keyframes wiggle {
	0%   { -webkit-transform: rotate(0deg);   }
	33%  { -webkit-transform: rotate(10deg);  }
	66%  { -webkit-transform: rotate(-10deg); }
    100% { -webkit-transform: rotate(0deg);   }

}
.thumbsmall {
    border: 1px solid #CCCCCC;
}
.item-icon {
    margin: 2px 5px 0px 5px;
    display: inline-block;
	padding: 2px;
}

.editable > .item-icon  {
	border-width: 1px;
	border-style: solid;
    border-color: #77BC3E;
    cursor: pointer;
}

.editable > .item-icon:hover {
    -webkit-animation-name: wiggle;
	-webkit-animation-duration: 0.4s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.close {
	font-size: 16px;
	margin-top: 4px;
	display: none !important;
}

#closer-item {
	background-color: #FFF !important;
	border-right: solid 1px #FFF !important;
	display: none;
}
#closer-item > a,
#closer-item > a:hover,
#closer-item > a:focus {
	border-color: #fff transparent #fff #fff;
	background-color: #fff !important;
}

.tab-pane {
	padding: 0px !important;
}
.pane-header > h3 {
	margin: 0px !important;
}
.pane-header {
	/*background-color: #eee;*/
	background-image: url(../images/bg.png);
	padding: 25px 0px 24px 10px;
	border-bottom: solid 1px #eee;
}
.pane-body {
	padding: 10px 10px 0px 20px;
	overflow-y: auto;
}

.form-group {
	border-bottom: solid 1px #EEE;
	padding: 5px 0px 0px 0px;
	margin-bottom: 0px;
}
.col { display: inline-block; }
.form-control {
	padding: 3px 6px;
	height: auto;
	display: inline-block;
}

#active_symbols {
	color: #999;
	padding: 10px;
}
.symbol, .symbol-label {
	display: inline-block;
	vertical-align: middle;
}
.symbol {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 10px;
}
.symbol-label {
	margin-left: 10px;
	font-weight: bold;
	font-size: 18px;
}

.alert {
	display: inline-block;
	padding: 3px;
	cursor: pointer;
}
.alert-dismissable {
	padding-right: 5px;
	margin-bottom: 0px;
	margin-right: 5px;
}
.alert-dismissable > .fa-close {
	margin-top: 3px;
	cursor: pointer;
}
.alert-dismissable.active {
	border: solid 3px #3a87ad;
}

/* Map Marker Stuff */
.marker-label,
.marker-icon {
	z-index: 99;
	position: absolute;
	display: block;
	margin-top: -50px;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	font-size: 30px !important;
	text-align: center;
	color: #fff;
	white-space: nowrap;
}
.marker-thumbnail {
    width: 100px;
    display: inline-block;
    margin-bottom: 5px;
}
.marker-thumbnail > .holder {
    height: 80px;
    width: 92px;
    text-align: center;
}
.thumbnail {
    /*background-image: url(../images/bg.png);*/
}
.thumbnail .caption {
    padding: 9px 0px 4px 0px !important;
}
.marker-thumbnail .btn-default {
    margin-top: 8px;
    padding: 2px 6px 2px 6px;
    font-size: 13px;
    font-weight: normal;
    background-color: #eee;
}
.marker-attachment {
    font-size: 60px !important;
    color: #666 !important;
}
.marker-detach {
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #FFF;
    border-radius: 10px;
    color: #2042cc;
}

.address-input {
	margin-top: 5px !important;
	margin-right: 5px;
	border: solid 3px #CCC;
	-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow: 3px 3px 3px #999;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	width: 300px;
	color: #444;
	padding: 10px;
	font-size: 13px;
	font-weight: normal;
	height: 35px !important;
}


.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-menu.right {
	left: auto;
	right: 0px;
}
.dropdown-menu.right::before {
	left: auto !important;
	right: 9px;
}
.dropdown-menu.right::after {
	left: auto !important;
	right: 10px;
}

.projects-menu {
	margin-right:120px;
	width:250px;
	padding: 5px;
	max-height: 300px;
	min-height: 100px;
}

.projects-menu > input {
	vertical-align: top;
	margin-right: 5px;
}


.fat {
	padding: 6px 12px !important;
}

.control-label {
	line-height: 2.5em;
	font-weight: normal;
	color: #999;
	display: inline-block;
	float: none;
}


.fa-volume-up {
	font-size: 20px;
	color: #333;
}

.delete-menu {
	position: absolute;
	background: white;
	padding: 3px;
	color: #666;
	font-weight: bold;
	border: 1px solid #999;
	font-family: sans-serif;
	font-size: 12px;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
	margin-top: -10px;
	margin-left: 10px;
	cursor: pointer;
}
.delete-menu:hover {
	background: #eee;

}

/**********************/
/* FORMS **************/
/**********************/
.control-label {
	float: left;
	line-height: 1.2em;
	font-weight: bold;
}
.form-group p {
	margin: 0 0 8px;
}
label {
	font-size: 14px;
}


.bubble-container .form {
	margin-top: 25px;
	overflow-y: auto;
	overflow-x: hidden;
}


/********************************************************/
/* INFOBUBBLES 											*/
/********************************************************/
.bubble-container {
	margin: 0px;
	overflow: hidden;
}

.loading-container {
	width:300px;
	height:200px;
}

.loading-container > i {
	font-size: 60px;
	position: absolute;
	color: #999;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -30px;
}

.record-container {
	overflow-x: hidden;
	overflow-y: auto;
	margin-top: 25px;
	font-size: 14px;
	padding: 0px 20px 20px 20px;
	background-image: url('/static/backbone/images/bg.png');
	height:220px;
}

.photo-container {
	max-width: 320px;
	height: 230px;
	overflow: hidden;
	background-image: url('/static/backbone/images/bg.png');
	/*background-image: url('/static/images/fabric_bg.png');*/
}
.photo-container > img {
	display: block;
	max-width: 320px;
	max-height: 270px;
	min-height: 230px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
}

.marker-container {
	max-width: 470px;
	height: 280px;
	overflow: hidden;
	background-image: url('/static/images/fabric_bg.png');
}
.slick-slider { margin-bottom: 0px !important;}
.slick-prev { left: 5px; }
.slick-next { right: 5px; }
.slick-prev, .slick-next { width: 30px; height: 30px; }
.slick-prev:before, .slick-next:before {
	color: #999 !important;
	font-size: 30px;
}


.marker-container img {
	display: block;
	max-width: 500px;
	max-height: 300px;
	min-height: 280px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
}
.bubble-title {
	font-weight: bold;
	color: rgb(68, 68, 68);
	margin: 5px 0px 5px 0px;
	padding-bottom: 3px;
	font-size: 14px;
	border-bottom: solid 1px #CCC;
}
.bubble-detail {
	margin: 5px 0px 0px 15px;
	height: 40px;
	overflow-y: auto;
	font-size: 13px;
	line-height: 15px;
}

.tip-container {
	padding:5px;
	font-size: 13px;
	line-height: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tip-container > img, .tip-container > i {
	margin-right: 10px;
	float: left !important;
	vertical-align: top;
}
.tip-container > div {
	font-weight: bold;
	margin-bottom: 4px;
}
.tip-container > span {
	font-size: 12px;
	color: #444;
	display: block;
}

.fa-times-circle, .fa-times {
	font-size: 20px;
	color: #CCC;
}
.fa-times-circle:hover {
	font-size: 25px;
	color: #333;
}
#caption-container {
    display: none;
    position:absolute;
    bottom:0;
    z-index:1;
    background-color:white;
    width:100%;
}

#caption-toggle {
    cursor: pointer;
    width: 30px;
    text-align: center;
    position: absolute;
    margin-top: -12px;
    margin-left: 25px;
    background: white;
    border-radius: 10px 10px 0px 0px;
    z-index: -1;
}

#caption {
    padding: 5px 5px 5px 15px;
}

#fullscreen-toggle {
    position: fixed;
    bottom: 30px;
    right:20px;
    height:20px;
    cursor: pointer;
    background-color:white;
    border-radius: 3px;
    padding: 3px;
    text-align:center;
}
#fullscreen-toggle:hover {
    background-color: #b6b6b6;
}









