body { overflow: hidden; }

#map_canvas {
	height: calc(100% - 50px);
	width: 70%;
	border-right: solid 1px #999;
}
.side-panel {
	/*
	 *padding: 10px;
	min-height: 800px;
	*/
	background-color: #fff;
	width: 30%;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 50px;
}



.collection-header, .layer-header {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #DDD;
	margin-bottom: 0px;
}
.collection-header {
	padding-bottom: 5px;	
}
.collection-header > h4, .layer-header > h4 {
	display: inline-block;
}
.collection-header > .fa-search, .layer-header > .fa-search  {
	margin: 10px 3px 0px 0px;
	color: #666;
}
.layer-header h4 {
	margin-top: 20px;
	margin-bottom: 2px;
}
.layer-header > .fa-search  {
	margin: 20px 3px 0px 0px;
	color: #999;
}
.dropdown-menu .item {
	border-bottom: solid 1px #eee;
	padding: 2px 6px 2px 10px;
	cursor: pointer;
}
.dropdown-menu .item:hover {
	background-image: url(../images/bg.png);
}
.item > input, .input > img {
	vertical-align: baseline;
}
.item > div {
	display: inline-block;
	margin-left: 5px;
	/*vertical-align: bottom;
	padding-bottom: 3px;*/
	line-height: 15px;
	background-image: none;
    border: solid 1px rgba(255, 255, 255, 0); /* Chrome Hack */
}
.item > img {
	vertical-align: text-bottom;
}
.item span {
	font-size: 12px;
	color: #444;
	display: block;
}
.data-item {
	padding: 2px 6px 2px 10px;
	cursor: pointer;
	border-bottom: solid 1px #eee;
    min-height: 34px;
}
.data-item:hover .close {
	display: block !important;
}
.data-item:hover {
	background-image: url(../images/bg.png);
}
.layer-item {
	padding: 2px 6px 0px 20px;
	color: #666;
}
.layer-item .item-icon {
	margin: 0px !important;
}
.layer-item svg {
	margin-top: 5px;
	vertical-align: bottom;
}

.fa-map-marker {
	font-size: 28px;
}

.fa-trash-o {
	margin: 5px 0px 5px 0px !important;
	display: none !important;
	float: right;
	color: #000;
	opacity: 0.2;
	font-size: 20px;
}

.editable:hover .fa-trash-o {
	display: block !important;	
}

@-webkit-keyframes wiggle {
	0%   { -webkit-transform: rotate(0deg);   }
	33%  { -webkit-transform: rotate(10deg);  }
	66%  { -webkit-transform: rotate(-10deg); }
    100% { -webkit-transform: rotate(0deg);   }
}

@-webkit-keyframes wiggle1 {
	0%   { -webkit-transform: rotate(0deg);   }
	25%  { -webkit-transform: rotate(2deg);  }
	50%  { -webkit-transform: rotate(0deg); }
	75%  { -webkit-transform: rotate(-2deg); }
    100% { -webkit-transform: rotate(0deg);   }
}
.thumbsmall {
    border: 1px solid #CCCCCC;
}

.item-icon {
    margin: 2px 5px 0px 5px;
    display: inline-block;
	padding: 2px;
}

.editable .item-icon  {
	border-width: 1px;
	border-style: solid;
    border-color: #77BC3E;
    cursor: pointer;
}

.data-item.editable .thumbsmall, .data-item.editable .fa-2x.fa-volume-up {
    display: none;
}

.editable .item-icon:hover {
    -webkit-animation-name: wiggle;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 3;
	-webkit-animation-timing-function: linear;
    border-color: #77BC3E;
}
.data-item.editable .edit-mode-extras img:hover {
    -webkit-animation-name: wiggle1;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 3;
	-webkit-animation-timing-function: linear;
    border-color: #77BC3E;
}

.data-item .edit-mode-extras {
    display: none;
}
.data-item.editable .edit-mode-extras {
    display: block;
}
.data-item.editable .edit-mode-extras img, .data-item.editable .edit-mode-extras .fa-volume-up {
    margin: 2px 5px 2px 14px;
    border: solid 1px #77BC3E;
    padding: 4px;
    float: left;
}

.close {
	font-size: 16px;
	margin-top: 4px;
	display: block;
}

.close-2x {
    font-size: 28px;
}

#closer-item {
	background-color: #FFF !important;	
	border-right: solid 1px #FFF !important;
	display: none;
}
#closer-item > a,
#closer-item > a:hover,
#closer-item > a:focus {
	border-color: #fff transparent #fff #fff;
	background-color: #fff !important;
}

.tab-pane {
	padding: 0px !important;
	display: none;
}
.tab-pane.active{
	padding: 0px !important;
	display: block;
}
.pane-header > h3 {
	margin: 0px !important;
}
.pane-header {
	/*background-color: #eee;*/
	background-image: url(../images/bg.png);
	padding: 25px 0px 24px 10px;
	border-bottom: solid 1px #eee;
}
.pane-body {
	padding: 10px 10px 0px 20px;
	overflow-y: auto;
}

.form-group {
	border-bottom: solid 1px #EEE;
	padding: 5px 0px 0px 0px;
	margin-bottom: 0px;
}
.col { display: inline-block; }
.form-control {
	padding: 3px 6px;
	height: auto;
	display: inline-block;
}

#active_symbols {
	color: #999;
	padding: 10px;
}
.symbol, .symbol-label {
	display: inline-block;
	vertical-align: middle;
}
.symbol {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 10px;
}
.symbol-label {
	margin-left: 10px;
	font-weight: bold;
	font-size: 18px;
}

.alert {
	display: inline-block;
	padding: 3px;
	cursor: pointer;
}
.alert-dismissable {
	padding-right: 5px;
	margin-bottom: 0px;
	margin-right: 5px;
}
.alert-dismissable > .fa-close {
	margin-top: 3px;
	cursor: pointer;
}
.alert-dismissable.active {
	border: solid 3px #3a87ad;
}

/* Map Marker Stuff */
.marker-label,
.marker-icon {
	z-index: 99;
	position: absolute;
	display: block;
	margin-top: -50px;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	font-size: 30px !important;
	text-align: center;
	color: #fff;
	white-space: nowrap;
}
.marker-thumbnail {
    width: 100px;
    display: inline-block;
    margin-bottom: 5px;
}
.marker-thumbnail > .holder {
    height: 80px;
    width: 92px;
    text-align: center;
}
.thumbnail {
    /*background-image: url(../images/bg.png);*/
}
.thumbnail .caption {
    padding: 9px 0px 4px 0px !important;
}
.marker-thumbnail .btn-default {
    margin-top: 8px;
    padding: 2px 6px 2px 6px;
    font-size: 13px;
    font-weight: normal;
    background-color: #eee;
}
.marker-attachment {
    font-size: 60px !important;
    color: #666 !important;
}
.marker-detach {
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #FFF;
    border-radius: 10px;
    color: #2042cc;
}

.address-input {
	margin-top: 5px !important;
	margin-right: 5px;
	border: solid 3px #CCC;
	-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow: 3px 3px 3px #999;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	width: 300px;
	color: #444;
	padding: 10px;
	font-size: 13px;
	font-weight: normal;
	height: 35px !important;
}


.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-menu.right {
	left: auto;
	right: 0px;
}
.dropdown-menu.right::before {
	left: auto !important;
	right: 9px;
}
.dropdown-menu.right::after {
	left: auto !important;
	right: 10px;
}

.projects-menu {
	width:250px;
	padding: 5px;
	max-height: 300px;
	min-height: 100px;
}

.projects-menu > input {
	vertical-align: top;
	margin-right: 5px;
}


.fat {
	padding: 6px 12px !important;
}

.control-label {
	line-height: 2.5em;
	font-weight: normal;
	color: #999;
	display: inline-block;
	float: none;
}


.fa-volume-up {
	color: #333;
}

.delete-menu {
	position: absolute;
	background: white;
	padding: 3px;
	color: #666;
	font-weight: bold;
	border: 1px solid #999;
	font-family: sans-serif;
	font-size: 12px;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
	margin-top: -10px;
	margin-left: 10px;
	cursor: pointer;
}
.delete-menu:hover {
	background: #eee;

}

/**********************/
/* FORMS **************/
/**********************/
.control-label {
	float: left;
	line-height: 1.2em;
	font-weight: bold;
}
.form-group p {
	margin: 0 0 8px;
}
label {
	font-size: 14px;
}


.bubble-container .infobubble-contents {
	overflow-y: auto;
	overflow-x: hidden;
	/*
    margin: 5px 0 5px 0;
    border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	height: 200px;
	*/
}


/********************************************************/
/* INFOBUBBLES 											*/
/********************************************************/
.bubble-container {
	margin: 0px;
	overflow: hidden;
}

.loading-container {
	width:300px;
	height:200px;
}

.loading-container > i {
	font-size: 60px;
	position: absolute;
	color: #999;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -30px;
}

.record-container {
	overflow-x: hidden;
	overflow-y: auto;
	margin-top: 25px;
	font-size: 14px;
	padding: 0px 20px 20px 20px;
	background-image: url('/static/backbone/images/bg.png');
	height:220px;
}

.photo-container {
	width: 318px;
	height: 230px;
	overflow: hidden;
    border-radius: 5px 5px 0px 0px;
	background-image: url('/static/backbone/images/bg.png');
	/*background-image: url('/static/images/fabric_bg.png');*/
}
.photo-container > img {
	display: block;
	max-width: 320px;
	max-height: 270px;
	min-height: 230px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
}
.edit-photo-container {
    width: 318px;
	overflow: hidden;
    border-radius: 5px 5px 0px 0px;
	height: 150px;
	overflow: hidden;
	background-image: url('/static/backbone/images/bg.png');
}

.edit-photo-container > img {
	display: block;
	max-width: 320px;
	max-height: 150px;
	min-height: 120px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
}

.marker-container {
	max-width: 470px;
	height: 280px;
	overflow: hidden;
	background-image: url('/static/images/fabric_bg.png');
}
.slick-slider { margin-bottom: 0px !important;}
.slick-prev { left: 5px; }
.slick-next { right: 5px; }
.slick-prev, .slick-next { width: 30px; height: 30px; }
.slick-prev:before, .slick-next:before {
	color: #999 !important;
	font-size: 30px;
}


.marker-container img {
	display: block;
	max-width: 500px;
	max-height: 300px;
	min-height: 280px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
}
.marker-container .record {
	background-color: #EEE;
	height: 280px;
	padding: 30px 0px 0px 0px;
	overflow: auto;
}
.bubble-container .row {
	padding: 4px;
}
.bubble-container .col-md-4 {
	font-size: 14px;
	text-align: right;
	font-weight: bold;
	text-transform: capitalize;
	color: #666;
}
.bubble-container .col-md-8 {
	font-size: 14px;
	padding-left: 0px;
}
.bubble-title {
	font-weight: bold;
	color: rgb(68, 68, 68);
	margin: 5px 0px 5px 0px;
	padding-bottom: 3px;
	font-size: 14px;
	/*border-bottom: solid 1px #CCC;*/
}
.bubble-detail {
	margin: 5px 0px 0px 15px;
	height: 40px;
	overflow-y: auto;
	font-size: 13px;
	line-height: 15px;
}

.tip-container {
	padding:5px;
	font-size: 13px;
	line-height: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tip-container > img, .tip-container > i {
	margin-right: 10px;
	float: left !important;
	vertical-align: top;
}
.tip-container > div {
	font-weight: bold;
	margin-bottom: 4px;
}
.tip-container > span {
	font-size: 12px;
	color: #444;
	display: block;
}

.fa-times-circle, .fa-times {
	font-size: 20px;
	color: #CCC;
}
.fa-times-circle:hover {
	font-size: 25px;
	color: #333;
}
.filter-container { width: 300px; }
.filter-container .form-group {
	border: none !important;
}

.filter-container .footer {
	background-color: #EEE;
	border-top: solid 1px #CCC;
	padding: 5px;
}
.footer button {
	padding: 3px 6px 3px 6px;
}
.footer > label {
	padding-top: 10px !important;
}
.filter-container label {
	font-size: 13px;
	padding: 0px;
}
.filter-container button:hover {
	border: solid 1px #ccc;
	color: #444;
}
.filter-overflow, .sql {
	height: 200px;
	overflow-y: auto;
}
.sql {
	padding: 4px 10px 10px 10px;
}
.filter-overflow {
	display: none;	
}
#filter_sql {
	height: 150px;
	width: 100%;
}
#upload-modal > .modal-dialog {
    width: 800px;
	height: 90%;
}

#upload-modal > .modal-dialog > .modal-content {
	height: 400px;
}

#upload-modal-body{
	height: 100%;
    padding: 5px 5px 0px 12px;
}
#upload-iframe {
    height: 360px;
    width: 100%;
    overflow: hidden;
}
.photo-rotation-controls {
	text-align:center;
}
.edit-button-container {
	text-align:center;
    border-top: solid 1px #eee;
    padding-top: 5px;
}
.edit-button-container > .btn {
	margin:0 5px 0 5px;
}
/********************************************************/






