html, body {
    margin: 0px !important;
    background-color: #999 !important;
	overflow-x: hidden !important;
}
form { 
    background-color: #999 !important;
}
.mapFrame {
    border: 1px solid #666;
    padding: 40px 40px 60px 40px;
    background-color: #fff !important;
    float:left;
    margin: 5px 0px 20px 2px;
}
#the_form { margin: 0px !important; }
.name { width: 150px; }
select { width: 180px !important; }
.clearfix {
    margin: 3px !important;
}
.first_cell {
    color:#999;
    vertical-align:middle;
}
.paper_form {
    margin: 3px !important;
    /*width: auto !important;*/
    border: 4px solid #000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#map_canvas {
    border: solid 4px #000;
    width: {{width}}px;
    height: {{height}}px;
}
#qrcode {
    border: 4px solid #000;
}
#mapTitle {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.options {
    width: 140px;
    height: 68px;
    float:left;
    padding: 2px 0px 5px 5px;
    margin-left: 5px;
}
.options div {
    margin: 2px;
    font-weight: bold;
}
.more {
    width: 190px !important;
    border-left: solid 1px #ccc;
}
.layout_panel {
    margin: 0px 0px 0px 0px !important;
    background-color: #eee;
    border-bottom: solid 1px #666;
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 100;
    margin-top: 40px !important;	
}
.layout_control {
    vertical-align: middle !important;
}
.blank {
    float:left;
    width:225px;
    margin:5px 0px 0px 10px;
    border-bottom: solid 1px #000;
}
.hidden-form {
	margin: 10px !important;
	background-color: #fff;
	clear: both;
	padding: 10px;
}
.hidden-form span {
	display: inline-block;
	width: 85px;
}
#tbl {
	margin-top: 10px !important;
	width: 200px !important;
}
#tbl span { display: inline !important; }
#tbl input { width: 30px !important; }
#tbl td { padding: 3px !important; }