.print-modal-content {
   background: #EEE; 
}
#print-container {
    height: 100%;
    min-height: 250px;
}

.print-controls {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.print-option {
    display: inline-block;
    padding: 2px 5px 5px 5px;
    margin-left: 5px;
    font-size:12px;
}

.print-option:last-child {
    border-right: none;
}

.print-option-title {
    font-weight: bold;
}

#print-mockup-container {
    height: 100%;
    background-color: #EEE;
    padding: 5px 5px 20px 20px;
    overflow:scroll;
}

#print-mockup {
    background-color: white;
    width: 1060px;
    padding: 40px 40px 120px 40px;
    margin-bottom: 10px;
    border: solid 1px #CCC;
}

#print-mockup.portrait {
    width: 830px;
}

#print-mockup.portrait > #print-map-canvas {
    width: 735px;
    height: 750px;
}

#print-mockup.portrait > .print-map-title-control {
    width: 735px;
}


#print-map-canvas {
    border: 3px solid black;
    height: 515px;
    width: 975px;
    clear:both;
}

#print-mockup-header > div {
    float:right;
    clear:both;
    width:375px;
}

#print-mockup-header > div > label {
    padding-top: 6px;
    font-size: 13px;
    line-height: 18px;
    float: left;
    width: 130px;
    text-align: right;
    color: #404040;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    display: inline-block;
}

.blank {
    border-bottom: 1px solid black;
    display: inline-block;
    width: 232px;
    margin-left: 5px;
    margin-top: 20px;
}
#circle-container {
    width: 232px;
    height: 20px;
    overflow: visible;
    white-space: nowrap;
    padding-left: 135px;
    margin-top: 5px;
}
.circle {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 10px;
    margin-right: 7px;
}
.print-map-title-control {
    width:975px;
}

#print-map-title {
    clear:both;
    font-weight: normal;
    color: #404040;
    font: 18px/18px 'lg';
    cursor: pointer;
    margin-bottom:10px;
    font-weight: normal;
    padding-top: 5px;
    height: 35px;
}

#print-map-title:hover, #print-map-caption:hover {
    background-color:rgb(238,238,238);
}

#print-map-title-input {
    display:none;
    margin-bottom: 19px;
}
#print-map-caption {
    cursor: pointer;
}
.print-map-caption {
    float:left;
    height:81px;
    margin-top:5px;
    width:880px;
}

#print-mockup.portrait > .print-map-caption {
    width: 640px;
}


#print-map-caption-input {
    display: none;
}
#print-map-qr {
    float:right;
    border: 3px solid black;
    margin-top:5px;
    margin-right:5px;
}

#print-mockup.portrait > #print-map-qr {
    margin-right:15px;
}

#print-modal > .modal-dialog {
    width: 1134px;
}

#print-modal-body {
    padding: 4px;
}

#print-confirmation-container img {
    margin-bottom: 10px;
}

.close {
    margin-right: 3px;
    margin-top: -5px;
}
.print-pdf-header {
    float: left;
    margin-left: 22px;
    font-weight: normal;
    color: #999;
    font-size: 16px;
    /*text-shadow: 1px 1px 1px #fff;*/
}
.print-loading-container {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #999;
}
.print-confirm-buttons {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}
.show-print {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
}
