#print-container, #print {
    height:100%;
}

#print-form {
    background-color: #eee;
    height: 68px;
}

.print-option {
    height: 68px;
    float:left;
    padding: 2px 5px 5px 5px;
    margin-left: 5px;
    font-size:12px;
    border-right: 1px solid #ccc;
}

.print-option:last-child {
    border-right: none;
}

.print-option-title {
    font-weight: bold;
}

#print-mockup-container {
    height: 100%;
    background-color: #999;
    padding:30px 50px 30px 30px;
    overflow:scroll;
}

#print-mockup {
    background-color: white;
    width: 1060px;
    padding: 40px 40px 120px 40px;
    margin-bottom: 10px;
}

#print-mockup.portrait {
    width: 830px;
}

#print-mockup.portrait > #print-map-canvas {
    width: 735px;
    height: 750px;
}

#print-mockup.portrait > .print-map-title-control {
    width: 735px;
}


#print-map-canvas {
    border: 3px solid black;
    height: 515px;
    width: 975px;
    clear:both;
}

#print-mockup-header > div {
    float:right;
    clear:both;
    width:375px;
}

#print-mockup-header > div > label {
    padding-top: 6px;
    font-size: 13px;
    line-height: 18px;
    float: left;
    width: 130px;
    text-align: right;
    color: #404040;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    display: inline-block;
}

.blank {
    border-bottom: 1px solid black;
    display: inline-block;
    width: 232px;
    margin-left: 5px;
    margin-top: 20px;
}
#circle-container {
    width: 232px;
    height: 20px;
    overflow: visible;
    white-space: nowrap;
    padding-left: 135px;
    margin-top: 5px;
}
.circle {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 10px;
    margin-right: 7px;
}
.print-map-title-control {
    width:975px;
}

#print-map-title {
    clear:both;
    font-weight: normal;
    color: #404040;
    font: 18px/18px 'lg';
    cursor: pointer;
    margin-bottom:10px;
    font-weight: normal;
    padding-top: 5px;
    height: 35px;
}

#print-map-title:hover, #print-map-description:hover {
    background-color:rgb(238,238,238);
}

#print-map-title-input {
    display:none;
    margin-bottom: 19px;
}
#print-map-description {
    cursor: pointer;
}
.print-map-description {
    float:left;
    height:81px;
    margin-top:5px;
    width:894px;
}

#print-mockup.portrait > .print-map-description {
    width: 649px;
}


#print-map-description-input {
    display: none;
}
#print-map-qr {
    float:right;
    border: 3px solid black;
    margin-top:5px;
    margin-right:5px;
}

#print-mockup.portrait > #print-map-qr {
    margin-right:15px;
}

#print-modal > .modal-dialog {
    width:1200px;
}

#print-modal-body {
    padding: 0 0 0 0;
}
