body {
	/*background-image: url(../images/bg.png);*/
	background-color: #999;
}

#panels {
	/*padding: 10px;*/
	background-color: #fff;
	width: 400px;
	float: right;
	min-height: 800px;
}

.collection-header {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgb(204, 204, 204);
	padding-bottom: 5px;
	margin-bottom: 0px;
}
.collection-header > h4 {
	display: inline-block;
}
.collection-header > .fa-search {
	margin: 10px 3px 0px 0px;
}


.item {
	border-bottom: solid 1px #eee;
	padding: 2px 6px 2px 10px;
}
.item > input, .input > img {
	vertical-align: baseline;
}
.item > div {
	display: inline-block;
	margin-left: 5px;
	vertical-align: bottom;
	padding-bottom: 3px;
	line-height: 15px;
	background-image: none;
}

.item:hover .close {
	display: block !important;
}
.item:hover {
	background-image: url(../images/bg.png);
}

.fa-map-marker {
	font-size: 28px;
}

.close {
	font-size: 16px !important;
	margin-top: 4px;
	display: none !important;
}


