{% extends "twitter/page_centered.html" %}
{% block page_title %}Research{% endblock %}
{% block extra_styles %}
    {{ block.super }}
    .icon { vertical-align: bottom; }
{% endblock %}	
{% block main_content %}
<div style="margin:0px 10px 0px 10px;">

<p>
    Local Ground is also a research project investigate questions around
    human-computer interaction, education and citizen participation.
    <br><br>
    See below for a list of our papers. We haven't written much yet, but stay tuned!
</p>
<ol>
    <li>
        Sarah Van Wart, K. Joyce Tsai and Tapan S. Parikh, Local Ground:
        A Paper-Based Toolkit for Documenting Local Geo-spatial Knowledge,
        ACM Symposium on Computing for Development (DEV), December 17-18, 2010,
        London, UK 
    </li>
</ol>
</div>
{% endblock %}