// main: ../main-new.scss
$icon-line-height: 34px;

.breadcrumb {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0), 0 2px 4px -1px rgba(0, 0, 0, 0);
    // z-index: 2;
    position: absolute;
    width: 100%;
    min-height: 44px;
}

.presentation-options-btn {
    padding-right: 10px;
    padding-top: 8px;
}

.breadcrumb-container {
    padding: 5px 5px 5px 30px;

    .button-secondary, .button-action {
        margin-top: 2px;
    }

    .breadcrumb-hover, .fa {
        display: inline-block;
    }

    .fa-angle-right {
        padding: 0px 15px;
    }

    .fa-angle-down {
        padding: 0px 8px;
        font-weight: 600;
        line-height: 5px;
    }
    .breadcrumb-hover {
        border-radius: 3px;
        box-sizing: border-box;
        padding: 5px;
        cursor: pointer;

        &:hover {
            background: #f3f3f3;
        }
        >a, >span {
            font-size: 14px;
            font-weight: 300;
            display: inline-block;
        }
        span.current {
            font-weight: 600;
            width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: bottom;
            margin-bottom: 1px;
        }
    }
}

#map-list {
    position: absolute;
    margin-left: -5px;
    margin-top: 11px;
    z-index: 500;
    border-radius: 0px 0px 5px 5px;
}
