// main: ../main-new.scss
.form, .form-inline {
    input, input[type="checkbox"], label {
        &:disabled {
            opacity: 0.4;
        }
    }
    textarea, input[type="text"], input[type="number"], input[type="date"],
    input[type="password"], input[type="email"], select {
        padding: 4px 6px;
        border-radius: 2px;
        font-size: 14px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 1px;
        width: 100%;
        border: solid 1px #ebecf2;
    }

    textarea {
        height: 75px;
    }
    input[type="radio"]{
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        border: 2px solid #999;
        border-top-color: #AAA;
        border-left-color: #AAA;
        background: #fff;
        width: 18px;
        height: 18px;
        border-radius:50%;
        vertical-align: middle;
    }
    input[type="radio"]:checked{
        border: 6px solid #4099ff;
    }

    input[type="checkbox"] {
        margin: 0px;
        -webkit-appearance: button;
        background-color: white;
        margin-left: 4px;
        margin-right: 2px;
    }
    /*This CSS trick only works w/Chrome */
    input[type="checkbox"]:before {
        content: '\f096';
        font-family: 'Font Awesome\ 5 Free';
        color: #555;
        font-size: 20px;
        vertical-align: middle;
        color: #999;
        font-weight: 900;
        display: inline-block;
        width: 18px;
    }
    input[type="checkbox"]:checked:before {
        content: '\f14a';
        color: #4099ff;
    }
    .row {
        flex-wrap: wrap;
        label, p {
            padding: 8px;
            font-weight: 400;
            color: #666;
            font-size: 12px;
            text-align: right;
            word-wrap: break-word;
        }
    }
    .row.error {
        background-color: $light-red;
        padding: 5px 10px;
        label, p {
            color: $dark-red;
        }
        input[type="checkbox"] {
            background-color: $light-red
        }
    }
    .checkbox-list {
        td {
            font-size: 0.7em;
        }
    }
    .checkbox-list:disabled {
        td {
            font-size: 0.7em;
        }
    }
}
.form-inline {
    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 8px 0px;
        > label {
            flex: 1;
            /*border: solid 1px #000;*/
        }

        /* direct descendents inline */
        > textarea, > input[type="text"], > input[type="number"],
        > input[type="date"], > input[type="password"], > input[type="email"],
        > select, > div {
            flex: 3;
        }

    }
    .row.error {
        div {
            display: flex;
            flex-wrap: wrap;
            p {
                padding: 0px;
            }
            input[type="checkbox"] {
                background-color: $light-red
            }
        }
    }
}
.form {
    .row {
        margin: 16px 0px;
        > label,
        > p {
            font-weight: 600;
            flex: 1;
            text-align: left;
        }
        > p {
            line-height: 1em;
            margin: 0px;
            font-weight: 400;
            padding-top: 3px;
        }
    }
}

// toggle buttons
.tgl {
    display: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}
.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 40px;
    height: 20px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.tgl + .tgl-btn:after {
    left: 0;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
}

.tgl-light + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
}
.tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
    background: #3b99fc;
}