// main: ../main-new.scss
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.8);

    .content {
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        margin: 20px auto 0;
        width: 80%;
        vertical-align: middle;
        border-radius: 6px;
        background-color: #fefefe;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
        margin: 20px auto 0;
        width: 800px;
        height: auto;
        position: relative;
    }
    .content.spreadsheet {
        /* vertical-align: middle; */
        border-radius: 6px;
        background-color: #fefefe;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
        height: auto;
        margin: calc((100vh - 480px) / 2) auto 0px auto;
        transform: none;
        display: block;
        position: static;
    }

    header {
        width: calc(100% - 40px);
        padding: 15px;
    }
    header h1 {
        text-transform: uppercase;
        letter-spacing: .04em;
        font-size: 12px;
        font-weight: 600;
        margin: 0px;
    }
    header .close {
        color: #888;
        float: right;
        font-size: 24px;
        line-height: 12px;
        cursor: pointer;
    }
    footer {
        border-top: solid;
        border-color: #e4e5eb;
        border-width: 1px;
        padding: 16px 20px;
        text-align: right;
    }

    .buttons{
        text-align: right;
    }

    .close {
        color: #888;
        float: right;
        font-size: 24px;
        line-height: 24px;
        cursor: pointer;
    }
    .close:hover,
    .close:focus {
        color: #DDD;
        text-decoration: none;
        cursor: pointer;
    }

    h1{
        text-transform: uppercase;
        letter-spacing: .04em;
        font-size: 12px;
        font-weight: 600;
    }

    h2{
        font-size: 22px;
        font-weight: 400;
    }


    .card-img-preview {
        background-position: center center;
        width: 100%;
        border-radius: 2px 2px 0 0;
        height: 185px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .column {
        width: calc(25% - 12px);
        margin: 4px 5px 8px;
        border: 1px solid #e4e5eb;
        border-radius: 2px;
        flex-direction: column;
        width: calc(25% - 12px);

    }

    #gallery-main.container {
        display: flex;
        flex-wrap: wrap;
    }

    .column h1 {
        font-size: 14px;
        padding: 10px 10px 1px;
        font-weight: 400;
    }

    .column h2 {
        font-size: 12px;
        padding: 0 10px 12px;
        color: #7a7a7a;
    }

    nav li.active {
        border-bottom: solid;
        font-weight: 600;
        border-color: #4e70d4;
    }

    nav li.active {
        border-bottom: solid;
        font-weight: 600;
        border-color: #4e70d4;
    }

    .body {
        background-color: #fafafc;
        border-top: 1px solid #e4e5eb;
        max-height: 75vh;
        overflow-y: auto;
    }
    .body > div {
        margin: 20px;
    }

    .body {
        /* padding: 0px 20px; */
        background-color: #ffffff;
        border-top: none;
        max-height: 75vh;
        /*overflow-y: scroll;*/
    }


    .body nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .body nav li {
        display: inline-block;
        padding: 14px 4px;
        font-size: 12px;
        margin: 0 20px 0 20px;
        font-weight: 400;
        font-size: 12px;
    }

    .body .inline-form {
        margin: 6px 0px;
        width: 100%;
    }

    .body .inline-form td {
        padding: 0px 6px;
    }

    .body .inline-form label {
        text-align: left;
    }

    .modal-body .grey-bg{
        background-color: #eee;
        border-top: 1px solid #ddd;
        margin: 0px !important;
    }
    .filter {
        padding: 18px;
        width: calc(100% - 40px);
        background-color: #fafafc;
        margin: 0;
        border-bottom: 1px solid #e4e5eb;
    }

    .modal-search-form {
        width: 300px;
        display: inline-block;
    }

    .modal-search-form .fa {
        padding: 4px 0 4px 16px;
        color: #7a7a7a;
    }

    .modal-search-form input {
        padding: 6px;
        background-color: white;
        margin-right: -40px;
        border-radius: 4px;
        width: 100%;
    }

    .modal-search-form button{
        outline: none;
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .button-secondary {
        background-color: #fafafc;
        border: none;
        border-radius: 3px;
        padding: 0 12px;
        text-transform: uppercase;
        font-size: 12px;
        margin: 0 2px;
        border: 1px solid #e4e5eb;
        -webkit-transition: background 0.3s linear;
        -moz-transition: background 0.3s linear;
        -ms-transition: background 0.3s linear;
        -o-transition: background 0.3s linear;
        transition: background 0.3s linear;
        line-height: 26px;
        height: 29px;
        vertical-align: bottom;
        letter-spacing: 0.7px;
        width: 80px;
    }
    .pull-right {
        float: right
    }

    #gallery-main.container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 20px 14px 24px;
        overflow: scroll;
        /*height: 50%;*/
    }

    .selected-card {
        color: #fff;
        background-color: rgb(123, 155, 225);
    }

    .selected-card h1, .selected-card h2, .selected-card > .fa-map-marker, .selected-card .coords {
        color: #fff;
    }

    .database-views-modal table {
        width: 100%;
        font-size: 13px;
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: 20px;
    }
    .database-views-modal th {
        line-height: 20px;
        font-weight: 600;
        padding: 5px;
    }

    .database-views-modal td {
        padding: 0px 0px;
        border: none;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
        /*line-height: 40px;*/
        padding: 5px;
    }

    th {
        text-align: left;
    }

    .thumbnail-img {
        height: 36px;
        width: 36px;
        padding: 4px 10px 4px 20px;
    }
    .pull-right {
        float: right;
    }
    #media-photos, #media-audio, #media-videos {
        float: right;
    }

    .database-views-modal tr {
        cursor: pointer;
        border-bottom: 1px solid #E2E2E2;
    }

    .database-views-modal .table:hover, .database-views-modal td:hover {
        background-color: rgb(123, 155, 225);;
        color: white;
    }

    .error {
        background-color: #fae5e3;
        color: #b94a48;
        padding: 5px;
    }
    .errorMessage {
        color: #b94a48;
        margin: 0px 15px;
        font-size: 13px;
    }

    .map-input {
        border-radius: 1px;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        font-size: 13px;
        height: 25px;
        padding: 1px 8px;
        width: 25em;
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .map-input:focus {
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        border: 1px solid #4d90fe;
        outline: none;
    }

    /*
      Field Form Modal
    */

    .fieldTable{
        width: 100%;
    }

    .fieldTable th:last-child{
        text-align: right;
    }


    .fieldTable td:last-child{
        text-align: right;
    }

    .fieldTable .th-display-field{
        width: 40px;
    }

}

.modal.show {
    display: block;
}
