// main: ../main-new.scss
$tipBackground: rgba(255, 255, 255, 1);
$arrowBackground: #CCC;
$arrowSize: 10px;
$arrowIndent: 8px;
.popover {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    // A transparent div that covers everything
    background-color: rgba(0, 0, 0, 0);
}

.link-anchor {
  position: relative;
  width: 0;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}
.anchor-wrapper {
  border: none;
}

.anchor-wrapper:hover .link-anchor {
  opacity: 1;
}

section h1[id]:focus,
section h2[id]:focus,
section h3[id]:focus,
section h4[id]:focus,
section h5[id]:focus {
  outline: 0;
}

p.thin {
    font-weight: 100;
    margin: 0;
    line-height: 1.2em;
}

p.bold {
    font-weight: 900;
    margin: 0;
    margin-top: -5px;
}

.rel {
    width: 30%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 20px;
    border-style: dotted;
    border-color: white;
    border-width: medium;
}

.popper {
    header {
        padding: 10px 8px;
    }
    header h3 {
        text-transform: uppercase;
        letter-spacing: .04em;
        font-size: 12px;
        font-weight: 600;
        margin: 0px;
    }
    header .close {
        color: #888;
        float: right;
        font-size: 24px;
        line-height: 12px;
        cursor: pointer;
    }
}
.popper,
.tooltip {
    position: absolute;
    background: $tipBackground;
    color: black;
    width: 150px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    /*padding: 5px;*/
    text-align: center;
}
.style5 .tooltip {
    background: #1E252B;
    color: #FFFFFF;
    max-width: 200px;
    width: auto;
    padding: .5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: $arrowSize;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
    border-color: $arrowBackground;
}
.style5 .tooltip .tooltip-arrow {
    border-color: #1E252B;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: $arrowSize $arrowSize 0 $arrowSize;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: $arrowSize*-2;
}

.popper[x-placement^="top"] .popper__arrow::after {
    border-style: solid;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: $arrowSize $arrowSize 0 $arrowSize;
    border-top-color: white;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: 2px;
    left: -$arrowSize;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
    margin-top: $arrowSize;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 $arrowSize $arrowSize $arrowSize;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -$arrowSize;
    left: calc(50% - 10px);
    margin-top: 0;
    margin-bottom: 0;
}
.popper[x-placement^="bottom"] .popper__arrow::after {
    border-style: solid;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -$arrowIndent;
    left: calc(50% - 10px);
    border-color: transparent transparent #FFF transparent;
    border-width: $arrowSize;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
    margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: $arrowSize $arrowSize $arrowSize 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -$arrowSize;
    top: calc(50% - 10px);
    margin-left: 0;
    margin-right: 0;
}

.popper[x-placement^="right"] .popper__arrow::after {
    border-style: solid;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -$arrowSize;
    left: -$arrowIndent;
    border-color: transparent #FFF transparent transparent;
    border-width: $arrowSize;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
    margin-right: $arrowSize;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: $arrowSize 0 $arrowSize $arrowSize;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -$arrowSize;
    top: calc(50% - 10px);
    margin-left: 0;
    margin-right: 0;
}
