// main: ../main-new.scss

.right {
    float: right;
}
nav.toolbar-main {
    height: 60px;
    border-bottom: 1px solid #e4e5eb;
    background-color: white;
    width: 100%;
    box-shadow: $menuShadow;
    font-size: 14px;
    position: relative;
    z-index: 40;
    padding-left: 10px;

    > div {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav {
        margin-top: 17px;
    }
}
.nav {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    list-style: none;
    padding: 0px;

    > li {
        line-height: 30px;
        display: inline-block;
        margin: 0 10px;
        vertical-align: top;
        padding: 0 2px;
        border-top: solid 2px rgba(0, 0, 0, 0);
    }
    > li:hover {
        border-top: solid 2px $selectionBorderHighlight;
    }
    > li.active {
        border-top: solid 2px $selectionBorderHighlight;
    }
}

.toggle-button {
    text-transform: uppercase;
}
.dropdown-menu {
    width: 140px;
    position: absolute;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #e4e5eb;
    margin-top: 4px;
    z-index: 100;
    box-shadow: $dropdownShadow;

    ul {
        list-style: none;
        padding: 0px;
        li {
            display: block;
            margin: 6px 0px;
            line-height: 100%;
            text-transform: none;
            padding: 6px 0px 6px 20px;
            line-height: 100%;
        }
        li:hover {
            background-color: $dropdownHover;
            a {
                color: white;
            }
        }
    }
}

.toolbar-secondary {
    box-shadow: 0 1px 1px 1px rgba(53, 76, 122, 0.06);
    height: 30px;
    padding: 10px 18px;
    width: calc(100% - 36px);
    background-color: #fafafc;
    margin: 0;
    border-bottom: 1px solid #e4e5eb;
    position: relative;
    z-index: 100;

    h1 {
        padding-bottom: 0px;
        line-height: 30px;
        font-weight: 4right00;
        font-size: 1.4em;
        margin: 0px;
        text-align: center;
    }
}
