/******************************************************************************/
/* AUDIO PLAYER                                                               */
/******************************************************************************/
/*http://flash-mp3-player.net/players/normal/documentation/*/
.playercontroller {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	color: #000;
	height: 20px;
	width: 180px;
	border: solid 1px #999;
	margin: 0 0 1em 0;
	background-image: -moz-repeating-linear-gradient(left center , rgba(255, 255, 255, 0) 0%,
                        rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%),
                        -moz-repeating-linear-gradient(left center , transparent 0%, transparent 4%, rgba(0, 0, 0, 0.03) 4.5%),
                        -moz-repeating-linear-gradient(left center , rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%),
                        -moz-linear-gradient(-90deg, #C6C6C6 0%, #E5E5E5 47%, #C6C6C6 53%, #B2B2B2 100%);
	background-image: 	-webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),					
						-webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),					
						-webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
						
						-webkit-linear-gradient(-90deg, hsl(0,0%,78%)  0%, 
														hsl(0,0%,90%) 47%, 
														hsl(0,0%,78%) 53%,
														hsl(0,0%,70%)100%);

    background-color: #E5E5E5;
    -moz-transition: color 0.2s ease 0s;
    /*box-shadow: 0 0 0 4px #262626 inset,
                0 -1px 5px 4px rgba(38, 38, 38, 0.8) inset,
                0 -1px 0 7px rgba(0, 0, 0, 0.25) inset,
                0 2px 1px 7px rgba(255, 255, 255, 0.7) inset,
                0 -5px 6px 4px rgba(0, 0, 0, 0.15),
                0 5px 6px 4px rgba(255, 255, 255, 0.5);*/
}
.playercontroller .button {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 2px 2px;
	float: left;
    cursor: pointer;
}
.playercontroller .button a {
	display: block;
	height: 20px;
	text-indent: -100em;
	overflow: hidden;
	background-image: none;
}
.playercontroller .timeline {
	position: relative;
    margin-left: 40px;
    padding-right: 5px;
	height: 20px;
    cursor: pointer;
}
.playercontroller .timeline a {
	position: absolute;
	display: block;
	height: 20px;
	width: 40px;
	text-indent: -100em;
	overflow: hidden;
	background-image: url(/site_media/scripts/thirdparty/audio-player/control_slider.png);
}
.playercontroller .timeline a:visited {
	background-image: url(/site_media/scripts/thirdparty/audio-player/control_slider.png);
}
.playercontroller .timeline a:hover {
	background-image: url(/site_media/scripts/thirdparty/audio-player/control_slider_blue.png);
}
.playercontroller .play {
	background-image: url(/site_media/scripts/thirdparty/audio-player/control_play.png);
}
.playercontroller .play:hover {
	background-image: url(/site_media/scripts/thirdparty/audio-player/control_play_blue.png);
}
.playercontroller .pause {
	background-image: url(/site_media/scripts/thirdparty/audio-player/control_pause.png);
	display: none;
}
.playercontroller .pause:hover {
	background-image: url(/site_media/scripts/thirdparty/audio-player/control_pause_blue.png);
}
.playercontroller .stop {
	background-image: url(/site_media/scripts/thirdparty/audio-player/control_stop.png);
}
.playercontroller .stop:hover {
	background-image: url(/site_media/scripts/thirdparty/audio-player/control_stop_blue.png);
}
.counter {
    float: right;
    font-size: 10px;
    font-family: monospace;
    color: #444;
}
.counter span.elapsed {
    color: #386CB0;
}
