<div class="toggle-container marker-style visual-edit" id="visual-marker-style">
    <form class="form-inline">
        <h5 class="msv-header">Layer Properties</h5>
        <i class="fa fa-times style-by-menu_close"></i>
        <div class="color-properties row">

            <label>Style:</label>
            <select name="place-properties" id="data-type-select" class="marker-style-select">

                <option value="uniform" {{#ifequal groupBy "uniform"}} SELECTED {{/ifequal}}>Uniform</option>
                <option value="individual" {{#ifequal groupBy "individual"}} SELECTED {{/ifequal}}>Individual Sites</option>
                <optgroup label="Style by Data Column:">
                    {{#each dataColumnsList}}
                        <option
                            value={{this.value}}
                            {{#ifequal ../groupBy this.value}}SELECTED{{/ifequal}}
                            {{#unless this.hasData}}disabled="disabled"{{/unless}}
                        > {{groupBy}}
                            {{this.text}}
                        </option>
                    {{/each}}
                </optgroup>
            </select>
        </div>

{{#unless isBasic}}
        {{#unless isIndividual}}
        <div class="row">
            <label class="msv-label">Group by:</label>
            <div>
                <input type="radio" name="rb" id="cat-radio" {{#unless metadata.isContinuous}}checked{{/unless}}>
                <label>Categorical</label><br>
                <input type="radio" name="rb" id="cont-radio" {{#if metadata.isContinuous}}checked{{/if}} {{#unless propCanBeCont}}disabled="disabled" class="disabled"{{/unless}}>
                <label {{#unless propCanBeCont}}class="disabled"{{/unless}}>Continuous</label><br>
            </div>
        </div>
        <div class="row" id="bucket-row">
            <label class="msv-label">Buckets:</label>
            <input id="bucket" type="number" value="{{metadata.buckets}}" min="1" max="9" {{#unless metadata.isContinuous}}disabled="disabled"{{/unless}}>
        </div>
        <div class="palette-container row">
            <label class="msv-label">Color Ramp:</label>
            <div>
                <a>

                    <div class="selected-palette-wrapper">
                        <a>
                            <ul class="selected-ul">

                                    <li class="selected-palette-list">
                                        <ul class="palette-container" style="opacity: {{metadata.fillOpacity}};">
                                            {{#each paletteCounter}}
                                            <li class="palette-item" style= "background-color: #{{lookup ../selectedColorPalette @index}}">

                                            </li>
                                            {{/each}}
                                        </ul>
                                    </li>

                            </ul>
                        <i class="fa fa-angle-down palette-icon"></i>
                        </a>
                    </div>
                </a>
                <div class="palette-wrapper">
                    <ul>
                        {{#each allColors}}
                        <a>
                            <li class="palette-list" id="palette_{{@index}}" value="{{@index}}">
                                <ul class="palette-container" value="{{@index}}">
                                    {{#each ../paletteCounter}}
                                    <li class="palette-item" value="{{@../index}}" index="{{@index}}" style= "background-color: #{{lookup ../this @index}}">
                                        
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                        </a>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/unless}}
        <div class="row">
            <label class="msv-label">Marker Fill: </label>
            <input id="marker-width" type="number" value="{{metadata.width}}">
            <input id="palette-opacity" type="number" value="{{metadata.fillOpacity}}" min="0.0" max="1.0" step=".1">
        </div>
        <div class="row">
            <label class="msv-label">Marker Stroke: </label>
            <input id="stroke-weight" type="number" value="{{metadata.strokeWeight}}">
            <div id="stroke-color-picker" class="marker-icon jscolor stroke-color" style="padding:0; background-color: {{metadata.strokeColor}} " aria-hidden="true">
            </div>
            </span>
            <input id="stroke-opacity" type="number" value="{{metadata.strokeOpacity}}" min="0.0" max="1.0" step=".1">
        </div>
{{/unless}}
    </form>
</div>
<div style="display: none">
    <table class="symbols-table">
        <thead>
            <tr>
                <th>Value</th>
                <th>Legend Label</th>
                <th>Shape</th>
            </tr>
        </thead>
        <tbody id="symbols">

        </tbody>
    </table>
</div>
