<h5>Layer Properties</h5> <i class="fa fa-times style-by-menu_close"></i>

<div class="toggle-container marker-style visual-edit" id="visual-marker-style">
    <table class="color-properties">
        <tbody>
            <tr>
                <td>Style</td>
                <td>
                    <!-- Need a better term that "data type". this is how the legend is set up so items are organized based on certain properties..-->
                    <select name="place-properties" id="data-type-select" class="marker-style-select">
                        
                        <option value="basic" {{#ifequal groupBy "basic"}} SELECTED {{/ifequal}}>Simple</option>
                        <option value="individual" {{#ifequal groupBy "individual"}} SELECTED {{/ifequal}}>Individual Sites</option>
                        <option disabled="disabled">Style by Data Column</option>
                            {{#each dataColumnsList}}
                                <option 
                                    value={{this.value}} 
                                    {{#ifequal ../groupBy this.value}}SELECTED{{/ifequal}}
                                    {{#unless this.hasData}}disabled="disabled"{{/unless}}
                                > {{groupBy}}
                                    {{this.text}}
                                </option>
                            {{/each}}
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
{{#if isBasic}}
</div>

<div>
    <div class="symbols-table">
        <div>
            <div>
                <span></span>
                <span>Legend Label</span>
                <span>Shape</span>
            </div>
            <div>
        </div>
        <div id="symbols">

        </div>
    </div>
</div>

{{else}}
    <form class="color-properties form-inline">
            <!-- Rows in this table update based on what "data type" is selected.-->
            <!-- <div class="categorical-variable">
                <span>Property</span>
                
                <select id="cat-prop" class="marker-style-select">
                    {{#each categoricalList}}
                        <option {{#ifequal ../selectedProp this.value }} SELECTED {{/ifequal}} {{#unless this.hasData}}disabled="disabled"{{/unless}} value="{{ this.value }}">
                        {{ this.text }} {{#unless this.hasData}} (no data){{/unless}}
                        </option>
                    {{/each}}
                </select>
            </div> -->
            <div class="row">
                <label>Group by:</label>
                <div>
                    <input type="radio" name="rb" id="cat-radio" {{#unless metadata.isContinuous}}checked{{/unless}}>
                    <label>Categorical</label><br>
                    <input type="radio" name="rb" id="cont-radio" {{#if metadata.isContinuous}}checked{{/if}} {{#unless propCanBeCont}}disabled="disabled" class="disabled"{{/unless}}>
                    <label {{#unless propCanBeCont}}class="disabled"{{/unless}}>Continuous</label><br>
                </div>
            </div>
            <div class="row" id="bucket-row">
                <label>Buckets:</label>
                <div>
                    <input id="bucket" type="number" value="{{metadata.buckets}}" min="1" max="9" {{#unless metadata.isContinuous}}disabled="disabled"{{/unless}}>
                </div>
            </div>
            <div class="categorical-variable row">
                <label>Color Ramp</label>
                <span>
                    <div>
                        <a>

                            <div class="selected-palette-wrapper">
                                <a>
                                    <ul class="selected-ul">
                                        {{#with selectedColorPalette}}

                                            <li class="selected-palette-list">
                                                <ul class="palette-container" style="opacity: {{../metadata.fillOpacity}};">
                                                    {{#each this}}
                                                    <li class="palette-item" style= "background-color: #{{this}}">

                                                    </li>
                                                    {{/each}}
                                                </ul>
                                            </li>

                                        {{/with}}
                                    </ul>
                                <i class="fa fa-angle-down palette-icon"></i>
                                </a>
                            </div>
                        </a>
                        <div class="palette-wrapper">
                            <ul>
                                {{#each allColors}}
                                <a>
                                    <li class="palette-list" id="palette_{{@index}}" value="{{@index}}">
                                        <ul class="palette-container" value="{{@index}}">
                                            {{#each this}}
                                            <li class="palette-item" value="{{@../index}}" style= "background-color: #{{this}}">

                                            </li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                </a>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </span>
            </div>
            <div>
                <span>Symbol Shape</span>
                <span>
                    <div id="global-symbol-dropdown" class="global-symbol-dropdown"></div>
                    <div class="selected-symbol-div" id="global-symbol">
                        <i class="fa fa-circle fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-angle-down fa-fw" aria-hidden="true" style="float: right"></i>
                    </div>
                    <!--
                    <select class="global-marker-shape marker-style-select">
                    {{#each icons}}
                        <option value="{{ this.key }}" {{#ifequal ../metadata.shape this.key}} SELECTED {{/ifequal}}>{{ this.name }}</option>
                    {{/each}}
                    </select>
                -->
                </span>
            </div>
            <div>
                <span>Opacity</span>
                <span>
                     <input id="palette-opacity" type="number" value="{{metadata.fillOpacity}}" min="0.0" max="1.0" step=".1">
                </span>
            </div>
            <div>
                <span>Width</span>
                <span><input id="marker-width" type="number" value="{{metadata.width}}"></span>
            </div>
            <div>
                <span>Stroke Weight</span>
                <span><input id="stroke-weight" type="number" value="{{metadata.strokeWeight}}"></span>
            </tr>
            <div>
                <span>Stroke Color</span>
                <span><i id="stroke-color-picker" class="fa fa-circle-o marker-icon jscolor" style="padding:0; color: {{metadata.strokeColor}} " aria-hidden="true">
                    </i>
                    </span>
            </div>
            <div>
                <span>Stroke Opacity</span>
                <span><input id="stroke-opacity" type="number" value="{{metadata.strokeOpacity}}" min="0.0" max="1.0" step=".1"></span>
            </div>

    </form>
</div>

<div>
    <table class="symbols-table">
        <thead>
            <tr>
                <th>Value</th>
                <th>Legend Label</th>
                <th>Shape</th>
            </tr>
        </thead>
        <tbody id="symbols">

        </tbody>
    </table>
</div>
{{/if}}
<!-- {{#ifequal groupBy "continuous"}}
    <table class="color-properties">
        <tbody>
            <tr class="continuous-variable">
                <td>Property</td>
                <td>
                    <select id="cont-prop" class="marker-style-select">
                        {{#each continuousList}}
                            <option {{#ifequal ../selectedProp this.value }} SELECTED {{/ifequal}} {{#unless this.hasData}}disabled="disabled"{{/unless}} value="{{ this.value }}">
                                {{ this.text }}{{#unless this.hasData}} (no data){{/unless}}
                            </option>
                        {{/each}}
                    </select>
                </td>
            </tr>

            <tr class="continuous-variable">
                <td>Buckets:</td>
                <td><input id="bucket" type="number" value="{{metadata.buckets}}" min="1" max="9"></td>
            </tr>
            <tr class="continuous-variable">
                <td>Color Ramp</td>
                <td>
                    <div>
                        <a>

                            <div class="selected-palette-wrapper">
                                <a>
                                    <ul class="selected-ul">
                                        {{#with selectedColorPalette}}

                                            <li class="selected-palette-list">
                                                <ul class="palette-container" style="opacity: {{../metadata.fillOpacity}};">
                                                    {{#each this}}
                                                    <li class="palette-item" style= "background-color: #{{this}}">

                                                    </li>
                                                    {{/each}}
                                                </ul>
                                            </li>

                                        {{/with}}
                                    </ul>
                                <i class="fa fa-angle-down palette-icon"></i>
                                </a>
                            </div>
                        </a>
                        <div class="palette-wrapper">
                            <ul>
                                {{#each allColors}}
                                <a>
                                    <li class="palette-list" id="palette_{{@index}}" value="{{@index}}">
                                        <ul class="palette-container" value="{{@index}}">
                                            {{#each this}}
                                            <li class="palette-item" value="{{@../index}}" style= "background-color: #{{this}}">

                                            </li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                </a>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Symbol Shape</td>
                <td>
                    <div id="global-symbol-dropdown" class="global-symbol-dropdown"></div>
                    <div class="selected-symbol-div" id="global-symbol">
                        <i class="fa fa-circle fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-angle-down fa-fw" aria-hidden="true" style="float: right"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="color-properties">
        <tbody>
            <tr>
                <td>Opacity</td>
                <td>
                     <input id="palette-opacity" type="number" value="{{metadata.fillOpacity}}" min="0.0" max="1.0" step=".1">
                </td>
            </tr>
            <tr>
                <td>Width</td>
                <td><input id="marker-width" type="number" value="{{metadata.width}}"></td>
            </tr>
            <tr>
                <td>Stroke Weight</td>
                <td><input id="stroke-weight" type="number" value="{{metadata.strokeWeight}}"></td>
            </tr>
            <tr>
                <td>Stroke Color</td>
                <td><i id="stroke-color-picker" class="fa fa-circle-o marker-icon jscolor" style="padding:0; color: {{metadata.strokeColor}} " aria-hidden="true">
                    </i>
                    </td>
            </tr>
            <tr>
                <td>Stroke Opacity</td>
                <td><input id="stroke-opacity" type="number" value="{{metadata.strokeOpacity}}" min="0.0" max="1.0" step=".1"></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="symbols-table">
        <thead>
            <tr>
                <th class="symbols-th">Value</th>
                <th class="symbols-th">Legend Label</th>
                <th class="symbols-th">Shape</th>
            </tr>
        </thead>
        <tbody id="symbols">

        </tbody>
    </table>
</div>
{{/ifequal}}

{{#ifequal groupBy "basic"}}
</div>

<div>
    <table class="symbols-table">
        <thead>
            <tr>
                <th></th>
                <th>Legend Label</th>
                <th>Shape</th>
            </tr>
        </thead>
        <tbody id="symbols">

        </tbody>
    </table>
</div>
{{/ifequal}} -->
