
<h5>Marker Style</h5> <i class="fa fa-times style-by-menu_close"></i>


<div class="toggle-buttons">
    <ul>
        <li class=" active">
            <a class="marker-style-tabs style-basic-tab">Basic</a>
        </li>
        <li>
            <a class="marker-style-tabs style-source-tab">Source Code</a>
        </li>
    </ul> 
</div>
<div class="toggle-container marker-style visual-edit" id="visual-marker-style">
    <table class="color-properties">
        <tbody>
            <tr>
                <td>Data Type</td> 
                <td>
                    <!-- Need a better term that "data type". this is how the legend is set up so items are organized based on certain properties..-->
                    <select name="place-properties" id="data-type-select" class="marker-style-select">
                        <option value="categorical" {{#ifequal dataType "categorical"}} SELECTED {{/ifequal}} {{#unless hasCategoricalFields}}disabled="disabled"{{/unless}}>Category</option>

                        <option value="continuous" {{#ifequal dataType "continuous"}} SELECTED {{/ifequal}} {{#unless hasContinuousFields}}disabled="disabled"{{/unless}} >
                            Continuous
                        </option>
                        <option value="basic" {{#ifequal dataType "basic"}} SELECTED {{/ifequal}}>Simple</option>
                        <option value="individual" {{#ifequal dataType "individual"}} SELECTED {{/ifequal}}>Individual Sites</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>    
{{#ifequal dataType "categorical"}}
    <table class="color-properties">
        <tbody>
            <!-- Rows in this table update based on what "data type" is selected.-->
            <tr class="categorical-variable">
                <td>Property</td> 
                <td>
                    <select id="cat-prop" class="marker-style-select">
                        {{#each categoricalList}}
                            <option {{#ifequal ../selectedProp this.value }} SELECTED {{/ifequal}} {{#unless this.hasData}}disabled="disabled"{{/unless}} value="{{ this.value }}">
                            {{ this.text }} {{#unless this.hasData}} (no data){{/unless}} 
                            </option>
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr class="categorical-variable">
                <td>Color Ramp</td>
                <td>
                    <div>
                        <a>
                            
                            <div class="selected-palette-wrapper">
                                <a>
                                    <ul class="selected-ul">
                                        {{#with selectedColorPalette}}
                                        
                                            <li class="selected-palette-list">
                                                <ul class="palette-container" style="opacity: {{../metadata.fillOpacity}};">
                                                    {{#each this}}
                                                    <li class="palette-item" style= "background-color: #{{this}}">
                                                          
                                                    </li>
                                                    {{/each}}
                                                </ul>
                                            </li>
                                       
                                        {{/with}}
                                    </ul>
                                <i class="fa fa-angle-down palette-icon"></i>
                                </a>
                            </div>
                        </a>
                        <div class="palette-wrapper">
                            <ul>
                                {{#each allColors}}
                                <a>
                                    <li class="palette-list" id="palette_{{@index}}" value="{{@index}}">
                                        <ul class="palette-container" value="{{@index}}">
                                            {{#each this}}
                                            <li class="palette-item" value="{{@../index}}" style= "background-color: #{{this}}">
                                                
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                </a>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Symbol Shape</td>
                <td>
                    <div id="global-symbol-dropdown" class="global-symbol-dropdown"></div>
                    <div class="selected-symbol-div" id="global-symbol">
                        <i class="fa fa-circle fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-angle-down fa-fw" aria-hidden="true" style="float: right"></i>
                    </div>
                    <!--
                    <select class="global-marker-shape marker-style-select">
                    {{#each icons}}
                        <option value="{{ this.key }}" {{#ifequal ../metadata.shape this.key}} SELECTED {{/ifequal}}>{{ this.name }}</option>
                    {{/each}}
                    </select>
                -->
                </td>
            </tr>
            <tr>
                <td>Opacity</td>
                <td>
                     <input id="palette-opacity" type="number" value="{{metadata.fillOpacity}}" min="0.0" max="1.0" step=".1">
                </td>
            </tr>
            <tr>
                <td>Width</td>
                <td><input id="marker-width" type="number" value="{{metadata.width}}"></td>
            </tr>
            <tr>
                <td>Stroke Weight</td>
                <td><input id="stroke-weight" type="number" value="{{metadata.strokeWeight}}"></td>
            </tr>
            <tr>   
                <td>Stroke Color</td>
                <td><i id="stroke-color-picker" class="fa fa-circle-o marker-icon jscolor" style="padding:0; color: {{metadata.strokeColor}} " aria-hidden="true">
                    </i>
                    </td>
            </tr>
            <tr>
                <td>Stroke Opacity</td>
                <td><input id="stroke-opacity" type="number" value="{{metadata.strokeOpacity}}" min="0.0" max="1.0" step=".1"></td>
            </tr>

        </tbody>
    </table>
</div>

<div>
    <table class="symbols-table">
        <thead>
            <tr>
                <th>Value</th>
                <th>Legend Label</th> 
                <th>Shape</th> 
            </tr>
        </thead>
        <tbody id="symbols">
            
        </tbody>
    </table>
</div>
{{/ifequal}}
{{#ifequal dataType "continuous"}}
    <table class="color-properties">
        <tbody>    
            <tr class="continuous-variable">
                <td>Property</td> 
                <td>
                    <select id="cont-prop" class="marker-style-select">
                        {{#each continuousList}}
                            <option {{#ifequal ../selectedProp this.value }} SELECTED {{/ifequal}} {{#unless this.hasData}}disabled="disabled"{{/unless}} value="{{ this.value }}">
                                {{ this.text }}{{#unless this.hasData}} (no data){{/unless}}
                            </option>
                        {{/each}}
                    </select>
                </td>
            </tr>

            <tr class="continuous-variable">
                <td>Buckets:</td>
                <td><input id="bucket" type="number" value="{{metadata.buckets}}" min="1" max="9"></td>
            </tr>
            <tr class="continuous-variable">
                <td>Color Ramp</td>
                <td>
                    <div>
                        <a>
                            
                            <div class="selected-palette-wrapper">
                                <a>
                                    <ul class="selected-ul">
                                        {{#with selectedColorPalette}}
                                        
                                            <li class="selected-palette-list">
                                                <ul class="palette-container" style="opacity: {{../metadata.fillOpacity}};">
                                                    {{#each this}}
                                                    <li class="palette-item" style= "background-color: #{{this}}">
                                                          
                                                    </li>
                                                    {{/each}}
                                                </ul>
                                            </li>
                                       
                                        {{/with}}
                                    </ul>
                                <i class="fa fa-angle-down palette-icon"></i>
                                </a>
                            </div>
                        </a>
                        <div class="palette-wrapper">
                            <ul>
                                {{#each allColors}}
                                <a>
                                    <li class="palette-list" id="palette_{{@index}}" value="{{@index}}">
                                        <ul class="palette-container" value="{{@index}}">
                                            {{#each this}}
                                            <li class="palette-item" value="{{@../index}}" style= "background-color: #{{this}}">
                                                
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                </a>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Symbol Shape</td>
                <td>
                    <div id="global-symbol-dropdown" class="global-symbol-dropdown"></div>
                    <div class="selected-symbol-div" id="global-symbol">
                        <i class="fa fa-circle fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-angle-down fa-fw" aria-hidden="true" style="float: right"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="color-properties">
        <tbody>
            <tr>
                <td>Opacity</td>
                <td>
                     <input id="palette-opacity" type="number" value="{{metadata.fillOpacity}}" min="0.0" max="1.0" step=".1">
                </td>
            </tr>
            <tr>
                <td>Width</td>
                <td><input id="marker-width" type="number" value="{{metadata.width}}"></td>
            </tr>
            <tr>
                <td>Stroke Weight</td>
                <td><input id="stroke-weight" type="number" value="{{metadata.strokeWeight}}"></td>
            </tr>
            <tr>   
                <td>Stroke Color</td>
                <td><i id="stroke-color-picker" class="fa fa-circle-o marker-icon jscolor" style="padding:0; color: {{metadata.strokeColor}} " aria-hidden="true">
                    </i>
                    </td>
            </tr>
            <tr>
                <td>Stroke Opacity</td>
                <td><input id="stroke-opacity" type="number" value="{{metadata.strokeOpacity}}" min="0.0" max="1.0" step=".1"></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="symbols-table">
        <thead>
            <tr>
                <th class="symbols-th">Value</th>
                <th class="symbols-th">Legend Label</th> 
                <th class="symbols-th">Shape</th> 
            </tr>
        </thead>
        <tbody id="symbols">
            
        </tbody>
    </table>
</div>
{{/ifequal}}

{{#ifequal dataType "basic"}}
<table class="color-properties">
        <tbody>            
            <tr>
                <td>Symbol Shape</td>
                <td>
                    <div id="global-symbol-dropdown" class="global-symbol-dropdown"></div>
                    <div class="selected-symbol-div" id="global-symbol">
                        <i class="fa fa-circle fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-angle-down fa-fw" aria-hidden="true" style="float: right"></i>
                    </div>
                    <!--
                    <select class="global-marker-shape marker-style-select">
                    {{#each icons}}
                        <option value="{{ this.key }}" {{#ifequal ../metadata.shape this.key}} SELECTED {{/ifequal}}>{{ this.name }}</option>
                    {{/each}}
                    </select>
                -->
                </td>
            </tr>
            <tr>
                <td>Opacity</td>
                <td>
                     <input id="palette-opacity" type="number" value="{{metadata.fillOpacity}}" min="0.0" max="1.0" step=".1">
                </td>
            </tr>
            <tr>
                <td>Width</td>
                <td><input id="marker-width" type="number" value="{{metadata.width}}"></td>
            </tr>
            <tr>
                <td>Stroke Weight</td>
                <td><input id="stroke-weight" type="number" value="{{metadata.strokeWeight}}"></td>
            </tr>
            <tr>   
                <td>Stroke Color</td>
                <td><i id="stroke-color-picker" class="fa fa-circle-o marker-icon jscolor" style="padding:0; color: {{metadata.strokeColor}} " aria-hidden="true">
                    </i>
                    </td>
            </tr>
            <tr>
                <td>Stroke Opacity</td>
                <td><input id="stroke-opacity" type="number" value="{{metadata.strokeOpacity}}" min="0.0" max="1.0" step=".1"></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="symbols-table">
        <thead>
            <tr>
                <th></th>
                <th>Legend Label</th> 
                <th>Shape</th> 
            </tr>
        </thead>
        <tbody id="symbols">
            
        </tbody>
    </table>
</div>
{{/ifequal}}

