<div class="style-menu">
    <div class="style-menu_row">
        <div>
            <span class="symbol-info">category: {{title}}</span>
        </div>
        <input type="text" value="{{title}}" class='symbol-title-input'>
    </div>

    <div class="style-menu_row">
        <div class="symbol-style-menu_label">Marker Fill: </div>
        <div class="style-menu_shape-inner-row">
           <div class="style-menu_shape-wrapper {{#ifequal shape 'pin'}} selected-shape {{/ifequal}}" data-shape="pin">
                <i class="fa fa-2x fa-map-marker style-menu_shape"></i>
            </div>
           <div class="style-menu_shape-wrapper {{#ifequal shape 'circle'}} selected-shape {{/ifequal}}" data-shape="circle">
                <i class="fa fa-2x fa-circle style-menu_shape"></i>
            </div>
           <div class="style-menu_shape-wrapper  {{#ifequal shape 'square'}} selected-shape {{/ifequal}}" data-shape="square">
                <i class="fa fa-2x fa-square style-menu_shape"></i>
            </div>
            <div class="style-menu_shape-wrapper  {{#ifequal metadata.shape 'plus'}} selected-shape {{/ifequal}}" data-shape="plus">
                <i class="fa fa-2x fa-plus style-menu_shape"></i>
            </div>
            <div class="style-menu_shape-wrapper  {{#ifequal metadata.shape 'cross'}} selected-shape {{/ifequal}}" data-shape="cross">
                <i class="fa fa-2x fa-times style-menu_shape"></i>
            </div>
        </div>
    </div>

    <div class="style-menu_row">
        <div class="symbol-style-menu_label">Marker Fill: </div>
        <div class="style-menu_inner-row">
            <div class="style_attr">
                <div class="style-menu_block">
                    <input id="marker-width" type="number" value="{{width}}">
                </div>
                <div class="style-menu_input-descr">Size</div>
            </div>

            <div class="style_attr">
                <div class="style-menu_block jscolor" id="fill-color-picker" style="padding:0; background: {{fillColor}}; opacity: {{fillOpacity}};">
                </div>
                <div class="style-menu_input-descr">Color</div>
            </div>

            <div class="style_attr">
                <div class="style-menu_block">
                    <input id="marker-opacity" type="number" value="{{fillOpacity}}" min="0.0" max="1.0" step=".1">
                </div>
                <div class="style-menu_input-descr">Opacity</div>
            </div>
        </div>
    </div>


    <div class="style-menu_row">
        <div class="symbol-style-menu_label">Marker Outline: </div>
        <div class="style-menu_inner-row">
            <div class="style_attr">
                <div class="style-menu_block">
                    <input id="stroke-weight" type="number" value="{{strokeWeight}}">
                </div>
                <div class="style-menu_input-descr">Width</div>
            </div>

            <div class="style_attr">
                <div class="style-menu_block jscolor" id="stroke-color-picker" style="padding:0; background: {{strokeColor}}; opacity: {{fillOpacity}};">
                </div>
                <div class="style-menu_input-descr">Color</div>
            </div>
            <div class="style_attr">
                <div class="style-menu_block">
                    <input id="stroke-opacity" type="number" value="{{strokeOpacity}}" min="0.0" max="1.0" step=".1">
                </div>
                <div class="style-menu_input-descr">Opacity</div>
            </div>
        </div>

    </div>
</div>
