audio {
    display: none;
}

.fa{
    display: inline-block;
    text-rendering: auto;
}

.audio-container {
    background: #EDEDED;
    color: #686868;
    text-align: center;
    font-family: Candara, Calibri, Segoe;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
}

.audio-container span {
    font-size: 1.6em;
    margin-top: 20px;
    display: block;
}

.progress {
    height: 10px;
    width: 200px;
    background: #CBCBCB;
    border-radius: 2px;
    overflow: hidden;
    margin: auto;
    cursor: pointer;
}

.progress > div {
    height: 10px;
    width: 0;
    background: #686868;
}

.progress-circle{
    height: 15px;
    width: 15px;
    border: 6px solid #686868;
    background-color: white;
    border-radius: 5px;
    top: -5px;
}


.play-ctrls{
    text-align: center;
    margin: 20px 0 10px;
}

.play {
    cursor: pointer;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 0 15px 30px;
    border-color: transparent transparent transparent #686868;
    margin: 20px auto;
}

.play.pause {
    width: 10px;
    height: 30px;
    border-width: 0 10px 0 10px;
    border-color: #686868;
}

.fwd-back{
    vertical-align: top;
    padding: 5px 20px;
}

.vol {
    margin-top: 10px;
    user-select: none;
}
.vol i {
    cursor: pointer;
    margin-right: 5px;
}
