
/********************************/
/*       PHOTO PANEL STYLES     */
/********************************/

.carousel {
    margin: 20px 0px 0px 0px;
    border: solid 1px transparent;
}
.carouselbox {
    font-family: helvetica,sans-serif;
    font-size: 14px;
    width: 100%;
    height: 300px;
    position: relative;
    box-sizing: border-box;
}
.carousel .fa {
    color: #999;
}
.carousel-content {
    margin: 0;
    padding: 0;
    font-size: 14px;
/*    width: 100%; 
    position: relative;*/
    box-sizing: border-box;
}

/*
.side-panel .carousel-content {
    max-height: 300px;
}

.carousel-modal .carousel-content {
    max-height: 300px;
}*/

.carousel-content li {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;
    z-index: 2;
}

.carousel-modal .carousel-content {
    background: none;
}

.carousel-modal .carousel-content li {
    background: none;
}

.carousel-modal .active-slide {
    border: none;
}

.carousel-modal .carouselbox {
    background: none;
}


.carousel-photo .active-slide {
    min-height: 350px;
}

.active-slide li {
    position: absolute;
    top: 350px;
 }
.active-slide li.current {
    height: 100%;
    top: 0px;
}
.carousel-buttons {
    margin-top: -315px;
    height: 340px;
}
.carousel-buttons .next, .carousel-buttons .prev {
    cursor: pointer;
    margin-top: 150px;
}
.carousel-buttons .next {
    float: right;
    margin-right: 10px;
}

.carousel-buttons .prev {
    float: left;
    margin-left: 10px;
}

.carousel-buttons .next, .carousel-buttons .prev {
    color: rgba(214, 214, 214, 0.76);
    font-size: 30px;
   /* text-shadow: 1px 1px 3px #000 !important; */
}

.carousel-buttons, .circle-buttons {
    display: block;
    padding: 10px 0;
    text-align: center;
    z-index: 10;
    position: relative;
}

.circle-buttons .fa {
    cursor: pointer;
}

.offscreen {
    position: absolute;
    left: -2000px;
}

.carousel-caption {
    display: none;
    color: #999;
}

.current .carousel-caption {
    display: inline;
}

li.current .photo {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center center !important;
    margin-bottom: 6px;
    cursor: pointer;
}

.photo-single {
    margin-bottom: 6px;;
    text-align: center;
}

.photo-single > img {
    max-height: 100%;
    max-width: 100%;
    padding: 0px !important;
}

/********************************/
/*       SPREADSHEET STYLES     */
/********************************/
.spreadsheet .active-slide {
    position: relative;
    height: auto;
    width: 800px;
    top: 50px;
}

.spreadsheet .active-slide li {
    top: 0px;
}
.spreadsheet li.current .photo {
    height: auto !important;
    min-height: 500px;
    width: 100%;
    cursor: pointer;
}
.spreadsheet .carouselbox, .spreadsheet .active-slide {
    min-height: 500px;
    height: auto !important;
}
.spreadsheet .carousel-buttons {
    margin-top: -500px;
    height: 500px;
}
.spreadsheet .carousel-buttons .next, .spreadsheet .carousel-buttons .prev {
    cursor: pointer;
    margin-top: 240px;
}

.close.big {
    font-size: 80px;
    line-height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
}

/********************************/
/*       AUDIO PANEL STYLES     */
/********************************/
.carouselbox.audio {
    height: 200px;
}

li .player-container {
    display: none;
}

.current .player-container {
    display: block;
}