.carousel {
    margin: 20px;
}
.carouselbox {
    font-family: helvetica,sans-serif;
    font-size: 14px;
    width: 100%;
    height: 350px;
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden;
    box-sizing: border-box;
    background: #FFF;
}
.carousel .fa {
    color: #999;
}
.carousel-content {
    margin: 0;
    padding: 0;
}
.carousel-content li {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;
    z-index: 2;
}
.active-slide {
    height: 350px;
}
.active-slide li {
    position: absolute;
    top: 350px;
}
.active-slide li.current {
    top: 0px;
}

.carousel-buttons {
    display: block;
    padding: 5px 0;
    text-align: center;
    z-index: 10;
    position: relative;
}

.offscreen {
    position: absolute;
    left: -2000px;
}

li.current .photo {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    margin-bottom: 6px;
}

