.main-panel, .side-panel {
    /*border: solid 1px #000;*/
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    /*height: 100%;*/
}
.main-panel {
    width: 70%;
    height: calc(100% - 100px);
    overflow: auto;
}
.main-panel img {
    max-height: 200px;
}
.side-panel {
    width: 30%;
    background-color: #EEE;
    min-height: calc(100% - 100px);
}
.side-panel img {
    width: 100%;
}
.column {
    margin: 10px;
    border: solid 1px #CCC;
    display: inline-block;
}
.fa-cog {
    margin-top: 30vh;
    color: #CCC;
    margin-left: 45%;
}