/************************************ Side Panel ************************************/

/*Add some padding below the content to compensate for the overlap*/
/*.side-panel > div{
    padding-bottom: 80px;
}*/

.save-options{
    position: fixed;
    bottom: 0;width: 372px;
    z-index: 100;
    background-color: white;
    border-top: 1px solid #e4e5eb;
    padding: 14px 20px;
}

.confirmation {
    padding-left: 20px;
    line-height: 40px;
    display: block;
    position: absolute;
    width: inital;
}


.img-card {
    border: 1px solid #e4e5eb;
    background-color: white;
    margin: 20px;
    position:relative;
}


 /************************************ Main area for databases ************************************/
.dataview {
    top: 110px;
    position: absolute;
    background-color: #f0f1f5;
    display: flex;
    height: calc(100vh - 109px);
    width: 100%;
}


.success-message {
    display: none;
}


