
.fa-cog {
    margin-top: 30vh;
    color: #CCC;
    margin-left: 45%;
} 


/************************************ Cards ************************************/

.column {
    width: calc(25% - 12px);
    background-color: white;
    margin: 4px 6px 8px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 1px 0 rgba(53, 76, 122,.2);
    display:inline-block;
    position: relative;
    vertical-align: top;
}

.column img{
    width:100%;
}

.card-img-preview{
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
}

.column h1{
    font-size: 14px;
    padding: 10px 10px 1px;
    font-weight: 400;
}

.column h2{
    font-size: 12px;
    padding: 0 10px 12px;
    color: #7a7a7a;
    font-weight: 400;
}

.column .fa-map-marker{
    position:absolute;
    right:16px;
    bottom:16px;
}

/************************************ Side Panel ************************************/

/*Add some padding below the content to compensate for the overlap*/
.side-panel > div{
    padding-bottom: 80px;
}

.save-options{
    position: fixed;
    bottom: 0;width: 372px;
    z-index: 100;
    background-color: white;
    border-top: 1px solid #e4e5eb;
    padding: 14px 20px;
}

 /************************************ Main area for databases ************************************/
.dataview {
    top: 130px;
    position: absolute;
}
.dataview {
    background-color: #e5e7ed;
    display: flex;
    height: calc(100vh - 132px);
    width: 100%;
}

#gallery-main{
    width:100%;
}

.side-panel{
    width: 400px;
    flex: none;
    height: calc(100vh - 132px);
    order: 2;
    background-color: rgb(246, 246, 249);
    border: 1px solid rgb(217, 220, 229);
    overflow: scroll;
}
.main-panel {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px 14px 24px;
    overflow: scroll;
    display:flex;
    width:100%;
}

.main-panel> div{
    width:100%;
}



