/************************************ Top Level  Navigation ************************************/


	.right-nav > li > a{
		text-transform: uppercase;	.
		font-size: 12px;
		letter-spacing: 1px;
	}
	.right-nav{
		font-size: 14px;
		list-style:none;
		margin:0;
		float: right;
		text-transform: uppercase;
		line-height: 57px;
		display:inline-block;
	}

	nav.account > div{
		max-width:960px;
		margin-left:auto;
		margin-right:auto;
	}

	nav.account{
		height:60px;
		background-color:white;
		font-size: 14px;
		box-shadow: 0 2px 1px 1px rgba(53, 76, 122, 0.10);
		position:relative;
		z-index: 40;
	}


	.right-nav>li{
		display:inline-block;
		height:57px;
		margin: 0 10px;
		vertical-align: top;
		padding: 0 2px;
	}


/************************************ Decoration ************************************/

	.article-title{
		background-image:url('../assets/background-13.png');
		background-size: 100%;
		padding-top: 50px;
	}

/************************************ Article Typography ************************************/
	.article h1 {
	    font-weight: 300;
	    padding: 40px 0px 44px;
	    font-size: 40px;
	    letter-spacing: 2px;
	}


/************************************ Article Layout ************************************/
.container-center{
	max-width:960px;
	margin:auto;
}

.container-search> div{
	padding: 20px 0 ;
}

.container-projects > .container-center {
    max-width: 970px;
}


/************************************ Project Card ************************************/
.project-overview .action{
	color:#767676;
	font-size:13px;
}


.project-overview h2 a{
	text-decoration:none;
	font-size:18px;
}

.project-overview  h2{
	font-size:22px;
	font-weight:500;
	display: inline-block;
}

.project-overview h3{
	font-size: 12px;
	font-weight: 400;
	color: #767676;
	margin-bottom: 12px;

}

.project-overview  p{
	font-size:14px;
	margin-bottom:10px;
}

.project-overview .fa{
	padding:0 4px 0 0;
}

#gallery-main >div{
	width: calc(33.333% - 44px);
	border-radius: 4px;
	position: relative;
	border: 1px solid #e4e5eb;
	padding: 16px;
	margin: 20px 5px 0;
	display: inline-block;
	height: 180px;
	vertical-align: top;
}

.project-overview .bordered-section{
	padding:0 0 20px;
	margin:0 0 40px;
	border-color: #e4e5eb;
}

.project-overview span.owner{
	font-size:13px;
	color: #767676;
	display:block;
	margin-bottom: 8px;
}

.project-detail{
	position: absolute;
	bottom: 16px;
	width: calc(100% - 32px);
}










