@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url('https://fonts.googleapis.com/css?family=Schoolbell');

/************************************ Resetish ************************************/

html, div, body, h1, h2, h3, h4, h5, h6, p, button, table, input, span, a, select, form{
	padding:0;
	margin:0;
	font-family:"Open Sans",Arial,sans-serif;
	color:#3d3d3d;
}

a{
	text-decoration:none;
	font-size:12px;
}

table{
	font-size:12px;
}
ul{
	font-size:12px;
	padding-left:0;
}

/*** Override some of the "fixed / absolute" characteristics of fav bar ****/
.filter .data, #toolbar-main {
    position: static;
}

#toolbar-main .buttons{
    top: 0;
}

.main-panel {
    padding: 0px;
    width: auto;
    display:flex;
}

/*** Begin Map Styles ****/

#marker-detail-panel, #map-panel {
    /*border: solid 1px #000;*/
    height: calc(100%);
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}
#marker-detail-panel {
    overflow-y: auto;
}


.none #marker-detail-panel {
    width: 0%;
    overflow: hidden;
    padding: 0px;
}

.left #map-panel {
    width: calc(100% - 400px);
    transition: 0.5s;
}

.left #marker-detail-panel {
    order: 0;
    border-right: 1px solid #e4e5eb;
    box-shadow: 0 1px 1px 1px rgba(53, 76, 122, 0.06);
    width: 400px;
    background-color: #fafafc;
    z-index: 40;
    flex: none;
    overflow: scroll;
    height:100%;
    transition: 0.5s;
    padding-top: 80px;
    border: none !important;
}

@media (max-width: 900px) {
    .left #marker-detail-panel {
        border-right: 1px solid #e4e5eb;
        box-shadow: 0 1px 1px 1px rgba(53, 76, 122, 0.06);
        width: 400px;
        background-color: #fafafc;
        z-index: 40;
        flex: none;
        overflow: scroll;
        height:100%;
        transition: 0.5s;
        padding-top: 0px; 
        border: none !important;
        bottom: 0px;
        max-height: 200px;
        position: fixed;
        float: right;
        width: 100%;
    }
}

    


.none #map-panel {
    width: 100%;
}
#map {
    width: 100%;
    height: 100%;
}    

.main-panel {
    height: calc(100%);
    display: flex;
    position: absolute;
    width: 100%;
}

.none #marker-detail-panel .show-hide {
    left: 0px;
}
.left #marker-detail-panel .show-hide {
    left: 400px;
}

#map-panel {
    height:100%;
    /*-webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;*/
}

.controls {
    margin: 10px 5px;
    padding: 5px 15px;
    border: solid 2px #CCC;
    width: 250px;
    height: 32px;
}

#toolbar-main > div{
    display:flex;    
}

.list-header {
    padding: 10px;
    border-bottom: solid 1px #ebebeb;
    font-size: 12px;
    background: #FFF;
    font-weight: 600;
    color: #666;
}

.list-indent, .list-indent-simple, .preview-filter-list {
    list-style: none;
    margin: 0;
}

.list-indent > li, .preview-filter-list > li {
    padding: 0px;
    border-bottom: 1px solid #ebebeb;
    font-size: 12px;
}
.list-indent > li.empty {
    padding: 0px 40px;
    color: #999;
    height: 56px;
    line-height: 56px;
}

.list-indent a {
    text-decoration: none;
    padding: 6px 22px;
    display: inline-block;
    width: 100%;
}
.new-feature-by-type {
    float: right;
    font-size: 1.3em;
    position: relative;
    top: .1em;
    color: #4e70d4;
    margin-right: 10px
}

svg, .fa-question-circle {
    vertical-align: middle;
    margin: 0px 5px 0px 5px;
    color: #CCC;
    font-size: 16px;
}

.list-header .zoom-to-extents {
    color: #AAA;
    font-size: 12px;
    margin-right: 10px;
    float: right;
    margin-top: 3px;
    display: none;
}
.list-header:hover .zoom-to-extents {
    cursor: pointer;
    display: block;
}

.highlight {
    background: rgb(123, 155, 225);
    color: white;
}
.highlight a {
    color: white;
}
.highlight a p {
    color: white;
}

.show-hide {
    width: 20px;
    height: 57px;
    background: #FFF;
    position: absolute;
    bottom: 0px;
    z-index: 100;
    cursor: pointer;
    line-height: 30px;
    /* padding: 5px; */
    font-weight: bold;
    color: #999;
}
.marker-container p {
    display: inline-block;
    margin-top: 3px;
    vertical-align: middle;
}

#marker-detail-panel .hide {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAJUlEQVR42mNgAILy8vL/DLgASBKnApgkVgXIkhgKiNKJ005s4gDLbCZBiSxfygAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: 7px center;
    background-size: 8px 8px;
    box-shadow: -1px 1px 4px rgba(0,0,0,0.3);
}

#marker-detail-panel .show {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAJUlEQVR42mNgAILy8vL/DLgASBKnApgkVgXIkhgKiNKJ005s4gDLbCZBiSxfygAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: 7px center;
    background-size: 8px 8px;
    box-shadow: -1px 1px 4px rgba(0,0,0,0.3);
}


/**********************
 * Google Maps Override
 */
/*.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
    right: 50px !important;
    bottom: 107px !important;
}*/

#map > div > .gm-style > div:nth-child(2) {
    margin-left: 25px !important;
}

.hide-panel, .show-panel {
    width: 8px;
    cursor: pointer;
}


#legend {
    position: absolute;
    right: 10px;
    z-index: 400;
    top: 10px;
    background-color: white;
    border: 1px solid #e4e5eb;
    box-shadow: 3px 3px 1px 1px rgba(53, 76, 122, 0.06);
    border-radius: 6px;
    width: 180px;
    padding: 10px 20px; 
    transition: 0.5s;
    overflow-y: hidden;

   /* min-height: 200px;*/
}

#presentation-title {
    /*background-color: #354c7a;*/
    position: fixed;
    width: 401px;
    box-shadow: 0 3px 0 0 rgba(53, 76, 122, 0.08);
    z-index: 100;
}

#presentation-title h1 {
    padding: 10px 20px 0px 20px;
    letter-spacing: 0.6px;
    color: white;
    font-weight: 400;
    font-family: Montserrat;
    /*font-size: 12px;
    text-transform: uppercase;*/
}

#presentation-title h2 {
    font-style: italic;
    font-weight: 300;
    padding: 1px 20px 22px;
    color: rgba(255,255,255,0.8);
    font-size: 12px;
}


/************************************ Sarah's Enhancements ************************************/
.symbol-container p {
    display: inline-block;
}
.symbol-container li {
    margin: 3px 0px 3px 0px;
}

.symbol-container svg {
    vertical-align: bottom;
}

.layer-entry {
    margin-bottom: 15px;
}


/************************************ Media Queries ************************************/

@media (max-width: 900px) {

    #legend {
        height: 20px;
        width: 90px;
    }

    #presentation-title {
        width: 100%;
    }
    .carousel {
        margin-top: 5px;
        max-width: 400px;
        margin: 0 auto;
    }

    #marker-detail-panel .section {
        margin: 0 auto;
        max-width: 400px;
        padding: 0px 10px;
    }

    table.preview-properties {
        margin-top: 5px;
        max-width: 400px;
        margin: 10 auto;
        padding: 0px 10px;
    }

}

@media (min-width: 901px) {
    #legend {
        height: auto;
        width: auto;
    }
}

