
#marker-detail-panel {
    display: none;
    overflow: hidden;
}
#map-panel {
    width: 80%;
}
    
.show-detail #map-panel {
    width: 50%;
}

.show-detail #marker-detail-panel {
    display: inline-block;
    overflow-y: auto;
}

.main-panel{
    height: calc(100% - 131px);
    top: 131px;
    display: flex;
    position: absolute;
    width: 100%;
}

#marker-list-panel{
    order: 0;
    border-right: 1px solid #e4e5eb;
    box-shadow: 0 1px 1px 1px rgba(53, 76, 122, 0.06);
    width: 280px;
    background-color: #fafafc;
    z-index: 40;
    flex: none;
    overflow: scroll;
}

#map-panel{
    background-image:url('../../images/map-placeholder.png');
    background-size: 1234px;
}