/* pages.css created by C Mah 6/29/2017 to use for login and registration pages.  
*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

.main-content {
    background: #EEE;
}

h1 {
    /*font-family: 'Montserrat';*/
    font-family: "Open Sans", Arial, sans-serif;
    text-align: center;
    padding: 60px 0 0 0;
    text-transform: uppercase;
    font-size: 80px;
    color: white;
    font-weight: 700;
    letter-spacing: .1em;
}

h4 {
    /*font-family: 'Montserrat';*/
    font-family: "Open Sans", Arial, sans-serif;
    text-align: center;
    padding: 0 0 0 0;
    font-size: 18px;
}

p {
    font-family: "Open Sans", Arial, sans-serif;
    color: #3d3d3d;
}

#center_text {
    text-align: center;
}

#outer {
    background-image: url('/static/redesign/assets/home-header.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    text-align: center;
}

#inner {
    width: 50%;
    margin: 0 auto;
    padding: 5px 20px 5px 20px;
    background-color: #f2f2f2;
}

.btn {
    display: inline-block;
    background: #009999;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
}

a.logotype {
    padding: 14px 20px 10px 0;
    font-family: "Amatic SC";
    letter-spacing: .1em;
    font-size: 24px;
    display: inline-block;
    text-transform: uppercase;
}

.right-nav>li>a {
    text-transform: uppercase;
    . font-size: 12px;
    letter-spacing: 1px;
}

.right-nav {
    float: right;
    font-size: 14px;
    list-style: none;
    margin: 0;
}

#map-title-options nav,
.right-nav {
    float: right;
    text-transform: uppercase;
    line-height: 57px;
    display: inline-block;
}

#map-title-options nav>div,
.right-nav>li {
    display: inline-block;
    height: 57px;
    margin: 0 10px;
    vertical-align: top;
    padding: 0 2px;
}

.welcome-box {
        border-bottom: 1px solid #e4e5eb;
        margin-bottom:60px;

}
