/* pages.css created by C Mah 6/29/2017 to use for login and registration pages.  
*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Amatica+SC);

.main-content {
    background: #ffffff;
}

html,
div,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
table,
input,
span,
a,
select,
form {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
    color: #3d3d3d;
}

a {
    text-decoration: none;
}


h1 {
    font-family: "Open Sans", Arial, sans-serif;
    text-align: center;
    padding: 100px 0 0 0;
    font-size: 80px;
    color: white;
    font-weight: 700;
    letter-spacing: .1em;
}


h4 {
    font-family: "Open Sans", Arial, sans-serif;
    text-align: center;
    padding: 0 0 0 0;
    font-size: 18px;
}

p {
    font-family: "Open Sans", Arial, sans-serif;
    color: #3d3d3d;
}

#center_text {
    text-align: center;
}

#footer-text {
    text-align: center;
    background-color: #e4e5eb;
    margin-top: 50px;
    padding: 5px 0px 5px 0px;
    width: 100%;
}

#outer {
    margin: 20px;
    height: 100%;
    width: 100%;
    background-color: white;
    background-size: cover;
    text-align: center;
}

#inner {
    width: 50%;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #e4e5eb;
    border: 1px dotted darkgray;
}

.btn {
    display: inline-block;
    background: #008580;
    margin: 10px;
    padding: 5px 20px;
    font-size: 14px;
    color: white;
    border-radius: 4px;
}


/*******This area is for the top nav***/

a.logotype {
    /*padding: 14px 20px 10px 0;*/
    font-family: "Amatica SC";
    /*letter-spacing: .1em;*/
    font-size: 36px;
    font-weight: bold;
    /*display: inline-block;*/
}

.right-nav {
    float: right;
    font-size: 14px;
    list-style: none;
    margin: 0;
}

#nav,
.right-nav {
    float: right;
    display: inline-block;
    padding: 20px 0 10px 0;
   
}

#nav>div,
.right-nav>li {
    display: inline-block;
    height: 36px;
    margin: 0px 10px;
    vertical-align: text-bottom;
    padding: 0 2px;
}

.welcome-box {
    border-bottom: 1px solid #e4e5eb;
    margin-bottom: 60px;
}

nav.account {
    background-color: white;
    font-size: 14px;
    /*box-shadow: 0 1px 4px 1px rgba(53, 76, 122, 0.1);*/
    position: relative;
    z-index: 40;
}

nav.account>div {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.button-primary {
    /*background-color:rgb(53, 76, 122)*/
    background-color: #4e70d4;
    color: white;
    border: none;
    border-radius: 3px;
    float: right;
    letter-spacing: .05em;
    min-width: 80px;
    text-align: center;
    padding: 5px;
    margin-right: 10px;
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s;
        /* Fading effect takes 1 second */
}

.button-main-action {
    background-color: #008580;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.nav-color {
    background-color: #008580;
    color: white;
}

.white,
.white a {
    color: #fff;
}

.navbar {
    margin-bottom: 0px
}


/**Login Screen*/
.login-questions>a,
.login-questions>p>a
{
    color:#4e70d4;
    text-decoration: underline;
    text-decoration-color: #4e70d4;
}

/************************************ General Layout ************************************/

.desktop-min {
    min-width: 1100px;
}

.section {
    padding: 16px 0;
    margin: 0 16px;
}

.modal-body .section {
    padding: 20px 0;
    margin: 0 20px;
}

.container-background {
    background-color: #fafafc;
}

.flex {
    display: flex;
}

.container-flex {
    display: flex;
}

.bordered-section {
    border-bottom: 1px solid #e4e5eb;
    padding: 20px 0;
    margin: 0 16px;
}

.bordered-section>h5 {
    padding-bottom: 0;
}

.end-section {
    margin-bottom: 70px;
}

.right-two-thirds {
    width: 66%;
    float: right;
}

.two-thirds-column {
    flex: 2;
}

.one-third-column {
    flex: 1;
}

.half-column {
    flex: 1;
    overflow: scroll;
}

.half-column:first-child {
    margin-right: 40px;
}

.three-fourths-column {
    flex: 3;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.right {
    float: right;
}

.container-center {
    max-width: 960px;
    margin: auto;
    display: flex;
}

.container-projects>.container-center {
    max-width: 970px;
}

.container-search>div {
    padding: 20px 0;
}

.flex {
    display: flex;
}


/************************************ Articles ************************************/

.article-title {
    background-color: #fafafc;
    border-bottom: 1px solid #e4e5eb;
    background-image: url('../assets/home-header.png');
    background-size: 100%;
    /*
	background: #4e70d4;
	background: -moz-linear-gradient(left, #4e70d4 0%, #5777d9 100%);
	background: -webkit-linear-gradient(left, #4e70d4 0%,#5777d9 100%);
	background: linear-gradient(to right, #4e70d4 0%,#5777d9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e70d4', endColorstr='#5777d9',GradientType=1 ); */
}

.article ol,
.article ul,
.article p {
    margin-top: 10px;
}

.article .two-thirds-column ol,
.article .two-thirds-column ul,
.article .two-thirds-column p {
    font-size: 15px;
    line-height: 1.6;
}

.article h3 {
    font-weight: 300;
    font-size: 28px;
    border-bottom: 1px solid #e4e5eb;
    padding-bottom: 6px;
    margin: 50px 0 20px;
}

.article h4 {
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 6px;
    margin: 20px 0 20px;
}

.article h1 {
    font-weight: 300;
    padding: 40px 40px 40px;
    font-size: 40px;
    letter-spacing: 2px;
    color: #3d3d3d;
}

.table-of-contents {
    flex: 1;
    padding-top: 50px;
}

.table-of-contents li {
    padding-bottom: 10px;
}

.table-of-contents li:first-child {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .05em;
}

.table-of-contents ul {
    list-style: none;
}

