/*** Override some of the "fixed / absolute" characteristics of fav bar ****/
.filter.data, #toolbar-main {
    position: static;
}
#toolbar-main .buttons{
    top: 0;
}
.main-panel {
    background-color: #ecedf2;
    display: flex;
    height: calc(100vh - 111px);
    width: 100%;
    top: 111px;
    position: absolute;
    padding:0;
    z-index: 0;
}

.handsontable th, .handsontable td{
	border-bottom: 1px solid #ededed;
	border-right: 1px solid #ededed;
}

.handsontable th{
	background-color:white;
	font-weight:600;
}

.handsontable th:first-child, .handsontable td:first-of-type, .handsontable .htNoFrame + th, .handsontable .htNoFrame + td {
    border-left: 1px solid #ededed;
}

.handsontable th, .handsontable td {
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

.handsontable tr:first-child th, .handsontable tr:first-child td {
    border-top: 1px solid #ededed;
}

.handsontable th:last-child {
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}
.handsontable td, .handsontable th{
	font-size: 12px;
}

.handsontable thead th .relative {
    padding: 4px 8px;
}

.handsontable.htRowHeaders thead tr th:nth-child(2) {
    border-left: 1px solid #ededed;
}


td i.fa.fa-file-photo-o, td i.fa.fa-file-audio-o, .fa-plus-square-o {
    margin: 5px 5px 0px 0px;
    color: #BBB;
    font-size: 24px;
}