/************************************ General Typography ************************************/


.list-indent, .list-indent-simple, .preview-filter-list {
    list-style: none;
    margin: 0;
}


.list-indent > li, .preview-filter-list > li {
    padding: 6px 22px;
    border-bottom: 1px solid #ebebeb;
}

/************************************ Table type ************************************/

.userTable{
    text-align: left;
    width:100%;
    margin:10px;
}

.userTable th{
    font-weight:400;
    font-size: 12px;
}


/************************************ Side Panel ************************************/

/*Add some padding below the content to compensate for the overlap*/

.save-options{
    position: fixed;
    bottom: 0;width: 372px;
    z-index: 100;
    background-color: white;
    border-top: 1px solid #e4e5eb;
    padding: 14px 20px;
    height: 29px;
}
.save-options-left{
    position: fixed;
    bottom: 0;
    width: 240px;
    z-index: 100;
    background-color: white;
    border-top: 1px solid #e4e5eb;
    padding: 14px 20px;
    height: 29px;
}

.section-card {
    border: 1px solid #e4e5eb;
    background-color: white;
    padding: 10px;
    margin: 20px;
    position: relative;
}

.upload-spot > h4{
	margin:10px;
}

.upload-spot {
    border: dashed;
    text-align: center;
    padding: 0px;
    border-color: #e4e5eb;
    border-width: 2px;
    border-radius: 3px;
    width: 96px;
    height: 96px;
    display: inline-block;
    vertical-align: top;
    margin-left: 28px !important;
}

.attached-container {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.attached-container > div {
    width: 100px;
    height: 100px;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.attached-media-overlay {
    background-color: rgba(0,0,0,0.1);
    margin-top: -100px;
    width: 100px;
    height: 100px;
    position: relative;
}

.attached-media-overlay {
    background-color: rgba(0,0,0,0.1);
    margin-top: -100px;
    width: 100px;
    height: 100px;
    position: relative;
}

.attached-media-container {
    /* width: 260px; */
    margin-left: 30px;
    /* border: solid 1px #000; */
}
.hover-to-show {
    width: 100%;
    height: 100%;
}
.attached-media-overlay:hover {
    background-color: rgba(0,0,0,0.3);
    margin-top: -100px;
}

.detach_media {
    color: #FFF !important;
    float: right;
    font-size: 18px !important;
    line-height: 14px;
    margin: 5px;
}
.detach_media:hover {
    color: #EEE !important;
}

.upload-spot, .attached-container {
    margin: 16px 12px 0px 0px;
    vertical-align: top;
}

#upload-from-computer > .upload-spot{
	margin:20px;
	height:408px;
}


.marker-thumb{
    width: 100px !important;
    height: auto;
}

.uploaded-media {
    display: inline-block;
}
.edit-img-overlay {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    margin: 20px 0 20px 20px;
    height: 110px;
    width: 110px;
}
.hover-to-show {
    opacity: 0;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
}
.hover-to-show:hover{
	opacity:1;
}
.edit-img-overlay .close {
    position: absolute;
    right: 6px;
    top: 6px;
    color: white;
}
.edit-img-overlay .fa-cog {
    position: absolute;
    right: 6px;
    bottom: 6px;
    color: white;
}

#add-data-type {
    
}

.single-photo {
    margin: 10px 20px;
}
.single-photo .photo-container {
    border: solid 1px #DDD;
    background: white;
}

table.preview-properties {
    border: 1px solid #e4e5eb;
    margin: 20px 20px;
    /*margin-top: 60px;
    width: calc(100% - 32px);*/
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    background-color: white;
    margin-bottom: 40px;
}
table.preview-properties td:first-child {
    text-align: right;
    width: 33%;
    padding-right: 6px;
    font-weight: 500;
}

.tip-container {
    text-align: center;
    margin-top: 5px;
}


/************************************ general layout ************************************/
.section{
    margin:0 20px;
}



.container-1-4{
    flex:1;
}







