/*** Begin Map Styles ****/
.filter .data, #toolbar-main {
    position: static;
}

#toolbar-main .buttons{
    padding: 15px;
    position: absolute;
}
.btn-primary {
    float: right;
}

#toolbar-main > div{
    display: flex;    
}


#right-panel h3 {
    padding: 0px 20px 20px 20px;
    border-bottom: 1px solid #e4e5eb;
    text-transform: uppercase;
    letter-spacing: .04em;
    font-size: 12px;
    font-weight: 600;
}
section {
    border: none;
    margin: 0px 16px;
    padding: 12px 0;
    min-height: 15px;
    border-bottom: 1px solid #e4e5eb;
    font: 11px;
}
  
.style-section-header {
   padding: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #666;
}

.style-section-header h4 {
   display: inline;
   font-weight: 600;
   color: #666;
}

.style-section-header a {
    color: #666;
}

.style-section-header {
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #666;
}

.style-section-header h4 {
    display: inline;
    font-weight: 600;
    color: #666;
}

.style-section-header a {
    color: #666;
}

#map-select {
    width: calc(100%);
    margin-top: 10px;
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 14px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #e4e5eb;
    box-shadow: 0 2px 0px 0 rgba(0,0,0,.02);
    background-size: 60px 40px;
    overflow: hidden;
}

#layers {
    background: white;
    border: 1px solid #e4e5eb;
    padding: 10px;
    margin-top: 10px;
}

.layer-name {
    display: inline;
    font-size: 12px;
    margin-left: 4px;
}
#skin-select {
    display: block;
    margin: 5px 15px;
}

#skin-header {
    display: inline;
}

table {
    font-size: 12px;
}

.visual-edit {
    padding: 12px;
    background-color: #eceef3;
    border: 1px solid #d4d6db;
    position: relative;
    border-radius: 3px;
    margin-bottom: 20px;
}

.source-code {
    width: 100%;
    max-width: 100%;
    font-family: monospace;
    /* height: 140px; */
    font-weight: 600;
}

table.color-properties {
    width: 100%;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table.color-properties td:first-child {
    text-align: right;
    width: 33%;
    padding: 6px;
}

ul {
    font-size: 12px;
    padding-left: 0;
}

.toggle-buttons ul {
    text-align: right;
    margin: 0;
}

.toggle-buttons li.active {
    margin: 8px 0;
    background-color: rgb(123, 155, 225);
    color: white;
}

.toggle-buttons li.active a {
    color: white;
}

.marker-style-tabs:last-child {
    display: inline-block;
    border-radius: 3px 0 0 3px;
}
.marker-style-tabs:first-child {
    display: inline-block;
    border-radius: 3px 0 0 3px;
}
.toggle-buttons li {
    padding: 4px 6px;
    margin: 0;
    display: inline-block;
    list-style: none;
    background-color: white;
}

.symbols-table {
    background-color: white;
    width: 100%;
    border: solid;
    border-width: 1px;
    border-spacing: 0;
    border-color: #e4e5eb;
}

.symbols-table td {
    border-bottom: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    padding: 4px 0;
}

th {
    width: 57px;
}

.edit {
    float: right
}

.symbols-table th {
    text-align: left;
}

#new-layer-options {
    display: none;
}

.palette-item{
    min-width: 10px;
    height: 12px;
    width: 100%;
    display: inline;
    box-sizing: border-box;
    border-top: .5px solid rgba(0,0,0,0.2);
    border-bottom: .5px solid rgba(0,0,0,0.2);
    
}
.palette-item::before{
    content: "\200B";
    
}

.palette-item:first-child {
    border-width: 1px 0 1px 1px;
    border-radius: 6px 0 0 6px;
}

.palette-item:last-child {
    border-width: 1px 1px 1px 0;
    border-radius: 0 6px 6px 0;
}

.palette-wrapper {
    display: block;
    width: 200px;
    flex: 1;
    width: 200px;
    position: absolute;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #e4e5eb;
    z-index: 100;
    box-shadow: 2px 2px 2px 1px rgba(53, 76, 122, 0.06);
    display: none;
    top: 109px;
}

.selected-palette-wrapper {
    display: block;
    width: 200px;
    flex: 1;
    width: 200px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #e4e5eb;
}

.selected-ul {
    display: inline-block;
    align-content: space-between;
}

.selected-palette-list {
    padding: 10px 7px;
    list-style-type: none;
    width: 170px;
}

.palette-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

palette-options {
    width: 25px;
}

.palette-list {
    padding: 10px 7px;
    list-style-type: none;
    border-bottom: 1px solid #EEE;
}

.palette-list:hover {
    background: #cee1ff;

}

.palette-icon {
    position: fixed;
    margin-top: 11px;
}

.plus-container {
    margin-top: 5px;
}

.selected-data-source {
    background-color: white;
    width: calc(60%);
    margin-top: 10px;
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 14px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #e4e5eb;
    box-shadow: 0 2px 0px 0 rgba(0,0,0,.02);
    background-size: 60px 40px;;
}