@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Slabo+27px);

@font-face {
  font-family: ProximaNova;
  src: url("../../fonts/ProximaNova.otf") format("opentype");
  src: url("../fonts/ProximaNova.otf") format("opentype");
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'ProximaNova', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


#toolbar-main {
    background: #DDD;
    padding: 10px;
    height: 40px;
}

#toolbar-main .project-detail {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
    font-size: 13px;
}

#toolbar-dataview {
    background: #CCC;
    padding: 10px;
    height: 60px;
}

#menu {
    display: inline-block;
    float: right;
}

fieldset {
    border: none;
}

