@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Slabo+27px);

@font-face {
  font-family: ProximaNova;
  src: url("../../fonts/ProximaNova.otf") format("opentype");
  src: url("../fonts/ProximaNova.otf") format("opentype");
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'ProximaNova', sans-serif;
}


button , a{
    cursor:pointer;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
/*

#toolbar-main {
    background: #DDD;
    padding: 10px;
    height: 40px;
}

#toolbar-main .project-detail {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
    font-size: 13px;
}

#toolbar-dataview {
    background: #CCC;
    padding: 10px;
    height: 60px;
}
*/
#menu {
    display: inline-block;
    float: right;
}

fieldset {
    border: none;
}


/************************************ General Typography ************************************/
a.logotype{
    padding: 14px 20px 10px 0;
    font-family: "Amatic SC";
    letter-spacing: .1em;
    font-size: 24px;
    display: inline-block;
    text-transform: uppercase;
}

span.tag{
    background-color: #e7e7e7;
    font-size:12px;
    padding:1px 8px;
    border-radius:20px;
    margin: 0 2px;
    font-weight:400;
}

span.action.tag{
    border: 1px solid #e7e7e7;
    background-color:white;
    float: right;
      -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

span.action.tag:hover{
    border-color: #7eace2;
    color:#4e70d4;
}

/************************************ Dropdown Menu ************************************/
.dropdown-menu{
    width: 140px;
    position: absolute;
    background-color: white;
    padding: 6px 0;
    border-radius:3px;
    border:1px solid #e4e5eb;
    margin-top:4px;
    z-index:100;
    box-shadow: 2px 2px 2px 1px rgba(53, 76, 122, 0.06);
}

.dropdown-menu > a{
    display:block;
    padding:6px 10px;
    line-height:100%;
    text-transform:none;
}

.dropdown-menu > h5{
    display: block;
    padding: 0 10px 4px;
    text-transform: uppercase;
    letter-spacing: .04em;
    font-size: 11px;
    font-weight: 400;
    color: #7a7a7a;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 6px;
}

.dropdown-menu > a:hover, .dropdown-menu tr:hover{
    background-color: rgb(123, 155, 225);
    color:white;
}

.dropdown-menu tr:hover a, .dropdown-menu tr:hover .fa {
    color:white;
}

.dropdown-menu .fa{
    color:#d3d3d3;
    font-size: 1.4em;
    padding: 2px 8px;
}

.dropdown-menu table{
     width:100%;
     border-collapse:collapse;
}

.dropdown-menu tr{
     height:30px;
}

/************************************ Navigation ************************************/
        nav .selected{
            border-bottom: 3px solid rgb(107, 139, 237);
            font-weight:600;
        }


/************************************ Buttons ************************************/
.button-primary{
    /*background-color:rgb(53, 76, 122)*/
    background-color:#4e70d4;
    color:white;
    border:none;
    border-radius:3px;
    font-size:12px;
    margin-left: 6px;
    float:right;
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s; /* Fading effect takes 1 second */
    padding: 0 11px;
    text-transform: uppercase;
    line-height:26px;
    height:29px;
    vertical-align: bottom;
    letter-spacing: 0.7px;
    width:80px;
}

.button-secondary{
    background-color: #fafafc;
    border:none;
    border-radius:3px;
    padding: 0 12px;
    text-transform: uppercase;
    font-size:12px;
    margin:0 2px;
    border: 1px solid #e4e5eb;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
    line-height: 26px;
    height: 29px;
    vertical-align: bottom;
    letter-spacing: 0.7px;
    width:80px;
}

.button-secondary:hover{
    background-color:#f1f3fb;
    border-color:##4e70d4;
}

.button-tertiary{
    border:solid;
    border-width:1px;
    border-color:#DDDDDD;
    border-radius:3px;
    padding: 4px 8px;
    font-size:12px;
    background-color:#f1f1f1;
}

.button-main-action{
    background-color:#008580;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.button-main-action:hover{
    background-color:#2e9965;
}

.button-wide{
    width:120px;
}




/************************************ Input ************************************/
input[type="text"]{
    border-style:solid;
    border-width:1px;
    border-color:#e4e5eb;
}

input[type="number"]{
    width: 40px;
}





    /************************************ Search Form ************************************/

    .search-form{
        display:inline-block;
    }

    .search-form input{
        padding: 8px;
        width: 240px;
        background-color: white;
    }

    .search-form .fa{
        padding: 4px 0 4px 16px;
        margin-left: -40px;
        color: #7a7a7a;
    }

    .search-form a{
        display:inline-block;
    }



