@
.img-polaroid {
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #FFF;
    padding: 5px 5px 10px 5px;
}
.img-polaroid > p {
    margin-top: 5px;
    line-height: 12px;
    font-size: 11px;
    color: #999;
    margin: 0px;
    text-align: center;
    overflow: hidden;
}
.img-container {
    width: 145px;
    max-height: 140px;
    min-height: 100px;
    overflow: hidden;
}
.preview {
    width: 145px;
}
.audio-holder, .error-holder {
    display: inline-block;
    width: 145px;
}
.file-container {
    width: 155px;
    height: 190px;
    float: left;
    margin: 0px 8px 8px 0px;
}
#nothing-here {
    text-align: center;
    margin-top: 40px;
    width: 100%;
    font-size: 20px;
    color: #666;
}


span.plus {
    width: 28px;
    height: 28px;
    border: solid 1px #CCC;
    border-radius: 40px;
    display: inline-block;
    background: #FFF;
    line-height: 22px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#fileupload {
    opacity: 0;
    poosition: absolute;
    height: 0px;
}
#dropzone {
    border: dashed 1px #CCC;
    margin-right: 10px;
    margin-left: 10px;
    min-height: 350px;
}

#dropzone.hover {
    background: #dff0d8;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}



