<ul class ="list-indent-simple" id ="Sculpture" style="padding-bottom:0;">
    <li>Sculpture Year</li>
    <li>
        <i class="fa fa-times marker-icon" style="color:#1f5999;" aria-hidden="true"></i>
        2006 - 2016
    </li>
    <li>
        <i class="fa fa-times marker-icon" aria-hidden="true" style="color:#2272b4;" ></i>
        1995 - 2005
    </li>
    <li>
        <i class="fa fa-times marker-icon" aria-hidden="true" style="color:#40b5e5;" ></i>
        1984 - 1994
    </li>
    <li>
        <i class="fa fa-times marker-icon" aria-hidden="true" style="color:#84d9f1;" ></i>
        1973 - 1983
    </li>
</ul>

<ul class="list-indent-simple" id="Mural" style="padding-top: 10px;padding-bottom: 14px;" >
   <li>
        Mural Year
    </li>
   <li>
        <i class="fa fa-circle marker-icon" aria-hidden="true" style="color:rgb(31, 89, 153);"></i>
        2006 - 2016
    </li>
   <li>
        <i class="fa fa-circle marker-icon" aria-hidden="true" style="color:rgb(34, 114, 180);"></i>
        1995 - 2005
    </li>
   <li>
        <i class="fa fa-circle marker-icon" aria-hidden="true" style="color:rgb(64, 181, 229);"></i>
        1984 - 1994
    </li>
   <li>
        <i class="fa fa-circle marker-icon" aria-hidden="true" style="color:#84d9f1;"></i>
        1973 - 1983
    </li>
</ul>