<div class="breadcrumb-container">
    <div>
        <div class="breadcrumb-hover">
            <a href="/">Home</a>
        </div>
    </div>

    {{#if name}}
    <div>
        <i class="fa fa-angle-right fa"></i>
        <div class="breadcrumb-hover">
            <span>{{ name }}</span>
        </div>
    </div>
    {{/if}}

    {{#if map}}
    <div id="map-menu">
        <i class="fa fa-angle-right fa"></i>
        <div class="breadcrumb-hover">
            <span class="current">{{ map }}</span>
            <i class="fa fa-angle-down"></i>
        </div>
        <div id="map-list" class="dropdown-menu" style="display: none;">
            <ul>
                {{#each mapList}}
                <li><a href="#/{{this.id}}">{{ this.name }}</a></li>
                {{/each}}
                <li class="divider add-map">
                    <a href="#/{{this.id}}"><i class="fa fa-plus"></i> Add Map</a>
                </li>
            </ul>
        </div>
    </div>
    {{/if}}
</div>
