<div class="alert failure-message ">There were errors when uploading your files. See below.</div>
<div class="alert warning-message"></div>

{{#ifequal dataType "videos"}}
<div id="video-url-get">
    The following websites supported: Vimeo and Youtube
    <input type="text" name="get-video-url">
    <button>Get Video</button>
    <!--
    <div>
            {{#ifequal video_provider "vimeo"}}
                <iframe src="https://player.vimeo.com/video/{{video_id}}"
                style="width: 100%" height="250"
                frameborder="0"
                webkitallowfullscreen mozallowfullscreen allowfullscreen>
                </iframe>
            {{/ifequal}}


            {{#ifequal video_provider "youtube"}}
                <iframe src="https://www.youtube.com/embed/{{video_id}}?ecver=1"
                style="width: 100%" height="250"
                frameborder="0" allowfullscreen>
                </iframe>
            {{/ifequal}}
    </div>
-->

<!--
    <div id="model-form">
    </div>
-->
</div>
{{/ifequal}}

{{#ifnotequal dataType "videos"}}
<div id="dropzone">
    <div id="nothing-here">
        <h4>Drag files here or</h4>
        <button type="button" class="button-tertiary" id="upload-button">
            Select files from your computer
        </button>
    </div>
</div>
<input id="fileupload" type="file" name="media_file" multiple="">
{{/ifnotequal}}
<!--
Might also be possible to
place the video part inside the media based on the datatype condition
-->
