<div class="modal-search-form video-form">
    <input type="text" id="video_link"
        placeholder="Paste a link from either YouTube or Vimeo">

    {{#if video_provider}}
    <div>
            {{#ifequal video_provider "vimeo"}}
                <iframe src="https://player.vimeo.com/video/{{video_id}}"
                style="width: 100%" height="250"
                frameborder="0"
                webkitallowfullscreen mozallowfullscreen allowfullscreen>
                </iframe>
            {{/ifequal}}


            {{#ifequal video_provider "youtube"}}
                <iframe src="https://www.youtube.com/embed/{{video_id}}?ecver=1"
                style="width: 100%" height="250"
                frameborder="0" allowfullscreen>
                </iframe>
            {{/ifequal}}
    </div>
    {{/if}}
</div>
