<div class="filter">
    <form class="video-form">
        <input type="text" id="video_link" value="{{ video_link }}"
            placeholder="Paste a link from either YouTube or Vimeo">
        {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>
<div class="video-container">
    {{#each videos}}
        <iframe src="{{this.embedURL}}"
            style="width:150px;height:150px;"
            frameborder="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe>
    {{/each}}
</div>
