<nav>
    <ul>
        <li id="upload-tab-li">
            <a href="#" class="add-media-tabs" id="upload-tab">
                Upload
            </a>
        </li>
        <li id="video-tab-li">
            <a href="#" class="add-media-tabs" id="video-tab">
                Video Link
            </a>
        </li>
        <li id="database-tab-li">
            <a href="#" class="add-media-tabs" id="database-tab">
                Select from Project Media
            </a>
        </li>
    </ul>
</nav>

<section id="main"></section>
