<div class="filter">
    <form class="modal-search-form">
        <input type="text" id="searchTerm" value="{{searchTerm}}" placeholder="Filter data and media">
    	<button id="toolbar-search"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    <button id="card-view-button-modal" class="button-secondary {{#ifequal viewMode 'thumb'}}active{{/ifequal}}">
        <i class="fa fa-th" aria-hidden="true"></i></button>
    <button id="table-view-button-modal" class="button-secondary {{#ifequal viewMode 'table'}}active{{/ifequal}}">
        <i class="fa fa-bars" aria-hidden="true"></i></button>
    <button id="media-videos"
        class="button-secondary fetch-btn {{#ifequal currentMedia 'videos'}}active{{/ifequal}}"
        data-value="videos">Videos</button>
    <button id="media-audio"
        class="button-secondary fetch-btn {{#ifequal currentMedia 'audio'}}active{{/ifequal}}"
        data-value="audio">Audio</button>
    <button id="media-photos"
        class="button-secondary fetch-btn {{#ifequal currentMedia 'photos'}}active{{/ifequal}}"
        data-value="photos">Photos</button>
</div>


{{#ifequal viewMode "thumb"}}
<div class="container-wrapper">
    <div class="container" id="gallery-main"></div>
</div>
{{/ifequal}}



{{#ifequal viewMode "table"}}
<div class="container">
    <div id="table-view-modal" class="database-views-modal" style="display: block;">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Tags</th>
                    <th>Kind</th>
                    <th>Author</th>
                </tr>
            </thead>

            <tbody id="gallery-main">
            </tbody>
        </table>
    </div>
</div>
{{/ifequal}}
