{{#ifequal mode "begin"}}
    {{#ifequal dataType "photo"}}
    <div class="file-container">
        <div class="img-polaroid thumbnail">
            <div class="img-container">
                <img class="preview" src="{{ imageSerial }}" />
            </div>
            <p>
                {{ file_name }}<br>
                {{ file_size }}<br>
            </p>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 10%;"></div>
        </div>
    </div>
    {{/ifequal}}

    {{#ifequal dataType "audio"}}
    <div class="file-container">
        <div class="img-polaroid thumbnail">
            <i class="fa fa-headphones fa-5x"></i>
            <p>
                {{ file_name }}<br>
                {{ file_size }}<br>
            <p>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 10%;"></div>
        </div>
    </div>
    {{/ifequal}}
{{/ifequal}}

{{#ifequal mode "end"}}
    {{#ifequal dataType "photo"}}
    <div class="file-container">
        <div class="img-polaroid thumbnail">
            <div class="img-container">
                <div class="badge success-icon">
                    <i class="fa fa-check"></i>
                </div>
                <img class="preview" src="{{ imageSerial }}" />
            </div>
            <p>
                {{ file_name }}<br>
                {{ file_size }}<br>
                <a href="#" class="delete">delete</a>
            </p>
        </div>
    </div>
    {{/ifequal}}

    {{#ifequal dataType "audio"}}
    <div class="file-container">
        <div class="img-polaroid thumbnail">
            <div class="badge success-icon">
                <i class="fa fa-check"></i>
            </div>
            <i class="fa fa-headphones fa-5x"></i>
            <p>
                {{ file_name }}<br>
                {{ file_size }}<br>
                <a href="#" class="delete">delete</a>
            </p>
        </div>
    </div>
    {{/ifequal}}
{{/ifequal}}

{{#ifequal mode "error"}}
    <div class="file-container">
        <div class="img-polaroid thumbnail">
            <div class="img-container">
                <div class="failure-icon">
                    <i class="fa fa-exclamation"></i>
                </div>
                <img class="preview" src="{{ imageSerial }}" />
            </div>
           <div class="error-holder">{{ errorMessage }}</div>
        </div>
    </div>
{{/ifequal}}
