<div class="project-detail">
    <div class="title">
        {{#if name}}
            <a href="/"><i class="fa fa-arrow-left back-to-profile"></i></a>
            <h2 class="map-title">{{ name }}</h2>
        {{/if}}
    </div>
    <nav>
        <div {{#ifequal activeTab "data"}}class="selected"{{/ifequal}}>
            <a href="/data/{{id}}/#/map" class="data">Data</a>
        </div>
        <div {{#ifequal activeTab "style"}}class="selected"{{/ifequal}}>
            <a href="/style/{{id}}/" class="style">Style</a>
        </div>
    </nav>
</div>
<div class="buttons">
    <button class="button-secondary print-button pull-right">
        Print
    </button>

    {{#if previewURL}}
    <button class="button-primary button-main-action">
        <a href="/presentation#/{{previewURL}}" target="_blank" style="color: white;">Preview</a>
    </button>
    {{/if}}

</div>
