{% extends "rest_framework/base.html" %}
{% block title %}Local Ground REST API{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/rest_framework/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/rest_framework/css/bootstrap-tweaks.css"/>
    <link rel="stylesheet" href="/static/rest_framework/css/prettify.css"/>
    <link rel="stylesheet" href="/static/rest_framework/css/default.css"/>
{% endblock %}

{% block branding %}
    <a class='navbar-brand' rel="nofollow" href='https://localground.org'>
        Local Ground REST API
    </a>
{% endblock %}

{% block script %}
    <script src="/static/rest_framework/js/jquery-1.8.1-min.js"></script>
    <script src="/static/rest_framework/js/bootstrap.min.js"></script>
    <script src="/static/rest_framework/js/prettify-min.js"></script>
    <script src="/static/rest_framework/js/default.js"></script>
{% endblock %}
