// main: ../main-new.scss
@import 'main_panel';
@import 'styleguide';

.clear {
    clear: both;
}

.show { display: block; }

// the .hide class is creating conflicts because it is already being used elsewhere. Rename
// .hide { display: none; }
