// main: ../main-new.scss
.style-main-panel {
    height: calc(100% - 43px);
    top: 43px;
    display: flex;
    position: absolute;
    width: 100%;
}
.map-title {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0), 0 2px 4px -1px rgba(0, 0, 0, 0);
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 300;
    display: block;
    cursor: pointer;
    background: rgb(53, 76, 121);
    font-weight: 400;
    color: #fff;

    .fa {
        display: none;
    }
}
.map-title:hover {
    background: rgba(53, 76, 121, 0.9);
    .fa {
        display: block;
    }
}

.add-layer {
    cursor: pointer;
    padding: 10px;
    border-bottom: solid 1px #EEE;
    font-size: 0.8em;
}
