// main: ../main-new.scss
.style-guide {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 300px

    aside, main {
        padding: 10px;
    }
    header {
        grid-column: span 12;
    }
    aside {
        grid-column: span 3;

        a {
            display: block;
            line-height: 1.2em;
            padding: 12px 25px 12px 15px;
            position: relative;
            border-bottom: 1px solid rgba(219,230,236,0.5);
            cursor: pointer;
            text-decoration: none;
            font-size: 0.9em;
        }
        a:after {
            height: 10px;
            width: 10px;
            position: absolute;
            pointer-events: none;
            right: 12px;
            top: 16px;
            content: "";
            background-size: cover;
            background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2232%22%20height%3D%22232%22%20viewBox%3D%220%200%2032%20232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M11.336%20123.5l12.5%2012.5-3.334%203.332-9.166%209.168-3.334-3.334L17.17%20136l-9.168-9.168%203.334-3.332%22%20fill%3D%22%23206FAC%22%2F%3E%3Cpath%20d%3D%22M11.336%2083.5l12.5%2012.5-3.334%203.332-9.166%209.168-3.334-3.334L17.17%2096l-9.168-9.168%203.334-3.332%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M11.336%2043.5l12.5%2012.5-3.334%203.332-9.166%209.168-3.334-3.334L17.17%2056l-9.168-9.168%203.334-3.332%22%20fill%3D%22%2367737B%22%2F%3E%3Cpath%20d%3D%22M11.336%203.5l12.5%2012.5-3.334%203.332-9.166%209.168-3.334-3.334L17.17%2016%208.002%206.832%2011.336%203.5%22%20fill%3D%22%233A434E%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        }
        a:hover {
            text-decoration: none;
            background-color: white;
            outline: none;
        }
        a.active {
            padding-left: 13px;
            border-left: 2px solid $selectionBorderHighlight;
            background-color: $offwhite;
            color: #3b444f;
        }
    }
    main {
        grid-column: span 8;
    }

    .side-menu, .container:first-of-type {
        margin-top: 50px;
    }

    .container {
        border: solid 1px #EEE;
        border-radius: 5px;
        margin-top: 20px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        background: white;

        textarea.code {
            font-family: consolas;
            margin-top: 20px;
            font-size: 1em;
            padding: 10px;
            width: calc(100% - 22px);
        }

        h2, h3 {
            display: block;
            line-height: 30px;
            font-weight: 300;
        }

        h2 {
            border-bottom: solid 1px #EEE;
            padding-bottom: 10px;
            font-size: 1.2em;
        }
        h3 {
            font-size: 1.1em;
            margin-top: 30px;
            margin-bottom: 5px;
        }
    }

    .side-menu {
        width: 75%;
        margin-left: auto;
        margin-right: 20px;
        border: solid 1px #EEE;
        border-radius: 5px;
        background: white;
    }
    .toolbar-secondary {
        h1 {
            color: #5fa2a2;
        }
    }

    .prettyprint {
        margin: 0px;
        border: solid 1px #EEE;
        padding: 10px;
        font-weight: bold;
        font-size: 0.8em;
    }
}
