// main: ../main-new.scss
.style-guide {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 350px 50px;

    header, aside, main, footer, {
        padding: 10px;
    }
    header {
        grid-column: span 12;
    }
    aside {
        grid-column: span 3;
    }
    main {
        grid-column: span 8;
    }

    .container {
        border: solid 1px #CCC;
        margin-top: 20px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;

        textarea.code {
            font-family: consolas;
            margin-top: 20px;
            font-size: 1em;
            padding: 10px;
            width: calc(100% - 22px);
        }
    }
}
