<div class="tab-pane" id="b">
	<div class="pane-header">
		<h3>Symbols</h3>
		<div class="btn-group btn-toolbar pull-right">
			<button class="btn" id="add_symbol" title="Add style rule">
				<i class="fa fa-plus"></i>
			</button>
			<button class="btn" id="code_symbol" title="View source code">
				<i class="fa fa-code"></i>
			</button>
		</div>
	</div>
	<div class="pane-body">
		<div id="layers">
			<span>No symbols have been configured yet.</span>
		</div>
		<form id="new_layer_panel" style="display: none;">
			<div id="branch1">
				<div class="form-group">
					<label class="col-sm-4 control-label">Rule</label>
					<i class="fa fa-edit" style="margin-left: -20px;"></i>
					<div class="col">
						<textarea id="rule" style="width:200px;height:100px;"
								  class="form-control">from photos, audio, grocery_table where tags = "b"</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Fill</label>
					<div class="col">
						<input id="marker_color" type="text" class="form-control color"
							   value="428BCA" style="width: 100px;"/>
						<input type="number" id="marker_width" class="form-control"
							   value="20" style="width: 50px;" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Outline</label>
					<div class="col">
						<input id="stroke_color" type="text" class="form-control color"
							   value="EEEEEE" style="width: 100px;"/>
						<input type="number" id="stroke_width" class="form-control"
							   value="2" style="width: 50px;" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Title</label>
					<div class="col">
						<input id="symbol_display_name" type="text"
							   class="form-control" value="Untitled Layer" />
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" id="save_symbol"
							style="margin-bottom: 10px;">Add</button>
					<button class="btn" id="marker_cancel"
							style="margin-bottom: 10px;">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>