Django==1.5
GDAL==1.9.2
MapScript==6.2.1
PIL==1.1.7
Paste==1.7.5.1
Pygments==1.6
TileCache==2.11
django-debug-toolbar==0.9.4
django-extensions==1.1.1
django-filter==0.6
django-jenkins==0.14.0
django-tagging==0.3.1
django-tagging-autocomplete==0.3.1
djangorestframework==2.3.5
djangorestframework-csv==1.2.0
flup==1.0.3.dev-20110405
numpy==1.6.1
oauth==1.0.1
psycopg2==2.4.5
python-dateutil==1.5
reportlab==2.5
scipy==0.9.0
simplejson==2.3.2
