Django==1.8.2
Paste==1.7.5.1
Pygments==1.6
TileCache==2.11
django-debug-toolbar
django-extensions==1.1.1
django-filter==0.10.0
django-jenkins==0.14.0
django-tagging==0.3.6
django-tagging-autocomplete==0.4.2
djangorestframework==3.1.1
djangorestframework-csv==1.2.0
djangorestframework-gis==0.8.2
djangorestframework-jsonp==1.0.0
djangorestframework-xml==1.0.1
django-cors-headers==0.12
django-websocket-redis==0.4.3
django-registration==2.0.4
sendgrid-django==1.4.0
jsonfield==1.0.0
flup==1.0.3.dev-20110405
numpy==1.8
oauth==1.0.1
psycopg2==2.6
python-dateutil==2.4.2
reportlab==2.5
simplejson==2.3.2
python-social-auth==0.2.10
sqlparse==0.1.15
six==1.9.0
South==1.0.2
SwampDragon==0.4.2.2
django-celery==3.1.17
flower==0.9.0
#MapScript (installed via apt-get (python-mapscript))
#GDAL (installed via apt-get (python-gdal))

###############################################################################
# NOTES
# PIL==1.1.7 (commented out because I need to install it separately with flags)
# e.g. $pip install PIL==1.1.7 --allow-external PIL --allow-unverified PIL
# GDAL==1.9.1
###############################################################################
