Django
psycopg2
Paste
Pygments
# TileCache
django-debug-toolbar
django-extensions
django-filter
# django-jenkins==0.14.0
django-tagging
django-tagging-autocomplete
djangorestframework
djangorestframework-csv
djangorestframework-gis
djangorestframework-jsonp
djangorestframework-xml
djangorestframework-hstore
markdown
drf-compound-fields
django-cors-headers
django-websocket-redis
django-registration
sendgrid-django
jsonfield
flup
numpy
oauth
python-dateutil
reportlab
simplejson
python-social-auth
social-auth-app-django
sqlparse
six
South
celery
django-celery
flower
piexif


##################
# Amazon Storage #
##################
boto3
django-storages
python-decouple


###########################
# Acetate Layer Libraries #
###########################
svgpathtools
svgwrite
yolk
pycparser
Pillow

#MapScript (installed via apt-get (python-mapscript))
#GDAL (installed via apt-get (python-gdal))

###############################################################################
# NOTES
# PIL==1.1.7 (commented out because I need to install it separately with flags)
# e.g. $pip install PIL==1.1.7 --allow-external PIL --allow-unverified PIL
# GDAL==1.9.1
###############################################################################
