<ul class="nav-side-menu bs-docs-sidenav affix">
    <li><a href="/profile/settings/"><i class="icon-chevron-right"></i>Account Settings</a></li>
    <li><a href="/profile/listing/wmsoverlay/"><i class="icon-chevron-right"></i>Map Tiles</a>
    <li><a href="/profile/listing/project/"><i class="icon-chevron-right"></i>Projects</a></li>
    <li><a href="/profile/listing/print/"><i class="icon-chevron-right"></i>Prints</a></li>
    <li><a href="/profile/listing/scan/"><i class="icon-chevron-right"></i>Map Images</a></li>
    <li><a href="/profile/listing/attachment/"><i class="icon-chevron-right"></i>Attachments</a></li>
    <li><a href="/profile/listing/photo/"><i class="icon-chevron-right"></i>Photos</a></li>
    <li><a href="/profile/listing/audio/"><i class="icon-chevron-right"></i>Audio</a></li>
    <li><a href="/profile/listing/video/"><i class="icon-chevron-right"></i>Video</a></li>
    <li><a href="/profile/listing/view/"><i class="icon-chevron-right"></i>Views</a></li>
    <li><a href="/profile/listing/form/"><i class="icon-chevron-right"></i>Tabular Data</a>
    <li><a href="/profile/listing/form/tables/?is_blank=true"><i class="icon-chevron-right"></i>Tabular Data - Blanks</a></li>
</ul>