<ul class="nav-side-menu bs-docs-sidenav affix">
    <li><a href="/profile/settings/"><i class="icon-chevron-right"></i>Account Settings</a></li>
    <li><a href="/profile/tiles/"><i class="icon-chevron-right"></i>Map Tiles</a>
    <li><a href="/profile/projects/"><i class="icon-chevron-right"></i>Projects</a></li>
    <li><a href="/profile/views/"><i class="icon-chevron-right"></i>Views</a></li>
    <li><a href="/profile/forms/"><i class="icon-chevron-right"></i>Forms</a></li>
    <li><a href="/profile/prints/"><i class="icon-chevron-right"></i>Prints</a></li>
    <li><a href="/profile/map-images/"><i class="icon-chevron-right"></i>Map Images</a></li>
    <li><a href="/profile/attachments/"><i class="icon-chevron-right"></i>Attachments</a></li>
    <li><a href="/profile/photos/"><i class="icon-chevron-right"></i>Photos</a></li>
    <li><a href="/profile/audio/"><i class="icon-chevron-right"></i>Audio</a></li>
    <li><a href="/profile/videos/"><i class="icon-chevron-right"></i>Video</a></li>
</ul>