<div class="btn-group btn-toolbar">
    <div class="btn-group">
        <button id="add" class="btn" data-toggle="dropdown">
            <i class="fa fa-folder-open"></i>
        </button>
        <div id="add-menu" class="dropdown-menu" style="width:300px; max-width: 300px; max-height: 300px;">
            <ul id="group_tabs" class="tabs" data-tabs="tabs" style="margin-bottom: 10px !important;">
                <li class="active">
                    <a data-toggle="tab" href="#projects">Projects</a>
                </li>
            </ul>
            <div id="tab_content1" class="tab-content clearfix">
                <div id="projects" class="tab_panel active">
                    <div style="padding:0px 0px 5px 10px;overflow-y:auto;max-height:250px;">
                        <button class="btn success create-object" href="#new-project" data-main="projects">
                            <i class="fa fa-plus"></i> New
                        </button>
                        <hr>
                        <ul id="projectList">

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <button id="upload" data-main="upload" class="btn">
        <i class="fa fa-upload"></i>
    </button>
    <a href="/api/0/projects/?format=csv" id="download" data-main="download" class="btn">
        <i class="fa fa-download"></i>
    </a>

    <div class="btn-group">
        <button id="filter_menu_button" class="btn" data-toggle="dropdown">
            <i class="fa fa-filter"></i>
        </button>
        <ul id="filter-menu" class="dropdown-menu pull-right" style="max-height: 300px;">
            <li class="clearfix">
                <label>Owned By:</label>

                <div class="input">
                    <select id="owner_filter"></select>
                </div>
            </li>
            <li class="clearfix">
                <label>Name:</label>

                <div class="input">
                    <input id="name_filter" type="text" value=""/>
                </div>
            </li>
            <li class="clearfix">
                <label>Tags:</label>

                <div class="input">
                    <input id="tag_filter" type="text" value=""/>
                </div>
            </li>
            <li class="clearfix">
                <label>Caption:</label>

                <div class="input">
                    <input id="description_filter" type="text" value=""/>
                </div>
            </li>
            <li class="divider"></li>
            <li class="clearfix">
                <div class="input" style="width:200px;">
                    <button id="apply_filter" type="button" class="btn">Apply</button>
                    <button id="clear_filter" type="button" class="btn primary">Clear</button>
                </div>
            </li>
        </ul>
    </div>
    <button id="print" class="btn">
        <i class="fa fa-print"></i>
    </button>
    <button id="save_view" class="btn">
        <i class="fa fa-save"></i>
    </button>
    <button id="mode_toggle" class="btn">
        <i class="fa fa-edit"></i>
    </button>
</div>

<div id="save_dialog" class="modal hide">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>

        <h3>Save View</h3>
    </div>
    <div class="modal-body" id="view-modal-body">
        <form>
            <div class="clearfix">
                <label class="col-sm-2 control-label">View:</label>

                <div class="input">
                    <select id="dd_views"></select>
                </div>
            </div>
            <br/>

            <div class="clearfix">
                <div id="new-view-fields">
                    <label class="col-sm-2 control-label" id="new-view-name-label">Name:</label>

                    <div class="input">
                        <textarea id="new-view-name" class="new-view-field"></textarea>
                    </div>
                    <br/>
                    <label class="col-sm-2 control-label" id="new-view-description-label">Description:</label>

                    <div class="input">
                        <textarea id="new-view-description" class ="new-view-field"></textarea>
                    </div>
                    <br/>
                    <label class="col-sm-2 control-label" id="new-view-tags-label">Tags:</label>

                    <div class="input">
                        <textarea id="new-view-tags" class="new-view-field"></textarea>
                    </div>
                    <br/>
                    <label class="col-sm-2 control-label" id="new-view-slug-label">Friendly Url:</label>

                    <div class="input">
                        <textarea id="new-view-slug" class="new-view-field"></textarea>
                    </div>

                </div>
                <br/>

                <label class="col-sm-2 control-label">Entities:</label>

                <div class="input">
                    <textarea readonly id="entities"></textarea>
                </div>

            </div>
        </form>

    </div>
    <div class="modal-footer" id="view-footer">
        <div id="new-view-error">Please complete the required fields</div>
        <button class="btn" id="close-view-button">Close</button>
        <button id="save-view-button" class="btn primary">Save</button>
    </div>
</div>