<div class="btn-group btn-toolbar">
    <div class="btn-group">
        <button id="add" class="btn" data-toggle="dropdown">
            <i class="fa fa-folder-open"></i>
        </button>
        <div id="add-menu" class="dropdown-menu" style="width:300px; max-width: 300px; max-height: 300px;">
            <ul id="group_tabs" class="tabs" data-tabs="tabs" style="margin-bottom: 10px !important;">
		<li class="active">
		    <a data-toggle="tab" href="#projects">Projects</a>
		</li>
                <li>
		    <a data-toggle="tab" href="#views1">Views</a>
		</li>
            </ul>
            <div id="tab_content1" class="tab-content clearfix">		
		<div id="projects" class="tab_panel active">		
                    <div style="padding:0px 0px 5px 10px;overflow-y:auto;">
                        <button class="btn success create-object" href="#new-project" data-main="projects">
                            <i class="fa fa-plus"></i> New
                        </button>
                        <hr>
                        <ul id="projectList">
                            
                        </ul>
                    </div>
                </div>
                <div id="views1" class="tab_panel">
                    <div id="viewList" style="padding:50px">
			List views here
		    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="upload" data-main="upload" class="btn">
        <i class="fa fa-upload"></i>
    </button>
    <a href="/api/0/projects/?format=csv" id="download" data-main="download" class="btn">
        <i class="fa fa-download"></i>
    </a>
    <div class="btn-group">
        <button id="filter_menu_button" class="btn" data-toggle="dropdown">
            <i class="fa fa-filter"></i>
        </button>
        <ul id="filter-menu" class="dropdown-menu pull-right" style="max-height: 300px;">
            <li class="clearfix">
                <label>Owned By:</label>
                <div class="input">
                    <select id="owner_filter"></select>
                 </div>
            </li>
            <li class="clearfix">
                <label>Name:</label>
                <div class="input">
                    <input id="name_filter" type="text" value="" />
                </div>
            </li>
            <li class="clearfix">
                <label>Tags:</label>
                <div class="input">
                    <input id="tag_filter" type="text" value="" />
                </div>
            </li>
            <li class="clearfix">
                <label>Caption:</label>
                <div class="input">
                    <input id="description_filter" type="text" value="" />
                </div>
            </li>
            <li class="divider"></li>  
            <li class="clearfix">
                <div class="input" style="width:200px;">
                    <button id="apply_filter" type="button" class="btn">Apply</button>
                    <button id="clear_filter" type="button" class="btn primary">Clear</button>
                </div>
            </li>
        </ul>
    </div>
    <button id="print" class="btn">
        <i class="fa fa-print"></i>
    </button>
    <button id="mode_toggle" class="btn">
        <i class="fa fa-edit"></i>	    
    </button>
</div>

