<ul class="nav secondary-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account</a>
        <ul class="dropdown-menu">
            <li><a href="/profile/settings/">Account Settings</a></li>
            <li class="divider"></li>
            <li><a href="/profile/attachments/">Attachments</a></li>
            <!--<li><a href="/profile/videos/">Video</a></li>-->
            <li class="divider"></li>
            <li><a href="/api/0/">API Tester</a></li>
            <li><a href="/accounts/logout/">Logout of {{ user.username }}</a></li>
        </ul>
    </li>
</ul>