<ul class="nav secondary-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-cog fa-lg"></i> Manage
        </a>
        <ul class="dropdown-menu">
            <li><a href="/profile/settings/">Account Settings</a></li>
            <li class="divider"></li>
            <li><a href="/profile/projects/">Projects</a></li>
            <li><a href="/profile/prints/">Prints</a></li>
            <li><a href="/profile/forms/">Forms</a></li>
            <li><a href="/profile/photos/">Photos</a></li>
            <li><a href="/profile/audio/">Audio</a></li>
            <li><a href="/profile/map-images/">MapImagened Maps</a></li>
            <!-- li><a href="/profile/tiles/">Map Tiles</a></li -->
            <li class="divider"></li>
            <li><a href="/api/0/">API Tester</a></li>
            <li><a href="/accounts/logout/">Logout of {{ user.username }}</a></li>
        </ul>
    </li>
</ul>