<ul class="nav secondary-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle">My Account</a>
        <ul class="dropdown-menu">
            <li><a href="/profile/settings/">Account Settings</a></li>
            <li><a href="/profile/listing/project/">Projects</a></li>
            <li><a href="/profile/listing/form/">Tables</a></li>
            <li><a href="/profile/listing/print/">Prints</a></li>
            <li class="divider"></li>
            <li><a href="/profile/listing/scan/">Processed Maps</a></li>
            <li><a href="/profile/listing/attachment/">Attachments</a></li>
            <li><a href="/profile/listing/photo/">Photos</a></li>
            <li><a href="/profile/listing/audio/">Audio</a></li>
            <li><a href="/profile/listing/audio/">Video</a></li>
            <li class="divider"></li>
            <li><a href="/api/0/tester/project/">API Tester</a></li>
            <li><a href="/accounts/logout/">Logout of {{ user.username }}</a></li>
        </ul>
    </li>
</ul>