<div class="topbar" data-dropdown="dropdown" >
    <div class="topbar-inner">
        <div class="container-fluid">
            <h3><a href="/">Local Ground</a></h3>
            <ul class="nav">
                {% if user.id == 102 or user.id == 94 %}
                    <li><a href="/ebays/">EBAYS Viewer</a></li>
                {% else %}
                    {% comment %}
                    Need to come up with a more generalized solution.
                    The "show_air_quality" variable is populated in the
                    context_processor.py page
                    {% endcomment %}
                    {% if show_air_quality %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown">Maps</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/maps/edit/new/">Basic Map Editor</a></li>
                                <li><a href="/maps/edit/air-quality/">Air Quality Map (EBAYS)</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="/maps/edit/new/">Edit Map</a></li>
                    {% endif %}
                {% endif %}
                <li><a href="/upload/">Upload</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown">About</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/pages/about/">About Us</a></li>
                        <li><a href="/pages/instructions/">Instructions</a></li>
                        <li><a href="/pages/research/">Research</a></li>
                        <li><a href="/pages/contact/">Contact</a></li>
                        <li><a href="/pages/credits/">Acknowledgements</a></li>
                        {% if user.is_superuser %}
                            <li class="divider"></li>
                            <li><a href="/api/0/tester/print/">For Developers</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            {% if user.is_authenticated %}
                {% include "includes/menus/profile_menu.html" %}
            {% else %}
                {% if '/accounts/' in path %}
                    <!-- do nothing -->
                {% else %}
                    <form action="{% url "django.contrib.auth.views.login" %}" class="pull-right" method="POST">
                        {% csrf_token %}
                        <input class="input-small" name="username" type="text" placeholder="Username">
                        <input class="input-small" name="password" type="password" placeholder="Password">
                        <button class="btn" type="submit">Sign in</button>
                        <input type="hidden" name="next" value="{{path}}" />
                        {% csrf_token %}
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div><!-- /topbar-inner -->
</div><!-- /topbar -->