<!-- <h2>Here is your filter template</h2>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search" name="search-term" id="search-term">
    <div class="input-group-btn">
        <button class="btn btn-default" id="submitSearch" type="submit">Go</button>
    </div>
</div> -->
<div class="dropdown" id="filterDiv" >
  <button class="btn btn-default dropdown-toggle" type="button" id="filterDropdown" data-toggle="dropdown" aria-haspopup="true" >
    Filter
    <span class="caret"></span>
  </button>
	<ul id="filter-menu" class="dropdown-menu" style="min-width: 300px;" aria-labelledby="filterDropdown">

    <li class="dropdown-header">Filter Items</li>

    <li class="divider"></li>

    <li class="clearfix">
          <label style="margin-right:10px; margin-left:10px">Attribution:</label>
          <input id="search-attribution" name="attribution" type="text" data-operator="LIKE" value="">
    </li>

    <li class="clearfix">
        <label style="margin-right:10px; margin-left:10px">Description:</label>
        <input id="search-description" name="description" type="text" data-operator="LIKE" value="">
    </li>

    <li class="clearfix">
        <label style="margin-right:10px; margin-left:10px">Original Name:</label>
        <input id="search-file-name" name="file_name_orig" type="text" data-operator="LIKE" value="">
    </li>

    <li class="clearfix">
        <label style="margin-right:10px; margin-left:10px">Tags:</label>
        <input id="search-tags" name="tags" type="text" data-operator="LIKE" value="">
    </li>

    <li class="clearfix">
        <label style="margin-right:10px; margin-left:10px">Point:</label>
        <input id="search-point" name="point" type="text" data-operator="LIKE" value="">
    </li>

    <li class="clearfix">
        <label style="margin-right:10px; margin-left:10px">Project:</label>
        <input id="search-project" name="project" type="text" data-operator="=" value="">
    </li>

    <li class="clearfix">
        <label style="margin-right:10px; margin-left:10px">Owner:</label>
        <input id="" name="search-owner" type="owner" data-operator="LIKE" value="">
    </li>

    <li class="clearfix">
        <label style="margin-right:10px; margin-left:10px">Device:</label>
        <input id="search-device" name="device" type="text" data-operator="LIKE" value="">
    </li>

    <li class="clearfix">
        <label style="margin-right:10px; margin-left:10px">Date Created:</label>
        <input id="search-date" name="date_created" type="text" data-operator="LIKE" value="" placeholder="yyyy-mm-dd">
    </li>

    <li class="clearfix">
        <label style="margin-right:10px; margin-left:10px">Id:</label>
        <input id="search-id" name="id" type="text" data-operator="=" value="">
    </li>

    <li class="clearfix">
        <label style="margin-right:10px; margin-left:10px">Name:</label>
        <input id="search-name" name="name" type="text" data-operator="LIKE" value="">
    </li>
    <li class="divider" role="separator"></li>
    <li class="clearfix">

            <button class="btn btn-default" style="margin:10px" id="clearSearch" type="submit">Clear</button>
            <button class="btn btn-default" id="submitSearch" type="submit">Search</button>

    </li>
</ul>
</div>
