
<div class="row">
  <div class="col-lg-4">
    <img class="img-thumb" src="<%= thumb %>" title="<%= map_title %>" style="cursor: pointer;margin-top:40px;margin-left:50px;">
  </div>

  <div class="col-lg-8">
    <!-- Name -->
    <div class="row" >
      <div class="col-lg-4" align="right">
        <label for="map_title" style="text-align: right; margin-top:40px;">Map Title :</label>
      </div>
      <div class="col-lg-4">
        <p style="margin-top:40px;color: #999;" name="map_title" id="map_title"><%= map_title %></p>
      </div>
    </div>
    <!-- Description -->
    <div class="row">
      <div class="col-lg-4" align="right">
        <label for="instructions" style="text-align: right; margin-top:20px;">Instructions :</label>
      </div>
      <div class="col-lg-4">
        <p style="margin-top:20px;color: #999;" name="instructions" id="instructions"><%= instructions %></p>
      </div>
    </div>
    <!-- Project -->
    <div class="row">
      <div class="col-lg-4" align="right">
        <label for="project" style="text-align: right; margin-top:20px;">Project :</label>
      </div>
      <div class="col-lg-4">
        <p style="margin-top:20px;color: #999;" name="project" id="project"><%= project_id %></p>
      </div>
    </div>
    <!-- Tags -->
    <div class="row">
      <div class="col-lg-4" align="right">
        <label for="tags" style="text-align: right; margin-top:20px;">Tags :</label>
      </div>
      <div class="col-lg-4">
        <p style="margin-top:20px;color: #999;" name="tags" id="tags"><%= tags %></p>
      </div>
    </div>

    </div>

</div>
