<div class="row row-item">

    <div class="col-lg-3">
      <audio controls>
          <source src="<%= file_path_orig %>" type="audio/ogg">
          <source src="<%= file_path_orig %>" type="audio/mpeg">
          <source src="<%= file_path_orig %>" type="audio/wav">
          Your browser does not support the audio tag.
        </audio>
    </div>
    <div class="col-lg-8 show-form"></div>
    <div class="col-lg-1">
        <input type="checkbox" class="large" style="margin-top:150px;-ms-transform: scale(1.5);-moz-transform: scale(1.5);-webkit-transform: scale(1.5);-o-transform: scale(1.5);" name="checked" id="checked" data-id="<%= id %>" <%= checked ? 'checked' : '' %>>
    </div>

</div>
