
<div class="row">
  <div class="col-lg-4">
    <img id="restaurantImg" src="<%= path_medium_sm %>" title="<%= name %>" style="cursor: pointer;margin-top:40px;margin-left:50px;">
  </div>

  <div class="col-lg-8">
    <!-- Name -->
    <div class="row" >
      <div class="col-lg-4" align="right">
        <label for="name" style="text-align: right; margin-top:40px;">Name :</label>
      </div>
      <div class="col-lg-4">
        <!-- <input type="text" class="form-control" style="margin-top:35px;" name="name" id="name" value="<%= name %>"> -->
        <p style="margin-top:40px;color: #999;" name="name" id="name"><%= name %></p>
      </div>
    </div>
    <!-- Description -->
    <div class="row">
      <div class="col-lg-4" align="right">
        <label for="description" style="text-align: right; margin-top:20px;">Description :</label>
      </div>
      <div class="col-lg-4">
        <!-- <input type="text" class="form-control" style="margin-top:20px;" name="description" id="description" value="<%= caption %>"> -->
        <p style="margin-top:20px;color: #999;" name="description" id="description"><%= caption %></p>
      </div>
    </div>
    <!-- Project -->
    <div class="row">
      <div class="col-lg-4" align="right">
        <label for="project" style="text-align: right; margin-top:20px;">Project :</label>
      </div>
      <div class="col-lg-4">
        <!-- <input type="text" class="form-control" style="margin-top:20px;"  name="project" id="project" value="<%= project_id %>"> -->
        <p style="margin-top:20px;color: #999;" name="project" id="project"><%= project_id %></p>
      </div>
    </div>
    <!-- Tags -->
    <div class="row">
      <div class="col-lg-4" align="right">
        <label for="tags" style="text-align: right; margin-top:20px;">Tags :</label>
      </div>
      <div class="col-lg-4">
        <!-- <input type="text" class="form-control" style="margin-top:20px;" name="tags" id="tags" value="<%= tags %>"> -->
        <p style="margin-top:20px;color: #999;" name="tags" id="tags"><%= tags %></p>
      </div>
    </div>
    <!-- Author/Creator -->
    <div class="row">
      <div class="col-lg-4" align="right">
        <label for="creator" style="text-align: right; margin-top:20px;">Author / Creator :</label>
      </div>
      <div class="col-lg-4">
        <!-- <input type="text" class="form-control" style="margin-top:20px;margin-bottom:40px;" name="creator" id="creator" value="<%= owner %>"> -->
        <p style="margin-top:20px;margin-bottom:40px;color: #999;" name="creator" id="creator"><%= owner %></p>
      </div>
    </div>

    <!-- <p style="color: #999;"><%= caption %></p> -->
    </div>

</div>
