
<div class="row row-item">

  <div class="col-lg-4">

  </div>
  <div class="col-lg-8">
    <!-- Name -->
    <div class="row" >
      <div class="col-lg-4" align="right">
        <label for="name" style="text-align: right; margin-top:40px;">Name :</label>
      </div>
      <div class="col-lg-4">
        <p style="margin-top:40px;color: #999;" name="name" id="name"><%= name %></p>
      </div>
    </div>
    <!-- Description -->
    <div class="row">
      <div class="col-lg-4" align="right">
        <label for="description" style="text-align: right; margin-top:20px;">Description :</label>
      </div>
      <div class="col-lg-4">
        <p style="margin-top:20px;color: #999;" name="description" id="description"><%= caption %></p>
      </div>
    </div>
    <!-- Project -->
    <div class="row">
      <div class="col-lg-4" align="right">
        <label for="project" style="text-align: right; margin-top:20px;">Project :</label>
      </div>
      <div class="col-lg-4">
        <p style="margin-top:20px;color: #999;" name="project" id="project"><%= id %></p>
      </div>
    </div>
    <!-- Tags -->
    <div class="row">
      <div class="col-lg-4" align="right">
        <label for="tags" style="text-align: right; margin-top:20px;">Tags :</label>
      </div>
      <div class="col-lg-4">
        <p style="margin-top:20px;color: #999;" name="tags" id="tags"><%= tags %></p>
      </div>
    </div>
    <!-- Author/Creator -->
    <div class="row">
      <div class="col-lg-4" align="right">
        <label for="url" style="text-align: right; margin-top:20px;">Friendly Url :</label>
      </div>
      <div class="col-lg-4">
        <p style="margin-top:20px;margin-bottom:40px;color: #999;" name="url" id="url"><%= slug %></p>
      </div>
    </div>

    </div>

</div>
