
<div class="row">
<div class="col-lg-6" style="height:80px;">
  <h1>
  	<img class="header-icon" src="/static/images/camera_large.png" >
  	Manage <span style="color:#ccc" id="headerTag">Photos</span>
  </h1>
<!-- <h2>Here is a list of photos</h2> -->
</div>
<div class="col-lg-6" style="height:80px;">
  <button class="btn btn-default" id="viewEdit"  style="float:right;" type="submit">Edit</button>
  <button class="btn btn-default" id="viewStatic" style="float:right;" type="submit">View</button>
  <button id="saveChanges" class="btn btn-default" style="float:right;">Save Changes</button>
  <button id="deleteChanges" class="btn btn-default" style="float:right;">Delete Changes</button>
<div>
</div>
