
<div class="row">
<div class="col-lg-5" style="height:80px;">
  <h1>
  	Manage <span style="color:#ccc" id="headerTag"></span>
  </h1>
<!-- <h2>Here is a list of photos</h2> -->
</div>
<div class="col-lg-7" style="height:80px;">
  <button class="btn btn-default" id="viewEdit"  style="float:right;" type="submit">Edit</button>
  <button class="btn btn-default" id="viewStatic" style="float:right;" type="submit">View</button>
   <button class="btn btn-default glyphicon glyphicon-list-alt" id="listView" style="float:left;" type="submit"></button>
   <button class="btn btn-default glyphicon glyphicon-th-large" id="viewStatic" style="float:left;" type="submit"></button>
  <button id="saveChanges" class="btn btn-default" style="float:right;">Save Changes</button>
  <button id="deleteChanges" class="btn btn-default" style="float:right;">Delete Changes</button>
  <button id="createProject" class="btn btn-default" style="float:right;">Create</button>
</div>
<div class="col-lg-12" id="listContainer" ></div>
<div class="row container-footer"></div>
