<!-- <div class="sidebar">
    <ul class="nav-side-menu bs-docs-sidenav affix">
        <li><a><i class="icon-chevron-right"></i>Photos</a></li>
        <li><a><i class="icon-chevron-right"></i>Audio</a></li>
        <li><a><i class="icon-chevron-right"></i>Map Images</a></li>
    </ul>
</div> -->

<!-- Sidebar -->
<div class="side-menu-container">

        <ul class="sidebar-nav nav">
            <li class="sidebar-brand">
                <a id="photos">
                  <span class="fa  solo">Photos</span>
                </a>
            </li>
            <li class="sidebar-brand">
                <a id="audio">
                    <span class="fa solo">Audio</span>
                </a>
            </li>
            <li class="sidebar-brand">
                <a id="scan">
                    <span class="fa  solo">Map Images</span>
                </a>
            </li>
        </ul>

</div>
