<!-- <div class="sidebar">
    <ul class="nav-side-menu bs-docs-sidenav affix">
        <li><a><i class="icon-chevron-right"></i>Photos</a></li>
        <li><a><i class="icon-chevron-right"></i>Audio</a></li>
        <li><a><i class="icon-chevron-right"></i>Map Images</a></li>
    </ul>
</div> -->
<!-- ask Sarah how to bypass the next 2 script lines -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/static/bootstrap2.2.2/js/complete/bootstrap.min.js"></script>
<!-- Sidebar -->
<div class="side-menu-container dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Categories
        <span class="caret"></span>
  </button>

        <ul class="sidebar-nav dropdown-menu" >
            <li class="sidebar-brand">
                <a id="photos">
                  <span class="fa  solo">Photos</span>
                </a>
            </li>
            <li class="sidebar-brand">
                <a id="audio">
                    <span class="fa solo">Audio</span>
                </a>
            </li>
            <li class="sidebar-brand">
                <a id="scan">
                    <span class="fa  solo">Map Images</span>
                </a>
            </li>
            <li class="sidebar-brand">
                <a id="prints">
                    <span class="fa  solo">Prints</span>
                </a>
            </li>
            <li class="sidebar-brand">
                <a id="projects">
                    <span class="fa  solo">Projects</span>
                </a>
            </li>
        </ul>

