{% extends "simple.html" %}
{% load i18n %}
{% block extra_styles %}
    th, td { padding:5px; vertical-align: top; }
    input[type=text], textarea {float: left; width: 340px; }
    .uploadForm {
        /*border: solid 1px #000;*/
        width: 250px;
    }
    .uploadForm th { vertical-align: top;}
    .uploadForm td {
        /*border: solid 1px #000;*/
    }
    .ui-icon { float:right;margin:0px 0px 0px 5px; }
{% endblock %}
{% block content %}
    <br />
    <p>Please enter a valid scan ID or print ID (either will work)</p>
    <br />
    <form action="/viewer/" method="GET">
        <table class="uploadForm">
            <tr>
                <th>
                    Scan ID:
                </th>
                <td>
                    <input name="scanID" id="scanID" type="text" class="bigTextArea" maxlength="8" style="width:100px" />
                </td>
            </tr>
            <tr>
                <th>
                    Print ID:
                </th>
                <td>
                    <input name="printID" id="printID" type="text" class="bigTextArea" maxlength="8" style="width:100px" />
                </td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>
                    <input type="submit" value="Submit" class="button green" />
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
