{% extends "base/page_centered.html" %}
{% block page_title %}About Us{% endblock %}
{% block main_content %}
<div style="padding: 0px 10px 0px 10px;">
    <p>
    Local Ground allows you to create and share your own annotated online maps.
    You can draw on existing maps, add pictures, audio, video and other data,
    and share with your friends, family and colleagues.
</p>
<p>
    Here are some examples of how Local Ground has been used:
</p>
    <ol>
        <li>Students at Kennedy High School Richmond, California used LG to
        participate in the planning of a local park</li>
        <li>Students at Castlemont High School in Oakland, California used Local Ground
        to ground truth local "grocery stores"</li>
        <li>Students in the E-BAYS summer program in Oakland, California used Local
        Ground to combine air quality measurements with observational data</li>
    </ol>
    
<p>
    If you have your own ideas or applications for Local Ground, please contact
    us at info@localground.org!
</p>
</div>


{% endblock %}