{% extends "base/page_centered.html" %}
{% block page_title %}Contact Us{% endblock %}
{% block extra_styles %}
    {{ block.super }}
    .icon { vertical-align: bottom; }
{% endblock %}	
{% block main_content %}
<div style="margin:0px 10px 0px 10px;">

    <p>
        We are always interested in new ideas for Local Ground, and for new ways to
        collaborate with teachers, students, non-profit organizations and other
        mappers everywhere!
        <br><br>
        Please send us email at info@localground.org, or call us at +1-510-859-3003.
    </p>
</div>
{% endblock %}