{% extends "base/page_centered.html" %}
{% block page_title %}Acknowledgements{% endblock %}
{% block main_content %}
<div style="margin:10px">
    
    <h2>People</h2>
    <p>Local Ground is a project that started at the UC Berkeley
    <a href="http://ischool.berkeley.edu">School of Information</a>.
    The main contributors to the project are:</p>
    <ul>
        <li>Sarah Van Wart</li>
        <li>Christy McCain</li>
        <li>Meena Natarajan</li>
        <li>Tapan Parikh</li>
        <li>Joyce Tsai</li>
    </ul>
    <br>
    <h2>Special Thanks</h2>
    <p>
        Local Ground would like to acknowledge the following people, who helped
        us develop our system by contributing ideas, and time to the project:
    </p>
    <ul>
        <li>Antwi Akom, Aekta Shah, Aaron Nakai, Sabaa Shoraka, and I-SEEED.</li>
        <li>Tony Marks-Block, Kevin Cuff, and the
            East Bay Academy for Young Scientists
            <a href="http://www.lawrencehallofscience.org/ays/">EBAYS</a> at the
            Lawrence Hall of Science
        </li>
        <li>Deb McKoy, Ariel Bierbaum, and the
        <a href="http://citiesandschools.berkeley.edu/">Center for Cities &amp; Schools</a></li>
        <li>April Surwalsky and the Martin Luther King Jr. Youth Council</li>
        <li>Mr. Gutierriez's 2009-2010 U.S. History class @ Kennedy High School</li>
        
        <li>Michael Manoochehri and Nate Gandomi</li>
    </ul>
    <br>
    <h2>The Code</h2>
    <p>
        Local Ground has used image processing ideas and code from 
        <a href="http://walking-papers.org/">Walking Papers</a>,
        <a href="http://opencv.willowgarage.com/wiki/">OpenCV</a>,
        <a href="http://www.pythonware.com/products/pil/">PIL</a>, and
        <a href="http://www.gimp.org/">GIMP</a>, and runs on
        GeoDjango + PostgreSQL.  We hope to post our source code soon, so stay
        tuned!
    </p>
    <br>
</div>
{% endblock %}