<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Local Ground: Moved</title>
    <link href="/static/css/twitter/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
          padding-top: 60px;
        }
        .container {
            width: 1070px;
            height: 80vh;
            text-align: center;
        }
        .container p {
            margin-top: 40vh;
        }
        
    </style>
    <script src="//code.jquery.com/jquery-1.5.2.min.js"></script>
    <script src="/static/scripts/thirdparty/twitter/bootstrap-dropdown.js"></script>
    <script>
        $().ready(function() {
          $().dropdown();
        });
        setTimeout(function () {
            window.location = '/static/redesign/';
        }, 5000);
    </script>
  </head>

    <body>
  
      {% include "includes/menus/top_nav.html" %}
  
      <div class="container">
            <p>
              This page has been deprecated. Use <a href="/static/redesign">this one</a> instead.
              <br>You will be redirected in 5 seconds.
            </p>
      </div>
      
      <footer>
        <p>&copy; Local Ground 2017</p>
      </footer>

    </body>
</html>