{% extends "base/page_centered.html" %}
{% block page_title %}Instructions{% endblock %}
{% block extra_styles %}
    {{ block.super }}
    .icon { vertical-align: bottom; }
{% endblock %}	
{% block main_content %}
<div style="margin:0px 10px 0px 10px;">
<a name="print" style="padding: 30px;"></a>
<h3><img class="icon" src="/static/images/hand_drawn_icons/48x48/notepad.png" />Print a Paper Map</h3>
<ol>
    <li>Log in to Local Ground. Request an account if you don't have one already.</li>
    <li>Click on the <a href="/maps/edit/new/">Edit Map</a> link
    (top, left-hand side of screen)</li>
    <li>Pan / zoom the map as desired and click the "Print" button.</li>
    <li>Create a new Project if you haven't already.</li>
    <li>Download the PDF. Print as many copies as you need.</li>
</ol>

<a name="draw" style="padding: 30px;"></a>
<h3>
    <img class="icon" src="/static/images/hand_drawn_icons/48x48/comment.png" />
    Draw Your Places
</h3>
<ol>
    <li>Draw / write on the maps with one or more colored pens.  Make sure not
    to write on the bar code. Everywhere else is fine!</li>
    <li>MapImage your map or take a picture of it. MapImagening works best, but camera
    pictures are OK too. Make sure to include the entire map and barcode.</li>
</ol>

<a name="upload" style="padding: 30px;"></a>
<h3>
    <img class="icon" src="/static/images/hand_drawn_icons/48x48/clasp.png" />
    Upload Maps, Pictures, & Audio
</h3>
<ol>
    <li>
        Click the <a href="/upload/">Upload</a> button / link, and select
        the kind of media you would like to upload.  You may upload:
        <ul>
            <li><a href="/upload/photos/">photos</a></li>
            <li><a href="/upload/audio/">audio files</a></li>
            <li><a href="/upload/map-images/"> paper maps / forms</a></li>
        </ul>
    </li>
    <li>You can either drag your map images onto the gray box or click
        the green button and browse to your map images.</li>
    <li>We will try to detect the kind of media you’ve dragged onto the page, but
    if it's a map of a form, be sure that the "file type" selection is "Map / Form", and then press the
        blue "Start Upload" button.</li>
</ol>

<a name="organize" style="padding: 30px;"></a>
<h3>
    <img class="icon" src="/static/images/hand_drawn_icons/48x48/computer.png" />
    Organize Your Project
</h3>
<ol>
    <li>Navigate to the <a href="/maps/edit/new/">Map Editor</a></li>
    <li>Click on the "Projects" menu, and click on the check box next to the
        project you'd like to view.  Your data should appear in the panel on the
        right-hand side of your screen.</li>
    <li>Click on the arrows to expand your view, and click on the checkboxes to turn stuff on & off.</li>
    <li>Map your photos, audio and video by:
        <ol>
            <li>Clicking on the "Edit" button (this puts the map into "edit mode")</li>
            <li>Dragging the icon next to the media file onto the map.</li>
            <li>After you've dragged, you should see the new icon directly on the map.</li>
            <li>If you want to add additional metadata to your media file, you
                can click on its icon again and fill out the form.</li>
            <li>Remember to click "Done" after you are finished.</li>
        </ol>
    </li>
</ol>

<h3>
    <img class="icon" src="/static/images/hand_drawn_icons/48x48/database.png" />
    Add or Import Data
</h3>
<p>Coming Soon!</p>

<a name="share" style="padding: 30px;"></a>
<h3>
    <img class="icon" src="/static/images/hand_drawn_icons/48x48/users.png" />
    Share with Your Friends!
</h3>
<p>You can share a link to your map by pressing the "Share" button on the
<a href="/profile/projects/">Projects</a> page.
The visibility of your maps will depend on the option you select:</p>
<ol>
    <li>
        If you select Public, Local Ground will provide a simple web address for
        you to host your map, like http://localground.org/maps/YourProject.
        Other people will also be able to search for and see your map from the
        Local Ground home page.
    </li>
    <li>
        If you select Private w/ Link, Local Ground will provide a complicated
        web address like http://localground.org/maps/SecretNumber so that only
        those people you send the address will be able to view the map.
        The map will also not show up on the Local Ground home page.
    </li>
    <li>
        Finally, if you select Private w/ Login, people will need a Local Ground
        login and explicitly be provided access to the map to view it.
    </li>
</ol>


<p>We are working on new tools to present and visualize your data. Stay tuned
for the next release of Local Ground!</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
{% endblock %}