<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Map Prototype</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if map %}
        <link rel="stylesheet" href="/static/css/public.css">
    {% else %}
        <link rel=stylesheet type="text/css" href="/static/css/main-new.css" />
        <style>
            fieldset {
                display: none;
            }
        </style>
    {% endif %}
</head>
<body style="height:100vh;">
    {% if map %}
        <header>
            <section class="heading">
                <h1></h1>
            </section>
            <section class="header-right">
                <section class="search">
                    <div>
                        <input type="text" id="search-bar" placeholder="Search">
                        <a class="filter-button" href="#"><i class="fas fa-filter"></i></a>
                    </div>
                </section>
                <section class="menu">
                    <a class="menu-item" href="#">
                        <i class="fas fa-th-large"></i>
                    </a>
                    <a class="menu-item" href="#">
                        <i class="fas fa-table"></i>
                    </a>
                    <a class="menu-item active" href="#">
                        <i class="fas fa-map"></i>
                    </a>
                    <a class="menu-item" href="code.html">
                        <i class="fas fa-code"></i>
                    </a>
                </section> 
            </section>
        </header>
        <main></main>
    {% else %}
        <div class='pw-required-background'>
            <div class="pw-required-wrapper">
                <form id="model-form" class="form" method="post" action="{% if action %}{{action}}{% else %}.{% endif %}">
                    {% csrf_token %}
                    {% include "includes/forms/generic_form_renderer.html" %}
                    <div class="row">
                        <div class="pw-required-header">Restricted Access</div>
                        <hr>
                        <label id="pw-required-label">The site you are trying to access is password protected. You will need to enter a password below to view the site.</label>
                        <div class="pw-required-input row {% if error %}error{% endif %}">
                            <input type="password" name="access_key" value="" placeholder="Map Password" />
                            {% if error %}
                                <p>Authentication error: Incorrect password</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="pw-required-button-wrapper">
                        <button type="submit" class="button button-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
 integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
 crossorigin=""></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>
 <script src="/static/js/models.js"></script>
 <script src="/static/js/mixins.js"></script>
 <script src="/static/js/carousel.js"></script>
 <script src="/static/js/audio-player.js"></script>
 <script src="/static/js/card.js"></script>
 <script src="/static/js/legend.js"></script>
 <script src="/static/js/map-view.js"></script>
 <script src="/static/js/card-view.js"></script>
 <script src="/static/js/filter.js"></script> 

 {% if map %}
    <script>
        const mapJSON = {% autoescape off %}{{map}}{% endautoescape %};
        const mapModel = new MapModel(mapJSON);
        const mapView = new MapView(mapModel);
        // const cardView = new CardView(mapModel);
    </script>
 {% endif %}
    
</body>
</html>