<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-8">
    <title>Local Ground Map Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel=stylesheet type="text/css" href="/static/redesign/css/style.css" />
    <link rel=stylesheet type="text/css" href="/static/redesign/css/map-presentation.css" />
    <link rel=stylesheet type="text/css" href="/static/redesign/css/main.css" />

</head>
<body>
    <div class="main-panel presentation-main-panel none">
        <div id="marker-detail-panel" class="side-panel">
            <!-- Marker list goes here -->
        </div><div id="map-panel">
            <div id="map"></div>
        </div>
    </div>
    <div id="presentation-title"></div>
    <div id="legend" style="display:none;"></div>

    <script>
        var MAPBOX_API_KEY = '{{ MAPBOX_API_KEY }}';
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA15wvaiyd_TXf10qLAE29UHJasLbptvN4&libraries=places"></script>
    <!-- script data-main="../static/redesign/apps/presentation/kickoff" src="/static/redesign/external/require.js"></script -->
    <script data-main="/static/redesign/build/presentation" src="/static/redesign/external/require.js"></script>


</body>
</html>