{% load static swampdragon_tags %}
<!DOCTYPE html>
<html>
	<head>
		<title>SD testpage</title>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/backbone/css/slick.css"/>
	</head>

	<body>
		<div id="test-box"></div>
	</body>
	{% swampdragon_settings %}
	<script type="text/javascript" src="{% static 'swampdragon/js/dist/swampdragon.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'swampdragon/js/dist/datamapper.js' %}"></script>

    <script src="/static/backbone/js/external/require.js"></script>
    <script src="/static/backbone/js/api/base.js"></script>

    <script>
			require(
				["jquery", "/static/experimental/test.js"],
				function($, test) {
					$(function() {
						test.start({});
					});
				}
            );

    </script>
</html>