{% if user.is_authenticated %}
    {% include "pages/home.html" %}
{% else %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-8">
        <title>Local Ground</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="/static/redesign/css/pages.css" rel="stylesheet">
    </head>
    
    <body>

        {% include "base/top_nav.html" %}
        <!--{% include "base/graphic_bar.html" %}-->
        <div class="article-title">
            <div class="container-center article ">
                <h1>&nbsp</h1>
            </div>
        </div>
        <div class="container-center article flex">

            <div class="welcome-box">
                <h2 style="font-family: Amatica SC; font-weight:700; text-align:center;margin-top: 40px; margin-bottom: 20px;font-size: 36px;">Local Ground Helps You Tell The Story of Your World</h2>
                <div style="text-align:center;margin-bottom:100px;display:flex;margin:10px 40px 40px;font-size: 14px;">
                    <div style="margin:20px;flex:1;">
                        <img src="/static/redesign/assets/map-icon.png" style="width:100px;margin:20px auto;display:block;">
                        <span style="font-weight:600;display:block;padding-bottom:4px;">Story Maps</span>
                        <span>Create story maps that take your visitor on a journey through your data</span>
                    </div>
                    <div style="margin:20px;flex:1;">
                        <img src="/static/redesign/assets/pin-icon.png" style="width:100px;margin:20px auto;display:block;">
                        <span style="font-weight:600;display:block;padding-bottom:4px;">Data Visualization</span>
                        <span>Visualize your spatial data</span>
                    </div>
                    <div style="margin:20px;flex:1;">
                        <img src="/static/redesign/assets//pen-icon.png" style="width:100px;margin:20px auto;display:block;">
                        <span style="font-weight:600;display:block;padding-bottom:4px;">Hand Drawn Maps</span>
                        <span>Print your map, draw on it with a colored pen, and upload it to automatically overlay your hand drawings on your map</span>
                    </div>
                </div>
            </div>
            <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
            <script>
                var addEffects = function (selector) {
                    var $ripple, d, $el;
                    $(selector).click(function (e) {
                        $el = $(this);
                        $ripple = $el.find(".ripple");
                        if ($ripple.length === 0) {
                            $ripple = $("<span class='ripple'></span>");
                            $el.prepend($ripple);
                        }
                        $ripple.removeClass("animate");
                        if (!$ripple.height() && !$ripple.width()) {
                            d = Math.max($el.outerWidth(), $el.outerHeight());
                            $ripple.css({
                                height: d,
                                width: d
                            });
                        }
                        $ripple.css({
                            top: -1 * $el.height(),
                            left: 0
                        }).addClass("animate");
                    });
                };
                addEffects('.wave-effects');
            </script>
        </div>
     {% include "base/login_footer.html" %}
    </body>
</html>
{% endif %}
