<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-8">
    <title>Local Ground Spreadsheet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel=stylesheet type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.31.2/handsontable.full.css">
    <link rel=stylesheet type="text/css" href="/static/redesign/css/style.css" />
    <link rel=stylesheet type="text/css" href="/static/redesign/css/main.css" />
    <link rel=stylesheet type="text/css" href="/static/redesign/css/gallery-style.css" />
    <link rel=stylesheet type="text/css" href="/static/redesign/css/modal_new_project.css" />

    <style>
      img{
          display: block;
          vertical-align: middle;
      }
    </style>
</head>
<body style="background-color: #ecedf2;">
    <div id="toolbar-main" class="data-toolbar-main">
        <!-- global toolbar moved to static/redesign/templates/toolbar-global.html -->
    </div>
    <div id="toolbar-dataview" class="filter data">
        <!-- dataview toolbar -->
    </div>
    <main class="main-panel spreadsheet-main-panel">
        <!-- Spreadsheet goes here -->
    </main>
    <aside id="tab-panel" class="spreadsheet-tab-panel"></aside>


    <!--Modal Section-->
    <div id="myModal" class="modal">

      <!--Close Button-->
      <span class="close big" onclick="document.getElementById('myModal').style.display='none'">
        &times;
      </span>
      <!--Modal Content (Image)-->
      <img class="modal-content" id="img01">
      <!--Modal Caption (Image Text)-->
      <div id="caption"></div>
    </div>

    <div id="videoModal" class="modal">

      <!--Close Button-->
      <span class="close big" onclick="document.getElementById('myModal').style.display='none'">
        &times;
      </span>
      <!--Modal Content (Video)-->
      <iframe class="modal-content spreadsheet" id="video-iframe" style="width: 70%; height: 480px;"></iframe>
      <!--Modal Caption (Video Text)-->
      <div id="caption"></div>
    </div>


    <!--Modal Section-->
    <div id="carouselModal" class="carousel-modal spreadsheet">

      <!--Close Button-->
      <span class="close big" onclick="document.getElementById('carouselModal').style.display='none'">
        &times;
      </span>

    </div>
    {% if DEBUG %}
        <script>
            var configPath = '../';
        </script>
        <script data-main="/static/redesign/apps/spreadsheet/kickoff.js" src="/static/redesign/external/require.js"></script>
    {% else %}
       <!-- Use minified, concatenated code -->
        <script>
            var configPath = '../apps/';
        </script>
        <script data-main="/static/redesign/build/spreadsheet.min.js" src="/static/redesign/external/require.js"></script>
    {% endif %}

</body>
</html>
