<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-8">
    <title>Local Ground Map Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel=stylesheet type="text/css" href="/static/redesign/css/style.css" />
    <link rel=stylesheet type="text/css" href="/static/redesign/css/main.css" />
    <link rel=stylesheet type="text/css" href="/static/redesign/css/modal_new_project.css" />
    <link rel=stylesheet type="text/css" href="/static/redesign/css/style-map.css" />
    <link rel=stylesheet type="text/css" href="/static/redesign/external/colorpicker/css/colorpicker.css" />
   <!-- <link rel=stylesheet type="text/css" href="/static/redesign/css/main.css" /> -->
    
</head>
<body>
    <div id="toolbar-main">
        <!-- global toolbar -->
    </div>
    <div class="main-panel style-main-panel left">
        <div id="left-panel">
            <!-- Marker list goes here -->
        </div><div id="map-panel">
            <div id="map"></div>
        </div><div id="right-panel" class="side-panel right-panel">
            <!-- Marker detail goes here -->
        </div>
    </div>
    
    <script src="/static/redesign/external/require.js"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA15wvaiyd_TXf10qLAE29UHJasLbptvN4&libraries=places">
    </script>
    <script>
        var MAPBOX_API_KEY = '{{ MAPBOX_API_KEY }}';
        require(['/static/redesign/apps/require-config.js'], function(){
            require(['apps/style/kickoff']);  //or adminApp for the admin area, etc.
        });
    </script>
</body>
</html>

