// main: ../main-new.scss
.disabled {
    opacity: 0.4;
}
document, body {
    overflow: hidden;
}
@mixin overflow-text() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}

div, section {
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background: #EEE;
        -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
    }
}
