// main: ../main-new.scss
html, div, body, h1, h2, h3, h4, h5, h6, p, button, table, input, span, a, select, form{
	padding:0;
	margin:0;
	font-family:"Open Sans",Arial,sans-serif;
	color:#3d3d3d;
}

a{
	text-decoration:none;
}

table{
	font-size:12px;
}
ul{
	font-size:12px;
	padding-left:0;
}

