{% extends base_template %}
{% block extra_styles %}
	{{block.super}}
	.input ul { margin: 0px; }
	.input li, .input span {
		list-style: none;
		display: block;
		clear: both;
	}
	.input label {
		text-align: left !important;
		width: 250px !important;
	}
	{% if embed %}
		table td > input[type=text], table td > select { width: 150px !important; }
		table td, table th { padding: 3px !important; }
	{% endif %}
{% endblock %}

{% block style_links %}
	{{ form.media.css }}
{% endblock %}
{% block script_links %}
	{{ form.media.js }}
	<script type="text/javascript" src="/static/scripts/thirdparty/jquery.formset.js"></script>
	<script type="text/javascript" src="/static/scripts/site/account/formfields.js"></script>
{% endblock %}
{% block extra_scripts %}
	{{ block.super }}
	var opts = {
		noFields: {{no_fields|lower}},
		prefix: '{{prefix}}'
	};
	{% if message and not success %}
		opts.formError = true;
	{% endif %}
	var o = new localground.formfields();
{% endblock %}
{% block pageload_scripts %}
	o.init(opts);
{% endblock %}
{% block main_content %}
    <div class="row">
		{% include "includes/messages.html" %}
	</div>
    
	<form id="the_form" method="post" action="." {% if embed %}class="embed"{% endif %}>
		{% csrf_token %}
		
		<h3>{{ object_name|capfirst }} Description</h3>
		{% if form.instance.pk %}
			<input type="hidden" name="id" value="{{ form.instance.pk }}" />
			<!-- id_name field to populate slugs -->
			<input type="hidden" id="id_name" value="{{ form.instance.name }}" />
		{% endif %}
		{% include "includes/forms/generic_form_renderer.html" %}
		
		<h3>Fields</h3>
		<table id="tbl">
			<thead>
				<tr>
					<th>Column Name</th>
					<th>Data Type</th>
					<th>Printable?</th>
					<th>Display on Map?</th>
					<th>Order</th>
					<th style="display:none;">Hidden Fields</th>
					<th style="width: 10px;">&nbsp;</th>
				</tr>	
			</thead>
			<tbody>
			{% for form in formset.forms %}
				
				<tr id="{{ form.prefix }}-row">
					<td {% if form.col_alias.errors or form.non_field_errors %}class="error"{% endif %}>
						{{ form.col_alias }}
						{{ form.col_alias.errors }}
						{{ form.non_field_errors|lower }}
					</td>
					<td {% if form.data_type.errors or form.non_field_errors %}class="error"{% endif %}>
						{{ form.data_type }}
						<span>{{ form.instance.data_type.name }}</span>
						{{ form.data_type.errors }}
					</td>
					<td {% if form.is_display_field.errors or form.non_field_errors %}class="error"{% endif %}>
						{{ form.is_display_field }}
						{{ form.is_display_field.errors }}
					</td>
                    <td {% if form.ordering.errors or form.non_field_errors %}class="error"{% endif %}>
						{{ form.ordering }}
						{{ form.ordering.errors }}
					</td>
					<td style="display:none;">
						{% if form.instance.pk %}
							{{ form.id }}
							{{ form.DELETE }}
						{% endif %}
					</td>
					<td {% if form.non_field_errors %}class="error"{% endif %}>&nbsp;</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<div id="field-div" class="well">
			<button class="btn success add-row" style="float:right;">
				Add Column
			</button>
		</div>
		{{ formset.management_form }}
		{% if not embed %}
			{% comment %} only show submit button if not in an iframe {% endcomment %}
			<div class="clearfix">
                <input type="submit" value="Save Changes" class="btn primary" />
            </div>
		{% else %}
			<br><br><br><br><br><br>
		{% endif %}
		</p>
	</form>
    <script>
        //ensures that there is only one display field:
        $('.is_display_field').change(
            function(){
                var isChecked = $(this).is(':checked');
                if (isChecked) {
                    $('.is_display_field').not($(this)).attr('checked', false);
                }
            });

    </script>


{% endblock %}