{% extends "base/profile.html" %}
{% load paginator %}
{% block style_links %}
	<link href="/static/scripts/thirdparty/jquery-autocomplete/jquery.autocomplete.css" type="text/css" media="all" rel="stylesheet" />
	<link href="/static/scripts/thirdparty/selectize/selectize.css" type="text/css" media="all" rel="stylesheet" />
	<link href="/static/css/themes/bootstrap/jquery-ui-1.8.16.custom.css" type="text/css" media="all" rel="stylesheet" />
	<link href="/static/css/themes/bootstrap/timepicker.css" type="text/css" media="all" rel="stylesheet" />
{% endblock %}
{% block script_links %}
    <!-- jquery-ui needs to come before jquery-autocomplete -->
	<script src="{{ JQUERY_UI_PATH }}"></script>
	<script type="text/javascript" src="/static/scripts/thirdparty/jquery-autocomplete/jquery.autocomplete.js"></script>
	<script type="text/javascript" src="/static/scripts/thirdparty/selectize/selectize.min.js"></script>
	<script type="text/javascript" src="/static/scripts/thirdparty/jquery.ui.timepicker.js"></script>
	<script type="text/javascript" src="/static/scripts/helpers/dialog.js"></script>
	<script type="text/javascript" src="/static/scripts/helpers/filtermenu.js"></script>
	<script type="text/javascript" src="/static/scripts/site/account/profile.js"></script>
{% endblock %}
{% block extra_scripts %}
	var o;
	var opts = {
        username: '{{user.username}}',
		updateURL: '{{ path }}',
		pageURL: '{% autoescape off %}{{ path }}{% endautoescape %}?page={{ page }}{%if sql %}&query={{ sql }}{% endif %}',
		rawURL: '{{ path }}',
		deleteURL: '{{delete_url}}',
		addURL: '{{ create_url }}',
		moveURL: '{{raw_url}}move-project/',
		project_id: '{{selected_project_id}}',
		object_type: '{{ object_type }}',
		object_type_plural: '{{ object_name_plural }}'
	};
	{% if username %}
		opts.alias = '{{username}}';
	{% endif %}
{% endblock %}

{% block extra_styles %}
	{{ block.super }}
	
	.paginator { border-top: solid 1px #ddd; height:38px; }
	.paginator-bottom { margin-top: 0px; height:38px; }
	.paginator > div, .paginator-bottom > div {
		float:right;
		margin: 5px 0px 0px 0px;
	}
	
	.no-data-found {
		position: relative;
		border: 1px solid #eee;
		border: 1px solid rgba(0, 0, 0, 0.05);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding: 15px;
		height: 300px;
	}
	.no-data-found > div {
		text-align:center;
		vertical-align:middle;
		height: 40px;
		position: absolute;
		top: 50%;
		margin-top: -20px;
		width: 100%;
		font-size: 28px;
		color: #999;
		font-weight: bold;
	}
{% endblock %}

{% block main_content %}
	<div class="main-content">
		
	<form id="the_form" method="post" action="">
		{% csrf_token %}
		{{ formset.management_form }}
		{% block hidden_form_fields %}
			<input type="hidden" name="page" value="{{page}}" />
			{% if form %}
				<input type="hidden" name="form_id" id="form_id" value="{{form.id}}" />
			{% endif %}
		{% endblock %}
		
		<div class="row" style="height:38px;">
			<ul class="tabs cell1" style="margin-bottom: 0px !important;border:none;">
				{% block other_menus %}{% endblock %}
				{% if objects.object_list|length > 0 %}
					{% block controls_menus %}{% endblock %}
				{% endif %}
				<li class="dropdown" data-dropdown="dropdown" style="width:100px;">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-dark icon-filter"></i> Filter
					</a>
					{% include "includes/filter_menu.html" %}
				</li>
				{% include "includes/profile/impersonation.html" %}
			</ul>
			<div class="cell2">
			{% block save_button %}
				{% if objects and objects.object_list|length > 0 %}
					<button id="saveChanges" class="btn primary" style="float:right;">Save Changes</button>
				{% endif %}
			{% endblock %}
			</div>
		</div>
		
		{% if is_paginated %}
			<div class="row paginator">
				<div>{% paginator 3 %}</div>
			</div>
		{% endif %}
		
		<div class="row">
			{% include "includes/messages.html" %}
			
			{% include "includes/selected_filters.html" %}
		</div>
		
		<!-- render table or "no data found" message -->
		<div class="row">
		{% if objects.object_list|length == 0 %}
			{% block no_objects %}
			<div class="no-data-found">
				<div>
					{% if projects|length > 0 and selected_project != None %}
						Your project, <span style="text-transform:uppercase">{{selected_project}}</span>, does not have
						any {{object_name_plural}}.
					{% else %}
						You do not have any {{object_name_plural}}.
					{% endif %}
				</div>
			</div>
			{% endblock %}
		{% else %}
			<div id="table-container" style="overflow:auto;">
			<table id="the_table" class="zebra-striped" cellspacing="0">
				<thead> {% block row_header %}{% endblock %}</thead>          
				<tbody>{% block rows %}{% endblock %}</tbody>
			</table>
			</div>
		{% endif %}
		</div>
	</form>
		
	{% if is_paginated %}
		<div class="row paginator-bottom">
			<div>{% paginator 3 %}</div>
		</div>
	{% endif %}
	
	{% block modals %}
		{% include "includes/profile/modals.html" %}
	{% endblock %}

</div>
{% endblock %}
