{% extends "base/base_new.html" %}

{% block style_links %}
    <link rel="stylesheet" href="/static/backbone/css/lg.css" />
    <link rel="stylesheet" href="/static/backbone/css/profile.css" />
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div id="region3" class="col-sm-3 col-md-2 sidebar" style="margin-top:50px;"></div>
        <div class="col-sm-7 col-md-8  main">
          <div id="region1"></div>
          <div id="region2"></div>
        </div>
      </div>
    </div>

    <script src="/static/backbone/js/external/require.js"></script>
    <script src="/static/backbone/js/api/base.js"></script>
    <script type="text/javascript">
        /* Each of these metadata entries come from the API's self-describing schemas, but let's put
         * these into the context dictionary for convenience (to save some trips to the server).
         * An advantage to this approach: as the API continues to get updated with new fields,
         * these schemas will auto-update, and the forms will therefore always be up-to-date.
         */
        var opts = {
            username: "{{ user.username }}",
            photoMetadata: {% autoescape off %}{{ photo_update_metadata }}{% endautoescape %},
            audioMetadata: {% autoescape off %}{{ audio_update_metadata }}{% endautoescape %},
            scanMetadata: {% autoescape off %}{{ scan_update_metadata }}{% endautoescape %}
        };
        require(
            ["jquery", "/static/backbone/js/api/profile-app.js"],
            function($, ProfileApp) {
                $(function() {
                    ProfileApp.start(opts);
                });
            }
        );
    </script>

{% endblock %}
