{% extends "profile/data_list.html" %}
{% block page_title %}
	<img class="header-icon" src="/static/images/map_large.png" />
	Manage <span style="color:#ccc">{{ object_name_plural|title }}</span>
{% endblock %}

{% block script_links %}
	{{ block.super }}
    <script type="text/javascript" src="/static/scripts/site/account/profile.js"></script>
    <script type="text/javascript" src="/static/scripts/site/account/prints.js"></script>
{% endblock %}
{% block extra_styles %}
	{{block.super}}
	#the_table input[type=text], #the_table textarea { width: 190px !important; }
	#the_table select { width: 200px !important; }
	/*li span { color: #386CB0 !important; }*/
{% endblock %}


{% block extra_scripts %}
    var o = new localground.prints();
{% endblock %}

{% block hidden_form_fields %}
	{{ block.super }}
{% endblock %}

{% block controls_menus %}
	<li class="dropdown" data-dropdown="dropdown" style="width:100px;">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options</a>
		<ul class="dropdown-menu">
			<li><a id="delete_objects" href="#">Delete</a></li>
			<li><a id="add_object" href="#">Upload</a></li>
			<li><a id="move_project" href="#">Move to another project</a></li>
		</ul>
	</li>
{% endblock %}

{% block row_header %}
	<tr>
		<th scope="col" class="column-cb" >
			<input class="checkall" type="checkbox" name="checkall"/>
		</th>
		<th scope="col">Image</th>
		<th scope="col">Name</th>
		<th scope="col">Map Info</th>
	</tr>
{% endblock %}

{% block rows %}
	{% for form in formset.forms %}
		<tr>
			<td>
				<input class="checkone" id="cb_{{form.instance.id}}" name="id" type="checkbox" value="{{form.instance.id}}" />
			</td>
			<td>
                <img class="thumb" style="max-width: 200px; max-height: 200px;"
                     src="{{form.instance.thumb}}" />
                <input type="hidden" value="{{form.instance.map}}">
			</td>
			<td>
				{% include "includes/forms/generic_form_renderer.html" %}
			</td>
			<td>
                <div class="thin">
					<label>ID:</label><div class="input">{{ form.instance.uuid }}</div>
				</div>
				<div class="thin">
					<label>Created:</label>
					<div class="input">
						on {{form.instance.date_created|date:"n/j/Y P" }}<br />
						by {{ form.instance.owner }}
					</div>
				</div>
				<div class="thin">
					<label>Last Updated:</label>
					<div class="input">
						on {{form.instance.time_stamp|date:"n/j/Y P" }}<br />
						by {{ form.instance.last_updated_by }}
					</div>
				</div>
				<div class="thin">
					<label>Re-Print:</label><div class="input"><a href="{{form.instance.configuration_url}}" target="_blank">create similar print</a></div>
				</div>
				<div class="thin">
					<label>Download:</label><div class="input"><a href="{{form.instance.pdf}}">download</a></div>
				</div>
                {% comment %}
				<div class="thin">
					<label>Project:</label><div class="input">{{ selected_project.name }}</div>
				</div>
                {% endcomment %}
                <div class="thin">
                    <label>Map Images:</label><div class="input">To be implemented...</div>
                </div>
				
			</td>
		</tr>
	{% endfor %}
{% endblock %}

{% block no_objects %}
	{{ block.super }}
{% endblock %}