{% extends "profile/data_list.html" %}

{% block page_title %}
	<img class="header-icon" src="/static/images/folder_large.png" />
	Manage <span style="color:#ccc">{{ object_name_plural|title }}</span>
{% endblock %}
{% block script_links %}
	{{ block.super }}
    <script type="text/javascript" src="/static/scripts/thirdparty/jquery-autocomplete/jquery.autocomplete.js"></script>
	<script type="text/javascript" src="/static/scripts/site/account/groups.js"></script>
{% endblock %}
{% block extra_styles %}
	{{block.super}}
	.key { font-weight: bold; }
{% endblock %}

{% block pageload_scripts %}
	o = new localground.groups();
	o.initialize(opts);
{% endblock %}

{% block controls_menus %}
	<li class="dropdown" data-dropdown="dropdown" style="width:100px;">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options</a>
		<ul class="dropdown-menu">
			<li><a id="delete_objects" href="#">Delete</a></li>
			<li><a id="add_object" href="#">Create New</a></li>
		</ul>
	</li>
{% endblock %}
{% block projects_menus %}<!-- no projects -->{% endblock %}
{% block row_header %}
	<tr>
		<th scope="col" class="column-cb" >
			<input class="checkall" type="checkbox" name="checkall"/>
		</th>
		<th scope="col" colspan="2">{{ group_object.model_name|capfirst }} Info</th>
	</tr>
{% endblock %}

{% block rows %}
{% for form in formset.forms %}
		<tr>
			<td>
				<input type="checkbox" value="{{form.instance.id}}"
							   name="id" id="cb_{{form.instance.id}}"
							   class="checkone">
			</td>
			<td>
				{% include "includes/forms/generic_form_renderer.html" %}
				<div class="clearfix">
					<div class="input">
						<a href="#" class="share">Share</a>
					</div>
				</div>
			</td>
			
			<td>
				Owner: <span>{% if form.instance.owner %} {{ form.instance.owner}} {% else %} anonymous {% endif %}</span><br>
				Last Updated: <span>{{form.instance.time_stamp|date:"n/j/Y P" }}</span>.		
				<ul class="print_details" style="margin-bottom:0px">
					<li>
						Map Images: {{form.instance.processed_maps_count}}
					</li>
					<li>
						Photos: {{form.instance.photo_count}}
					</li>
					<li>
						Audio: {{form.instance.audio_count}}
					</li>
					<li>
						Markers: {{form.instance.marker_count}}
					</li>
					
					{% comment %}Remove after debugging: very inefficient! {% endcomment %}
					<li><strong>Shared with:</strong> {{ form.instance.users.all|join:", " }}</li>
				</ul>
			</td>
		</tr>
	{% endfor %}
{% endblock %}

