{% extends "profile/data_list.html" %}
{% block page_title %}
Tables <small>{{ form.name }}:
	{{selected_project|default_if_none:"Everything"}}
	{% if is_blank %} > <span style="color: red;">Blanks</span> {% endif %}
</small>
{% endblock %}
{% block style_links %}
	{{ block.super }}
{% endblock %}
{% block script_links %}
	{{ block.super }}
    <script type="text/javascript" src="/static/scripts/site/account/profile.js"></script>
    <script type="text/javascript" src="/static/scripts/site/account/tables.js"></script>
{% endblock %}
{% block extra_styles %}
{{block.super}}
	html, body {
      height:100%;
      overflow:hidden;
    }
	#the_table { min-width: 800px !important; width: auto !important; }
	.download-table, .download-table tr, .download-table td, .download-table th {
		border: none !important;
	}
	.download-table th {
		text-align: right;
	}
{% endblock %}


{% block extra_scripts %}
    var o = new localground.tables();
{% endblock %}
{% block pageload_scripts %}
	var opts = {
        username: '{{user.username}}',
		updateURL: '{{raw_url}}',
		pageURL: '{% autoescape off %}{{url}}{% endautoescape %}&page={{page}}',
		rawURL: '{{raw_url}}',
		deleteURL: '{{raw_url}}delete-selected/',
		blanksURL: '{{raw_url}}move-blanks/',
		moveURL: '{{raw_url}}move-project/',
		project_id: '{{selected_project_id}}',
		style: '{{style}}',
		page: {{page|default_if_none:"1"}}
	};
	{% if form %}
		opts.formID = {{form.id}};
	{% endif %}
	{% if username %}
		opts.alias = '{{username}}';
	{% endif %}
    o.initialize(opts);
	
{% endblock %}

{% block hidden_form_fields %}
	{{ block.super }}
	<input type="hidden" id="is_blank" name="is_blank" value="{{is_blank}}" />
{% endblock %}

{% block controls_menus %}
	<li class="dropdown" data-dropdown="dropdown" style="width:100px;">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options</a>
		<ul class="dropdown-menu" style="width:200px;">
			{% if is_blank %}
				<li><a id="delete_objects" href="#">Delete Rows</a></li> 
				<li><a id="not_blank" href="#">Not Blank</a></li> 
			{% else %}
				<li><a id="download" href="#">Download Data</a></li>
				<li><a id="update_table" href="#">Update Table</a></li>
				<li class="divider"></li>
				<li><a id="delete_objects" href="#">Delete Rows</a></li>
				<li><a id="move_project" href="#">Move rows to another project</a></li>
				<li><a id="blank" href="#">Set to "Blank"</a></li>
				<li class="divider"></li>
				<li><a href="{{url}}&style=default">Default View
					{% if style == None or style == 'default' %}
						<div class="sprite ui-icon-check"></div>
					{% endif %}
				</a></li>
				<li><a href="{{url}}&style=transcribed">Transcribed View
					{% if style == 'transcribed' %}
						<div class="sprite ui-icon-check"></div>
					{% endif %}
				</a></li>
				<li><a href="{{url}}&style=snippet">Snippet View
					{% if style == 'snippet' %}
						<div class="sprite ui-icon-check"></div>
					{% endif %}
				</a></li> 
			{% endif %}
		</ul>
	</li>
{% endblock %}
{% block other_menus %}
	{% if forms %}
	<li class="dropdown" data-dropdown="dropdown" style="width:100px;">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tables</a>
		<ul class="dropdown-menu" style="width:200px;">
			{% for f in forms %}
				<li>
					<a href="{{url}}&form_id={{f.id}}">
						{% if f.id == form.id %}
							<div class="sprite ui-icon-check"></div>
						{% endif %}
						{{f.name}}
						{% if username == 'all' %}
							({{f.user.username}})
						{% endif %}
					</a>
				</li>
			{% endfor %}
		</ul>
	</li>
	{% endif %}
{% endblock %}

{% block save_button %}
	<!-- no save button -->
{% endblock %}

{% block row_header %}
	<tr>
		<th scope="col" class="column-cb" >
			<input class="checkall" type="checkbox" name="checkall"/>
		</th>
		<th scope="col">ID</th>
		<th scope="col">Uploaded By</th>
		<th scope="col">Num</th>
		{% for field in form.get_fields %}
			<th scope="col">{{field.col_alias}}</th>
		{% endfor %}
		<th scope="col">Coords</th>
		<th scope="col">Reviewed By</th>
		<th scope="col">Last Updated</th>
		<th scope="col">Project</th>
		<th scope="col">Marker</th>
		<th scope="col">Is Blank?</th>
		<th scope="col">Is Reviewed?</th>
		<th scope="col">Snippet</th>
	</tr>
{% endblock %}

{% block rows %}
	{% for o in objects.object_list %}
		<tr>
			<td class="column-cb">
				<input class="checkone" id="cb_{{o.id}}" name="id" type="checkbox" value="{{o.id}}" />
			</td>
			<td><a class="edit" href="#" target="{{o.id}}">{{o.id}}</a></td>
			<td>
				{{o.snippet.source_attachment.attribution}}
			</td>
			{% if style and style != 'default' %}
				{% if style == 'snippet' %}
					<td>{% autoescape off %}{{ o.get_row_num_snippet }}{% endautoescape %}</td>
					{% for data in o.get_dynamic_data_snippet %}
						<td>{% autoescape off %}{{ data }}{% endautoescape %}</td>
					{% endfor %}
				{% else %}
					<td>{% autoescape off %}{{ o.get_row_num }}{% endautoescape %}</td>
					{% for data in o.get_dynamic_data %}
						<td>{% autoescape off %}{{ data }}{% endautoescape %}</td>
					{% endfor %}
				{% endif %}
			{% else %}
				<td>{% autoescape off %}{{ o.get_row_num_default }}{% endautoescape %}</td>
				{% for data in o.get_dynamic_data_default %}
					<td>{% autoescape off %}{{ data }}{% endautoescape %}</td>
				{% endfor %}
			{% endif %}
			<td>{{ o.display_coords }}</td>
			<td>{% if o.owner %} {{ o.owner}} {% else %} anonymous {% endif %}</td>
			<td>{{o.time_stamp|date:"n/j/Y P" }}</td>
			<td>{{ o.project.name }}</td>
			<td>{% if o.marker %}{{ o.marker.get_name }}{% else %} -- {% endif %}</td>
			<td>
				{% if o.snippet %}
					{% if o.snippet.is_blank  %}
						Yes
					{% else %}
						No
					{% endif %}
				{% else %}
					--
				{% endif %}
			</td>
			<td>
				{% if o.manually_reviewed %}
					Reviewed
				{% else %}
					Auto-generated
				{% endif %}
			</td>
			<td>
				{% if o.snippet %}
					<a class="thumb" href="#">Snippet</a>
					<input type="hidden" value="{{ o.snippet.absolute_virtual_path }}">
				{% else %}
					--
				{% endif %}
			</td>
			
		</tr>
	{% endfor %}

{% endblock %}

{% block modals %}
	{{ block.super }}
	<div id="my-modal" class="modal hide">
		<div class="modal-header">
		  <a href="#" class="close">&times;</a>
		  <h3 id="dialogTitle">Update Data Record</h3>
		</div>
		<div class="modal-body" id="dialogBody"
			 style="padding:0px !important;text-align:center;overflow-y:auto;overflow-x:hidden;">
			
		</div>
		<div class="modal-footer">
			<button class="btn" id="close">Cancel</button>
			<button class="btn" id="save">Save</button>
			<button class="btn primary" id="save_and_continue">Save & Continue</button>
		</div>
	</div>
	<div id="blank-modal" class="modal hide">
		<div class="modal-header">
		  <a href="#" class="close">&times;</a>
		  <h3>Not Blank</h3>
		</div>
		<div class="modal-body" style="min-height: 100px;max-height:150px;overflow:auto;">
			<div id="blank_message">
				Are you sure you want to set the following items(s) to NOT BLANK?
				<ul class="item_list"></ul>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn primary" onclick="o.blankConfirm();">Confirm</button>
			<button class="btn hide" onclick="o.hideDialog()">Cancel</button>
		</div>
	</div>
	<div id="download-modal" class="modal hide">
		<div class="modal-header">
		  <a href="#" class="close">&times;</a>
		  <h3 id="dialogTitle">Download Data</h3>
		</div>
		<div class="modal-body" id="dialogBody"
			 style="overflow-y:auto;overflow-x:hidden;padding:10px;">
			<table class="download-table">
				<tr>
					<th>Collection Event:</th>
					<td>
						<select name="col_4" id="col_4"></select>
					</td>
				</tr>
				<tr>
					<th>Tag:</th>
					<td>
						<input name="col_6" id="col_6" value="" />
					</td>
				</tr>
			</table>
			<div class="download-table-results"
					style="padding:20px;text-align:left;display:none"></div>
					
		</div>
		<div class="modal-footer">
			<button class="btn close_btn">Cancel</button>
			<button class="btn primary download_btn" id="save">Download</button>
		</div>
	</div>
	
	
	
{% endblock %}
{% block no_objects %}
	{{ block.super }}
{% endblock %}