{% extends "base/base.html" %} 
{% block title %}Account Activation Complete{% endblock %} 
{% block content %}
<div class="article-title">
    <div class="container-center article ">
        <h1>&nbsp</h1>
    </div>
</div>
<div id="outer">

    <div id="inner">
        <h4>Account email confirmation</h4>
        <hr>
        <p>Your email has been confirmed.</p>
        <p>Your account is now active. </p>
        <br>
        <a href="/accounts/login/" style="text-decoration: underline; color: #4e70d4">Sign in</a>
    </div>
</div>
{% endblock %}
