{% extends "base/base.html" %}

{% block title %} Sign In {% endblock %}
{% block h1 %} Sign In {% endblock %}

{% block content %}
    <div class="block-centered">
        <form id="model-form" method="post" action="{% if action %}{{action}}{% else %}.{% endif %}">
            {% csrf_token %} {% if form.errors %}
            <div class="alert-message error">
                <p>Authentication error: Please enter a correct username and password. Note that both fields are case-sensitive.</p>
            </div>
            {% endif %}
            {% include "includes/forms/generic_form_renderer.html" %}
            <fieldset>
                <div class="clearfix">
                    <label></label>
                    <div class="input">
                        <input type="hidden" name="next" value="/" />
                        <button type="submit" class="button button-primary">Sign In</button>
                        {% comment %}
                        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><span id="google-button"></span></a>
                        {% endcomment %}
                    </div>
                </div>
            </fieldset>
        </form>
        <hr class="break">
        <div class="login-questions">
            <a href="/accounts/password/reset/">Forgot your password?</a>
            {% if user.is_superuser or not ONLY_SUPERUSERS_CAN_REGISTER_PEOPLE %}
                <p>
                    New to Local Ground?
                    <a href="/accounts/register/">Create an account</a>
                </p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
