{% extends "base/page_centered.html" %}
{% load i18n %}
{% block extra_styles %}
	{{block.super}}
    .content p, .content form { margin-left: 20px; }
    .align { margin-left: 170px !important; }
{% endblock %}
{% block page_title %}Login{% endblock %}
{% block main_content %}
    
    <form method="post" action="{% if action %}{{action}}{% else %}.{% endif %}">
      {% csrf_token %}
	  {% if form.errors %}
		  <div class="alert-message error">
			  <p>Authentication error: Please enter a correct username
			  and password. Note that both fields are case-sensitive.</p>
		  </div>
	  {% endif %}
	  <p>To access your prints, scans, and maps, login here.</p>
	  
      {% include "includes/forms/generic_form_renderer.html" %}
      <fieldset id="params">
          <input type="hidden" name="next" value="{{ next }}" />
          <div class="clearfix">
              <label>&nbsp;</label>
              <div class="input">
                  <input type="submit" value="Login" class="btn primary" />
              </div>
          </div>
      </fieldset>
    </form>
    <p class="align">
		{% if user.is_superuser or not ONLY_SUPERUSERS_CAN_REGISTER_PEOPLE %}
			<a href="/accounts/register/">Register</a> for an account |
		{% endif %}
        <a href="/accounts/password/reset/">Reset Password</a>
    </p>
{% endblock %}

