{% extends "base/base.html" %} 

{% block content %}
    <div class="article-title">
        <div class="container-center article ">
            <h1>Reset Password</h1>
        </div>
    </div>
    <div id="outer">

        <div id="inner">
            <h4>Reset Password</h4>
            <hr>
    <p>To reset your password, enter your email address here, check your email,
    and follow the instructions.</p>
    <form method="post" action="{% if action %}{{action}}{% else %}.{% endif %}">
      {% csrf_token %}
      {% include "includes/forms/generic_form_renderer.html" %}
	  <fieldset id="params">
          <input type="hidden" name="next" value="{{ next }}" />
          <div class="clearfix">
              <label>&nbsp;</label>
              <div class="input">
                  <input type="submit" value="Submit" class="btn primary" />
              </div>
          </div>
      </fieldset>
    </form>
        </div>
    </div>
{% endblock %}
