{% extends "base/base.html" %} 
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="article-title">
    <div class="container-center article ">
        <h1>Reset Password</h1>
    </div>
</div>
<div id="outer">

    <div id="inner">
        <h4>Reset Password</h4>
        <hr>
    <p>An email with password reset instructions has been sent.</p>
    <br>
    <a href="/accounts/login/" style="text-decoration: underline; color: #4e70d4">Go back to sign in</a>
    </div>
</div>
{% endblock %}
