<!--
registration_form.html - updated by C Mah 7/7/2017.  Designed to be used with top_nav.html
login_footer.html
-->

{% extends "base/base.html" %} 
{% block title %}Create Account{% endblock %} 
{% block h1 %} Create Account {% endblock %}
{% block content %}

<div class="block-centered">
    <p class="centered">Create a Local Ground Account</p>
    <hr class="break">
    <form id="model-form" method="post" action="{% if action %}{{action}}{% else %}.{% endif %}">
        {% csrf_token %} {% include "includes/forms/generic_form_renderer.html" %}
        <fieldset id="params">
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="clearfix">
                <label>&nbsp;</label>
                <div class="input">
                    <button type="submit" class="button-primary" style="width:150px;">Create account</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
