{% extends "base/base.html" %} 

{% block title %}Registration{% endblock %} 

{% block content %}
<div class="article-title">
    <div class="container-center article ">
        <h1>Create account</h1>
    </div>
</div>
<div id="outer">
    <!--h1>Local Ground</h1-->

    <div id="inner">
        <h4>Create a Local Ground account</h4>
        <hr>

    <p>An activation email has been sent to the email address you provided. </p>
    <br>
    <p> To complete your registration, please follow the instructions in the email.</p>
    </div>
</div>
{% endblock %}