<!--
registration_form.html - updated by C Mah 7/7/2017.  Designed to be used with top_nav.html
login_footer.html
-->

{% extends "base/base.html" %} 
{% block title %}Registration{% endblock %} 
{% block extra_styles %} {{block.super}} .content p, .content form { margin-left: 20px; } {% endblock %}

{% block content %}
<div class="article-title">
	<div class="container-center article ">
		<h1>Create account</h1>
	</div>
</div>
<div id="outer">
	<!--h1>Local Ground</h1-->

	<div id="inner">
		<h4>Create a Local Ground account</h4>
		<hr>
				<form method="post" action="{% if action %}{{action}}{% else %}.{% endif %}">
					{% csrf_token %} {% include "includes/forms/generic_form_renderer.html" %}
					<fieldset id="params">
						<input type="hidden" name="next" value="{{ next }}" />
						<div class="clearfix">
							<label>&nbsp;</label>
							<div class="input">
								<input type="submit" value="Create account" class="btn primary" />
							</div>
						</div>
					</fieldset>
				</form>

		
	</div>
</div>




{% endblock %}
