<div class="breadcrumb-container">
    <div class="breadcrumb-hover">
        <a href="/">Home</a>
    </div>

    {{#if name}}
    <i class="fa fa-angle-right fa"></i>
    <div class="breadcrumb-hover">
        <span>{{ name }}</span>
    </div>
    {{/if}}

    {{#if map}}
    <i class="fa fa-angle-right fa"></i>
    <div id="map-menu" class="breadcrumb-hover">
        <span class="current">{{ map.name }}</span>
        <i class="fa fa-angle-down"></i>
    </div>
    {{/if}}

    <button id="print-button" class="button-secondary right">Print</button>
    <button class="button-secondary right">Share</button>
    <a class="button-action right" href="{{ map.sharing_url }}" target="_blank">Preview</a>
</div>
