
<div class="bordered-section end-section">
    
    <div class="title-font form">
        <div class="edit-fonts_section-header">Map title</div>
        <div id="title-font" class="font-list fonts-colors_row">
            <label>Font</label>
            <div class="font-display" style="font-family: {{title.font}}; color: {{title.color}}; background-color: {{title.backgroundColor}};" >{{title.font}}</div>
        </div>
        <div id="title-fonts-list" class="font-options">
            <div id="select-title-font" class="font-wrapper">
                <div value="lato" style = "font-family: lato" >Lato</div>
                <div value="open sans" style = "font-family: open sans" >Open Sans</div>
                <div value="slabo" style = "font-family: slabo" >Slabo</div>
                <div value="Pt Serif" style = "font-family: Pt Serif" >Pt Serif</div>
                <div value="Lemonada" style = "font-family: Lemonada" >Lemonada</div>
                <div value="Comfortaa" style = "font-family: Comfortaa" >Comfortaa</div>
                <div value="Amatic SC" style = "font-family: Amatic SC" >Amatic SC</div>
                <div value="Pacifico" style = "font-family: Pacifico" >Pacifico</div>
                <div value="Permanent Marker" style = "font-family: Permanent Marker" >Permanent Marker</div>
            </div>
            <div class="arrow-wrapper">
                <i class="fa fa-angle-down font-arrow" aria-hidden="true"></i>
            </div>
        </div>
        <div class="fonts-colors_row">
            <label>Font color</label>
            <div id="title-font-picker" class="color-box marker-icon jscolor" style="background: {{title.color}} ">
                
            </div> 
        </div>
        <div class="fonts-colors_row">
            <label>Background color</label>
            <div id="title-background-picker" class="color-box marker-icon jscolor" style="background: {{title.backgroundColor}} ">
                
            </div> 
        </div>

    </div>
    <div class="fonts-border"></div>
    <div class="feature-cards-font form">
        <div class="edit-fonts_section-header">Map feature cards</div>
        <div id="paragraph-font" class="font-list fonts-colors_row">
            <label>Font</label>
            <div class="font-display" style="font-family: {{paragraph.font}}; color: {{paragraph.color}}; background-color: {{paragraph.backgroundColor}};" >{{paragraph.font}}</div>
            </div>
        <div id="paragraph-fonts-list" class="font-options">
            <div id="select-paragraph-font" class="font-wrapper">
                <div value="lato" style = "font-family: lato" >Lato</div>
                <div value="open sans" style = "font-family: open sans" >Open Sans</div>
                <div value="slabo" style = "font-family: slabo" >Slabo</div>
                <div value="Pt Serif" style = "font-family: Pt Serif" >Pt Serif</div>
                <div value="Lemonada" style = "font-family: Lemonada" >Lemonada</div>
                <div value="Comfortaa" style = "font-family: Comfortaa" >Comfortaa</div>
                <div value="Amatic SC" style = "font-family: Amatic SC" >Amatic SC</div>
                <div value="Pacifico" style = "font-family: Pacifico" >Pacifico</div>
                <div value="Permanent Marker" style = "font-family: Permanent Marker" >Permanent Marker</div>
            </div>
            <div class="arrow-wrapper">
                <i class="fa fa-angle-down font-arrow" aria-hidden="true"></i>
            </div>
        </div>
        <div class="fonts-colors_row">
            <label>Font color</label>
            <div id="paragraph-font-picker" class="color-box marker-icon jscolor" style="background: {{paragraph.color}} ">
                
            </div> 
        </div>
        <div class="fonts-colors_row">
            <label>Background color</label>
            <div id="paragraph-background-picker" class="color-box marker-icon jscolor" style="background: {{paragraph.backgroundColor}} ">
                
            </div> 
        </div>
    </div>
    <div class="fonts-border"></div>
    <div class="reset-wrapper">
        <p class="style-reset">reset styles</p>
    </div>
</div>