<ul class="presentation-options_list">
    <li>
        <span>Display map legend</span>
        <span>
            <input class="tgl tgl-light" id="cb111" type="checkbox"/>
            <label class="tgl-btn" for="cb111"></label>
        </span>
    </li>
    <li>
        <span>Card - next / previous buttons</span>
        <span>
            <input class="tgl tgl-light" id="cb222" type="checkbox"/>
            <label class="tgl-btn" for="cb222"></label>
        </span>
    </li>
    <li>
        <span>Allow pan and zoom</span>
        <span>
            <input class="tgl tgl-light" id="cb333" type="checkbox"/>
            <label class="tgl-btn" for="cb333"></label>
        </span>
    </li>
    <li>
        <span>Enable street view</span>
        <span>
            <input class="tgl tgl-light" id="cb444" type="checkbox"/>
            <label class="tgl-btn" for="cb444"></label>
        </span>
    </li>
    <li>
        <span>Title card</span>
        <span>
            <input class="tgl tgl-light" id="cb555" type="checkbox"/>
            <label class="tgl-btn" for="cb555"></label>
        </span>
    </li>
    <li>
        <span>Edit title card...</span>
    </li>
</ul>