<div class="link-embed_container">
    <div class="link-embed_header">
        <span class="link-button {{#ifequal linkMode 'link'}}activeLinkButton{{/ifequal}}">Link</span>
        <span class="embed-button {{#ifequal linkMode 'embed'}}activeLinkButton{{/ifequal}}">Embed</span>
    </div>
    {{#ifequal linkMode 'link'}}
        <div class="link_container">
            <textarea  readonly="readonly" id="link-text" class="link-text">{{sharing_url}}</textarea>
        </div>
    {{/ifequal}}
    {{#ifequal linkMode 'embed'}}
        <div class="embed_container">
            <p>
                To embed this map in your own website, copy the following HTML and paste it in the source code for your page.
            </p>
            <textarea  readonly="readonly" id="embed-text" class="link-text">{{embed_url}}</textarea>
        </div>
    {{/ifequal}}
</div>
<div class="share-options_container">
    <span class="share-options_header">Who can view the map</span>
        <form class="form-inline">
            <div class="radio-wrapper">
                <div class="radio-item-wrapper">
                    <input type="radio" name="rb" checked="">
                    <div class="label-wrapper">
                        <label>Public Searchable - public on the web</label>
                        <p class='label-descr'>Anyone on the internet can find and view the map</p>
                    </div>
                </div>
                <div class="radio-item-wrapper">
                    <input type="radio" name="rb">
                    <div class="label-wrapper">
                        <label>Public Unlisted - anyone with the link </label>
                        <p class='label-descr'>Anyone who has the link can view the map</p>
                    </div>
                </div>
                <div class="radio-item-wrapper">
                <input type="radio" name="rb">
                    <div class="label-wrapper">
                        <label>Password Protected - link and password required</label>
                        <p class='label-descr'>Map accessible only to people who know the password</p>
                        <div>
                            <span>Viewer password:</span>
                            <input id="password-input" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>